## <a id='build-tile'></a> Build and Install a Tile

To use the KMS plugin with CredHub deployed with <%= vars.ops_manager %> or <%= vars.product_runtime %> (<%= vars.product_short %>), you must wrap your BOSH release in a tile and install it on the <%= vars.ops_manager %> Installation Dashboard.

To build and install a tile:

1. Install the Tile Generator by doing one of these steps:
    * Download the Tile Generator binary for your platform from the [<%= vars.product_name %> Tile Generator](https://github.com/cf-platform-eng/tile-generator/releases/latest) repository on GitHub, then make it executable and available by running:

        ```
        chmod +x TILE-BINARY
        mv TILE-BINARY /usr/local/bin/tile
        ```
        Where:
        `TILE-BINARY` is the name of the tile binary file.
    * Use Python 2 and [Virtualenv](https://virtualenv.pypa.io/en/stable/). <%= vars.recommended_by %> recommends that you use a `virtualenv` environment to avoid conflicts with other Python packages. A `virtualenv` is a directory containing dependencies for a project. When a virtual environment is active, packages install into the `virtualenv` instead of the system-wide Python installation.
	<br>
	<br>
	To use this method, run: 

        ```
        virtualenv -p python2 tile-generator-env
        source tile-generator-env/bin/activate
        pip install tile-generator
        ```
        This puts the `tile` and `<%= vars.product_name_lc %>` commands in your `PATH` when the `virtualenv` is active. To deactivate the `virtualenv`, run the command `deactivate`. To upgrade Tile Generator, run `pip install tile-generator --upgrade` with the `virtualenv` activated.

1. Install the BOSH CLI. For more information, see [Installing the CLI](https://bosh.io/docs/cli-v2.html) in the BOSH documentation.

1. From within the root directory of the project for which you want to create a tile, initialize the directory as a tile repository by running:

	```
	tile init
	```
	This command generates a `tile.yml` file. This file defines the configuration for your tile.

1. Modify the `tile.yml` as needed. At a minimum, you must enter the path to the BOSH release of the KMS plugin on your local machine in `packages: path`. The example `tile.yml` file below defines a tile named `Sample CredHub KMS Plugin` that enables the operator to configure the socket endpoint where the plugin listen for CredHub:

	```
	---
	name: sample-credhub-kms-plugin-tile
	icon_file: icon.png
	label: Sample CredHub KMS Plugin
	description: Sample CredHub KMS Plugin

	packages:
	- name: my-release-name
	  type: bosh-release
	  path: releases/MY-BOSH-RELEASE.tgz

	forms:
	- name: plugin-properties
	  label: Plugin Properties
	  description: Configure your plugin
	  properties:
	  - name: socket_endpoint
	    type: string
	    label: Socket Endpoint

	runtime_configs:
	- name: some-runtime-config
	  runtime_config:
	    releases:
	    - name: my-release-name
	      version: "my-release-version"
	    addons:
	    - name: some-addon-name
	      jobs:
	      - name: my-job-name
	        release: my-release-name
	        properties:
	          socket_endpoint: (( .properties.socket_endpoint ))
	      include:
	        jobs:
	        - name: credhub
	          release: credhub
	```
   For general information about writing the `tile.yml` file, see [Define Your Tile in tile.yml](https://docs.pivotal.io/tiledev/tile-generator.html#define) in _Tile Generator_ in the <%= vars.product_name %> Tile Developer Guide. For information about enabling operators to use the tile to configure arbitrary properties in the manifest, see [Custom Forms and Properties](https://docs.pivotal.io/tiledev/tile-generator.html#custom-forms) in _Tile Generator_ in the <%= vars.product_name %> Tile Developer Guide.

1. In the directory that contains the `tile.yml` file, build the tile by running:

	```
	tile build
	```
	The tile generator wraps the BOSH release of the KMS plugin into a tile, then places the tile file in the `product` subdirectory.

1. Navigate to <%= vars.ops_manager %>, log in, and add the tile to the <%= vars.ops_manager %> Installation Dashboard. For more information, see [Adding and Deleting Products](https://docs.pivotal.io/pivotalcf/customizing/add-delete.html). 

1. Click the tile and complete the configuration.

1. Return to the <%= vars.ops_manager %> Installation Dashboard. Click **Review Pending Changes**, then **Apply Changes** to complete the installation.
