PAS can use Google Cloud Storage (GCS) as its external filestore by using either a GCP interoperable storage access key or your GCS Service Account.

To configure file storage for GCP, do one of the following:

+ Use an access key and secret key. See [External Google Cloud Storage with Access Key and Secret Key](#manual-storage-key).
+ Use a service account. See [External Google Cloud Storage with Service Account](#manual-storage-account).

<p class='note'><strong>Note:</strong> <%= current_page.data.gcswarning %></p>

#### <a name="manual-storage-key"></a> External Google Cloud Storage with Access Key and Secret Key

1. Select the **External Google Cloud Storage with Access Key and Secret Key** option.
<%= image_tag("gcp/gcp-filestore-gcs-access-key.png") %>
1. Enter values for **Access Key** and **Secret Key**. To obtain the values for these fields:
   1. In the GCP Console, navigate to the **Storage** tab, then click **Settings**.
   1. Click **Interoperability**.
   1. If necessary, click **Enable interoperability access**. If interoperability access is already enabled, confirm that the default project matches the project where you are installing PCF.
   1. Click **Create a new key**.
         <%= image_tag("gcp/gcp-key-secret-create.png") %>
   1. Copy and paste the generated values into the corresponding PAS fields. PCF uses these values for authentication when connecting to Google Cloud Storage.
   1. Enter the names of the storage buckets you created in [Preparing to Deploy Ops Manager on GCP Manually](../om/gcp/prepare-env-manual.html#dbs):
      * **Buildpacks Bucket Name**: `MY-PCF-buildpacks`
      * **Droplets Bucket Name**: `MY-PCF-droplets`
      * **Resources Bucket Name**: `MY-PCF-resources`
      * **Packages Bucket Name**: `MY-PCF-packages`
   1. Click **Save**.

#### <a name="manual-storage-account"></a> External Google Cloud Storage with Service Account

<p class='note'><strong>Note:</strong> You can either use the same service account that you created for Ops Manager, or create a separate service account for PAS file storage. If you want to create a separate service account for PAS file storage, follow the procedure in <a href="https://docs.pivotal.io/pivotalcf/<%= product_info['local_product_version'].to_s.sub('.','-') %>/om/gcp/prepare-env-manual.html#iam_account">Set up IAM Service Accounts</a>, but only select the <strong>Storage > Storage Admin</strong> role.</p>

1. Select the **External Google Cloud Storage with Service Account** option.
<%= image_tag("gcp/gcp-filestore-gcs-service-account.png") %>
   1. For **GCP Project ID** enter the Project ID on your GCP Console that you want to use for your PAS file storage.
   1. For **GCP Service Account Email** enter the email address associated with your GCP account.
   1. For **GCP Service Account JSON** enter the account key that you use to access the specified GCP project, in JSON format.
   1. Enter the names of the storage buckets you created in [Preparing to Deploy Ops Manager on GCP Manually](../om/gcp/prepare-env-manual.html#dbs):
      * **Buildpacks Bucket Name**: `MY-PCF-buildpacks`
      * **Droplets Bucket Name**: `MY-PCF-droplets`
      * **Resources Bucket Name**: `MY-PCF-resources`
      * **Packages Bucket Name**: `MY-PCF-packages`
   1. Click **Save**.
