In the Networking pane, you configure security and routing services for your IaaS.

1. For **Router IPs** and **HAProxy IPs**, see the following guidance:
	* For **AWS**, **Azure**, and **GCP**, leave these fields blank. You do not need to complete these fields when deploying <%= vars.product_name %> on these infrastructures.
	* For **OpenStack** and **vSphere**, the values you enter in the **Router IPs** and **HAProxy IPs** fields depend on whether you are using HAProxy in your deployment. Use the table below to determine how to complete these fields.
    <p class="note"><strong>Note:</strong> If you choose to assign specific IP addresses in either the <strong>Router IPs</strong> or <strong>HAProxy IPs</strong> field, ensure that these IP addresses are in the subnet that you configured for PAS in Ops Manager.</p>
	    <table border="1" class="nice" >
	      <tr>
	        <th><strong>Using HAProxy?</strong></th>
	        <th><strong>Router IPs Field</strong></th>
	        <th><strong>HAProxy IPs Field</strong></th>
	      </tr>
	      <tr>
	        <td>No</td>
	        <td>
	        	<ol>
	        		<li>Choose IP addresses from the subnet you configured in Ops Manager.</li>
	        		<li>Enter these IP addresses in the <strong>Router IPs</strong> field. You should specify more than one IP address for high availability. The IP addresses must be within your subnet CIDR block.</li>
	        		<li>Configure your load balancer to forward requests for the domains that you have configured for your deployment to these IP addresses.</li>
	        	</ol>
	        </td>
	        <td>Leave this field blank.</td>
	      </tr>
	      <tr>
	        <td>Yes</td>
	        <td>Leave this field blank.</td>
	        <td>
	        	<ol>
	        		<li>Choose IP addresses from the subnet you configured in Ops Manager.</li>
	        		<li>Enter these IP addresses in the <strong>HAProxy IPs</strong> field. You should specify more than one IP address for high availability. </li>
	        		<li>Configure your load balancer to forward requests for the domains you have configured for your deployment to these IP addresses.</li>
	        	</ol>
	      </tr>
	    </table>

1. For **SSH Proxy IPs** and **TCP router IPs**, see the following guidance:
	* For **AWS**, **Azure**, and **GCP**, leave these fields blank. You do not need to complete these fields when deploying <%= vars.product_name %> on these infrastructures.
	* For **OpenStack** and **vSphere**:
		* (Optional) In **SSH Proxy IPs**, add the IP address for your Diego Brain, which accepts requests to SSH into app containers on port 2222.
		* (Optional) In **TCP router IPs**, add the IP address(es) you want to assign to the TCP routers. You enable this feature at the bottom of this pane.
  			<p class='note'><strong>Note:</strong> If you have mutual TLS app identity verification enabled, app containers accept incoming communication only from the Gorouter. This disables TCP routing.</p>

1. <%= partial "/pcf/core/#{vars.current_major_version.sub('.', '-')}/haproxy_router_cert_config" %>
1. <%= partial "/pcf/core/#{vars.current_major_version.sub('.', '-')}/router_haproxy_ca" %>
1. <%= partial "/pcf/core/#{vars.current_major_version.sub('.', '-')}/min_tls_version" %>
1. <%= partial "/pcf/core/#{vars.current_major_version.sub('.', '-')}/ip_logging" %>
1. <%= partial "/pcf/core/#{vars.current_major_version.sub('.', '-')}/xforwarded_client_cert_xfcc" %>
1. <%= partial "/pcf/core/#{vars.current_major_version.sub('.', '-')}/haproxy_client_cert_validation" %>
1. <%= partial "/pcf/core/#{vars.current_major_version.sub('.', '-')}/gorouter_client_cert_validation" %>
1. <%= partial "/pcf/core/#{vars.current_major_version.sub('.', '-')}/tls_cipher_suites_router" %>
	 <p class='note'><strong>Note:</strong> AWS Classic Load Balancers do not support <%= vars.product_name %>'s default cipher suites. For more information about configuring your AWS load balancers and Gorouter, see <a href="../adminguide/securing-traffic.html#default">TLS Cipher Suite Support by AWS Load Balancers</a>.</p>
1. <%= partial "/pcf/core/#{vars.current_major_version.sub('.', '-')}/tls_cipher_suites_haproxy" %>  
1. <%= partial "/pcf/core/#{vars.current_major_version.sub('.', '-')}/haproxy_router_tls_forward" %>
1. <%= partial "/pcf/core/#{vars.current_major_version.sub('.', '-')}/haproxy_hsts_config_cloudform" %>
1. <%= partial "/pcf/core/#{vars.current_major_version.sub('.', '-')}/ssl_verification" %>
1. <%= partial "/pcf/core/#{vars.current_major_version.sub('.', '-')}/http_disable" %>
1. <%= partial "/pcf/core/#{vars.current_major_version.sub('.', '-')}/insecure_cookies" %> 
1. <%= partial "/pcf/core/#{vars.current_major_version.sub('.', '-')}/zipkin_enable" %>
1. <%= partial "/pcf/core/#{vars.current_major_version.sub('.', '-')}/enable_router_local_logs" %>
1. By default, PAS routers handle traffic for apps deployed to an isolation segment created by the <%= vars.product_name %> Isolation Segment tile. To configure PAS routers to reject requests for apps within isolation segments, select the **Routers reject requests for Isolation Segments** checkbox. Do not enable this option without deploying routers for each isolation segment. For more information, see [Installing <%= vars.product_name %> Isolation Segment](../customizing/installing-pcf-is.html) and [Sharding Routers for Isolation Segments](../adminguide/routing-is.html#sharding-routers-isolation-segment).
1. <%= partial "/pcf/core/#{vars.current_major_version.sub('.', '-')}/enable-proxy-support" %>
1. <%= partial "/pcf/core/#{vars.current_major_version.sub('.', '-')}/route_services" %>
1. <%= partial "/pcf/core/#{vars.current_major_version.sub('.', '-')}/max_connections_backend" %>
1. <%= partial "/pcf/core/#{vars.current_major_version.sub('.', '-')}/keepalive_connections" %>
1. <%= partial "/pcf/core/#{vars.current_major_version.sub('.', '-')}/router_timeout_backend" %>
1. <%= partial "/pcf/core/#{vars.current_major_version.sub('.', '-')}/frontend_idle_timeout" %>
1. <%= partial "/pcf/core/#{vars.current_major_version.sub('.', '-')}/lb_unhealthy_threshold" %>  
1. <%= partial "/pcf/core/#{vars.current_major_version.sub('.', '-')}/lb_healthy_threshold" %>
1. <%= partial "/pcf/core/#{vars.current_major_version.sub('.', '-')}/http_headers_to_log" %>
1. <%= partial "/pcf/core/#{vars.current_major_version.sub('.', '-')}/haproxy_request_max_buffer" %>
1. <%= partial "/pcf/core/#{vars.current_major_version.sub('.', '-')}/protected_domains" %>
1. The **Loggregator port** defaults to 443 if left blank. For AWS environments that are not using an Application Load Balancer, enter `4443`. 
1. For **Container network interface plugin**, select one of the following:
  * **Silk**: This option is the default container network interface (CNI) for PAS.
  * **External**: Select this if you are deploying the [VMware NSX-T Container Plug-in for <%= vars.product_name %>](https://network.pivotal.io/products/vmware-nsx-t).
      - If you select **External**, follow the instructions in [Deploying PAS with NSX-T Networking](https://network.pivotal.io/products/vmware-nsx-t) in addition to the PAS configuration instructions in this topic.
<p class='note warning'><strong>Warning:</strong> The NSX-T integration only works for fresh installs of <%= vars.product_name %>. If your PAS is already deployed and running with Silk as its CNI, you cannot change the CNI plugin to NSX-T.</p>

1. If you selected **Silk** in the previous step, review the following fields:
    <ol>
      <li><%= partial "/pcf/core/#{vars.current_major_version.sub('.', '-')}/app_mtu" %> </li>
      <li><%= partial "/pcf/core/#{vars.current_major_version.sub('.', '-')}/c2c-overlay" %></li>
      <li><%= partial "/pcf/core/#{vars.current_major_version.sub('.', '-')}/c2c-vxlan" %></li>
      <%= partial "/pcf/core/#{vars.current_major_version.sub('.', '-')}/log-app-traffic-enable" %>
      <li> The **Enable Silk network policy enforcement** checkbox is enabled by default. To disable Silk network policy enforcement between apps, disable the checkbox. Disabling network policy enforcement allows all apps to send network traffic to all other apps in the foundation despite no policy specifically allowing it.</li>
      <p class='note warning'><strong>Warning:</strong> Disabling this feature allows all app containers to access any other app container with no restrictions.</p>
    </ol>
  </li>

1. For **DNS search domains**, enter DNS search domains for your containers as a comma-separated list. DNS on your containers appends these names to its hostnames, to resolve them into full domain names.

1. <%= partial "/pcf/core/#{vars.current_major_version.sub('.', '-')}/networking_database_timeout" %>

1. <%= partial "/pcf/core/#{vars.current_major_version.sub('.', '-')}/tcp_routing_enable" %><a id='tcp-routing-enable'></a>
	* For GCP, you must also specify the name of a GCP TCP load balancer in the **LOAD BALANCER** column of the TCP Router job in the **Resource Config** pane. You configure this later on in PAS. For more information, see [Configure Resources](#resources).
	* For AWS, you must also specify the name of a TCP ELB in the **LOAD BALANCER** column of the TCP Router job in the **Resource Config** pane. You configure this later on in PAS. For more information, see the [Configure Resources](#resources) section of this topic.
	* For Azure, you must also specify the name of Azure load balancer in the LOAD BALANCER column of the TCP Router job in the **Resource Config** pane. You configure this later on in PAS. For more information, see [Configure Resources](#resources).
	* For OpenStack and vSphere:
		1. Return to the top of the **Networking** pane.
		1. In the **TCP router IPs** field, ensure that you have entered IP addresses that are within your subnet CIDR block. These are be the same IP addresses you configured your load balancer with in the [Pre-Deployment Steps](../adminguide/enabling-tcp-routing.html#pre-deploy) section of the _Enabling TCP Routing_ topic, unless you configured DNS to resolve the TCP domain name directly to an IP you have chosen for the TCP router.
	<br/>
	For more information, see [Configuring TCP Routing in PAS](../opsguide/tcp-routing-ert-config.html).

1. <%= partial "/pcf/core/#{vars.current_major_version.sub('.', '-')}/dynamic-egress" %>

1. (Optional) For additional security, enter headers that you want the Gorouter to remove from app responses in **Remove specified HTTP response headers**. 

1. Click **Save**.
