1. Select **Networking**.

1. Leave the **Router IPs**, **SSH Proxy IPs**, **HAProxy IPs**, and 
**TCP Router IPs** fields blank. You do not need to complete these fields 
when deploying PCF to AWS with Elastic Load Balancers (ELBs). 
  <p class="note"><strong>Note</strong>: You specify load balancers in the 
<strong>Resource Config</strong> section of Elastic Runtime later in the 
installation process. See the <a href="#config-elb">Configure Router to Elastic Load Balancer</a> 
section of this topic for more information.</p>

1. Under **Select one of the following point-of-entry options**, choose one of the following options:
  <p class="note"><strong>Note</strong>: For details about the different SSL/TLS termination point options, how they correspond to different points-of-entry for Elastic Runtime, and related certificate requirements, see the <a href="../opsguide/security_config.html#ssl_term">Providing a Certificate for your SSL Termination Point</a> topic.</p> 
  * **Forward SSL to Elastic Runtime Router**: Select this option if your deployment uses an external load balancer that can forward encrypted traffic to the Elastic Runtime Router, or for a development environment that does not require load balancing. Complete the fields for the **Router SSL Termination Certificate and Private Key** and **Router SSL Ciphers**.
  <%= image_tag 'images/ert_lb_encrypted_certs.png' %>
  * **Forward unencrypted traffic to Elastic Runtime Router**: Select this option if your deployment uses an external load balancer that cannot forward encrypted traffic to the Elastic Runtime Router, or for a development environment that does not require load balancing.
  <p class="note"><strong>Note</strong>: If you setup your load balancers according to <a href="./pcf-aws-manual-config.html">Manually Configuring AWS for PCF</a>, select this option. HTTPS traffic will be decrypted at the load balancer and sent to the Gorouter unencrypted.</p> 
  <%= image_tag 'images/ert_lb_unencrypted.png' %> 
  * **Forward SSL to HAProxy**: Select this option to use HAProxy as your first point of entry. Complete the fields for **SSL Certificate and Private Key**, and **HAProxy SSL Ciphers**. Select **Disable HTTP traffic to HAProxy** if you want the HAProxy to only allow HTTPS traffic. For more information, on configuring HAProxy, see <a href="../opsguide/ssl-term-haproxy.html">Configuring SSL/TLS Termination at HAProxy</a>.
  <%= image_tag 'images/ert_haproxy_certs.png' %>

1. <%= partial 'haproxy_request_max_buffer' %>
1. <%= partial '_min_tls_version' %>
1. <%= partial 'ssl_verification' %>
1. <%= partial 'insecure_cookies' %> 
1. <%= partial 'zipkin_enable' %>  

    <%= image_tag 'images/ert_disable_ssl_cookies_zipkin.png' %>
1. <%= partial 'enable_router_local_logs' %>
1. <%= partial 'xforwarded_client_cert_xfcc' %>
1. <%= partial 'route_services' %>
 
1. For Loggregator Port, you must enter `4443`. In AWS deployments, port 4443 forwards SSL traffic that supports WebSockets from the ELB. Do not use the default port of `443`.

1. <%= partial 'app_mtu' %>  

    <%= image_tag 'images/ert_log_port_mtu_aws.png' %>

1. <%= partial 'router_timeout_backend' %>
1. <%= partial 'frontend_idle_timeout' %>  
1. <%= partial 'lb_unhealthy_threshold' %>  
1. <%= partial 'lb_healthy_threshold' %>

    <%= image_tag 'images/router_lb_thresholds.png' %>

1. Enter a value for **Router Max Idle Keepalive Connections**. See [Considerations for Configuring max\_idle\_connections](../adminguide/routing-keepalive.html#considerations).

    <%= image_tag 'images/keepalive.png' %>

1. <%= partial 'http_headers_to_log' %>
    ![Http Headers to Log](images/headers_to_log.png)

1. TCP Routing is disabled by default. To enable this feature, perform the following steps:
   1. Select **Enable TCP Routing**. 
   1. In **TCP Routing Ports**, enter a range of ports to be allocated for TCP Routes. If you [configured AWS for PCF manually](./pcf-aws-manual-config.html), enter `1024-1123`, which corresponds to the rules you created for `pcf-tcp-elb`. <br/>
      Configuration of this field is only applied on the first deploy, and update updates to the port range are made using the cf CLI. For details about modifying the port range, see the [Router Groups](../adminguide/enabling-tcp-routing.html#router-groups) topic.
      <%= image_tag 'images/ert_tcp_routing_enable.png' %> 
    1. For AWS, you also need to specify the name of a TCP ELB in the **LOAD BALANCER** column of TCP Router job of the <b>Resource Config</b> screen. You configure this later on in Elastic Runtime. For more information, see the <a href="#config-elb">Configure Router to Elastic Load Balancer</a> topic.</p>

1. <%= partial 'tcp_routing_disable' %>

1. <%= partial 'c2c_ert_config' %>

1. <%= partial 'c2c_ert_disable' %>

1. Click **Save**.
