1. Select **Networking**.

1. Leave the **Router IPs**, **SSH Proxy IPs**, **HAProxy IPs**, and **TCP Router IPs** fields blank. You do not need to complete these fields when deploying PCF to Azure.
   <p class="note"><strong>Note</strong>: You specify load balancers in the <strong>Resource Config</strong> section of Elastic Runtime later on in the installation process. See the <a href="#resources">Configuring Resources</a> section.</p>

1. Under **Select one of the following point-of-entry options**, select the **Forward SSL to Elastic Runtime Router** option. This sets the external Azure Load Balancer (ALB) you created as the point of entry for your environment.
1. Complete the fields required to terminate SSL/TLS at the external ALB. For example, you must provide a **SSL Certificate and Private Key**. 
	<%= image_tag 'images/ert_lb_encrypted_certs.png' %><br>
  For details on generating certificates for your wildcard system domains, see the <a href="../opsguide/security_config.html#config">Providing a Certificate for Your SSL/TLS Termination Point</a> topic.</p>

1. <%= partial 'min_tls_version' %>
1. <%= partial 'ssl_verification' %>
1. <%= partial 'insecure_cookies' %> 
1. <%= partial 'zipkin_enable' %>  

    <%= image_tag 'images/ert_disable_ssl_cookies_zipkin.png' %>
    
1. <%= partial 'enable_router_local_logs' %>
1. <%= partial 'route_services' %>
1. The **Loggregator Port** defaults to `443` if left blank. Leave this field blank.
1. <%= partial 'app_subnet_field' %>
1. <%= partial 'app_mtu' %>  

    <%= image_tag 'images/ert_log_port_mtu.png' %>

1. (Optional) Increase the number of seconds in the **Router Timeout to Backends** field to accommodate larger uploads over connections with high latency. Set this value to less than or equal to the idle timeout value of the Azure load balancer, which defaults to 4 minutes. 
   <p class="note"><strong>Note</strong>: If the router timeout value exceeds the Azure LB timeout, you may experience intermittent TCP resets. For more information about configuring Azure load balancer idle timeout, see the <a href="https://azure.microsoft.com/en-us/documentation/articles/load-balancer-tcp-idle-timeout/">Azure documentation</a>.</p>

1. <%= partial 'lb_unhealthy_threshold' %>  
1. <%= partial 'lb_healthy_threshold' %>

    <%= image_tag 'images/router_lb_thresholds.png' %>

1. Enter a value for **Router Max Idle Keepalive Connections**. See [Considerations for Configuring max\_idle\_connections](../adminguide/routing-keepalive.html#considerations).

	<%= image_tag 'images/keepalive.png' %>

1. <%= partial 'http_headers_to_log' %>
    ![Http Headers to Log](headers_to_log.png)

1. <%= partial 'tcp_routing_enable' %>
   1. For Azure, you also need to specify the name of Azure load balancer in the LOAD BALANCER column of TCP Router job of the <b>Resource Config</b> screen. You configure this later on in Elastic Runtime. See <a href="#resources">Configuring Resources</a>.</p>
1. <%= partial 'tcp_routing_disable' %>
1. Click **Save**.


