---
title: Adding and Deleting Products
owner: Ops Manager
---

This topic describes adding and deleting additional products from your [<%= vars.platform_name %>](https://network.pivotal.io/products/pivotal-cf) installation, such as [RabbitMQ&reg; for <%= vars.platform_name %>](https://network.pivotal.io/products/pivotal-rabbitmq-service).

<p class="note"><strong>Note:</strong> In <%= vars.ops_manager %> <%= vars.v_major_version %>, all product tiles use floating stemcells by default. This increases the security of your deployment by enabling tiles to automatically use the latest patched version of a stemcell, but it may significantly increase the amount of time required by a tile upgrade. For more information, see <a href="understanding-stemcells.html">Floating Stemcells</a>.</p>


## <a id="add-import"></a> Add and Import Products

To add or import products to your <%= vars.platform_name %> installation:

1. Download <%= vars.app_runtime_abbr %>-compatible products at [VMware Tanzu Network](https://network.pivotal.io). If you cannot download products from VMware Tanzu Network due to restricted network connectivity, see [Installing <%= vars.platform_name %> in Airgapped Environments](offline_installation.html).

1. Navigate to the <%= vars.ops_manager %> Installation Dashboard and log in.

1. Click **Import a Product**.

    <%= image_tag("import-prod.png") %>

1. Select the `.pivotal` file that you downloaded from VMware Tanzu Network or received from your software distributor, then click **Open**. If the product is successfully added, it appears in your product list. If the product that you selected is not the latest version, the most up-to-date version appears on your product list.

    <%= image_tag("successfully-added.png") %>

1. Add the product tile to the **Installation Dashboard** by clicking the green **+** icon.

    <%= image_tag("plus-sign.png") %>

1. The product tile appears in the <%= vars.ops_manager %> Installation Dashboard. If the product requires configuration, the tile appears orange. If necessary, configure the product.

    <%= image_tag("new-orange-tile.png") %>

1. (Optional) In the product configuration view, select the **Errands** pane to configure post-install errands or review the default settings. Post-install errands are scripts that automatically run after a product installs, before <%= vars.ops_manager %> makes the product available for use. For more information about post-install errands, see [Errands](http://docs.pivotal.io/tiledev/tile-errands.html).
  <p class="note"><strong>Note:</strong> By default, <%= vars.ops_manager %> reruns errands even if they are not necessary due to settings left from a previous install. Leaving errands checked at all times can cause updates and other processes to take longer. To prevent an errand from running, disable the checkbox for the errand in the <strong>Settings</strong> tab on the product tile before installing the product.</p>

    <%= image_tag("example-errand.png") %>

    The **Broker Registrar** checkbox is an example of an errand available for a product. When you enable this checkbox, this errand registers service brokers with the Cloud Controller and updates any broker URL and credential values that have changed since the previous registration.

1. Click **Review Pending Changes**.

1. Click **Apply Changes** to start installation and run post-install lifecycle errands for the product.


## <a id='pivnet-api'></a> Using VMware Tanzu Network API to Upgrade Products

<%= vars.ops_manager %> provides a way to upgrade products by connecting your <%= vars.ops_manager %> Installation Dashboard with VMware Tanzu Network using a API token. Once you have uploaded a [product](#add-import), all subsequent product upgrades appear automatically in the <%= vars.ops_manager %> Installation Dashboard.

<p class="note"><strong>Note:</strong> You can only use the VMware Tanzu Network API if you have access to the Internet, since communication between <%= vars.ops_manager %> and the VMware Tanzu Network is necessary to import your products. If you are on an isolated network, do not save your API token.</p>

To upgrade products using the VMware Tanzu Network API:

1. Log in to [VMware Tanzu Network](https://network.pivotal.io).

1. Click your username, located in the upper top right side of the page.

1. Select **Edit Profile**.

1. Copy your **API Token**.
    <%= image_tag ("edit_profile.png") %>

1. Navigate to your <%= vars.ops_manager %> Installation Dashboard and log in.

1. Click your username, located in the upper top right side of the page.

1. Select **Settings**.

1. In the **External API Access** tab, paste your **API Token**.
    <%= image_tag ("external_api.png") %>

1. Click **Save**.

### <a id='update-products'></a> Update Existing Products

After you save the VMware Tanzu Network API token to the <%= vars.ops_manager %> Installation Dashboard, the latest versions of your existing products appear in your **Installation Dashboard**.

To upgrade your product to the latest version:

1. Locate and download the product version you want to upgrade to by clicking on the green download icon.<br>
    <%= image_tag ("existing_upgrade.png") %>

1. When the download is complete, refresh the page to use the product.

1. If necessary, configure the product.

1. Click **Review Pending Changes**.

1. Click **Apply Changes**.


## <a id='apply-changes'></a> Applying Changes to BOSH Director

You can use the <%= vars.ops_manager %> API or the Review Pending Changes page to apply pending changes only to BOSH Director when you stage multiple products in a new installation or as part of an upgrade.


## <a id='del-prod'></a> Deleting a Product

<%# Find this partial in GitHub at `pivotal-cf/docs-partials` %>
<%= partial "/pcf/core/#{vars.current_major_version.sub('.', '-')}/delete-product" %>
