---
breadcrumb: <%= vars.platform_name %> Documentation
title: Deploying BOSH Add-Ons
owner: PCF Documentation
---

This topic explains how to deploy optional BOSH Add-ons.

## <a id='overview'></a> Overview

BOSH Add-ons are optional platform extensions that you deploy with BOSH rather than installing them as Ops Manager tiles.

<%= vars.company_name %> recommends installing BOSH Add-ons immediately after deploying BOSH and <%= vars.ops_manager %>, before you use <%= vars.ops_manager %> to add tiles to the platform.

BOSH Add-ons from <%= vars.company_name %> include [IPsec](https://docs.pivotal.io/addon-ipsec), [ClamAV](https://docs.pivotal.io/addon-antivirus), and [File Integrity Monitoring](https://docs.pivotal.io/addon-fim), which enhance <%= vars.app_runtime_full %> (<%= vars.app_runtime_abbr %>) platform security and security logging.

[Open-source BOSH Add-ons](https://bosh.io/docs/addons-common.html) include a syslog forwarder, a custom SSH login banner, and a tool for adding SSH users.

For an overview of the BOSH deployment process, see [Deploying Software with BOSH](deploy-bosh-om.html#bosh in _Deploying BOSH and <%= vars.ops_manager %>_).


## <a id='contents'></a> Contents

* [IPsec](https://docs.pivotal.io/addon-ipsec/index.html): Secures data transmissions inside <%= vars.app_runtime_abbr %> following IPSec standards.

* [Anti-Virus](https://docs.pivotal.io/addon-antivirus/index.html): Logs <%= vars.app_runtime_abbr %> internal antivirus protection activity, to demonstrate to auditors that it complies with industry standards and government regulations.

* [File Integrity Monitoring](https://docs.pivotal.io/addon-fim/index.html) (FIM): Logs <%= vars.app_runtime_abbr %> internal file integrity monitoring activity, to demonstrate to auditors that it complies with industry standards and government regulations.
