---
title: Adding and Deleting Products
owner: Ops Manager
---

<strong><%= modified_date %></strong>

Refer to this topic for help adding and deleting additional products from your [Pivotal Cloud Foundry](https://network.pivotal.io/products/pivotal-cf) (PCF) installation, such as [Pivotal RabbitMQ&reg; for PCF](https://network.pivotal.io/products/pivotal-rabbitmq-service).

<p class="note"><strong>Note</strong>: In Ops Manager 1.7, all product tiles use floating stemcells by default. This increases the security of your deployment by enabling tiles to automatically use the latest patched version of a stemcell, but it may significantly increase the amount of time required by a tile upgrade. Review the <a href="understanding-stemcells.html">Understanding Floating Stemcells</a> topic for more information.</p>

## <a id="add-import"></a>Adding and Importing Products ##

1. Download PCF-compatible products at [Pivotal Network](https://network.pivotal.io).

1. From the Available Products view, click **Import a Product**.

    <%= image_tag("import-prod.png") %>

1. To import a product, select the .pivotal file that you downloaded from Pivotal Network or received from your software distributor, then click **Open**.

    After the import completes, the product appears in the Available Products view.

1. Hover over the product name in the Available Products view to expose the **Add** button, then click **Add**.

    <%= image_tag("add-available.png") %>

1. The product tile appears in the Installation Dashboard. 

    <p class="note"><strong>Note</strong>: If the product requires configuration, the tile appears orange.</p>

    <%= image_tag("orange-tile.png") %>

1. If necessary, configure the product. 

1. **(Optional)** In the product configuration view, select the **Errands** pane to configure post-install errands or review the default settings. Post-install errands are scripts that automatically run after a product installs, before Ops Manager makes the product available for use. For more information about post-install errands, see <a href="http://docs.pivotal.io/partners/lifecycle-errands.html">Understanding Lifecycle Errands</a>.

    <p class="note"><strong>Note</strong>: By default, Ops Manager reruns errands even if they are not necessary due to settings left from a previous install. Leaving errands checked at all times can cause updates and other processes to take longer. To prevent an errand from running, deselect the checkbox for the errand in the
<strong>Settings</strong> tab on the product tile before installing the product.</p>

    <%= image_tag("example-errand.png") %>

    The **Broker Registrar** checkbox is an example of an errand available for a product. When you select this checkbox, this errand registers service brokers with the Cloud Controller and also updates any broker URL and credential values that have changed since the previous registration.

1. In the Pending Changes view, click **Apply Changes** to start installation
and run post-install lifecycle errands for the product.

## <a id='del-prod'></a>Deleting a Product ##

1. From the Installation Dashboard, click the trash icon on a product tile to remove that product. In the **Delete Product** dialog box that appears, click **Confirm**.

	<p class="note"><strong>Note</strong>: You cannot delete the Ops Manager Director product.</p>

1. In the Pending Changes view, click **Apply Changes**.

    After you delete a product, the product tile is removed from the installation and the Installation Dashboard. However, the product appears in the Available Products view.