---
breadcrumb: <%= vars.product_full %> Documentation
title: Deploying BOSH Add-Ons
owner: <%= vars.product_full %> Documentation
---

This documentation explains how to deploy optional BOSH Add-ons as a part of installing the <%= vars.product_full  %> platform.

##<a id='overview'></a>Overview

BOSH Add-ons are optional platform extensions that you deploy with BOSH rather than installing them as Pivotal Operations Manager tiles.

Pivotal recommends installing BOSH Add-ons immediately after deploying BOSH and Ops Manager, before you use Ops Manager to add tiles to the platform.

BOSH Add-ons from Pivotal include [IPsec](https://docs.pivotal.io/addon-ipsec), [ClamAV](https://docs.pivotal.io/addon-antivirus), and [File Integrity Monitoring](https://docs.pivotal.io/addon-fim), which enhance <%= vars.product_short %> platform security and security logging.

[Open-source BOSH Add-ons](https://bosh.io/docs/addons-common.html) include a syslog forwarder, a custom SSH login banner, and a tool for adding SSH users.

See [Deploying Software with BOSH](./deploy-bosh-om.html#bosh) for an overview of the BOSH deployment process.

##<a id='contents'></a>Contents

* <a href="https://docs.pivotal.io/addon-ipsec/index.html">IPsec Add-on for <%= vars.product_full %> </a> secures data transmissions inside <%= vars.product_short %> following IPSec standards.

* <a href="https://docs.pivotal.io/addon-antivirus/index.html">ClamAV Add-on for <%= vars.product_full %></a> logs <%= vars.product_short %> internal antivirus protection activity, to demonstrate to auditors that it complies with industry standards and government regulations.

* <a href="https://docs.pivotal.io/addon-fim/index.html">File Integrity Monitoring Add-on for <%= vars.product_full %></a> (FIM) logs <%= vars.product_short %> internal file integrity monitoring activity, to demonstrate to auditors that it complies with industry standards and government regulations.
