---
title: Expanding Your Network with Additional Subnets
owner: Ops Manager
---

This topic describes how to add more than one subnet to each network using the BOSH Director.


## <a id='overview'></a> Overview

You can add more than one subnet to each network using the BOSH Director. After successfully deploying <%= vars.ops_manager %> v2.1 or later, you can expand your network with multiple, overlapping availability zones (AZs). You may want to create subnets with overlapping AZs if your current subnet is full and you determined your network needs expansion.

![The Add Subnet button is floating to the right of the Subnets label in the Create Network pane of <%= vars.ops_manager %>](images/gcp/add-subnet.png)


## <a id='add-subnet'></a> Add an Additional Subnet

To add an additional subnet to your network:

1. Navigate to the <%= vars.ops_manager %> Installation Dashboard.

1. Click the BOSH Director tile.

1. Select **Create Networks**.

1. Click the name of your network to expand network details.

1. Click **Add Subnet**. This action populates a new set of subnet fields. You may need to scroll down to see the fields.

1. Complete each of the subnet fields. For more information about configuring your subnet, see [the <%= vars.ops_manager %> configuration topic for your IaaS installation](https://docs-pcf-staging.cfapps.io/ops-manager/<%= vars.current_major_version.sub('.', '-') %>/index.html).

1. Click **Save**.

1. Return to the <%= vars.ops_manager %> Installation Dashboard.

1. Click **Review Pending Changes**.

1. Click **Apply Changes**.
