---
title: Adding and Deleting Products
owner: Ops Manager
---

<strong><%= modified_date %></strong>

Refer to this topic for help adding and deleting additional products from your [Pivotal Cloud Foundry](https://network.pivotal.io/products/pivotal-cf) (PCF) installation, such as [Pivotal RabbitMQ&reg; for PCF](https://network.pivotal.io/products/pivotal-rabbitmq-service).

<p class="note"><strong>Note</strong>: In Ops Manager <%= vars.current_major_version %>, all product tiles use floating stemcells by default. This increases the security of your deployment by enabling tiles to automatically use the latest patched version of a stemcell, but it may significantly increase the amount of time required by a tile upgrade. Review the <a href="understanding-stemcells.html">Understanding Floating Stemcells</a> topic for more information.</p>

## <a id="add-import"></a>Adding and Importing Products ##

1. Download PCF-compatible products at [Pivotal Network](https://network.pivotal.io). If you cannot download products from Pivotal Network due to restricted network connectivity, see [Installing PCF in Airgapped Environments](offline_installation.html).

1. Navigate to your Ops Manager **Installation Dashboard** and log in.

1. Click **Import a Product**.

    <%= image_tag("import-prod.png") %>

1. Select the .pivotal file that you downloaded from Pivotal Network or received from your software distributor, then click **Open**. If the product is successfully added, it appears in the your product list. If the product you selected is not the latest version, the most up-to-date version will appear on your product list.

    <%= image_tag("successfully-added.png") %>

1. Add the product tile to the **Installation Dashboard** by clicking the green plus sign icon. 

    <%= image_tag("plus-sign.png") %>

1. The product tile appears in the Installation Dashboard. If the product requires configuration, the tile appears orange. If necessary, configure the product.

    <%= image_tag("new-orange-tile.png") %>

1. **(Optional)** In the product configuration view, select the **Errands** pane to configure post-install errands or review the default settings. Post-install errands are scripts that automatically run after a product installs, before Ops Manager makes the product available for use. For more information about post-install errands, see the <a href="http://docs.pivotal.io/partners/lifecycle-errands.html">Understanding Lifecycle Errands</a> topic.

    <p class="note"><strong>Note</strong>: By default, Ops Manager reruns errands even if they are not necessary due to settings left from a previous install. Leaving errands checked at all times can cause updates and other processes to take longer. To prevent an errand from running, deselect the checkbox for the errand in the
<strong>Settings</strong> tab on the product tile before installing the product.</p>

    <%= image_tag("example-errand.png") %>

    The **Broker Registrar** checkbox is an example of an errand available for a product. When you select this checkbox, this errand registers service brokers with the Cloud Controller and also updates any broker URL and credential values that have changed since the previous registration.

1. Click **Review Pending Changes**, then **Apply Changes** to start installation
and run post-install lifecycle errands for the product.


## <a id='pivnet-api'></a>Using Pivotal Network API to Upgrade Products##

Ops Manager provides a way to upgrade products by connecting your **Installation Dashboard** with Pivotal Network using a API token. Once you have uploaded a [product](#add-import), all subsequent product upgrades appear automatically in your **Installation Dashboard**.
    <p class="note"><strong>Note</strong>: Using the Pivotal Network API is only available if you have access to the Internet since communication between Ops Manager and the Pivotal Network is necessary to import your products. If you are on an isolated network, do not save your API token.</p>

1. Navigate to [Pivotal Network](https://network.pivotal.io) and log in.
1. Click your user name, located in the upper top right side of the page.
1. Select **Edit Profile**.
1. In the **Edit Profile** tab, copy your **API Token**. 
    <%= image_tag ("edit_profile.png") %>
1. Navigate to your Ops Manager **Installation Dashboard** and log in.
1. Click your user name, located in the upper top right side of the page.
1. Select **Settings**.
1. In the **External API Access** tab, paste your **API Token**.
    <%= image_tag ("external_api.png") %>
1. Click **Save**.

### <a id='update-products'></a>Update Existing Products ###

Once you save the Pivotal Network **API Token** to the Ops Manager **Installation Dashboard**, the latest versions of your existing products will appear in your **Installation Dashboard**. Upgrade your product to the latest version by following these instructions.

1. Locate and download the product version you want to upgrade to by clicking on the green download icon.
    <%= image_tag ("existing_upgrade.png") %>

1. When the download is complete, refresh the page to use the product.

1. If necessary, configure the product.

1. Click **Review Pending Changes**, then **Apply Changes**.

## <a id='apply-changes'></a>Applying Changes to BOSH Director ##

You can use the Ops Manager API to apply pending changes only to BOSH Director when you stage multiple products in a new installation or as part of an upgrade. For more information, see [Applying Changes to BOSH Director](./deploy-ops-man-director.html).

## <a id='del-prod'></a>Deleting a Product ##

<%= partial "delete-product" %>
