---
title: Upgrading BOSH Director on AWS
owner: Ops Manager
---

This topic describes how to upgrade BOSH Director for <%= vars.platform_name %> on Amazon Web Services (AWS).

Complete the tasks in this topic as part of the Pivotal Operations Manager upgrade process. For more information, see the [Task 2: Upgrade Ops Manager and Installed Products to v<%= vars.current_major_version %>](upgrading-pcf.html#upgrade_ops) section of the _Upgrading <%= vars.platform_name %>_ topic.


## <a id='overview'></a> Overview

<%# Find this partial in GitHub at `pivotal-cf/docs-partials` %>
<%= partial "/pcf/core/#{vars.current_major_version.sub('.', '-')}/om_upgrade_overview" %>

For <%= vars.platform_name %> installations on AWS, the VM that hosts the new version of Ops Manager uses an Amazon Machine Image (AMI) specific to your region.

To create an Ops Manager VM instance:

1. Retrieve the Ops Manager AMI ID. See [Retrieve Ops Manager AMI ID](#pcfaws-om-ami).

1. Launch the AMI. See [Launch Ops Manager AMI](#pcfaws-om-ami).

1. Edit the Ops Manager DNS A Record. See [Edit Ops Manager DNS A Record](#dns).


## <a id='prerequisites'></a> Prerequisites

<%# Find this partial in GitHub at `pivotal-cf/docs-partials` %>
<%= partial "/pcf/core/#{vars.current_major_version.sub('.', '-')}/om_upgrade_prerequisite" %>

## <a id='pcfaws-om-ami'></a> Retrieve Ops Manager AMI ID

Ops Manager has a different AMI ID for each region. Retrieve and record the AMI ID for your region. You use this AMI ID when launching the Ops Manager AMI instance.

To retrieve the AMI ID for Ops Manager:

1. Navigate to the [<%= vars.platform_name %> Operations Manager](https://network.pivotal.io/products/ops-manager) page on Pivotal Network.

1. Select the version of <%= vars.platform_name %> you want to install from the **Releases** dropdown.

1. In the **Release Download Files**, click the file named **Pivotal Ops Manager for AWS** to download a PDF.

1. Open the PDF and record the AMI ID for your region.


## <a id='pcfaws-om-ami'></a> Launch Ops Manager AMI

Use the AMI ID for your region to launch an AMI instance that hosts the new version of Ops Manager.

To launch the AMI for Ops Manager:

1. Navigate to your EC2 Dashboard.

1. Click **AMIs** from the **Images** menu.

1. Select **Public images** from the dropdown filter that says **Owned by me**.

1. Paste the AMI ID for your region into the search bar and press enter.
    <p class="note"><strong>Note:</strong> There is a different AMI for each region. If you cannot locate the AMI for your region, verify that you have set your AWS Management Console to your desired region. If you still cannot locate the AMI, log in to the Pivotal Network and file a support ticket.</p>

    <%= image_tag("pcfaws/pcf_aws_ami.png") %>

1. (Optional) If you want to encrypt the VM that runs Ops Manager with AWS Key Management Service (KMS):
  1. Right click the row that lists your AMI and click **Copy AMI**.
  1. Select your **Destination region**.
  1. Enable **Encryption**. For more information about AMI encryption, see the [Encryption and AMI Copy](https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/CopyingAMIs.html#ami-copy-encryption) section of the _Copying an AMI_ topic in the AWS documentation.
  1. Select your **Master Key**. To create a new custom key, see [Creating Keys](https://docs.aws.amazon.com/kms/latest/developerguide/create-keys.html) in the AWS documentation.
  1. Click **Copy AMI**. You can use the new AMI you copied for the next steps.

1. Select the row that lists your Ops Manager AMI and click **Launch**.

1. Choose **m5.large** for your instance type and click **Next: Configure Instance Details**.

    <%= image_tag("pcfaws/aws_ami_m5large.png") %>

1. Configure the following for your instance:
    * **Network**: Select the VPC that you created.
    * **Subnet**: Select `<%= vars.product_name_lc %>-public-subnet-az0`.
    * **Auto-assign for Public IP**: Select **Enable**.
    * **IAM role**: Select the IAM role associated with your <%= vars.product_name_lc %>-user profile. If you have not created one, click **Create new IAM role** and follow the procedures in [AWS Permissions Guidelines](./aws-iaas-user-roles.html).
    * For all other fields, accept the default values.

    <%= image_tag("pcfaws/pcf_aws_configure_instance.png") %>

1. Click **Next: Add Storage** and adjust the **Size (GiB)** value. The default persistent disk value is 50&nbsp;GB. Pivotal recommends increasing this value to a minimum of 100&nbsp;GB.

    <%= image_tag("pcfaws/pcf_aws_add_storage.png") %>

1. Click **Next: Tag Instance**

1. On the **Add Tags** page, add a tag with the key `Name` and value `<%= vars.product_name_lc %>-ops-manager`.

1. Click **Next: Configure Security Group**.

1. Select the `<%= vars.product_name_lc %>-ops-manager-security-group` that you created in the [Step 5: Configure a Security Group for Ops Manager](/platform/ops-manager/<%= vars.current_major_version.sub('.', '-') %>/aws/prepare-env-manual.html#pcfaws-om-secgrp) section of the _Preparing to Deploy Ops Manager on AWS Manually_ topic.

1. Click **Review and Launch** and confirm the instance launch details.

1. Click **Launch**.

1. Select the `<%= vars.product_name_lc %>-ops-manager-key` key pair, confirm that you have access to the private key file, and click **Launch Instances**. You use this key pair to access the Ops Manager VM.

    <%= image_tag("pcfaws/select_pcfpem_keypair.png") %>


## <a id='dns'></a> Edit Ops Manager DNS A Record

After you deploy the new Ops Manager VM, edit the Ops Manager DNS record in the EC2 dashboard to point to the IP address for the new VM.

To edit the Ops Manager DNS A record:

1. Click **View Instances** to access the **Instances** page on the EC2 Dashboard.

1. Select the VM that you created in the previous section.

1. Locate the **IPv4 Public IP** value in the instance **Description** tab, and record this value for use in the next step.

1. In your DNS provider, edit the **A** record for `<%= vars.product_name_lc %>.YOUR-SYSTEM-DOMAIN` to point to the IP address recorded in the previous step.


## <a id='continue'></a> Next Steps

After you complete this procedure, continue the upgrade instructions in [Upgrading <%= vars.platform_name %>](./upgrading-pcf.html)
