---
title: Installing Ops Manager on AWS using Terraform
owner: Ops Manager
---

<% current_page.data.title = "Installing " + vars.platform_name + " on AWS using Terraform" %>

This topic explains how to install <%= vars.platform_name %> on AWS using Terraform.


## <a id="overview"></a> Overview

After you install <%= vars.platform_name %> on AWS using Terraform,
you can install either the <%= vars.app_runtime_full %> (<%= vars.app_runtime_abbr %>) or
<%= vars.k8s_runtime_full %> (<%= vars.k8s_runtime_abbr %>) runtime on the <%= vars.ops_manager %>.


## <a id="terraform-pas"></a> Install <%= vars.ops_manager %> Using Terraform

To install <%= vars.ops_manager %> using Terraform:

1. Deploy <%= vars.ops_manager %>. For more information, see [Deploying <%= vars.ops_manager %> on AWS Using Terraform](/ops-manager/<%= vars.current_major_version.sub('.', '-') %>/aws/prepare-env-terraform.html).

1. Configure BOSH Director. For more information, see [Configuring BOSH Director on AWS Using Terraform](/ops-manager/<%= vars.current_major_version.sub('.', '-') %>/aws/config-terraform.html).

## <a id="next"></a> Next Steps

After completing the procedures above, configure a runtime for <%= vars.platform_name %>.
You can install the <%= vars.app_runtime_abbr %> runtime or the <%= vars.k8s_runtime_abbr %> runtime.

For information about installing and configuring a runtime, see the following:

* [Configuring <%= vars.app_runtime_abbr %>](https://docs.pivotal.io/platform/<%= product_info['local_product_version'].to_s.sub('.','-') %>/customizing/configure-pas.html).
* [Installing <%= vars.k8s_runtime_abbr %> on AWS](https://docs.pivotal.io/tkgi/installing-aws.html).
