---
title: Installing Pivotal Platform on AWS Manually
owner: Ops Manager
---

<% current_page.data.title = "Installing " + vars.platform_name + " on AWS Manually" %>

This topic explains how to install <%= vars.platform_name %> on Amazon Web Services (AWS) manually.

## <a id="overview"></a> Overview

You can install <%= vars.platform_name %> on AWS manually with the Pivotal Application Service (PAS) runtime.

<p class="note"><strong>Note</strong>: To install <%= vars.platform_name %> with the Pivotal Container Service (PKS) runtime, you must use Terraform. Manual installation is not currently supported. See <a href="https://docs.pivotal.io/pks/aws-om-install-config.html">Installing and Configuring Ops Manager on AWS</a>.</p>

## <a id="manual-pas"></a> Install Manually with PAS

To install manually with PAS, do the following:

1. (Optional) Review the resources you must deploy to AWS. See [Required AWS Objects](/platform/ops-manager/<%= vars.current_major_version.sub('.', '-') %>/aws/required-objects.html).

1. Prepare your AWS environment. See [Preparing to Deploy Ops Manager on AWS Manually](/platform/ops-manager/<%= vars.current_major_version.sub('.', '-') %>/aws/prepare-env-manual.html).

1. Deploy Ops Manager. See [Deploying Ops Manager on AWS Manually](/platform/ops-manager/<%= vars.current_major_version.sub('.', '-') %>/aws/deploy-manual.html).

1. (Optional) Verify that you deployed all of the required resources to AWS. See [Required AWS Objects](/platform/ops-manager/<%= vars.current_major_version.sub('.', '-') %>/aws/required-objects.html).

1. Configure BOSH Director. See [Configuring BOSH Director on AWS Manually](/platform/ops-manager/<%= vars.current_major_version.sub('.', '-') %>/aws/config-manual.html).

1. Configure PAS. See [Configuring PAS](./configure-pas.html).
