---
title: Installing Ops Manager on AWS Manually
owner: Ops Manager
---

<% current_page.data.title = "Installing " + vars.platform_name + " on AWS Manually" %>

This topic explains how to install <%= vars.platform_name %> on Amazon Web Services (AWS) manually.

Do not read this topic if you are intending to install the <%= vars.k8s_runtime_full %>
(<%= vars.k8s_runtime_abbr %>) runtime on AWS.

## <a id="overview"></a> Overview

You can install <%= vars.platform_name %> on AWS manually for use with the <%= vars.app_runtime_full %>
(<%= vars.app_runtime_abbr %>) runtime.

<p class="note"><strong>Note:</strong> To run <%= vars.k8s_runtime_full %> on AWS,
you must use Terraform to install <%= vars.ops_manager %>.
For more information, see <a href="https://docs.pivotal.io/pks/aws-om-install-config.html">Installing
and Configuring <%= vars.ops_manager %> on AWS</a>.
</p>


## <a id="manual-pas"></a> Install <%= vars.platform_name %> Manually on AWS

To install <%= vars.platform_name %> manually on AWS for use with <%= vars.app_runtime_abbr %>:

1. (Optional) Review the resources you must deploy to AWS. For more information, see [Required AWS Objects](/ops-manager/<%= vars.current_major_version.sub('.', '-') %>/aws/required-objects.html).

1. Prepare your AWS environment. For more information, see [Preparing to Deploy <%= vars.ops_manager %> on AWS Manually](/ops-manager/<%= vars.current_major_version.sub('.', '-') %>/aws/prepare-env-manual.html).

1. Deploy <%= vars.ops_manager %>. For more information, see [Deploying <%= vars.ops_manager %> on AWS Manually](/ops-manager/<%= vars.current_major_version.sub('.', '-') %>/aws/deploy-manual.html).

1. (Optional) Verify that you deployed all of the required resources to AWS. For more information, see [Required AWS Objects](/ops-manager/<%= vars.current_major_version.sub('.', '-') %>/aws/required-objects.html).

1. Configure BOSH Director. For more information, see [Configuring BOSH Director on AWS Manually](/ops-manager/<%= vars.current_major_version.sub('.', '-') %>/aws/config-manual.html).

1. Configure <%= vars.app_runtime_abbr %>.
   For more information, see [Configuring <%= vars.app_runtime_full %>](./configure-pas.html).
