---
title: Troubleshooting Ops Manager on Azure
owner: Ops Manager, Release Integration
---

<% current_page.data.title = "Troubleshooting " + vars.platform_name + " on Azure" %>

<html class="list-style-none"></html>

This topic describes how to troubleshoot known issues when deploying or running <%= vars.platform_name %> on Azure.


## <a id="install-issues"></a> Installation Issues

This section describes how to troubleshoot known installation issues.

### <a id="cannot-copy-om"></a> Cannot Copy the <%= vars.ops_manager %> Image

#### Symptom

You cannot copy the <%= vars.ops_manager %> image into your storage account as part of [Step 4: Boot <%= vars.ops_manager %>](/platform/ops-manager/<%= vars.current_major_version.sub('.', '-') %>/azure/deploy-manual.html#boot) in _Deploying <%= vars.ops_manager %> on Azure Manually_.

#### Explanation

You have an outdated version of the Azure CLI. You need Azure CLI v2.0.0 or later. To display your current Azure CLI version, run:

```
az --version
```

#### Solution

Install the Azure CLI v2.0 by following the instructions for your operating system in [Install the Azure CLI](https://docs.microsoft.com/en-us/cli/azure/install-azure-cli) in the Microsoft Azure documentation.

### <a id="create-env-fails"></a> Deployment Fails at "create-env"

#### Symptom

After clicking **Review Pending Changes**, then **Apply Changes** to install <%= vars.ops_manager %> and <%= vars.app_runtime_full %> (<%= vars.app_runtime_abbr %>), the deployment fails at `create-env` with an error message similar to the following:

```
Command 'deploy' failed:
  Deploying:
    Creating instance 'bosh/0':
      Waiting until instance is ready:
        Starting SSH tunnel:
          Parsing private key file '/tmp/bosh_ec2_private_key.pem':
            asn1: structure error: tags don't match (16 vs {class:3 tag:28 length:127
            isCompound:false}) {optional:false explicit:false application:false
            defaultValue:<nil> tag:<nil> stringType:0 timeType:0 set:false omitEmpty:false} pkcs1PrivateKey @2
			===== 2016-09-29 16:28:22 UTC Finished "<%= vars.bosh_deploy %>"
			/var/tempest/workspaces/default/deployments/bosh.yml";
			Duration: 328s; Exit Status: 1
Exited with 1.
```

#### Explanation

You provided a passphrase when creating your key pair in [Step 4: Boot <%= vars.ops_manager %>](/platform/ops-manager/<%= vars.current_major_version.sub('.', '-') %>/azure/deploy-manual.html#boot) in _Deploying <%= vars.ops_manager %> on Azure Manually_.

#### Solution

Create a new key pair with no passphrase and re-do the installation. For more information, see [Step 4: Boot <%= vars.ops_manager %>](/platform/ops-manager/<%= vars.current_major_version.sub('.', '-') %>/azure/deploy-manual.html#boot) in _Deploying <%= vars.ops_manager %> on Azure Manually_.

### <a id="database-permissions"></a> Insufficient External Database Permissions

Upgrade issues can be caused when the external database user used for the network policy database is given insufficient permissions. To avoid this upgrade issue, ensure that the Network Policy Server database user has the `ALL PRIVILEGES` permission.


## <a id="operation-issues"></a> Operation Issues

This section describes how to troubleshoot known operation issues.

### <a id="timeouts"></a> Slow Performance or Timeouts

#### Symptom

Developers suffer from slow performance or timeouts when pushing or managing apps, and end users suffer from slow performance or timeouts when accessing apps.

#### Explanation

The Azure Load Balancer (ALB) disconnects active TCP connections lying idle for over four minutes.

#### Solution

To mitigate slow performance or timeouts, the default value of the **Gorouter timeout to back ends** field is set to `900` seconds. This default value is set high to mitigate performance issues but operators should tune this parameter to fit their infrastructure.

To edit the **Gorouter timeout to back ends** field:

1. Navigate to the <%= vars.ops_manager %> Installation Dashboard.

1. Click the <%= vars.app_runtime_abbr %> tile.

1. Select **Networking**.

1. Enter your desired time, in seconds, in the **Gorouter timeout to back ends** field.

1. Click **Save**.

### <a id="service-create-fail"></a> Service Instance Creation Times Out

#### Symptom

You are unable to provision a service instance of a Java or Go service. Running `cf create-service` fails with error `Failure provisioning service instance... Timed out after 8 minutes...` or similar.

#### Explanation

HTTP libraries for Java and Go, running with default settings, prune connections that have been idle for 240 seconds from their connection pool without sending a TCP reset message back to the client service broker. This removes the ability of the broker to provision new service instances.

#### Solution

In the **Networking** pane of the <%= vars.app_runtime_abbr %> tile, set **Front end idle timeout** to `240` seconds or less, so that <%= vars.platform_name %> regenerates the front end connection before it times out.

For more information, see [Azure Networking Connection Idle for more than Four minutes](https://community.pivotal.io/s/article/Azure-Networking-Connection-Idle-for-more-than-Four-minutes) in the Knowledge Base.
