---
title: Deploying the CloudFormation Template for PCF on AWS
---

This topic describes how to deploy the CloudFormation template for [Pivotal Cloud Foundry](https://network.pivotal.io/products/pivotal-cf) (PCF) on Amazon
Web Services (AWS).
Use this topic when [Installing Pivotal Cloud Foundry Using AWS CloudFormation](./cloudform.html).

After completing this procedure, complete all of the steps in the following
topics:

* [Deploying Ops Manager Director on AWS CloudFormation](./cloudform-om-deploy.html)
* [Configuring Ops Manager Director on AWS CloudFormation](./cloudform-om-config.html)
* [Installing Elastic Runtime on AWS CloudFormation](./cloudform-er-config.html)

An AWS CloudFormation template describes a set of AWS resources and properties.
Follow the instructions below to use a CloudFormation template to create the
infrastructure that you need to deploy PCF to AWS.

## <a id='download-template'></a>Step 1: Download the PCF CloudFormation Template ##

Sign in to [Pivotal Network](https://network.pivotal.io/) and download the **Pivotal Cloud Foundry Ops Manager CloudFormation Template** from the Pivotal Cloud Foundry section. 

## <a id='upload-cert'></a>Step 2: Use the AWS CLI to upload your SSL Cert ##

The AWS cli must be installed on your machine, and configured to a user account with Admin Access privileges on your AWS account.

Run the following command to upload your SSL cert, referencing the certificate and it's corresponding private key. `certificate-chain` is an optional parameter. Include this only if your certificate authority provided a certificate chain.


<pre class='terminal'>
aws iam upload-server-certificate --server-certificate-name A-NAME-FOR-YOUR-CERT --certificate-body file://FILE-PATH-TO-YOUR-CERT --private-key file://FILE-PATH-TO-YOUR-AWS-PRIVATE-KEY [--certificate-chain file://FILE-PATH-TO-YOUR-CERT-CHAIN-FILE]
</pre>

The terminal will output metadata for your cert. You will need the value of the `Arn` key when configuring your AWS resource stack, so you may want to record it. Alternatively, if you know the name of the cert, you can run the following command to retrieve the metadata for the cert at a later point: <pre class='terminal'>aws iam get-server-certificate --server-certificate-name YOUR-CERT-NAME</pre> 


## <a id='create-stack'></a>Step 3: Create a Resource Stack Using the CloudFormation Template ##

1. Log in to the [AWS Console](https://console.aws.amazon.com/).

1. In the second column, under **Deployment & Management**, click **CloudFormation**.

    <%= image_tag("cloudform/cloudformation.png") %>

1. Click **Create New Stack**.

    <%= image_tag("cloudform/newstack.png") %>

1. Name the stack `pcf-stack`. Select **Upload a template to Amazon S3**.

    <%= image_tag("cloudform/uploadtemplate.png") %>

1. Click **Browse**. Browse to and select the **Pivotal Cloud Foundry Ops Manager CloudFormation Template** file that you downloaded. Click **Next**.

1. <a id='parameters'></a>In the **Specify Parameters** page, complete the
following fields:
    * **01NATKeyPair**: Use the drop-down menu to select the name of your
      pre-existing AWS key pair.
    * **02NATInstanceType**: Do not change this value.
    * **03OpsManagerIngress**: Do not change this value.
    * **04RdsDBName**: Do not change this value.
    * **05RdsUserName**: Enter a user name for the RDS database.
      <p class='note'><strong>Note</strong>: Do not enter the user name
        <code>rdsadmin</code>. AWS reserves the <code>rdsadmin</code> user
        account for internal database instance management.
      </p>
    * **06RdsPassword**: Enter a password for the RDS database.

1. Click **Next**.
    <%= image_tag("cloudform/new_stack_params.png") %>

1. On the **Options** page, click **Next**.

    <%= image_tag("cloudform/options.png") %>

1. On the **Review** page, select the **I acknowledge that this template might cause AWS CloudFormation to create IAM resources** checkbox.

1. Click **Create**.

    <%= image_tag("cloudform/acknowledge.png") %>

AWS creates the infrastructure that you need to deploy PCF to AWS.
The image shows the **Create_Complete** message that AWS displays when the
installation process successfully completes.

<%= image_tag("cloudform/complete.png") %>

---

Return to [Installing Pivotal Cloud Foundry Using AWS CloudFormation](./cloudform.html).
