---
title: Deploying the CloudFormation Template for PCF on AWS
---

This topic describes how to deploy the CloudFormation template for [Pivotal Cloud Foundry](https://network.pivotal.io/products/pivotal-cf) (PCF) on Amazon
Web Services (AWS).

An AWS CloudFormation template describes a set of AWS resources and properties.
Follow the instructions below to use a CloudFormation template to create the
infrastructure that you need to deploy PCF to AWS.

After completing this procedure, complete all of the steps in the [Configuring Ops Manager Director after Deploying PCF on AWS using CloudFormation](./cloudform-om-config.html) and [Installing Elastic Runtime after Deploying PCF on AWS using CloudFormation](./cloudform-er-config.html) topics.

1. Use the `git clone` command to make a local copy of the [PCF CloudFormation template repository](https://github.com/pivotal-cf/cloudformation-template).

    <pre class='terminal'>
	$ git clone git@github.com:pivotal-cf/cloudformation-template.git
    </pre>

1. Log in to the [AWS Console](https://console.aws.amazon.com/).

1. Select the **CloudFormation** dashboard.

    <%= image_tag("cloudform/cloudformation.png") %>

1. Select **Create New Stack**.

    <%= image_tag("cloudform/newstack.png") %>

1. Name the stack `pcf-stack` and select **Upload a template to Amazon S3**.

    <%= image_tag("cloudform/uploadtemplate.png") %>

1. Click **Browse**, browse to the cloudformation-template directory, and select
the `pcf.json` file. Click **Next**.

1. <a id='parameters'></a>In the **Specify Parameters** page, complete the 
following fields:
    * **DBPassword**: Enter a password for the RDS database. The default value
		is `password`.
    * **DBUser**: Enter a user name for the RDS database. The default value is
		`admin`.
    * **ELBRDSName**: Enter a unique name for the Elastic Load Balancer and RDS
	instance.

        <p class='note'><strong>Note</strong>: You will need this name when <a
		href='./cloudform-er-config.html#resources'>configuring resources for
		Elastic Runtime</a>.</p>
    * **KeyName**: Enter the name of your pre-existing AWS key pair.
    * **OpsMgrWebPW**: Enter a password for the Ops Manager web interface. The
		default value is `password`.
    * **OpsMgrWebUID**: Enter a user name for the Ops Manager web interface. The
		default value is `admin`.

1. Click **Next**.

    <%= image_tag("cloudform/parameters.png") %>

1. On the **Options** page, click **Next**.

    <%= image_tag("cloudform/options.png") %>

1. On the **Review** page, select the **I acknowledge that this template might cause AWS CloudFormation to create IAM resources** checkbox.

1. Click **Create**.

    <%= image_tag("cloudform/acknowledge.png") %>

1. You have now completed deploying the CloudFormation template for PCF. Your
AWS objects can take approximately 10 minutes to create.

    <%= image_tag("cloudform/complete.png") %>
