---
title: Deploying Ops Manager Director on AWS CloudFormation
---

This topic describes how to deploy Ops Manager Director after deploying
the CloudFormation template for [Pivotal Cloud Foundry](https://network.pivotal.io/products/pivotal-cf) (PCF) on Amazon Web
Services (AWS).
Use this topic when [Installing Pivotal Cloud Foundry using AWS CloudFormation](./cloudform.html).

Before beginning this procedure, ensure that you have successfully completed all
of the steps in the [Deploying the CloudFormation Template for PCF on AWS](./cloudform-template.html) topic.
After you complete this procedure, follow the instructions in the [Configuring Ops Manager Director on AWS CloudFormation](./cloudform-om-config.html) and
[Configuring Elastic Runtime on AWS CloudFormation](./cloudform-om-config.html) topics.

## <a id='outputs'></a>Step 1: Open the Outputs Tab in AWS Stacks ##

In the Stacks dashboard of the [AWS Console](https://console.aws.amazon.com/), select the **pcf-stack** checkbox, then select the **Outputs** tab.

<%= image_tag("cloudform/outputs.png") %>

You use the information in the **Value** column of the **Outputs** tab to
[configure the details of an AMI instance](#configure-instance) for Ops Manager,
[configure Ops Manager Director](./cloudform-om-config.html), and [configure Elastic Runtime](./cloudform-er-config.html).

## <a id='select-ami'></a>Step 2: Select a Pivotal Ops Manager AMI Instance ##

1. Download the _Ops Manager for AWS_ PDF from [Pivotal Network](https://network.pivotal.io/products/pivotal-cf).
This PDF contains an AMI ID for Pivotal Ops Manager.

1. Log in to the [AWS Console](https://console.aws.amazon.com/).
Navigate to the EC2 Dashboard.

1. In the left navigation panel, click **AMIs**.

1. Use the AMI ID from the _Ops Manager for AWS_ PDF to locate the Pivotal Ops
Manager AMI within public images. Select this AMI and click **Launch**.

    <%= image_tag("cloudform/ami.png") %>

1. Choose **m3.large** for your instance type. Click **Next: Configure Instance Details**.

    <%= image_tag("cloudform/ami-instance-type.png") %>

## <a id='configure-instance'></a>Step 3: Configure Instance Details ##

1. Complete the **Config Instance Details** page with information from the [Outputs tab](#outputs) in the AWS Stacks dashboard:
  * Select the **Network** that matches the value of **PcfVpc**.
  * Select the **Subnet** that matches the value of **PcfPublicSubnetId**.

1. Set **Auto-assign Public IP** to **Enable**.

1. Click **Next: Add Storage**.

    <%= image_tag("cloudform/instance-details.png") %>

1. On the **Add Storage** page, adjust the **Size (GiB)** value.
Pivotal recommends increasing this value to a minimum of 100 GB.

1. Click **Next: Tag Instance**.

    <%= image_tag("cloudform/storage-config.png") %>

1. On the **Tag Instance** page, add a **Key** `Name` with **Value** `Ops Manager`.

1. Click **Next: Configure Security Group**.

    <%= image_tag("cloudform/tag-config.png") %>

## <a id='security-group'></a>Step 4: Configure Security Group ##

1. Select the **Select an existing security group** option.

1. Select the **Security Group ID** that matches the value of **PcfOpsManagerSecurityGroupId**.

1. Click **Review and Launch**.

    <%= image_tag("cloudform/security-group.png") %>

## <a id='deploy'></a>Step 5: Deploy Ops Manager ##

1. Review the instance launch details. Click **Launch**.

    <%= image_tag("cloudform/review.png") %>

1. Use the first drop-down menu to select **Choose an existing key pair**.
  Use the second drop-down menu to select the name of your pre-existing AWS key
  pair.

1. Select the acknowledgement checkbox.

1. Click **Launch Instances**.

    <%= image_tag("cloudform/launch.png") %>

1. Navigate to the EC2 Dashboard. In the left navigation panel, click
**Instances**.

1. AWS deploys Ops Manager.

1. The image shows that AWS displays an **Instance State** of `running` and a
**Status Check** of `passed` when the Ops Manager deployment successfully
completes.
Record the **Public IP** of your Ops Manager EC2 instance.
You use this IP address when [Configuring Ops Manager Director on AWS CloudFormation](./cloudform-om-config.html).

    <%= image_tag("cloudform/deployed.png") %>

---

Return to [Installing Pivotal Cloud Foundry using AWS CloudFormation](./cloudform.html).
