---
title: Configuring Ops Manager Director after Deploying PCF on AWS using CloudFormation
---

This topic describes how to configure the Ops Manager Director after deploying
the CloudFormation template for [Pivotal Cloud Foundry](https://network.pivotal.io/products/pivotal-cf) (PCF) on Amazon Web
Services (AWS).
Use this topic when [Installing Pivotal Cloud Foundry using AWS CloudFormation](./cloudform.html).

Before beginning this procedure, ensure that you have successfully completed all
steps in the [Deploying the CloudFormation Template for PCF on AWS](./cloudform-template.html) topic.
After you complete this procedure, follow the instructions in the [Installing Elastic Runtime after Deploying PCF on AWS using CloudFormation](./cloudform-er-config.html) topic.

## <a id='outputs'></a>Step 1: Open the Outputs Tab in AWS Stacks ##

In the Stacks dashboard of the [AWS Console](https://console.aws.amazon.com/), select the **pcf-stack** checkbox, then select the **Outputs** tab.

<%= image_tag("cloudform/outputs.png") %>

You use the information in the **Value** column of the **Outputs** tab to [configure the Ops Manager Director](#aws-config) and [configure Elastic Runtime](./cloudform-er-config.html).

## <a id='access-om'></a>Step 2: Access Ops Manager ##

1. If you have not already done so, make a note of the **Public IP** of your Ops Manager EC2 instance by viewing the EC2 dashboard.
1. Enter this public IP address as a URL in a web browser.
1.  The first time you access your Ops Manager in your web browser, you will be prompted to create an administrative user and to set a password.

   <%= image_tag("cloudform/create-user-password.png") %>

1. You will use the username and password you create now to log in to Ops Manager in the future.

## <a id='aws-config'></a>Step 3: AWS Config Page ##

1. Click the **Ops Manager Director** tile.

    <%= image_tag("cloudform/om-tile.png") %>

1. Select **AWS Config** to open the **AWS Management Console Config** page.

1. Complete the **AWS Management Console Config** page with information from the **Outputs** tab you opened previously in the AWS Console:
    * **Access Key ID**: Use **PcfIamUserAccessKey**.
    * **AWS Secret Key**: Use **PcfIamUserSecretAccessKey**.
    * **VPC ID**: Use **PcfVpc**.
    * **Key Pair Name**: Use **PcfKeyPairName**.
    * **SSH Private Key**: Open your pre-existing AWS key pair `.pem` file in a
		text editor. Copy the contents of the `.pem` file and paste into the
		**SSH Private Key** field.
    * **Security Group Name**: You will need to look up the correct security group name from the Security Groups section of the EC2 Dashboard.  In the table of Security Groups, find the row whose Description is **PCF VMs Security Group**, and copy its name into this box.  
    Remember to use 
		the group's **Name** (not its ID), which will be a text string similar to "pcf-stack-PcfVmsSecurityGroup-JFII7G717K3".


1. Click **Save**.

    <%= image_tag("cloudform/aws-config.png") %>

## <a id='director-config'></a>Step 4: Director Config Page ##

1. Select **Director Config** to open the **Director Config** page.

1. Enter at least two of the following NTP servers in the **NTP Servers (comma delimited)** field, separated by a comma:
    * 0.amazon.pool.ntp.org
    * 1.amazon.pool.ntp.org
    * 2.amazon.pool.ntp.org
    * 3.amazon.pool.ntp.org

1. Select the **Enable VM Resurrector Plugin** checkbox to enable the Ops
Manager Resurrector functionality and increase Elastic Runtime availability.

1. Complete the **Director Config** page with information from the **Outputs** tab in the AWS Console:
    * **Blobstore Location**: Select the **Amazon S3** option.
    * **S3 Endpoint**: You must determine this value by looking up the S3 Endpoint for your AWS Region in the [Amazon Simple Storage Service endpoints table](http://docs.aws.amazon.com/general/latest/gr/rande.html#s3_region).  Don't forget to format the endpoint address as an HTTPS URL.  
    For example, if you are using the region ***us-west-1*** then you would enter ***http://s3-us-west-1.amazonaws.com/*** in this box.
    * **Bucket Name**: Use **PcfOpsManagerS3Bucket**.
    * **Access Key ID**: Use **PcfIamUserAccessKey**.
    * **AWS Secret Key**: Use **PcfIamUserSecretAccessKey**.
    * **Database Location**: Select the **External MySQL Database** option.
    * **Host**: Use **PcfRdsAddress**.
    * **Port**: Use **PcfRdsPort**.
    * **Username**: Use **PcfRdsUsername**.
    * **Password**: Use **PcfRdsPassword**.
    * **Database**: Use **PcfRdsDBName**.

1. Click **Save**.

    <%= image_tag("cloudform/director-config.png") %>

## <a id='az'></a>Step 5: Availability Zones Pages ##

1. Select **Create Availability Zones**.

1. Enter **PcfPrivateSubnetAvailabilityZone** from the **Outputs** tab in the AWS Console.

1. Select **Assign Availability Zones**.

1. Select the Availability Zone that you created in **Create Availability Zones**.

1. Click **Save**.

    <%= image_tag("cloudform/assign-az.png") %>

## <a id='network'></a>Step 6: Network Pages ##

1. Select **Create Networks**.

1. Complete the **Create Networks** page with information from the **Outputs** tab in the AWS Console:
    * **Name**: Use **PcfNetwork** (or any other name you prefer).
    * **VPC Subnet ID**: Use **PcfPrivateSubnetId**.
    * **Subnet (CIDR Range)**: Use **10.0.16.0/20**.
    * **Excluded IP Ranges**: Use **10.0.16.1-10.0.16.9**.
    * **DNS**: Use **10.0.0.2**.
    * **Gateway**: Use **10.0.16.1**.

1. Click **Save**.

    <%= image_tag("cloudform/create-networks.png") %>

1. You may receive errors indicating that the gateway and DNS IPs you provided are unreachable.  It is safe to ignore these errors.  Click **Save** again.

1. Select **Assign Networks** and assign the Director to the network that you
created in the **Create Networks** step.

1. Click **Save**.

    <%= image_tag("cloudform/assign-networks.png") %>

## <a id='complete'></a>Step 7: Complete the Ops Manager Director Installation ##

1. Click the **Installation Dashboard** link to return to the Installation
Dashboard.

1. Click **Apply Changes**. If the following ICMP error message appears, click
**Ignore errors and start the install**.

    <%= image_tag("cloudform/install-error.png") %>

1. Ops Manager Director installs. The image shows the **Changes Applied** window
that displays when the installation process successfully completes.

    <%= image_tag("cloudform/ops-manager-complete.png") %>

---

Return to [Installing Pivotal Cloud Foundry using AWS CloudFormation](./cloudform.html).
