---
title: Configuring Ops Manager Director on AWS CloudFormation
---

This topic describes how to configure the Ops Manager Director after deploying
the CloudFormation template for [Pivotal Cloud Foundry](https://network.pivotal.io/products/pivotal-cf) (PCF) on Amazon Web
Services (AWS).
Use this topic when [Installing Pivotal Cloud Foundry Using AWS CloudFormation](./cloudform.html).

Before beginning this procedure, ensure that you have successfully completed all
steps in the [Deploying the CloudFormation Template for PCF on AWS](./cloudform-template.html) and the [Deploying Ops Manager Director on AWS CloudFormation](./cloudform-om-deploy.html) topics.
After you complete this procedure, follow the instructions in the [Installing Elastic Runtime on AWS CloudFormation](./cloudform-er-config.html) topic.

## <a id='outputs'></a>Step 1: Open the Outputs Tab in AWS Stacks ##

1. Log in to the [AWS Console](https://console.aws.amazon.com/).
Navigate to the Stacks Dashboard.

1. In the Stacks Dashboard, select the **pcf-stack** checkbox, then select the
**Outputs** tab.

<%= image_tag("cloudform/aws-cloudform-stacks.png") %>

In the steps described below, you will use the information in the **Value** column of the **Outputs** tab to
[configure Ops Manager Director](./cloudform-om-config.html), and [configure Elastic Runtime](./cloudform-er-config.html).

## <a id='access-om'></a>Step 2: Access Ops Manager ##

1. In the AWS Console, navigate to the EC2 Dashboard.

1. Record the **Public IP** of your Ops Manager EC2 instance.

    <%= image_tag("cloudform/deployed.png") %>

1. Open this IP address in a web browser.

1. Enter a **User Name** and a **Password**.

1. Read the **End User License Agreement** and select the checkbox.

1. Click **Create Admin User** to create an Ops Manager administrator account.

    <%= image_tag("cloudform/create-admin.png") %>

## <a id='aws-config'></a>Step 3: AWS Config Page ##

1. Click the **Ops Manager Director** tile.

    <%= image_tag("cloudform/om-tile.png") %>

1. Select **AWS Config** to open the **AWS Management Console Config** page.

1. Complete the **AWS Management Console Config** page with information from the
**Outputs** tab for your stack in the AWS Console:
    * **Access Key ID**: Use the value of **PcfIamUserAccessKey**.
    * **AWS Secret Key**: Use the value of **PcfIamUserSecretAccessKey**.
    * **VPC ID**: Use the value of **PcfVpc**.
    * **Security Group Name**: Open the AWS EC2 Dashboard and click **Security
      Groups**. Select the security group with the **Description** `PCF VMs
      Security Group`. Copy the **Group Name** into the Ops Manager **Security
      Group Name** field.
      <p class='note'><strong>Note</strong>: You must use the <code>Group
        Name</code>, not the <code>Group ID</code>.
      </p>
    * **Key Pair Name**: Use the value of **PcfKeyPairName**.
    * **SSH Private Key**: Open your pre-existing AWS key pair `.pem` file in a
		  text editor. Copy the contents of the `.pem` file and paste into the
		  **SSH Private Key** field.
    * **Region**: Select the region where you deployed Ops Manager.

1. Click **Save**.

    <%= image_tag("cloudform/aws-config.png") %>

## <a id='director-config'></a>Step 4: Director Config Page ##

1. Select **Director Config** to open the **Director Config** page.

1. Enter at least two of the following NTP servers in the **NTP Servers (comma delimited)** field, separated by a comma:
    * 0.amazon.pool.ntp.org
    * 1.amazon.pool.ntp.org
    * 2.amazon.pool.ntp.org
    * 3.amazon.pool.ntp.org

1. Select the **Enable VM Resurrector Plugin** checkbox to enable the Ops
Manager Resurrector functionality and increase Elastic Runtime availability.

1. For **Blobstore Location**, select the **S3 Compatible Blobstore** option.

1. For **S3 Endpoint**:
    1. In a browser, open the [Amazon Simple Storage Service (S3) table](http://docs.aws.amazon.com/general/latest/gr/rande.html#s3_region).
    1. Prepend `https://` to the **Endpoint** for your region and copy it into
      the Ops Manager **S3 Endpoint** field.
      <br /><br />
      For example, in the **us-west-1** region, use
      `https://s3-us-west-1.amazonaws.com/`.

1. Complete the **Director Config** page with information from the **Outputs**
tab in the AWS Console:
    * **Bucket Name**: Use the value of **PcfOpsManagerS3Bucket**.
    * **Access Key ID**: Use the value of **PcfIamUserAccessKey**.
    * **AWS Secret Key**: Use the value of **PcfIamUserSecretAccessKey**.
    * **Database Location**: Select the **External MySQL Database** option.
    * **Host**: Use the value of **PcfRdsAddress**.
    * **Port**: Use the value of **PcfRdsPort**.
    * **Username**: Use the value of **PcfRdsUsername**.
    * **Password**: Use the value of **PcfRdsPassword**.
    * **Database**: Use the value of **PcfRdsDBName**.

1. Click **Save**.

    <%= image_tag("cloudform/director-config.png") %>

## <a id='az'></a>Step 5: Availability Zones Pages ##

1. Select **Create Availability Zones**.

1. Enter the value of **PcfPrivateSubnetAvailabilityZone** from the **Outputs**
tab in the AWS Console. Click **Save**.

1. Select **Assign Availability Zones**.

1. Select the Availability Zone that you created in **Create Availability Zones**.

1. Click **Save**.

    <%= image_tag("cloudform/assign-az.png") %>

## <a id='network'></a>Step 6: Network Pages ##

1. Select **Create Networks**.

1. In the **Name** field, enter a name for your PCF Network.

1. In the **VPC Subnet ID** field, use the value of **PcfPrivateSubnetId** from
the **Outputs** tab in the AWS Console.

1. Complete the **Create Networks** page with the following information:
    * **Subnet (CIDR Range)**: Enter `10.0.16.0/20`.
    * **Excluded IP Ranges**: Enter `10.0.16.1-10.0.16.9`.
    * **DNS**: Enter `10.0.0.2`.
    * **Gateway**: Enter `10.0.16.1`.

1. Click **Save**.

    <%= image_tag("cloudform/create-networks.png") %>

1. If the following ICMP error message appears, you can ignore the warning and
click **Save**.

    <%= image_tag("cloudform/config-error.png") %>

1. Select **Assign Networks** and assign the Director to the network that you
created in the **Create Networks** step.

1. Click **Save**.

    <%= image_tag("cloudform/assign-networks.png") %>

## <a id='complete'></a>Step 7: Complete the Ops Manager Director Installation ##

1. Click the **Installation Dashboard** link to return to the Installation
Dashboard.

1. Click **Apply Changes**. If the following ICMP error message appears, click
**Ignore errors and start the install**.

    <%= image_tag("cloudform/install-error.png") %>

1. Ops Manager Director installs. The image shows the **Changes Applied** window
that displays when the installation process successfully completes.

    <%= image_tag("cloudform/ops-manager-complete.png") %>

---

Return to [Installing Pivotal Cloud Foundry Using AWS CloudFormation](./cloudform.html).
