---
title: Launching an Ops Manager Director Instance on AWS
owner: Ops Manager
---

<strong><%= modified_date %></strong>

This topic describes how to deploy Ops Manager Director after deploying
the CloudFormation template for [Pivotal Cloud Foundry&reg;](https://network.pivotal.io/products/pivotal-cf) (PCF) on Amazon Web Services (AWS).

Before beginning this procedure, ensure that you have successfully completed all
of the steps in the [Deploying the CloudFormation Template for PCF on AWS](./cloudform-template.html) topic.
After you complete this procedure, follow the instructions in the [Configuring Ops Manager Director on AWS CloudFormation](./cloudform-om-config.html) and
[Configuring Elastic Runtime on AWS CloudFormation](./cloudform-er-config.html) topics.

## <a id='outputs'></a>Step 1: Open the Outputs Tab in AWS Stacks ##

<%= partial 'aws_stacks_view_outputs' %>

## <a id='select-ami'></a>Step 2: Select a Pivotal Ops Manager AMI Instance ##

1. Log into the [Pivotal Network](https://network.pivotal.io/products/pivotal-cf) and click on **Ops Manager**.

1. From the **Releases** dropdown, select the release you wish to install.

1. Select **Pivotal Cloud Foundry&reg; Ops Manager for AWS** to download the `OpsManagerx.x.xonAWSFulfillmentInstructions.pdf` file.
This document lists AMI IDs for Pivotal Ops Manager for specific regions.

1. Log in to the [AWS Console](https://console.aws.amazon.com/).
Navigate to the EC2 Dashboard.

1. In the left navigation panel, click **AMIs**.

1. Using the `OpsManagerx.x.xonAWSFulfillmentInstructions.pdf` document, enter the AMI ID for your AWS region in the Public images search field. This search locates the appropriate Pivotal Ops Manager AMI for your region within public images.

    <%= image_tag("cloudform/ami.png") %>
1. Select this AMI and click **Launch**.

1. Choose **m3.large** for your instance type.

    <%= image_tag("cloudform/ami-instance-type.png") %>
1. Click **Next: Configure Instance Details**.

## <a id='configure-instance'></a>Step 3: Configure Instance Details ##

1. Complete the **Config Instance Details** page with information from the [Outputs tab](#outputs) in the AWS Stacks Dashboard:
	<%= image_tag("cloudform/instance-details.png") %>
  * Select the **Network** that matches the value of **PcfVpc**.
  * Select the **Subnet** that matches the value of **PcfPublicSubnetId**.

1. Set **Auto-assign Public IP** to **Enable**.

1. Click **Next: Add Storage**.

1. On the **Add Storage** page, adjust the **Size (GiB)** value.
Pivotal recommends increasing this value to a minimum of 100 GB.

1. Click **Next: Tag Instance**.

    <%= image_tag("cloudform/storage-config.png") %>

1. On the **Tag Instance** page, add a **Key** `Name` with **Value** `Ops Manager`.

1. Click **Next: Configure Security Group**.

    <%= image_tag("cloudform/tag-config.png") %>

## <a id='security-group'></a>Step 4: Configure Security Group ##

1. Select the **Select an existing security group** option.

1. Select the **Security Group ID** that matches the value of **PcfOpsManagerSecurityGroupId** located in the [Outputs](#outputs) tab of the Stacks dashboard.
<%= image_tag("cloudform/security-group.png") %>

1. Click **Review and Launch**.


## <a id='deploy'></a>Step 5: Deploy Ops Manager ##

1. Review the instance launch details. Click **Launch**.

    <%= image_tag("cloudform/review.png") %>

1. Use the first drop-down menu to select **Choose an existing key pair**.
  Use the second drop-down menu to select the name of your pre-existing AWS key
  pair.

1. Select the acknowledgement checkbox.

1. Click **Launch Instances**. If successful, you will see the **Launch Status Page**.

    <%= image_tag("cloudform/launch.png") %>

1. Click **View Instances**. Or alternately, navigate to **Instances** from the left navigation panel of the EC2 Dashboard.

1. AWS deploys Ops Manager. This may take a few minutes. When complete, AWS displays an **Instance State** of `running` and a **Status Check** of `passed` when the Ops Manager
deployment successfully completes.
	<%= image_tag("cloudform/deployed.png") %>
	Record the **Public IP** of your Ops Manager EC2 instance.
You use this IP address when [Configuring Ops Manager Director on AWS CloudFormation](./cloudform-om-config.html).

## <a id='create-dns'></a>Step 6: Create a DNS Entry##

<p class="note"><strong>Note</strong>: Ops Manager 1.7 security features require you to create a fully qualified domain name in order to access Ops Manager during the <a href="./cloudform-om-config.html">initial configuration.</a></p> 

Create a DNS entry for the IP address that you used for Ops Manager. You must use this fully qualified domain name when you log into Ops Manager in the Configure Ops Manager Director for AWS step below.

## <a id='configure'></a>Step 7: Configure Ops Manager Director for AWS

After you complete this procedure, follow the instructions in the [Configuring Ops Manager Director on AWS CloudFormation](./cloudform-om-config.html) and [Configuring Elastic Runtime on AWS CloudFormation](./cloudform-er-config.html) topics.

---

Return to [Installing Pivotal Cloud Foundry&reg; Using AWS CloudFormation](./cloudform.html).
