---
title: Configuring PAS
owner: PAS Releng
---

This topic describes how to configure Pivotal Application Service (PAS) as part of deploying Pivotal Cloud Foundry (PCF). 


## <a id='prereqs'></a> Prerequisites

Before beginning this procedure, you must:

* Ensure that you have successfully completed the steps to prepare your environment for <%= vars.product_name %> and install and configure the BOSH Director. For more information, see the [Ops Manager configuration topic for your IaaS](/platform/ops-manager/<%= vars.current_major_version.sub('.', '-') %>/).

* If you plan to install the <%= vars.product_name %> IPsec add-on, you must do so before installing any other tiles. Pivotal recommends installing IPsec immediately after Pivotal Ops Manager and before installing the PAS Runtime tile. For more information, see [Installing the IPsec Add-On for PCF](http://docs.pivotal.io/addon-ipsec/installing.html).


## <a id='om-add'></a> Add PAS to Ops Manager

Before you can configure PAS, you must add the PAS tile to your Ops Manager Installation Dashboard.

To add the PAS tile to your Ops Manager Installation Dashboard:

1. If you have not already downloaded PAS, log in to [Pivotal Network](https://network.pivotal.io/products/pivotal-cf) and click **Pivotal Application Service**.

1. From the **Releases** dropdown, select the release to install and choose one of the following:
  1. Click **Pivotal Application Service** to download the PAS `.pivotal` file.
  1. Click **Small Footprint PAS** to download the Small Footprint PAS `.pivotal` file. For more information, see [Getting Started with Small Footprint PAS](./small-footprint.html).

1. Navigate to the Pivotal Cloud Foundry Ops Manager Installation Dashboard.

1. Click **Import a Product** to add your tile to Ops Manager. For more information, see [Adding and Deleting Products](./add-delete.html).

1. Click the **Pivotal Application Service** tile in the Installation Dashboard.


## <a id='assign-azs-networks'></a> Assign AZs and Networks

<p class="note"><strong>Note:</strong> For Azure environments, this configuration pane is <strong>Assign Networks</strong> and does not include AZ configuration.</p>

In the **Assign AZ and Networks** pane, you assign jobs to your Availability Zones (AZs) and networks.

To configure the **Assign AZ and Networks** pane:

1. Select **Assign AZ and Networks**. 

1. Select the first AZ under **Place singleton jobs**. Ops Manager runs any job with a single instance in this AZ.

1. Select all AZs under **Balance other jobs**. Ops Manager balances instances of jobs with more than one instance across the AZs that you specify.
    <p class="note"><strong>Note:</strong> For production deployments, Pivotal recommends at least three AZs for a highly available installation.</p>

1. From the **Network** dropdown, choose the runtime network that you created when configuring the BOSH Director tile.

1. Click **Save**.


## <a id='domains'></a> Configure Domains 

In the **Domains** pane, you configure a wildcard DNS record for both the apps domain and system domain.

To configure the **Domains** pane:

1. Select **Domains**.

1. Enter the name of your system domain in the **System Domain** field. For example, `system.example.com`. The system domain defines your target when you push apps to PAS, such as your load balancer or HAProxy. PAS assigns system components such as UAA and Apps Manager to subdomains under this domain.

1. Enter the name of your apps domain in the **Apps Domain** field. For example, `apps.example.com`. The apps domain is the default domain that apps use for their hostnames. PAS hosts each app at subdomains under this domain. You can use the Cloud Foundry command line interface (cf CLI) to add or delete subdomains assigned to individual apps.

For additional guidance based on your installation method, see the following table:
	<table>
		<tr>
			<th>Installation Method</th>
			<th>Guidance</th>
		</tr>
		<tr>
			<td>Manual</td>
			<td>Enter the domains you created when preparing your environment for PCF.</td>
		</tr>
		<tr>
			<td>Terraform</td>
			<td>Enter the values for <code>sys\_domain</code> and <code>apps\_domain</code> from the Terraform output.</td>
		</tr>
	</table>
	<p class="note"><strong>Note:</strong> Pivotal recommends that you use the same domain name but different subdomain names for your system and app domains. Doing so allows you to use a single wildcard certificate for the domain while preventing apps from creating routes that overlap with system routes.</p>

1. Click **Save**.

## <a id='networking'></a> Configure Networking 

<div><%= partial 'networking-master' %></div>

## <a id='networking-service-mesh'></a> Configure Networking - Service Mesh (Beta) 

<%= partial 'networking-service-mesh' %>

## <a id='application-containers-config'></a> Configure Application Containers 

<%= partial 'application_container_config' %>

## <a id='appdevctrl-config'></a> Configure Application Developer Controls 

<%= partial 'application_developer_controls' %>

## <a id='app-security'></a> Configure Application Security Groups 

<%= partial 'application_security_group' %>

## <a id='auth-config'></a> Configure Authentication and Enterprise SSO 

<%= partial 'authsso_config' %>

## <a id='uaa'></a> Configure UAA 

<%= partial 'uaa' %>

## <a id='credhub'></a> Configure CredHub

<%= partial 'credhub' %>

## <a id='sys-db'></a> Configure System Databases

In the **Databases** pane, you can configure PAS to use an internal MySQL database provided with PCF, or you can configure an external database provider for the databases required by PAS.

<p class="note"><strong>Note:</strong> If you are performing an upgrade, do not modify your existing internal database configuration or you may lose data. You must migrate your existing data first before changing the configuration. For more information, see <a href="upgrading-pcf.html">Upgrading Pivotal Cloud Foundry</a>.</p>

### <a id='internal-db'></a> Internal Database Configuration

<p class="note"><strong>Note:</strong> For Runtime CredHub to work on GCP installations, you must use internal MySQL. For more information, see <a href="https://docs.pivotal.io/pivotalcf/2-4/pcf-release-notes/runtime-rn.html#external-credhub">CredHub Database Cannot Be External on GCP</a> in the <em>Pivotal Application Service v2.4 Release Notes</em>.</p>

<p class="note"><strong>Note:</strong> For GCP installations, Pivotal recommends selecting <strong>External</strong> and using Google Cloud SQL. Only use internal MySQL for non-production or test installations on GCP.</p>

<%= partial 'ert_database_internal' %>

To configure high availability for your internal MySQL databases, see [Configure Internal MySQL](#internal-mysql).

### <a id='create-dbs'></a> External System Database Configuration

<p class="note"><strong>Note:</strong> If you use external MySQL, you cannot use Runtime CredHub. For more information, see <a href="https://docs.pivotal.io/pivotalcf/2-4/pcf-release-notes/runtime-rn.html#external-credhub">CredHub Database Cannot Be External on GCP</a> in the <em>Pivotal Application Service v2.4 Release Notes</em>.</p>

<%= partial 'ert_database_external' %>

## <a id='internal-mysql'></a> (Optional) Configure Internal MySQL 

<%= partial 'mysql_proxy_config' %>

## <a id='file-storage'></a> Configure File Storage 

<%= partial 'max_droplets_packages_config' %>

## <a id='sys-logging'></a> (Optional) Configure System Logging 

<%= partial '_system_logging' %>

## <a id='customize-apps-man'></a> (Optional) Configure Custom Branding and Apps Manager 

<%= partial 'custombranding' %> 

## <a id='smtp'></a> (Optional) Configure Email Notifications 

<%= partial 'email-notifs' %>

## <a id='config-autoscaler'></a> (Optional) Configure App Autoscaler 

<%= partial 'app-autoscaler' %>

## <a id='config-cc'></a> Configure Cloud Controller 

<%= partial 'cloud-controller' %>

## <a id='config-smoke-test'></a> Configure Smoke Tests 

<%= partial 'smoketests' %>

## <a id='advanced'></a> (Optional) Configure Advanced Features 

<%= partial 'advanced-features' %>

## <a id='metric-registrar'></a> (Optional) Configure Metric Registrar

<%= partial 'metric-registrar' %>

## <a id='errands'></a> Configure Errands 

<%= partial 'errands' %>

## <a id='resources'></a> Configure Resources 

In the **Resource Config** pane, you must associate load balancers with the VMs in your deployment to enable traffic. For more information, see [Configure Load Balancing for PAS](configure-lb.html).

<p class="note"><strong>Note:</strong> This step does not apply to vSphere deployments.</p>

### <a name='scale-down'></a> (Optional) Scale Down and Disable Resources

<%= partial 'disable_resources' %>

## <a id='stemcell'></a> Download Stemcell 

<%= partial "download-stemcell" %>

## <a id='complete'></a> Complete the PAS Installation 

To complete your installation of PAS:

1. Click the **Installation Dashboard** link to return to the Installation Dashboard.

1. Click **Review Pending Changes**, then **Apply Changes**. The install process generally requires a minimum of 90 minutes to complete. The following image shows the Changes Applied window that displays when the installation process successfully completes.

    ![At the top of the pop-up window is a teal checkmark and the words 'Changes Applied'. In the upper-right corner is a gray circle with a white X in the middle. Below 'Changes Applied' is the text 'Ops Manager Director was successfully installed.' Below this text is the italicized text 'We recommend that you export a backup of this installation from the actions menu.' Below this text are two buttons, a gray rectangular button labeled 'Close' and a blue rectangular button labeled 'Return to Installation Dashboard'.](images/cloudform/ops-manager-complete.png)
