---
title: Configuring PAS
owner: PAS Releng
---

This topic describes how to configure Pivotal Application Service (PAS) as part of deploying <%= vars.product_name  %>.

Before beginning this procedure, ensure that you have successfully completed the steps to prepare your environment for <%= vars.product_name %> and install and configure the BOSH Director.

<p class="note"><strong>Note:</strong> If you plan to <a href="http://docs.pivotal.io/addon-ipsec/installing.html">install the <%= vars.product_name %> IPsec add-on</a>, you must do so before installing any other tiles. Pivotal recommends installing IPsec immediately after Pivotal Operations Manager, and before installing the PAS Runtime tile.</p>


## <a id='om-add'></a> Add PAS to Ops Manager

1. If you have not already downloaded PAS, log in to [Pivotal Network](https://network.pivotal.io/products/pivotal-cf), and click PAS.

1. From the **Releases** dropdown, select the release to install and choose one of the following:
  1. Click PAS to download the PAS `.pivotal` file.
  1. Click **<%= vars.product_name  %> Small Footprint Runtime** to download the Small Footprint Runtime `.pivotal` file. For more information, see [Getting Started with Small Footprint PAS](./small-footprint.html).

1. Navigate to the <%= vars.product_name %> Operations Manager Installation Dashboard.

1. Click **Import a Product** to add your tile to Ops Manager. For more information, see [Adding and Deleting Products](./add-delete.html).

1. Click the **Pivotal Application Service** tile in the Installation Dashboard.


## <a id='assign-azs-networks'></a> Assign AZs and Networks

<p class="note"><strong>Note:</strong> For Azure environments, this configuration pane is <strong>Assign Networks</strong> and does not include AZ configuration.</p>

In the Assign AZ and Networks pane, you assign jobs to your Availability Zones (AZs) and networks.

1. Select **Assign AZ and Networks**.

1. Select the first AZ under **Place singleton jobs**. Ops Manager runs any job with a single instance in this AZ.

1. Select all AZs under **Balance other jobs**. Ops Manager balances instances of jobs with more than one instance across the AZs that you specify.
    <p class="note"><strong>Note:</strong> For production deployments, Pivotal recommends at least three AZs for a highly available installation.</p>

1. From the **Network** dropdown, choose the runtime network that you created when configuring the BOSH Director tile.

1. Click **Save**.


## <a id='domains'></a> Configure Domains

In the **Domains** pane, you configure a wildcard DNS record for both the apps domain and system domain.

1. Select **Domains**.

1. Enter the name of your system domain in the **System domain** field. For example, `system.example.com`. The system domain defines your target when you push apps to PAS, such as your load balancer or HAProxy. PAS assigns system components such as UAA and Apps Manager to subdomains under this domain.

1. Enter the name of your apps domain in the **Apps domain** field. For example, `apps.example.com`. The apps domain is the default domain that apps use for their hostnames. PAS hosts each app at subdomains under this domain. You can use the Cloud Foundry command line interface (cf CLI) to add or delete subdomains assigned to individual apps.

1. Click **Save**.

For additional guidance based on your installation method, see the following table:
	<table>
		<tr>
			<th>Installation Method</th>
			<th>Guidance</th>
		</tr>
		<tr>
			<td>Manual</td>
			<td>Enter the domains you created when preparing your environment for <%= vars.product_name %>.</td>
		</tr>
		<tr>
			<td>Terraform</td>
			<td>Enter the values for <code>sys\_domain</code> and <code>apps\_domain</code> from the Terraform output.</td>
		</tr>
	</table>
	<p class="note"><strong>Note:</strong> Pivotal recommends that you use the same domain name but different subdomain names for your system and app domains. Doing so allows you to use a single wildcard certificate for the domain while preventing apps from creating routes that overlap with system routes.</p>


## <a id='networking'></a> Configure Networking

<div><%= partial "/pcf/core/#{vars.current_major_version.sub('.', '-')}/networking-master" %></div>

## <a id='networking-service-mesh'></a> Configure Networking - Service Mesh (Beta)

<%= partial "/pcf/core/#{vars.current_major_version.sub('.', '-')}/networking-service-mesh" %>

## <a id='application-containers-config'></a> Configure App Containers

<%= partial "/pcf/core/#{vars.current_major_version.sub('.', '-')}/application_container_config" %>

## <a id='appdevctrl-config'></a> Configure App Developer Controls

<%= partial "/pcf/core/#{vars.current_major_version.sub('.', '-')}/application_developer_controls" %>

## <a id='app-security'></a> Configure App Security Groups

<%= partial "/pcf/core/#{vars.current_major_version.sub('.', '-')}/application_security_group" %>

## <a id='auth-config'></a> Configure Authentication and Enterprise SSO

<%= partial "/pcf/core/#{vars.current_major_version.sub('.', '-')}/authsso_config" %>

## <a id='uaa'></a> Configure UAA

<%= partial "/pcf/core/#{vars.current_major_version.sub('.', '-')}/uaa" %>

## <a id='credhub'></a> Configure CredHub

In the **CredHub** pane, you configure the CredHub server.

<p class="note"><strong>Note:</strong> Enabling CredHub is not required. However, you cannot leave the fields under <strong>Encryption keys</strong> blank. If you do not intend to use CredHub, enter any text in the <strong>Name</strong> and <strong>Key</strong> fields as placeholder values.</p>

1. Select **CredHub**.

1. Under **CredHub database location**, select the location of your CredHub database. PAS includes this CredHub database for services to store their service instance credentials.
    * **PAS database**: If you select this option, CredHub uses the same database as other PAS components, whether the database is internal or external. You configure this database in the **Databases** pane.
      <p class="note"><strong>Note:</strong> If you deploy PAS on GCP, you must select <strong>PAS database</strong>. For more information, see <a href="https://docs.pivotal.io/pivotalcf/2-4/pcf-release-notes/runtime-rn.html#external-credhub">CredHub Database Cannot Be External on GCP</a>.
    * **Other external database**: If you select this option, configure the following fields:
        * **Hostname:** Enter the IP address of your database server.
        * **TCP port:** Enter the port of your database server, such as `3306`.
        * **Username:** Enter a unique username that can access your CredHub database on the database server.
        * **Password:** Enter the password for the provided username.
        * **Database CA certificate:** This certificate is used when encrypting traffic to and from the database.
        * **Disable hostname verification:** Enable this checkbox to disable hostname verification for TLS connections to the targeted database server. You cannot disable hostname verification for TLS connections to Postgres databases.
      <div class="note"><strong>Note:</strong> If you deploy PAS on AWS using Terraform, you can locate the following values in your Terraform output:
          <ul>
            <li><strong>Hostname:</strong> <code>rds\_address</code></li>
            <li><strong>TCP port:</strong> <code>rds\_port</code></li>
            <li><strong>Username:</strong> <code>rds\_username</code></li>
            <li><strong>Password:</strong> <code>rds\_password</code></li>
          </ul>
      </div>

1. (Optional) Under **KMS plugin providers**, specify one or more Key Management Service (KMS) providers:
    * **Instance name:** Enter the name of the KMS provider.
    * **Endpoint:** Enter the Unix socket address for the KMS plugin.
    * **Primary:** Enable the **Primary** checkbox to indicate the primary KMS provider for your environment. You must mark one provider as primary. Do not mark more than one provider as primary. 

1. Under **Encryption keys**, specify one or more keys to use for encrypting and decrypting the values stored in the CredHub database.
    * If you plan to use internal encryption, configure the following fields:
        * **Name:** Enter any key name.
        * **Provider:** Select **Internal**.
        * **Key:** Enter a randomly generated value that is at least 20 characters long. This key is used for encrypting all data.
        * **Primary:** This checkbox marks the key you specified above as the primary encryption key. You must mark one key as primary. Do not mark more than one key as primary.
    * If you plan to use a hardware security module (HSM) as your encryption provider, configure the following fields:
        * **Name:** Enter a key name that already exists on your HSM or a new key name. For each new key name, CredHub generates a key in **HSM provider partition** that you configure below.
        * **Provider:** Select **HSM**.
        * **Key:** Enter a placeholder value under **Key**. CredHub does not use this key for encryption. However, you cannot leave the **Key** field blank.
        * **Primary:** This checkbox is used for marking the key you specified above as the primary encryption key. You must mark one key as primary. Do not mark more than one key as primary. 
    <p class="note"><strong>Note:</strong> For information about using additional keys for key rotation, see <a href="../opsguide/credential-rotation.html">Rotating Runtime CredHub Encryption Keys</a>.</p>

1. (Optional) To configure CredHub to use an HSM, configure the following fields:
    * **HSM provider partition:** Enter the name of the HSM provider partition.
    * **HSM provider partition password:** Enter a password to use to access the HSM provider partition.
    * **HSM provider client certificate:** Enter the client certificate for the HSM. For more information, see the [Create and Register HSM Clients](hsm-config.html#create-register-hsm) section in the _Preparing CredHub HSMs for Configuration_ topic.
    * Under **HSM provider encryption keys**, specify one or more keys to use for encrypting and decrypting the values stored in the HSM provider. For each key, complete the following fields:
        * **Name:** Enter the name of the encryption key.
        * **Primary:** This checkbox is used for marking the key you specified above as the primary encryption key. You must mark one key as primary. Do not mark more than one key as primary.
    * In the **HSM provider servers** section, click **Add** to add an HSM server. You can add multiple HSM servers. For each HSM server, complete the following fields:
        * **Host address:** Enter the hostname or IP address of the HSM server.
        * **Port:** Enter the port of the HSM server. If you do not know your port address, enter `1792`.
        * **Partition serial number:** Enter the serial number of the HSM partition.
        * **HSM certificate:** Enter the certificate for the HSM server. The HSM presents this certificate to CredHub to establish a two-way TLS connection.

1. If your deployment uses any <%= vars.product_name %> services that support storing service instance credentials in CredHub and you want to enable this feature, enable the **Secure service instance credentials** checkbox.

1. Click **Save**.

1. Go to the **Resource Config** pane.

1. Under the **Job** column of the **CredHub** row, ensure that the number of instances is set to `2`. This is the minimum instance count required for high availability.

1. Click **Save**.

For more information about using CredHub for securing service instance credentials, see [Securing Service Instance Credentials with Runtime CredHub](../opsguide/secure-si-creds.html).


## <a id='sys-db'></a> Configure Databases

In the **Databases** pane, you can configure PAS to use an internal MySQL database provided with <%= vars.product_name %>, or you can configure an external database provider for the databases required by PAS.

<p class="note"><strong>Note:</strong> If you are performing an upgrade, do not modify your existing internal database configuration, or you may lose data. You must migrate your existing data first before changing the configuration. For additional upgrade information, see <a href="upgrading-pcf.html">Upgrading <%= vars.product_name %></a>.</p>

### <a id='internal-db'></a> Internal Database Configuration

<p class="note"><strong>Note:</strong> For Runtime CredHub to work on GCP installations, you must use internal MySQL. For more information, see <a href="https://docs.pivotal.io/pivotalcf/2-4/pcf-release-notes/runtime-rn.html#external-credhub">CredHub Database Cannot Be External on GCP</a>.</p>

<p class="note"><strong>Note:</strong> For GCP installations, Pivotal recommends selecting <strong>External</strong> and using Google Cloud SQL. Only use internal MySQL for non-production or test installations on GCP.</p>

<%= partial "/pcf/core/#{vars.current_major_version.sub('.', '-')}/ert_database_internal" %>

To configure high availability for your internal MySQL databases, see [Configure Internal MySQL](#internal-mysql).

### <a id='create-dbs'></a> External System Database Configuration

<p class="note"><strong>Note:</strong> If you use external MySQL, you cannot use Runtime CredHub. See <a href="https://docs.pivotal.io/pivotalcf/2-4/pcf-release-notes/runtime-rn.html#external-credhub">CredHub Database Cannot Be External on GCP</a>.</p>

<%= partial "/pcf/core/#{vars.current_major_version.sub('.', '-')}/ert_database_external" %>

## <a id='internal-mysql'></a> (Optional) Configure Internal MySQL

<%= partial "/pcf/core/#{vars.current_major_version.sub('.', '-')}/mysql_proxy_config" %>

## <a id='file-storage'></a> Configure File Storage

<%= partial "/pcf/core/#{vars.current_major_version.sub('.', '-')}/max_droplets_packages_config" %>

## <a id='sys-logging'></a> (Optional) Configure System Logging

<%= partial "/pcf/core/#{vars.current_major_version.sub('.', '-')}/system_logging" %>

## <a id='customize-apps-man'></a> (Optional) Configure Custom Branding and Apps Manager

<%= partial "/pcf/core/#{vars.current_major_version.sub('.', '-')}/custombranding" %>

## <a id='smtp'></a> (Optional) Configure Email Notifications

<%= partial "/pcf/core/#{vars.current_major_version.sub('.', '-')}/email-notifs" %>

## <a id='config-autoscaler'></a> (Optional) Configure App Autoscaler

<%= partial "/pcf/core/#{vars.current_major_version.sub('.', '-')}/app-autoscaler" %>

## <a id='config-cc'></a> Configure Cloud Controller

<%= partial "/pcf/core/#{vars.current_major_version.sub('.', '-')}/cloud-controller" %>

## <a id='config-smoke-test'></a> Configure Smoke Tests

<%= partial "/pcf/core/#{vars.current_major_version.sub('.', '-')}/smoketests" %>

## <a id='advanced'></a> (Optional) Configure Advanced Features

<%= partial "/pcf/core/#{vars.current_major_version.sub('.', '-')}/advanced-features" %>

## <a id='metric-registrar'></a> (Optional) Configure Metric Registrar

<%= partial "/pcf/core/#{vars.current_major_version.sub('.', '-')}/metric-registrar" %>

## <a id='errands'></a> Configure Errands

<%= partial "/pcf/core/#{vars.current_major_version.sub('.', '-')}/errands" %>

## <a id='resources'></a> Configure Resources

### <a name='lb'></a> Configure Load Balancing

In the **Resource Config** pane, you must associate load balancers with the VMs in your deployment to enable traffic. For more information, see [Configure Load Balancing for PAS](configure-lb.html).

### <a name='scale-down'></a> (Optional) Scale Down and Disable Resources

<%= partial "/pcf/core/#{vars.current_major_version.sub('.', '-')}/disable_resources" %>

## <a id='stemcell'></a> Download Stemcell

<%= partial "/pcf/core/#{vars.current_major_version.sub('.', '-')}/download-stemcell" %>

## <a id='complete'></a> Complete the PAS Installation

1. Click the **Installation Dashboard** link to return to the Installation Dashboard.

1. Click **Review Pending Changes**, then **Apply Changes**. The install process generally requires a minimum of 90 minutes to complete. The following image shows the Changes Applied window that displays when the installation process successfully completes.

    ![There is a heading at the top of the window that says, Changes Applied. Below the heading, there is text that begins with, Ops Manager Director was successfully installed. Below the text, there is a Close button and a button to return to the Installation Dashboard.](images/cloudform/ops-manager-complete.png)
