---
title: Using Your Own Load Balancer
owner: Ops Manager
---

This topic describes how to use your own load balancer and forward traffic to your Pivotal Application Service (PAS) router IP address.

[<%= vars.product_name %>](https://network.pivotal.io/products/pivotal-cf) includes a tier of reverse proxies that dynamically track the location of app containers and system components, enabling routing of requests to those endpoints even as IPs and ports change.

In order for the PAS routers to be horizontally scalable and highly available, a load balancer must be deployed in front of them. The simplest solution is to use a layer-4 TCP load balancer, provided by your IaaS or IT team, which passes all HTTP and TLS handling to the PAS routers. For more information about TLS termination, see [Securing Traffic into Cloud Foundry](../adminguide/securing-traffic.html). For a description of features supported by the <%= vars.product_name %> routing tier, see [HTTP Routing](../concepts/http-routing.html).

If you have requirements that are not fulfilled by the PAS routers alone, you can choose to use your own layer-7 load balancer (provided by your IaaS or IT team), or the HAProxy load balancer included with <%= vars.product_name %>. If you choose to use HAProxy, you must use a layer-4 TCP load balancer in front on it, in order for HAProxy itself to be highly available. Singleton instances of HAProxy are only for use in lab and test environments.

If you choose to use your own layer-7 load balancer, it must fulfill the following requirements:

* Provides load balancing to each of the PAS router IP addresses
* Supports TLS termination for wildcard hostnames
* Adds appropriate `x-forwarded-for` and `x-forwarded-proto` HTTP headers to incoming requests
* Sets an HTTP keep-alive connection timeout greater than five seconds
* (**Optional**) Supports WebSockets

The choice to use HAProxy or your own load balancer depends on what features you need out of a load balancer, and whether you want the ability to configure it yourself.

<p class='note'><strong>Note:</strong> App logging with Loggregator requires WebSockets. To use another logging service, see <a href="../devguide/services/log-management.html">Streaming App Logs to Log Management Services</a>.</p>

For information about how to install an F5 Local Traffic Manager (LTM) as a load balancer for <%= vars.product_name %> and Pivotal Application Service (PAS), see [Configuring an F5 Load Balancer for PAS](./f5-lb.html). For more information about F5 LTMs, see the [F5](https://f5.com/products/big-ip/local-traffic-manager-ltm) documentation.


## <a id='prerequisites'></a> Prerequisites

To integrate your own load balancer with <%= vars.product_name %>, you must ensure the following:

* WebSocket connections are not blocked for Loggregator functionality.
* The load balancer must be able to reach the Gorouter IP addresses.

Follow the procedure below to use your own load balancer.


## <a id='deploy'></a> Step 1: Deploy <%= vars.product_name %> Installation VM

Deploy a <%= vars.product_name %> Installation VM. For more information, see [Deploying Ops Manager on vSphere](https://docs.pivotal.io/platform/ops-manager/<%= vars.current_major_version.sub('.', '-') %>/vsphere/deploy.html).


## <a id='register'></a>Step 2: Register <%= vars.product_name %> IP Address


In your load balancer, register the IP addresses that you assigned to <%= vars.product_name %>.


## <a id='configure'></a> Step 3: Configure Pivotal Operations Manager and BOSH Director

Configure your Ops Manager and BOSH Director as described in [Installing <%= vars.product_name %>](../installing/index.html), then add PAS.

Do not click **Install** after adding PAS.


## <a id='configure-networking'></a> Step 4: Configure Networking

Configure the **Networking** pane in PAS. Load balancer configuration in PAS varies depending on which IaaS you are using for <%= vars.product_name %>. For more information, see the [Configure Networking](configure-pas.html#networking) section of the _Configuring PAS_ topic.


## <a id='finalize'></a> Step 5: Finalize Changes

1. Return to the **Ops Manager Installation Dashboard**

1. Click **Install**.
