---
title: Day 2 Configurations
owner: <%= vars.product_name %> Documentation
---



The topics in this section explain how to configure various functions of an installed and running <%= vars.product_name  %> platform, and how integrate them with external systems and resources.

##<a id='overview'></a>Overview

"Day 2" configurations are configurations that set up the internal operations and external integrations of a <%= vars.product_name %> platform that's newly deployed and running, but not yet ready to use.

Examples include front-end configuration; setting up user accounts; configuring logging, monitoring, and internal security infrastructure; and specifying container and stemcell images.
      
##<a id='contents'></a>Contents


### <a id='front'></a>Perimeter Access and Security

* <a href="/platform/opsguide/ssl-term-haproxy.html">Configuring SSL/TLS Termination at HAProxy</a>

* <a href="/platform/opsguide/config-proxy.html">Configuring Proxy Settings for All Applications</a>

* <a href="/platform/customizing/elb-ssh-proxy.html">Creating a Proxy ELB for Diego SSH</a>

* <a href="/platform/adminguide/supporting-websockets.html">Supporting WebSockets</a>

* <a href="/platform/adminguide/enabling-tcp-routing.html">Enabling TCP Routing</a>

* <a href="/platform/adminguide/enabling_ipv6.html">Enabling IPv6 for Hosted Applications</a>

* <a href="/platform/adminguide/securing-traffic.html">Securing Traffic into Cloud Foundry</a>

* <a href="/platform/adminguide/docker.html">Using Docker in Cloud Foundry</a>

* <a href="/platform/opsguide/docker-registry.html">Using Docker Registries</a>

### <a id='accounts'></a>User Accounts and Permissions

* <a href="/platform/customizing/opsman-users.html">Creating and Managing Ops Manager User Accounts</a>

* <a href="/platform/opsguide/config-rbac.html">Configuring RBAC in Ops Manager</a>

* <a href="/platform/opsguide/creating-account.html">Creating PAS User Accounts</a>

* <a href="/platform/adminguide/listing-feature-flags.html">Feature Flags</a>

* <a href="/platform/opsguide/pw-policy.html">Configuring UAA Password Policy</a>

* <a href="/platform/opsguide/external-user-management.html">Adding Existing SAML or LDAP Users</a>

* <a href="/platform/adminguide/notifications.html">Getting Started with the Notifications Service</a>

* <a href="/platform/customizing/opsmanager-create-bosh-client.html">Creating UAA Clients for BOSH Director</a>

### <a id='internal'></a>Internal Network Security

* <a href="/platform/opsguide/app-sec-groups.html">Restricting App Access to Internal <%= vars.product_name %> Components</a>

* <a href="/platform/opsguide/notifications-asg.html">Configuring Application Security Groups for Email Notifications</a>

* <a href="/platform/opsguide/config-ssh.html">Configuring SSH Access for <%= vars.product_name %></a>

* <a href="https://docs.pivotal.io/addon-ipsec/index.html">IPsec Add-on for <%= vars.product_name %></a>

### <a id='monitor'></a>Monitoring

* <a href="/platform/monitoring/metrics.html">Selecting and Configuring a Monitoring System</a>

* <a href="/platform/opsguide/logging-config-opsman.html">Configuring Logging in PAS</a>

* <a href="/platform/loggregator/nozzle-tutorial.html">Deploying a Nozzle to the Loggregator Firehose</a>

* <a href="/platform/loggregator/cli-plugin.html">Installing the Loggregator Plugin for cf CLI</a>

* <a href="/platform/adminguide/configure-lb-healthcheck.html">Configuring Load Balancer Healthchecks for Cloud Foundry</a>

### <a id='maintenance'></a>Maintenance and Customization

* <a href="/platform/opsguide/config-cell-cleanup.html">Configuring Cell Disk Cleanup Scheduling</a>

* <a href="/platform/opsguide/custom-branding.html">Custom Branding Apps Manager</a>


