---
title: Deleting Ops Manager from GCP
owner: Ops Manager
---

<% current_page.data.title = "Deleting " + vars.platform_name + " from GCP" %>

When you deploy <%= vars.platform_name %> to Google Cloud Platform (GCP), you provision a set of resources. This topic describes how to delete the resources associated with a <%= vars.platform_name %> deployment.

You can delete the resources in one of two ways:

  * If you created a separate project for your <%= vars.platform_name %> deployment, perform the procedure in [Delete the Project](#delete-project).
  * If the project that contains your <%= vars.platform_name %> deployment also contains other resources that you want to preserve, perform the procedure in the [Delete <%= vars.platform_name %> Resources](#delete-resources) section.

##<a id='delete-project'></a> Delete the Project

Perform the following steps to delete the project for your <%= vars.platform_name %> deployment:

1. Navigate to the GCP Console Dashboard.

1. Under your **Project**, click **Manage project settings**.

1. Click **DELETE PROJECT**.

1. Enter your project ID and click **SHUT DOWN** to confirm.

##<a id='delete-resources'></a> Delete <%= vars.platform_name %> Resources

Perform the following steps to delete the resources associated with your <%= vars.platform_name %> deployment:

1. Navigate to the GCP Console Dashboard.

1. Click the upper left icon and select **Networking**.

1. Click **Load balancing**.

1. Perform the following steps for all load balancers associated with your <%= vars.platform_name %> deployment:
	1. Click the trashcan icon next to the load balancer.
	1. In the next dialog, select any **health checks** and **backend services** associated with the load balancer.
	1. Click **DELETE LOAD BALANCER AND THE SELECTED RESOURCES**.

1. Click the upper left icon and select **Compute Engine**.

1. Perform the following steps for **VM instances**, **Instance groups**, and **Disks:**
	1. Select the checkbox next to the <%= vars.platform_name %> resource.
	1. When all <%= vars.platform_name %> resources are selected, click **DELETE** in the upper right.
	1. Click **DELETE** to confirm.

1. Click the upper left icon and select **Networking**.

1. Click **External IP addresses**.

1. Select all external IP addresses associated with your <%= vars.platform_name %> deployment, and click **RELEASE STATIC ADDRESS**.

1. Click on **Networks**, and perform the following steps for any networks you created for <%= vars.platform_name %>:
	1. Click the name of the network.
	1. Click **DELETE NETWORK**.
	1. Click **DELETE** to confirm.

1. Click the upper left icon and select **IAM & Admin**.

1. Click the trashcan icon next to the `bosh` service account you created for <%= vars.platform_name %> and click **REMOVE**.

1. Navigate to **Compute Engine > Metadata > SSH Keys**. Delete the `vcap` SSH key that you created for the project.
