---
title: Deploying Pivotal Ops Metrics
---

The Pivotal Ops Metrics tool is a JMX extension for Elastic Runtime.
Pivotal Ops Metrics collects and exposes system data from Cloud Foundry components via a JMX endpoint.
Use this system data to monitor your installation and assist in troubleshooting.

The Pivotal Ops Metrics tool is composed of three virtual machines:

- the JMX Provider
- a VM that governs compilation
- a nozzle for the [Loggregator Firehose](../loggregator/architecture.html)

Follow the instructions below to deploy Pivotal Ops Metrics using the [Pivotal Cloud Foundry](https://network.pivotal.io/products/pivotal-cf) Operations 
Manager.


## <a id='import'></a>Step 1: Install the Ops Metrics Tile ##

1. [Download Ops Metrics](https://network.pivotal.io/products/ops-metrics).

1. Import Ops Metrics into Ops Manager by following the instructions for [Adding and Importing Products](../customizing/add-delete.html#add-import).

1. On the Installation Dashboard, click the **Pivotal Ops Metrics** tile.

    <%= image_tag("images/metrics/screenshot_ops_metrics_tile.png") %>

    Note the orange bar on the **Pivotal Ops Metrics** tile.
    This indicates that the product requires configuration.


## <a id='config-network'></a>Step 2: Configure Networks ##

1. Select **Assign Networks Zones**. 

1. Use the drop-down menu to select a Network. 
    <p class='note'><strong>Note</strong>: Ops Metrics uses the default Assigned Network if you do not select a different network.</p>

    <%= image_tag("images/metrics/ops_metrics_assign_networks.png") %>


## <a id='config-az'></a>Step 3: Configure Availability Zones ##

1. (**vSphere and Amazon Web Services Only**) Select **Assign Availability Zones**. These are the Availability Zones that you [create](./vsphere-config.html#create-az) when configuring Ops Manager Director. <br>
    * Select an Availability Zone under **Place singleton jobs**. Ops Manager runs Metrics jobs with a single instance in this Availability Zone.
    * Select one or more Availability Zones under **Balance other jobs**. Ops Manager balances instances of Metrics jobs with more than one instance across the Availability Zones that you specify.

    <%= image_tag("images/metrics/ops_metrics_assign_az.png") %>


## <a id='config-jmx-provider'></a>Step 4: Configure JMX Provider ##

1. Select **JMX Provider**.

1. Enter a new username and password into the **JMX Provider credentials** username and password fields. 

1. Record these credentials. You will use these to connect JMX clients to the JMX Provider.


## <a id='config-ssl'></a>Step 5: Configure SSL ##

1. **(Optional)** Select the **Enable SSL** checkbox.
Enabling SSL requires JMX clients to use SSL to connect to the JMX Provider.
If SSL is not enabled, JMX clients can connect to the JMX Provider without SSL
credentials.

    <%= image_tag("images/metrics/ops-metrics-jmx-ssl.png") %>

    If you select the **Enable SSL** checkbox, you must also provide an SSL 
	certificate and private key.
    There are two ways to provide an SSL certificate and private key:
    * If you are using a signed certificate, paste an X.509 certificate in the
    **Certificate PEM** field and a PKCS#1 private key in the **Private Key**
    field.
    * If you want to use SSL but do not want to use a signed certificate, you
    must perform the following actions:
        1. Generate a self-signed certificate on the server
        1. Import the self-signed certificate to a trust store on the client
        1. Start jConsole (or your monitoring tool) with the trust store

        For more information, see [Using SSL with a Self-Signed Certificate](./self-signed-ssl.html).

    Once you have provided an SSL certificate and private key, click **Save**.

    <%= image_tag("images/metrics/ops-metrics-jmx-cert.png") %>


## <a id='gather-info'></a>Step 6: Gather Required Information for Nozzle Configuration ##

1. If you do not have them at hand, find your UAA username and password:

    1. Navigate to the PCF Ops Manager Director Installation Dashboard.
    1. Click the **Pivotal Elastic Runtime** tile.
    1. Select the **Credentials** tab.
    1. Scroll down to the **UAA** job row.
    1. Find your **Opentsdb Nozzle Credentials** listed in the format **USERNAME / PASSWORD**.
        <%= image_tag("images/metrics/ops_man_uaa_firehose_cred.png") %>

1. If you do not know it, find your System Domain:
    1. Navigate to the PCF Ops Manager Installation Dashboard.
    1. Click the **Pivotal Elastic Runtime** tile.
    1. Select **Cloud Controller**.
    1. Find **System Domain**.

## <a id='config-firehose'></a>Step 7: Configure the Firehose Nozzle ##

1. Select **OpenTSDB Firehose Nozzle**.

1. Enter your UAA credentials. 

1. Enter your System Domain.
    
    <%= image_tag("images/metrics/ops_man_firehose.png") %>

1. Click **Save**.


## <a id='apply'></a>Step 8: Apply Changes ##

1. Navigate to the PCF Ops Manager Installation Dashboard.

1. In the Pending Changes view, click **Apply Changes** to install Pivotal Ops
Metrics.

    <%= image_tag("images/metrics/ops-metrics-pending-changes.png") %>

1. When complete, a “Changes Applied” message appears.


## <a id='get-ip'></a>Step 9: Get the IP of JMX Provider ##

1. Click **Return to Product Dashboard**.

1. Click the **Pivotal Ops Metrics** tile and select the **Status** tab.

1. Record the IP address of the JMX Provider.
<p class="note"><strong>Note</strong>: After installation, your JMX client connects to this IP address at port 44444 using the credentials that you  supplied.</p>

    <%= image_tag("images/metrics/ops-metrics-jmx-ips.png") %>


## <a id='config-ip'></a>Step 10: Configure the Metrics IP Address ##

1. Return to the **Installation Dashboard**.
Click the **Ops Manager Director** tile and select **Director Config**.

1. In the **Metrics IP Address** field, enter the IP address of the JMX
Provider.
Click **Save**.

    <%= image_tag("images/metrics/ops-metrics-director-ip.png") %>


## <a id='allocate-collecter-vm'></a>Step 11: Allocate a VM for the Collector ##

1. Return to the **Installation Dashboard**.
Click the **Pivotal Elastic Runtime** tile and select **Resource Config**.

1. Change the number of **Instances** for the **Collector** job from `0` to `1`.
Click **Save**.

    <%= image_tag("images/metrics/ops-metrics-elastic-runtime-collector.png") %>


## <a id='compplete'></a>Step 12: Complete Installation ##

1. In the Pending Changes view, click **Apply Changes**.

    <%= image_tag("images/metrics/ops-metrics-pending-changes.png") %>

1. When complete, a "Changes Applied" message appears.
Click **Return to Product Dashboard**.
Pivotal Ops Metrics is now installed and configured.

Once installed and configured, metrics for Cloud Foundry components
automatically report to the JMX endpoint.
Your JMX client uses the credentials supplied to connect to the IP address of
the Pivotal Ops Metrics JMX Provider at port 44444.