---
title: Deploying Operations Manager to vSphere
owner: Ops Manager
---

<strong><%= modified_date %></strong>

Refer to this topic for help deploying Ops Manager to VMware vSphere. For help deploying Ops Manager to vCloud Air or vCloud, see the [Deploying Operations Manager to vCloud Air and vCloud](./pcf-vchs-vcloud.html) topic.

1. Refer to the [Known Issues](../pcf-release-notes/index.html) topic before getting started.
1. Download the [Pivotal Cloud Foundry&reg;](https://network.pivotal.io/products/pivotal-cf) (PCF) Ops Manager `.ova` file at [Pivotal Network](https://network.pivotal.io). Click the **Pivotal Cloud Foundry&reg;** region to access the PCF product page. Use the dropdown menu to select an Ops Manager release.

    <%= image_tag("vm_ops-man.png") %>

1. Log into vCenter.
1. Select the **VM and Templates** view.

    <%= image_tag("vm_template_view.png") %>

1. Right click on your datacenter and select **New Folder**.

    <%= image_tag("new_folder.png") %>

1. Name the folder `pivotal_cf` and select it.

    <%= image_tag("folder_name.png") %>

1. Select **File > Deploy OVF Template**.

    <%= image_tag("deploy_ova.png") %>

1. Select the .ova file and click **Next**.

    <%= image_tag("next.png") %>

1. Review the product details and click **Next**.
1. Accept the license agreement and click **Next**.
1. Name the virtual machine and click **Next**.

    <%= image_tag("vm_name.png") %>

    <p class="note"><strong>Note</strong>: The selected folder is the one you created.</p>

1. Select a vSphere cluster and click **Next**.

    <%= image_tag("anchovy-cluster.png") %>

1. If prompted, select a resource pool and click **Next**.

1. If prompted, select a host and click **Next**.

    <p class="note"><strong>Note</strong>: Hardware virtualization must be off if your vSphere host does not support VT-X/EPT. Refer to the <a href="./requirements.html">Prerequisites</a> topic for more information.</p>

    <%= image_tag("host.png") %>

1. Select a storage destination and click **Next**.

    <%= image_tag("storage.png") %>

1. Select a disk format and click **Next**. For information about disk formats, see [Provisioning a Virtual Disk](./disk-format.html).

    <%= image_tag("disk_format.png") %>

1. Select a network from the drop down list and click **Next**.

    <%= image_tag("network.png") %>

1. Enter network information and passwords for the VM admin user and click **Next**.

    <p class="note"><strong>Note</strong>: The IP Address you enter will be the location of the PCF Operations Manager interface.</p>

    <%= image_tag("vm_admin.png", :height => "375px", :width => "400px") %>

    Note the above network information, because you will need it later to upgrade Ops Manager.

1. Check the **Power on after deployment** checkbox and click **Finish**. Once the VM boots, the interface is available at the IP address you specified.

     <p class="note"><strong>Note</strong>: It is normal to experience a brief delay before the interface is accessible while the web server and VM start up.</p>

1. Create a DNS entry for the IP address that you used for Ops Manager. You must use this fully qualified domain name when you log into Ops Manager in the [Installing Pivotal Cloud Foundry on vSphere and vCloud Air](../customizing/vsphere.html#paas) topic.

<p class="note"><strong>Note</strong>: Ops Manager 1.7 security features require you to create a fully qualified domain name in order to access Ops Manager during the <a href="../customizing/vsphere.html#paas">initial configuration.</a></p> 

[Return to the Installing Pivotal Cloud Foundry Guide](../installing/index.html)
