---
title: Deploying JMX Bridge
owner: PCF Metrics
---

<strong><%= modified_date %></strong>

The JMX Bridge tool is a JMX extension for Pivotal Application Service (PAS). JMX Bridge collects and exposes system data from Cloud Foundry components via a JMX endpoint. You can use this system data to monitor your installation and assist in troubleshooting.

The JMX Bridge tool is composed of the following three virtual machines:

- The JMX provider
- A VM that governs compilation
- A nozzle for the [Loggregator Firehose](../loggregator/architecture.html)

Follow the instructions below to deploy JMX Bridge using the [Pivotal Cloud Foundry](https://network.pivotal.io/products/pivotal-cf) (PCF) Operations Manager.

## <a id='import'></a>Step 1: Install the JMX Bridge Tile ##

<p class="note"><strong>Note</strong>: Pivotal strongly suggests that you install <a href="https://network.pivotal.io/products/elastic-runtime">Pivotal Cloud Foundry PAS</a> before installing JMX Bridge. If you do not install PAS first, the system displays numerous errors if you configure JMX Bridge to pull data from the nonexistent PAS installation.</p>

1. [Download JMX Bridge](https://network.pivotal.io/products/ops-metrics).

1. Import JMX Bridge into Ops Manager by following the instructions for [Adding and Importing Products](../customizing/add-delete.html#add-import).

1. On the Installation Dashboard, click the **JMX Bridge** tile.

    <%= image_tag("images/metrics/metrics-tile.png") %>

    The orange bar on the **JMX Bridge** tile indicates that the
    product requires configuration.

## <a id='config-az'></a>Step 2: Assign Availability Zones and Networks

1. Select **Assign AZs and Networks**. This section shows the Availability Zones that you [create](../om/vsphere/config.html#create-az) when configuring Ops Manager Director.

1. (**vSphere and Amazon Web Services Only**) Select an Availability Zone under **Place singleton jobs in**. Ops Manager runs Metrics jobs with a single instance in this Availability Zone.

1. (**vSphere and Amazon Web Services Only**) Select one or more Availability Zones under **Balance other jobs in**. Ops Manager balances instances of Metrics jobs with more than one instance across the Availability Zones that you specify.

    <%= image_tag("images/metrics/assign-az.png") %>

1. Use the drop-down menu to select a Network.
    <p class='note'><strong>Note</strong>: JMX Bridge uses the default Assigned Network if you do not select a different network.</p>

1. Click **Save**.
  <p class="note"><strong>Note</strong>: When you save this form, a verification error displays because the PCF security group blocks ICMP. You can ignore this error.</p>
    <%= image_tag("pcfaws/er-network-error.png") %>

## <a id='config-jmx-provider'></a>Step 3: Configure JMX Provider ##

1. Select **JMX Provider**.

1. Enter a new username and password into the **JMX Provider credentials** username and password fields.

1. Record these credentials. You use these to connect JMX clients to the JMX Provider.

## <a id='config-ssl'></a>(Optional) Step 4: Configure SSL ##

1. Select the **Enable SSL** checkbox.
Enabling SSL requires JMX clients to use SSL to connect to the JMX Provider.
If SSL is not enabled, JMX clients can connect to the JMX Provider without SSL
credentials.

    <%= image_tag("images/metrics/ops-metrics-jmx-ssl.png") %>

    If you select the **Enable SSL** checkbox, you must also provide an SSL
	certificate and private key.
    There are two ways to provide an SSL certificate and private key:
    * If you are using a signed certificate, paste an X.509 certificate in the
    **Certificate PEM** field and a PKCS#1 private key in the **Private Key**
    field.
    * If you want to use SSL but do not want to use a signed certificate, you
    must perform the following actions:
        1. Generate a self-signed certificate on the server.
        1. Import the self-signed certificate to a trust store on the client.
        1. Start jConsole, or another monitoring tool, with the trust store.

        For more information, see [Using SSL with a Self-Signed Certificate](./self-signed-ssl.html).

    <%= image_tag("images/metrics/ops-metrics-jmx-cert.png") %>

1. Once you have provided an SSL certificate and private key, click **Save**.

## <a id='resource-config'></a>Step 5: Resource Configuration ##

<p class="note"><strong>Note</strong>: Do not change the <strong>OpenTSDB Firehose Nozzle</strong> instance count unless you have a running PAS installation. If necessary, you can skip this step and perform it later.</p>

To receive metrics data from the PCF PAS firehose, including Diego metrics, change the **OpenTSDB Firehose Nozzle** instance count from `0` to `1`.

## <a id='apply'></a>Step 6: Apply Changes ##

1. Navigate to the PCF Ops Manager Installation Dashboard.

1. In the Pending Changes view, click **Apply Changes** to install JMX Bridge.

    <%= image_tag("images/metrics/ops-metrics-pending-changes.png") %>

1. When complete, a "Changes Applied" message appears.

## <a id='get-ip'></a>Step 7: Find the IP of the JMX Provider ##

1. Click **Return to Product Dashboard**.

1. Click the **JMX Bridge** tile and select the **Status** tab.

    <%= image_tag("images/metrics/ops-metrics-jmx-ips.png") %>

1. Record the IP address of the **JMX Provider**.
<p class="note"><strong>Note</strong>: After installation, your JMX client connects to this IP address at port 44444 using the credentials that you  supplied.</p>

## <a id='config-ip'></a>Step 8: Configure the Metrics IP Address ##

1. Return to the **Installation Dashboard**.
Click the **Ops Manager Director** tile and select **Director Config**.

    <%= image_tag("images/metrics/ops-metrics-director-ip.png") %>

1. In the **Metrics IP Address** field, enter the IP address of the JMX
Provider.
Click **Save**.

## <a id='complete'></a>Step 9: Complete Installation ##

1. In the Pending Changes view, click **Apply Changes**.

    <%= image_tag("images/metrics/ops-metrics-pending-changes.png") %>

1. When complete, a "Changes Applied" message appears.
Click **Return to Product Dashboard**.
 JMX Bridge is now installed and configured.

Once installed and configured, metrics for Cloud Foundry components
automatically report to the JMX endpoint.

<p class="note"><strong>Note</strong>: If you installed JMX Bridge before installing PAS tile, you can revisit and enable the <strong>OpenTSDB Firehose Nozzle</strong> in <a href="#resource-config">Step 5: Resource Configuration</a> after you install PAS.</p>
