---
title: Deploying Pivotal Ops Metrics
---

The Pivotal Ops Metrics tool is a JMX extension for Elastic Runtime.
Pivotal Ops Metrics collects and exposes system data from Cloud Foundry components via a JMX endpoint.
Use this system data to monitor your installation and assist in troubleshooting.

The Pivotal Ops Metrics tool is composed of the following three virtual machines:

- The JMX Provider
- A VM that governs compilation
- A nozzle for the [Loggregator Firehose](../loggregator/architecture.html)

Follow the instructions below to deploy Pivotal Ops Metrics using the [Pivotal Cloud Foundry&reg;](https://network.pivotal.io/products/pivotal-cf) (PCF) Operations Manager.

## <a id='import'></a>Step 1: Install the Ops Metrics Tile ##

<p class="note"><b>Note</b>: It is strongly suggested you install Pivotal's [Elastic Runtime Product](https://network.pivotal.io/products/elastic-runtime) before installing Ops Metrics.  Not installing Elastic Runtime first will cause the system to display numerous errors if you configure Ops Metrics to pull data from a non-existant Elastic Runtime installation.</p>

1. [Download Ops Metrics](https://network.pivotal.io/products/ops-metrics).

1. Import Ops Metrics into Ops Manager by following the instructions for [Adding and Importing Products](../customizing/add-delete.html#add-import).

1. On the Installation Dashboard, click the **Pivotal Ops Metrics** tile.

    <%= image_tag("images/metrics/metrics-tile.png") %>

    The orange bar on the **Pivotal Ops Metrics** tile indicates that the
    product requires configuration.

## <a id='config-network'></a>Step 2: Configure Networks ##

1. Select **Assign Networks**.

1. Use the drop-down menu to select a Network.
    <p class='note'><strong>Note</strong>: Ops Metrics uses the default Assigned Network if you do not select a different network.</p>

    <%= image_tag("images/metrics/assign-networks.png") %>

## <a id='config-az'></a>Step 3: Configure Availability Zones ##

1. (**vSphere and Amazon Web Services Only**) Select **Assign Availability Zones**. These are the Availability Zones that you [create](./vsphere-config.html#create-az) when configuring Ops Manager Director. <br>
    * Select an Availability Zone under **Place singleton jobs**. Ops Manager runs Metrics jobs with a single instance in this Availability Zone.
    * Select one or more Availability Zones under **Balance other jobs**. Ops Manager balances instances of Metrics jobs with more than one instance across the Availability Zones that you specify.

    <%= image_tag("images/metrics/assign-az.png") %>

## <a id='config-jmx-provider'></a>Step 4: Configure JMX Provider ##

1. Select **JMX Provider**.

1. Enter a new username and password into the **JMX Provider credentials** username and password fields.

1. Record these credentials. You will use these to connect JMX clients to the JMX Provider.


## <a id='config-ssl'></a>Step 5: Configure SSL ##

1. **(Optional)** Select the **Enable SSL** checkbox.
Enabling SSL requires JMX clients to use SSL to connect to the JMX Provider.
If SSL is not enabled, JMX clients can connect to the JMX Provider without SSL
credentials.

    <%= image_tag("images/metrics/ops-metrics-jmx-ssl.png") %>

    If you select the **Enable SSL** checkbox, you must also provide an SSL
	certificate and private key.
    There are two ways to provide an SSL certificate and private key:
    * If you are using a signed certificate, paste an X.509 certificate in the
    **Certificate PEM** field and a PKCS#1 private key in the **Private Key**
    field.
    * If you want to use SSL but do not want to use a signed certificate, you
    must perform the following actions:
        1. Generate a self-signed certificate on the server.
        1. Import the self-signed certificate to a trust store on the client.
        1. Start jConsole, or another monitoring tool, with the trust store.

        For more information, see [Using SSL with a Self-Signed Certificate](./self-signed-ssl.html).

    Once you have provided an SSL certificate and private key, click **Save**.

    <%= image_tag("images/metrics/ops-metrics-jmx-cert.png") %>

## <a id='resource-config'></a>Step 6: Resource Configuration ##

<p class="note"><b>Note</b>: If you do not have an installed, running Elastic Runtime configuration, do not change the instance count of <b>OpenTSDB Firehose Nozzle</b> until you do.  It is okay to skip this step and enable later.</>

1. To receive metrics data from the PCF Elastic Runtime firehose (including Diego metrics), change the instance count of the "OpenTSDB Firehose Nozzle" from 0 to 1.

## <a id='apply'></a>Step 7: Apply Changes ##

1. Navigate to the PCF Ops Manager Installation Dashboard.

1. In the Pending Changes view, click **Apply Changes** to install Pivotal Ops
Metrics.

    <%= image_tag("images/metrics/ops-metrics-pending-changes.png") %>

1. When complete, a “Changes Applied” message appears.


## <a id='get-ip'></a>Step 7: Find the IP of the JMX Provider ##

1. Click **Return to Product Dashboard**.

1. Click the **Pivotal Ops Metrics** tile and select the **Status** tab.

1. Record the IP address of the JMX Provider.
<p class="note"><strong>Note</strong>: After installation, your JMX client connects to this IP address at port 44444 using the credentials that you  supplied.</p>

    <%= image_tag("images/metrics/ops-metrics-jmx-ips.png") %>


## <a id='config-ip'></a>Step 8: Configure the Metrics IP Address ##

1. Return to the **Installation Dashboard**.
Click the **Ops Manager Director** tile and select **Director Config**.

1. In the **Metrics IP Address** field, enter the IP address of the JMX
Provider.
Click **Save**.

    <%= image_tag("images/metrics/ops-metrics-director-ip.png") %>


## <a id='allocate-collecter-vm'></a>Step 9: Allocate a VM for the Collector (now Optional)##

<p class="note"><b>Note</b>:As of Elastic Runtime version 1.6, application containers are run by default in <b>Diego</b>.  If you are using Diego exclusively for deploying applications, you do not need to complete this step.  The collector will only gather metrics if you have chosen to use the older [DEA](../customizing/config-er-vmware.html#diego) application container engine.</p>

1. Return to the **Installation Dashboard**.
Click the **Pivotal Elastic Runtime** tile and select **Resource Config**.

1. Change the number of **Instances** for the **Collector** job from `0` to `1`.
Click **Save**.

    <%= image_tag("images/metrics/ops-metrics-elastic-runtime-collector.png") %>


## <a id='complete'></a>Step 10: Complete Installation ##

1. In the Pending Changes view, click **Apply Changes**.

    <%= image_tag("images/metrics/ops-metrics-pending-changes.png") %>

1. When complete, a "Changes Applied" message appears.
Click **Return to Product Dashboard**.
Pivotal Ops Metrics is now installed and configured.

Once installed and configured, metrics for Cloud Foundry components
automatically report to the JMX endpoint.
Your JMX client uses the credentials supplied to connect to the IP address of
the Pivotal Ops Metrics JMX Provider at port 44444.

## <a id='reminder'></a>## Final Reminder ##

If you installed Ops Metrics without an Elastic Runtime tile, you can revisit and enable the OpenTSDB Firehose Nozzle in step 6 once you have completed your installation.
