---
title: Launching an Ops Manager Director Instance on GCP
owner: Ops Manager
---

<strong><%= modified_date %></strong>
<html class="list-style-none"></html>

This topic describes how to deploy Ops Manager Director for [Pivotal Cloud Foundry](https://network.pivotal.io/products/pivotal-cf) (PCF) on Google Cloud Platform (GCP).

After you complete this procedure, follow the instructions in the [Configuring Ops Manager Director on GCP](./gcp-om-config.html) and
[Configuring Elastic Runtime on GCP](./gcp-er-config.html) topics.

## <a id='select-tgz'></a>Step 1: Locate the Pivotal Ops Manager Installation File ##

1. Log in to the [Pivotal Network](https://network.pivotal.io/products/pivotal-cf), and click on **Pivotal Cloud Foundry Operations Manager**.

1. From the **Releases** drop-down, select the release to install.

1. Select **Pivotal Cloud Foundry Ops Manager for GCP**. When you click on the download link, your browser downloads or opens the <code>OpsManager\_<i>version</i>\_onGCP.pdf</code> file. 

  This PDF document provides the GCP location of the Ops Manager `.tar.gz` installation file based on the geographic location of your installation.

1. Copy the filepath string of the Ops Manager image based on your deployment location.

## <a id="create-image"></a>Step 2: Create a Private VM Image

1. Log in to the [GCP Console](https://console.cloud.google.com/).

1. In the left navigation panel, click **Compute Engine**, and select **Images**.

1. Click **Create Image**.

1. Complete the following fields:
  * **Name**: Enter a name. For example, `om-pcf`.
  * **Encryption**: Leave **Automatic (recommended)** selected.
  * **Source**: Choose **Cloud Storage file**.
  * **Cloud Storage file**: Paste in the Google Cloud Storage filepath you copied from the PDF file in the [previous step](#select-tgz). 
      <%= image_tag("gcp/create_image.png") %>
1. Click **Create**. The file may take a few minutes to import. 

## <a id="start-vm"></a>Step 3: Create the Ops Manager VM Instance

1. Select the checkbox for the image that you created above.

    <%= image_tag("gcp/create_instance.png") %>

1. Click **Create Instance**. 

1. In the **Create an instance form**, complete the following fields:
  * **Name**: Enter a name, such as `om-pcf-1a`.
  * **Zone**: Choose a zone from the region in which you created your network. 
  * **Boot disk**: Click **Change**, then perform the following steps:
     * Click **Custom images** if it is not already selected. 
     * Select the Ops Manager image you created in the previous step if it is not already selected.<br> 
        <%= image_tag("gcp/boot_image.png") %>
     * Click **Select** to save.
  * Under **Identity and API access**, choose the **Service account** you created when preparing your environment during the step [Set up an IAM Service Account](./gcp-prepare-env.html#iam_account). 
  * **Allow HTTP traffic**: Select this checkbox. 
  * **Allow HTTPS traffic**: Select this checkbox. 
      <%= image_tag("gcp/om_instance_1.png") %>
  * **Management**: Click **Management, disk, networking, SSH keys** and select the **Management** tab. In the **Tags** field, enter `pcf-opsmanager`. This tag applies the firewall rule you created in [Create Firewall Rules for the Network](./gcp-prepare-env.html#firewall_rules) to the Ops Manager VM.
      <%= image_tag("gcp/om_tag.png") %>
  * **Networking**: Select the **Networking** tab, and perform the following steps:
     * For **Network** and **Subnetwork**, select the network and subnetwork you created when preparing your environment in the [Create a GCP Network with Subnet](./gcp-prepare-env.html#create_network) section of the _Preparing to Deploy PCF on GCP_ topic. 
     * For **Internal IP**, select `Custom`. Enter `10.0.0.4` an the **Internal IP address**. This internal IP address should be located within the reserved IP range that you will [configure in Ops Manager Director](./gcp-om-config.html#network). Do not use `10.0.0.1`, which is configured for the Gateway.
     * For **External IP**, select **New static IP address...**. In the next form, enter a name for the static IP. For example, `om-public-ip`. Click **Reserve**. In the **External IP** drop-down, select the static IP address you just reserved.
           <%= image_tag("gcp/instance_networking.png") %>
  * **SSH Keys**: Select the **SSH Keys** tab, and perform the following steps.
      * Generate an SSH key for the `ubuntu` user. Creating the `ubuntu` user allows you to directly access the Ops Manager VM using SSH. For example, on your local machine, open a terminal and type:      
         <pre class="terminal">$ ssh-keygen -t rsa -f ubuntu-key -C ubuntu@local</pre>
         Press enter twice to provide no passphrase. This command outputs a private key and a public key, in this example `ubuntu-key.pub`.
      * Open the public key file. Then copy and paste the public key data including the username at the end, `ubuntu@local`, into the **key data** field. The form then adds an `ubuntu` SSH entry with the username `ubuntu` automatically populated for you.
      * Store the private key in a secure location.
      <%= image_tag("gcp/om-ssh-keys.png") %>
1. Click **Create** to deploy the new Ops Manager VM. This may take a few moments.

1. Navigate to your DNS provider, and create an entry that points a fully qualified domain name (FQDN) to the `om-public-ip` static IP address of Ops Manager that you created in a previous step. 

   <p class="note"><b>Note:</b>In order to set up authentication correctly, Pivotal recommends using a Fully Qualified Domain Name (FQDN) mapped to access Ops Manager. Do use an ephemeral IP address to access Ops Manager, which can cause authentication errors later.</p>

### <a id="next"></a> What to Do Next ###

After you complete this procedure, follow the instructions in the [Configuring Ops Manager Director on GCP](./gcp-om-config.html) topic.