---
title: Installing Ops Manager on GCP Using Terraform
owner: Ops Manager
---

<% current_page.data.title = "Installing " + vars.platform_name + " on GCP Using Terraform" %>

This topic explains how to install <%= vars.platform_name %> on GCP using Terraform.

## <a id="overview"></a> Overview

You can install <%= vars.platform_name %> on GCP with either the <%= vars.app_runtime_full %> (<%= vars.app_runtime_abbr %>) or <%= vars.k8s_runtime_full %> (<%= vars.k8s_runtime_abbr %>) runtime.

To install <%= vars.platform_name %> on GCP using Terraform, do one of the following:

* Install with <%= vars.app_runtime_abbr %>. See [Install on <%= vars.app_runtime_abbr %> Using Terraform](#terraform-pas).
* Install with <%= vars.k8s_runtime_abbr %>. See [Install on <%= vars.k8s_runtime_abbr %> Using Terraform](#terraform-pks).

## <a id="terraform-pas"></a> Install with <%= vars.app_runtime_abbr %> Using Terraform

To install with <%= vars.app_runtime_abbr %> using Terraform, do the following:

1. Deploy <%= vars.ops_manager %>. See [Deploying <%= vars.ops_manager %> on GCP Using Terraform](/platform/ops-manager/<%= vars.current_major_version.sub('.', '-') %>/gcp/prepare-env-terraform.html).

1. Configure BOSH Director. See [Configuring BOSH Director on GCP Using Terraform](/platform/ops-manager/<%= vars.current_major_version.sub('.', '-') %>/gcp/config-terraform.html).

1. (Optional) Configure a shared VPC. See [(Optional) Configuring a Shared VPC on GCP](./gcp-shared-vpc.html).

1. Configure <%= vars.app_runtime_abbr %>. See [Configuring <%= vars.app_runtime_abbr %>](./configure-pas.html).

## <a id="terraform-pks"></a> Install with <%= vars.k8s_runtime_abbr %> Using Terraform

To install with <%= vars.k8s_runtime_abbr %> using Terraform, do the following:

1. Deploy <%= vars.ops_manager %>. See [Deploying <%= vars.ops_manager %> on GCP Using Terraform](/platform/ops-manager/<%= vars.current_major_version.sub('.', '-') %>/gcp/prepare-env-terraform.html).

1. Configure BOSH Director. See [Configuring BOSH Director on GCP Using Terraform](/platform/ops-manager/<%= vars.current_major_version.sub('.', '-') %>/gcp/config-terraform.html).

1. (Optional). Configure a shared VPC. See [(Optional) Configuring a Shared VPC on GCP](./gcp-shared-vpc.html).

1. Configure <%= vars.k8s_runtime_abbr %>. See [Installing <%= vars.k8s_runtime_abbr %> on GCP](https://docs.pivotal.io/pks/installing-pks-gcp.html).
