---
title: Upgrading BOSH Director on GCP
owner: Ops Manager
---

This topic describes how to upgrade BOSH Director for <%= vars.platform_name %> on Google Cloud Platform (GCP).

Complete the tasks in this topic as part of the Ops Manager upgrade process. For more information, see the [Task 2: Upgrade Ops Manager and Installed Products to v<%= vars.current_major_version %>](upgrading-pcf.html#upgrade_ops) section of the _Upgrading <%= vars.platform_name %>_ topic.


## <a id='overview'></a> Overview

<%# Find this partial in GitHub at `pivotal-cf/docs-partials` %>
<%= partial "/pcf/core/#{vars.current_major_version.sub('.', '-')}/om_upgrade_overview" %>

To create an Ops Manager VM instance:

1. Locate the Ops Manager installation file. For more information, see [Locate the Pivotal Ops Manager Installation File](#select-tgz). 

1. Create a private VM image. For more information, see [Create a Private VM Image](#create-image). 

1. Create the Ops Manager VM. For more information, see [Create the Ops Manager VM Instance](#start-vm). 


## <a id='prerequisites'></a> Prerequisites

<%# Find this partial in GitHub at `pivotal-cf/docs-partials` %>
<%= partial "/pcf/core/#{vars.current_major_version.sub('.', '-')}/om_upgrade_prerequisite" %>   

## <a id='select-tgz'></a> Locate the Pivotal Ops Manager Installation File

The Ops Manager installation file includes a filepath to the Ops Manager image. You use this image file to create a private VM image for the new Ops Manager VM.

To locate the Ops Manager installation file:

1. Log in to [Pivotal Network](https://network.pivotal.io/products/pivotal-cf) and click on **<%= vars.platform_name %> Operations Manager**.

1. From the **Releases** dropdown, select the release for your upgrade.

1. Select one of the following download files:
    * **Pivotal Ops Manager for GCP**
    * **Pivotal Ops Manager YAML for GCP**
    When you click on the download link, your browser downloads or opens the <code>OpsManager\_<em>version</em>\_onGCP.pdf</code> or <code>OpsManager\_<em>version</em>\_onGCP.yml</code> file. <br/><br/>
    These documents provide the GCP location of the Ops Manager `.tar.gz` installation file based on the geographic location of your installation.

1. Copy the filepath string of the Ops Manager image based on your existing deployment location.


## <a id="create-image"></a> Create a Private VM Image

Create a private VM image to use when you create the new Ops Manager VM.

To create a private VM image:

1. Log in to the [GCP console](https://console.cloud.google.com/).

1. In the left navigation panel, click **Compute Engine**, and select **Images**.

1. Click **Create Image**.

1. Complete the following fields:
  * **Name**: Enter a name that matches the naming convention of your existing Ops Manager image files.
  * **Encryption**: Leave **Automatic (recommended)** selected.
  * **Source**: Choose **Cloud Storage file**.
  * **Cloud Storage file**: Paste in the Google Cloud Storage filepath you copied from the PDF or YAML file in the previous task. 
      <%= image_tag("gcp/create_image.png") %>

1. Click **Create**. The file may take a few minutes to import. 


## <a id="start-vm"></a> Create the Ops Manager VM Instance

Create an Ops Manager VM instance to host the new version of Ops Manager.

To create an Ops Manager VM instance: 

1. Select the checkbox for the image that you created above.

    <%= image_tag("gcp/create_instance.png") %>

1. Click **Create Instance**. 

1. In the **Create an instance form**, complete the following fields:
  * **Name**: Enter a name that matches the naming conventions of your existing deployment.
  * **Zone**: Choose a zone from the region of your existing deployment. 
  * **Machine type**: Click **Customize** to manually configure the vCPU and memory. An Ops Manager VM instance requires the following minimum specifications:

        | **Machine Spec** | **Minimum Value** |
        |------------------|----------------------|
        |CPU |2&nbsp;vCPUs |
        |Memory| 8&nbsp;GB |
  * **Boot disk**: Click **Change**, then perform the following steps:
     * Click **Custom images** if it is not already selected. 
     * Select the **Boot disk type**. If you have an Ops Manager environment with high performance needs, select **SSD**. As an example, environments used to develop <%= vars.platform_name %> tiles may benefit from a higher performing Ops Manager VM boot disk. For most environments, however, you can select **Standard**.
     * Set the **Size (GB)** of the boot disk to the minimum or higher.

            | **Machine Spec** | **Minimum Value** |
            |------------------|----------------------|
            |Boot disk|100&nbsp;GB| 
     * Select the Ops Manager image you created in the previous step if it is not already selected.<br> 
        <%= image_tag("gcp/boot_image.png") %>
     * Click **Select** to save.
  * Under **Identity and API access**, choose the **Service account** you created when you initially installed <%= vars.platform_name %>. For more information, see the [Step 1: Set up IAM Service Accounts](/platform/ops-manager/<%= vars.current_major_version.sub('.', '-') %>/gcp/prepare-env-manual.html#iam_account) of the _Preparing to Deploy Ops Manager on GCP Manually_ topic. 
  * **Allow HTTP traffic**: Only select this checkbox if you selected it in your original Ops Manager VM configuration. 
  * **Allow HTTPS traffic**: Only select this checkbox if you selected it in your original Ops Manager VM configuration.<br/>
        <%= image_tag("gcp/om_instance_1.png") %>
  * **Networking**: Select the **Networking** tab and do the following:
     * For **Network** and **Subnetwork**, select the network and subnetwork you created when you initially deployed <%= vars.platform_name %>. For more information, see the [Step 3: Create a GCP Network with Subnets](/platform/ops-manager/<%= vars.current_major_version.sub('.', '-') %>/gcp/prepare-env-manual.html#create_network) of the _Preparing to Deploy Ops Manager on GCP Manually_ topic.
     * For **Network tags**, enter any tags that you applied to your original Ops Manager. For example, if you used the `<%= vars.product_name_lc %>-opsmanager` tag to apply the firewall rule you created in the [Step 5: Create Firewall Rules for the Network](/platform/ops-manager/<%= vars.current_major_version.sub('.', '-') %>/gcp/prepare-env-manual.html#firewall_rules) section of the _Preparing to Deploy Ops Manager on GCP Manually_ topic, then apply the same tag to this Ops Manager VM.
     * For **Internal IP**, select `Custom`. In the **Internal IP address** field, enter a spare address located within the reserved IP range you configured in your existing BOSH Director as part of the [Step 5: Create Networks Page](/platform/ops-manager/<%= vars.current_major_version.sub('.', '-') %>/gcp/config-manual.html#network) section of the _Configuring BOSH Director on GCP Manually_ topic. Do not use `10.0.0.1`, which is configured for the Gateway.
     * For **External IP**, select **New static IP address...**. In the next form, enter a name for the static IP. For example, `om-public-ip`. Click **Reserve**. In the **External IP** dropdown, select the static IP address you just reserved.
        <%= image_tag("gcp/instance_networking.png") %>

1. Click **Create** to deploy the new Ops Manager VM. This may take a few moments.

1. Navigate to your DNS provider, and modify the entry that points a fully-qualified domain name (FQDN) to the Ops Manager VM. Replace the original Ops Manager static IP address with the public IP address of the new Ops Manager VM you created in a previous step. 
  <p class="note warning"><strong>Warning:</strong> In order to set up Ops Manager authentication correctly, Pivotal recommends using a FQDN to access Ops Manager. Using an ephemeral IP address to access Ops Manager can cause authentication errors upon subsequent access. If you are importing older Ops Manager settings, you must use the FQDN.</p>


## <a id="next"></a> Next Steps

After you complete this procedure, continue the upgrade instructions in [Upgrading <%= vars.platform_name %>](./upgrading-pcf.html).

Later on, if you need to SSH into the Ops Manager VM to perform diagnostic troubleshooting, see the [Log In to the Ops Manager VM with SSH](trouble-advanced.html#ssh) section of the _Advanced Troubleshooting with the BOSH CLI_ topic.
