---
title: Troubleshooting Pivotal Platform on GCP
owner: Ops Manager
---

<% current_page.data.title = "Troubleshooting " + vars.product_name + " on GCP" %>

This topic describes how to troubleshoot known issues when deploying <%= vars.product_name  %> on Google Cloud Platform (GCP).


## <a id='sso'></a> Problems Connecting with Single Sign-On (SSO)

Users may be unable to connect to applications running on <%= vars.product_name %> using SSO.

### Explanation

SSO does not support multi-subnets.

### Solution

Ensure that you have configured only one subnet. See [Preparing to Deploy Ops Manager on GCP Manually](https://docs.pivotal.io/platform/ops-manager/<%= vars.current_major_version.sub('.', '-') %>/gcp/prepare-env-manual.html).

<hr>


## <a id='ert-install'></a> Uploading PAS Tile Causes Pivotal Operations Manager Rails Application Crash

Uploading the Pivotal Application Service (PAS) tile causes the Ops Manager Rails application to crash.

### Explanation

In compressed format, the PAS tile is 5&nbsp;GB in size. However, when uncompressed during installation, the PAS tile requires additional disk space that can exhaust the space allocated to the boot disk.

### Solution

Ensure that the boot disk is allocated at least 50&nbsp;GB of space. See _Step 3: Create the Ops Manager VM Instance_ in [Deploying Ops Manager on GCP Manually](https://docs.pivotal.io/platform/ops-manager/<%= vars.current_major_version.sub('.', '-') %>/gcp/deploy-manual.html#start-vm).

<hr>


## <a id="mysql_rep_canary"></a> PAS Deployment Fails - MySQL Monitor replication-canary Job

During installation of the PAS tile, the replication-canary job fails to start. The error reported in the installation log resembles the following:

<pre>
Started updating job mysql_monitor > mysql_monitor/0
(48e7ec82-3cdf-41af-9d0f-90d1f12683c8) (canary). Failed: 'mysql_monitor/0
(48e7ec82-3cdf-41af-9d0f-90d1f12683c8)' is not running after update. 
Review logs for failed jobs: replication-canary (00:05:13)

Error 400007: 'mysql_monitor/0 (48e7ec82-3cdf-41af-9d0f-90d1f12683c8)' 
is not running after update. 
Review logs for failed jobs: replication-canary
</pre>

### Explanation

This error can appear as a result of incorrect configuration of network traffic and missed communication between the Gorouter and a load balancer. 

### Solution

1. Make sure you have selected the **Forward SSL to PAS Router** option in your [PAS Network Configuration](configure-pas.html#networking).

1. Verify that you have configured the firewall rules properly and that TCP ports `80`, `443`, `2222`, and `8080` are accessible on your GCP load balancers. See _Step 5: Create Firewall Rules for the Network_ in [Preparing to Deploy Ops Manager on GCP Manually](https://docs.pivotal.io/platform/ops-manager/<%= vars.current_major_version.sub('.', '-') %>/gcp/prepare-env-manual.html#firewall_rules).

1. Verify that you have configured the proper SSL certificates on your HTTP(S) load balancer in GCP. See _Step 8: Create HTTP Load Balancer_ in [Preparing to Deploy Ops Manager on GCP Manually](https://docs.pivotal.io/platform/ops-manager/<%= vars.current_major_version.sub('.', '-') %>/gcp/prepare-env-manual.html#loadbalancer).

1. If necessary, re-upload a new certificate and update any required SSL Certificate and SSH Key fields in your [PAS Network Configuration](configure-pas.html#networking).

<hr>


## <a id="database-permissions"></a> Insufficient External Database Permissions

Upgrade issues can be caused when the external database user used for the network policy DB is given insufficient permissions. To avoid this upgrade issue, ensure that the networkpolicyserver database user has the `ALL PRIVILEGES` permission.