---
title: Recommended GCP Quotas
owner: Ops Manager
---



Default quotas on a new GCP subscription do not have enough quota for a typical production-level <%= vars.platform_name %> deployment.

The following table lists recommended resource quotas for a single <%= vars.platform_name %> deployment.

<table class="nice">
<tr>
 <th>Metric</th>
 <th>Resource</th>
 <th>Suggested Minimum Quota</th>
</tr>
<tr>
 <td>CPUs</td>
 <td>Regional</td>
 <td>150<sup>&#42;</sup> </td>
</tr>
<tr>
 <td>Firewall rules</td>
 <td>Global</td>
 <td>15</td>
</tr>
<tr>
 <td>Forwarding rules</td>
 <td>Global</td>
 <td>15</td>
</tr>
<tr>
 <td>Backend services</td>
 <td>Global</td>
 <td>5</td>
</tr>
<tr>
 <td>Health checks</td>
 <td>Global</td>
 <td>5</td>
</tr>
<tr>
 <td>Images</td>
 <td>Global</td>
 <td>10</td>
</tr>
<tr>
 <td>Static IP addresses<sup>&#42;</sup><sup>&#42;</sup></td>
 <td>Regional</td>
 <td>5</td>
</tr>
<tr>
 <td>In-use IP addresses</td>
 <td>Global</td>
 <td>5</td>
</tr>
<tr>
 <td>In-use IP addresses<sup>&#42;</sup><sup>&#42;</sup></td>
 <td>Regional</td>
 <td>5</td>
</tr>
<tr>
 <td>Networks</td>
 <td>Global</td>
 <td>5</td>
</tr>
<tr>
 <td>Subnetworks</td>
 <td>Global</td>
 <td>5</td>
</tr>
<tr>
 <td>Routes</td>
 <td>Global</td>
 <td>20</td>
</tr>
<tr>
 <td>Target pools</td>
 <td>Global</td>
 <td>5</td>
</tr>
<tr>
 <td>Target HTTP proxies</td>
 <td>Global</td>
 <td>5</td>
</tr>
<tr>
 <td>Target HTTPS proxies</td>
 <td>Global</td>
 <td>5</td>
</tr>
<tr>
 <td>Persistent Disk Standard (GB)</td>
 <td>Regional</td>
 <td>15,000</td>
</table>

<sup>&#42;</sup> Assuming a deployment with 100 app instances.<br/>
<sup>&#42;</sup><sup>&#42;</sup>  Assuming a SNAT topology.

To view production-level deployment options for <%= vars.platform_name %> on GCP, see the [Reference Architecture for <%= vars.platform_name %> on GCP](../plan/gcp/gcp_ref_arch.html).

For instructions about setting up the GCP resources required to deploy <%= vars.platform_name %>, see [Preparing to Deploy <%= vars.ops_manager %> on GCP Manually](/platform/ops-manager/<%= vars.current_major_version.sub('.', '-') %>/gcp/prepare-env-manual.html).
