---
title: IaaS Permissions Guidelines
owner: Program Management
---

This topic describes practices recommended by Pivotal for creating secure IaaS
user roles.

<%= vars.platform_name  %> is an automated platform that connects to IaaS
providers such as AWS and OpenStack.
This connectivity typically requires accounts with appropriate permissions to
act on behalf of the operator to access IaaS functionality such as creating
virtual machines (VMs), managing networks and storage, and other related
services.

Pivotal Operations Manager and Pivotal Application Service (PAS) can be configured with IaaS users in different ways depending on your IaaS. Other product tiles and services might also use their own IaaS credentials. Refer to the documentation for those product tiles or services to configure them securely.

##<a id="lpus"></a> Least Privileged Users (LPUs)

Pivotal recommends following the principle of least privilege by scoping privileges to the most restrictive permissions possible for a given role. 
In the event that someone gains access to credentials by mistake or through malicious intent, LPUs limit the scope of the breach. 
Pivotal recommends following best practices for the particular IaaS you are deploying.

##<a id="aws"></a>AWS Guidelines

See the recommendations detailed in the [AWS Permissions Guidelines](./aws-iaas-user-roles.html) topic.

##<a id="azure"></a>Azure Guidelines

See the permissions recommendations in [Preparing to Deploy Ops Manager on Azure Manually](/platform/ops-manager/<%= vars.current_major_version.sub('.', '-') %>/azure/prepare-env-manual.html), and use the minimum permissions necessary when creating your service principal.

##<a id="gcp"></a>GCP Guidelines

For GCP, Pivotal recommends using two different accounts with the least privilege. 

Use one account with the minimum permissions required to create desired GCP resources in your GCP project, then create a separate service account with the minimum permissions required to deploy <%= vars.product_short %> components such as Pivotal Ops Manager and PAS. For more information about creating the service account, see _Step 1: Set up IAM Service Accounts_ in [Preparing to Deploy Ops Manager on GCP Manually](/platform/ops-manager/<%= vars.current_major_version.sub('.', '-') %>/gcp/prepare-env-manual.html#iam_account).

##<a id="openstack"></a>OpenStack Guidelines

Pivotal recommends following the principle of least privilege by scoping privileges to the most restrictive permissions possible for a given role.

##<a id="vsphere"></a>vSphere Guidelines

See the vCenter permissions recommendations in the [Installing <%= vars.platform_name %> on vSphere](vsphere.html#permissions) topic.


