---
breadcrumb: <%= vars.platform_name %> Documentation
title: Installation Overview
owner: <%= vars.platform_name %> Documentation
---

This topic provides an overview of how to install and configure <%= vars.platform_name %>.


## <a id='sequence'></a> <%= vars.platform_name %> Installation Sequence

<%= vars.platform_name %> is a suite of products that runs on multiple IaaSes. Planning and installing <%= vars.platform_name %> means building layers from the bottom up, starting with the details of your IaaS and ending with "Day 2" configurations that you perform on a installed and running <%= vars.platform_name %> deployment.

The typical <%= vars.platform_name %> planning and installation process is:

1. **Plan**
  - Review the requirements for your IaaS:
      - [AWS](./aws.html)
      - [Azure](./azure.html)
      - [GCP](./gcp.html)
      - [OpenStack](./openstack.html)
      - [vSphere](./vsphere.html)).
  - See the Reference Architecture for your IaaS.
  - Assess your platform needs, including capacity, availability, container support, host OS, resource isolation, and geographical distribution. Discuss with your Pivotal contact.

1. **Deploy BOSH and Ops Manager**
  - [BOSH](https://bosh.io) is an open-source tool that lets you run software systems in the cloud.
      - BOSH and its IaaS-specific Cloud Provider Interfaces (CPIs) are what enable <%= vars.platform_name %> to run on multiple IaaSes.
      - See [Deploying with BOSH](#bosh) for a description of how BOSH deploys cloud software.
   - [Ops Manager](./ops-man.html) is a graphical dashboard that deploys with BOSH. Ops Manager works with the BOSH Director to manage, configure, and upgrade <%= vars.platform_name %> products such as <%= vars.app_runtime_full %> (<%= vars.app_runtime_abbr %>), <%= vars.k8s_runtime_full %> (<%= vars.k8s_runtime_abbr %>), and <%= vars.platform_name %> services and partner products.
      - Ops Manager represents <%= vars.platform_name %> products as _tiles_ with multiple configuration panes that let you input or select configuration values needed for the product.
      - Ops Manager generates BOSH manifests containing the user-supplied configuration values, and sends them to the Director.
      - After you install Ops Manager and BOSH, you use Ops Manager to deploy almost all <%= vars.platform_name %> products.
  - Deploying Ops Manager deploys both BOSH and Ops Manager with a single procedure.
      - On AWS, you can deploy Ops Manager manually, or automatically with a Terraform template.
      - On Azure, you can deploy Ops Manager manually, or automatically with a Terraform template. On Azure Government Cloud and Azure Germany, you can only deploy Ops Manager manually.

1. **Deploy BOSH Add-ons** (Optional)
  - BOSH add-ons include the [IPsec](https://docs.pivotal.io/addon-ipsec/index.html), [ClamAV](https://docs.pivotal.io/addon-antivirus/index.html), and [File Integrity Monitoring](https://docs.pivotal.io/addon-fim/index.html), which enhance <%= vars.platform_name %> platform security and security logging.
  - You deploy these add-ons via BOSH rather than installing them with Ops Manager tiles.

1. **Install Runtimes**
  - [<%= vars.app_runtime_full %>](./configure-pas.html) (<%= vars.app_runtime_abbr %>) lets developers develop and manage cloud-native apps and software services.
      - <%= vars.app_runtime_abbr %> is based on the Cloud Foundry Foundation's open-source Application Runtime (formerly Elastic Runtime) project.
  - [<%= vars.k8s_runtime_full %>](https://docs.pivotal.io/pks/index.html) (<%= vars.k8s_runtime_abbr %>) uses BOSH to run and manage Kubernetes container clusters.
      - <%= vars.k8s_runtime_abbr %> is based on the Cloud Foundry Foundation's open-source Container Runtime (formerly Kubo) project.
  - [Pivotal Isolation Segment](./installing-pcf-is.html) lets a single <%= vars.app_runtime_abbr %> deployment run apps from separate, isolated pools of computing, routing, and logging resources.
      - Operators replicate and configure an Isolation Segment tile for each new resource pool they want to create.
     - You must install <%= vars.app_runtime_abbr %> before you can install Isolation Segment.
  - [<%= vars.windows_runtime_full %>](https://docs.pivotal.io/platform/application-service-windows//index.html) (<%= vars.windows_runtime_abbr %>) enables <%= vars.app_runtime_abbr %> to manage Windows Server 2016 (1709) stemcells hosting .NET apps, and can also be replicated to create multiple isolated resource pools.
      - Operators replicate and configure a <%= vars.windows_runtime_abbr %> tile for each new resource pool they want to create.
      - You must install <%= vars.app_runtime_abbr %> before you can install <%= vars.windows_runtime_abbr %>.
  - [Small Footprint <%= vars.app_runtime_abbr %>](./small-footprint.html) is an alternative to <%= vars.app_runtime_abbr %> that uses far fewer VMs than <%= vars.app_runtime_abbr %> but has limitations.

1. **Day 2 Configurations**
  - Day 2 configurations set up internal operations and external integrations on a running <%= vars.platform_name %> platform.
      - Examples include front end configuration, user accounts, logging and monitoring, internal security, and container and stemcell images.

1. **Install Services**
  - Install software services for <%= vars.platform_name %> developers to use in their apps.
      - Services include the databases, caches, and message brokers that stateless cloud apps rely on to save information.
      - Installing and managing software services on <%= vars.platform_name %> is an ongoing process, and is covered in the [<%= vars.platform_name %> Operator Guide](../opsguide/index.html).


## <a id='bosh'></a> Deploying with BOSH

The following describes how you can use BOSH to run software in the cloud:

1. To use BOSH, you create a _manifest_ `.yml` file that specifies your software system's component processes, the VMs they run on, how they communicate, and anything else they need.

1. The BOSH command-line interface (CLI) or API sends the manifest to the _Director_, BOSH's executive process.

1. The Director provisions what it needs from the IaaS, _deploys_ your software to run in the cloud, and heals automatically when VMs go down.

1. BOSH CLI and API commands let you control BOSH-managed processes and allocate or release IaaS resources.

* [Configuring BOSH Director on OpenStack](/platform/ops-manager/<%= vars.current_major_version.sub('.', '-') %>/openstack/config.html)
* [Using Your Own Load Balancer](./custom-load-balancer.html)
* [<%= vars.platform_name %> User Types](./user-types.html)
* [Creating and Managing Ops Manager User Accounts](./opsman-users.html)
* [Creating New <%= vars.app_runtime_abbr %> User Accounts](./creating-account.html)
* [Logging In to Apps Manager](./console-login.html)
* [Adding Existing SAML or LDAP Users to a <%= vars.platform_name %> Deployment](./external-user-management.html)
* [Deleting an AWS Installation from the Console](./deleting-aws-install.html)
* [Modifying Your Ops Manager Installation and Product Template Files](./modify-ops-man.html)
* [Managing Errands in Ops Manager](./managing_errands.html)


## <a id='backing-up'></a> Backing Up

* [Backing Up and Restoring <%= vars.platform_name %>](./backup-restore/index.html)


## <a id='monitoring-logging-troubleshooting'></a> Monitoring, Logging, and Troubleshooting

* [Monitoring Virtual Machines in <%= vars.platform_name %>](./monitoring.html)
* [Diagnosing Problems in <%= vars.platform_name %>](./diagnostics.html)
* [Troubleshooting Problems in <%= vars.platform_name %>](./troubleshooting.html)
* [Troubleshooting Ops Manager for vSphere](./troubleshooting-vsphere.html)
* [Recovering MySQL from <%= vars.app_runtime_abbr %> Downtime](../mysql/bootstrap-mysql.html)
* [Advanced Troubleshooting with the BOSH CLI](./trouble-advanced.html)
