---
title: Installing Pivotal Platform Isolation Segment
owner: RelEng
deployment: IST
---

<% current_page.data.title = "Installing " + vars.product_name + " Isolation Segment" %>

This topic describes how to install the <%= vars.product_name %> Isolation Segment tile, which allows operators to isolate deployment workloads into dedicated resource pools called _isolation segments_.

Installing the tile installs a single isolation segment. However, you can install multiple isolation segments using the Replicator tool documented in [Step 4](#copy).

After installing the tile, you must follow the procedure in the [Create an Isolation Segment](../adminguide/isolation-segments.html#create-an-is) section of the _Managing Isolation Segments_ topic to create the isolation segment in the Cloud Controller database (CCDB). The topic also includes information about managing an isolation segment.

For more information about how isolation segments work, see the [Isolation Segments](../concepts/security.html#isolation-segments) section of the _PAS Security_ topic.


## <a id='routing'></a> Step 1: (Optional) Configure Routing

By default, the Pivotal Application Service (PAS) Gorouter handles traffic for your isolation segment. However, you can deploy a dedicated router for your isolation segment instead. For information about configuring and managing routing for isolation segments, see [Routing for Isolation Segments](../adminguide/routing-is.html).

To deploy a dedicated router:

1. Add a load balancer in front of the PAS Gorouter. The steps to do this depend on your IaaS, but the setup of the load balancer should mirror the setup of the load balancer for the PAS Gorouter that you configured in the PAS tile.

1. Create a wildcard DNS entry for traffic routed to any app in the isolation segment. For example, `*.iso.example.com`.

1. Attach the wildcard DNS entry to the load balancer you created.


## <a id='install'></a> Step 2: Install the Tile

To install the <%= vars.product_name %> Isolation Segment tile:

1. Download the product file from [Pivotal Network](https://network.pivotal.io/products/isolation-segment).

1. Navigate to `YOUR-OPS-MANAGER-FQDN` in a browser to log in to the Ops Manager Installation Dashboard.

1. Click **Import a Product** and select the downloaded product file.

1. Under **<%= vars.product_name %> Isolation Segment** in the left column, click the plus sign.


## <a id='config'></a> Step 3: Configure the Tile

Click the orange **<%= vars.product_name %> Isolation Segment** tile to start the configuration process.

### <a id='az_networks'></a> Assign AZs and Networks

In the Assign AZ and Networks pane, you assign jobs to your Availability Zones (AZs) and networks.

1. Click **Assign AZs and Networks**.

1. Select an availability zone for your singleton jobs, and one or more availability zones to balance other jobs in.

1. Select a network. This network does not need to be the same network where you deployed PAS. For most deployments, operators should create unique networks in which to deploy the Isolation Segment tile. These networks should maintain network reach-ability with the Diego components so that the Diego Cells can reach the Diego Brain and Diego Database VMs.

1. Click **Save**.

### <a id='networking'></a> Networking

<%= partial "/pcf/core/#{vars.current_major_version.sub('.', '-')}/networking-is" %>

### <a id='application_containers'></a> App Containers

In the App Containers pane, you enable microservice frameworks, private Docker registries, and other services that support your apps at the container level.

1. Click **App Containers**.

1. <%= partial "/pcf/core/#{vars.current_major_version.sub('.', '-')}/router_app_identity_verification" %>

1. (Optional) You can configure PAS to run app instances in Docker containers by provided a comma-separated list of their IP address ranges in the **Private Docker insecure registry allow list** field. For more information, see [Using Docker Registries](../opsguide/docker-registry.html).

1. Under **Segment name**, enter the name of your isolation segment. This name must be unique across your <%= vars.product_name %> deployment. You use this name when performing the steps in the [Create an Isolation Segment](../adminguide/isolation-segments.html#create-an-is) section of the _Managing Isolation Segments_ topic to create the isolation segment in the Cloud Controller database (CCDB).

1. Select your preference for **Docker images disk cleanup scheduling on Diego Cell VMs**. If you choose **Clean up disk space once usage fills disk**, enter a value in MB for **Reserved disk space for other jobs**. This is the amount of space the garbage collection algorithm should keep free for other jobs. For more information about the configuration options and how to configure a reserved amount, see [Configuring Docker Images Disk Cleanup Scheduling](../opsguide/config-cell-cleanup.html).

1. The **Enable containerd delegation** checkbox governs whether or not Garden delegates container create and destroy operations to the containerd tool. By default, this option is enabled and Garden uses containerd. Disable this option by disabling the checkbox. For more information about the containerd tool, see [containerd](https://containerd.io).

1. Under **NFSv3 volume services**, select **Enable** or **Disable**. NFS volume services allow app developers to bind existing NFS volumes to their apps for shared file access. For more information, see [Enabling NFS Volume Services](../opsguide/enable-vol-services.html).
  <p class="note"><strong>Note:</strong> In a fresh install, NFSv3 volume services is enabled by default. In an upgrade, NFSv3 volume services is set to the same setting as it was in the previous deployment.</p>

1. (Optional) To configure LDAP for NFSv3 volume services:
  * For **LDAP service account user**, enter the username of the service account in LDAP that will manage volume services.
  * For **LDAP service account password**, enter the password for the service account.
  * For **LDAP server host**, enter the hostname or IP address of the LDAP server.
  * For **LDAP server port**, enter the LDAP server port number. If you do not specify a port number, Ops Manager uses 389.
  * For **LDAP user search base**, enter the location in the LDAP directory tree from which any LDAP user search begins. The typical LDAP search base matches your domain name. <br>For example, a domain named `cloud.example.com` typically uses the following LDAP user search base: `ou=Users,dc=example,dc=com`.
  * For **LDAP server CA certificate**, you can optionally enter a certificate if your LDAP server supports TLS and you want to enable TLS connections from the NFS driver to your LDAP server. Paste in the root certificate from your CA certificate or your self-signed certificate.
  <p class='note'><strong>Note:</strong> UAA can only parse one certificate entered into this field. If you enter multiple certificates, UAA only uses the first one you entered and ignores the rest. You only need to include one root certificate or self-signed certificate.</p>

1. Click **Save**.

### <a id='syslog'></a> System Logging

In the **System Logging** pane, you can configure system logging in PAS to forward log messages from PAS component VMs to an external service. Pivotal recommends forwarding logs to an external service for use in troubleshooting. If you do not fill these fields, platform logs are not forwarded but remain available on the component VMs and for download through Ops Manager.

1. Select **System Logging**.

1. Select an option under **Configure syslog for system components?**. **No** is selected by default. This setting only affects Diego Cell, Gorouter, and HAProxy components within the isolation segment. This setting does not affect shared PAS system components.

1. If you want to use syslog, select **Yes**.

1. Enter the address of your external syslog aggregation service in the **Address** field. The address can be a hostname or IP address.

1. Enter a port number in the **Port** field.

1. Select a protocol from the **Transport protocol** menu. This is the protocol the system uses to transmit logs to syslog.

1. (Optional) Select the **Enable TLS** checkbox if you want to transmit logs over TLS.

1. Enter a **Permitted peer**.

1. Paste the certificate for your TLS certificate authority (CA) in the **TLS CA certificate** field.

1. (Optional) Enable the **Use TCP for file forwarding local transport** checkbox to transmit logs over TCP. This prevents log truncation, but may cause performance issues.

1. (Optional) The **Do not forward debug logs** checkbox is enabled by default. To forward `DEBUG` syslog messages to an external service, disable the checkbox.
  <p class="note"><strong>Note:</strong> Some <%= vars.product_name %> Isolation Segment components generate a high volume of <code>DEBUG</code> syslog messages.Enabling the <strong>Do not forward debug logs</strong> checkbox prevents PAS components from forwarding the <code>DEBUG</code> syslog messages to external services. However, <%= vars.product_name %> Isolation Segment still writes the messages to the local disk.</p>

1. (Optional) To specify a custom syslog rule, enter it in the **Custom rsyslog configuration** field in [RainerScript](http://www.rsyslog.com/doc/v8-stable/rainerscript/index.html) syntax. For more information about customizing syslog rules, see [Customizing Syslog Rules](./custom-syslog-rules.html).

1. Select the **Enable system metrics** checkbox to emit system-level metrics about all VMs in the deployment. For a list of the VM metrics that the System Metric Agent emits, see [VM Metrics](https://github.com/cloudfoundry/loggregator-agent-release#vm-metrics) in GitHub. When you enable this checkbox, ensure that you open port `9100` for the isolation segment. For more information, see the [Configure Firewall Rules](../adminguide/routing-is.html#config-firewall) section of the _Routing for Isolation Segments_ topic.

1. Click **Save.**

### <a id='advanced_features'></a> Advanced Features

<%= partial "/pcf/core/#{vars.current_major_version.sub('.', '-')}/advanced-features" %>

### <a id='resources'></a> Configure Router Resources

1. Select **Resource Config**.

1. If you are using a dedicated router for your isolation segment, follow the instructions below.
  <p class="note"><strong>Note:</strong> The configuration settings available in <strong>Resource Config</strong> vary depending on your IaaS.</p>
  * **If you have the Load Balancers column in your Resource Config**:
      * Enter the wildcard DNS entry attached to your load balancer into the **Router** row under **Load Balancers**.
  * **If you do not have the Load Balancers column in your Resource Config**:
      * Navigate to the **Networking** section of the **<%= vars.product_name %> Isolation Segment** tile.
      * Specify **Router IPs**.
      * Attach the IP addresses to your load balancer manually.

1. If you are not using HAProxy for this isolation segment, set the number of **Instances** to `0`.

### <a id='after_config'></a> After Tile Configuration

After you configure the <%= vars.product_name %> Isolation Segment tile:

1. Create the isolation segment in the Cloud Controller database (CCDB) by following the procedure in the [Create an Isolation Segment](../adminguide/isolation-segments.html#create-an-is) section of the _Managing Isolation Segments_ topic.

1. Return to the Ops Manager Installation Dashboard.

1. Click **Review Pending Changes**, then **Apply Changes** to deploy the tile.

After the tile finishes deploying, see [Managing Isolation Segments](../adminguide/isolation-segments.html) for more information about managing an isolation segment.


## <a id='copy'></a> (Optional) Step 4: Copy the Tile

If you want to create multiple isolation segments, perform the following steps to copy the <%= vars.product_name %> Isolation Segment tile with the Replicator tool:

1. Download the Replicator tool from the **<%= vars.product_name %> Isolation Segment** section of [Pivotal Network](https://network.pivotal.io/products/isolation-segment).

1. Navigate to the directory where you downloaded the Replicator tool.

1. Replicate the tile:
	<pre class="terminal">
	./replicator \
    	--name "YOUR-NAME" \
    	--path /PATH/TO/ORIGINAL.pivotal \
    	--output /PATH/TO/COPY.pivotal
	</pre>

	Replace the values above with the following:
	* `YOUR-NAME`: Provide a unique name for the new <%= vars.product_name %> Isolation Segment tile. The name must be ten characters or less and only contain alphanumeric characters, dashes, underscores, and spaces.
	* `/PATH/TO/ORIGINAL`: Provide the absolute path to the original <%= vars.product_name %> Isolation Segment tile you downloaded from Pivotal Network.
	* `/PATH/TO/COPY`: Provide the absolute path for the copy that the Replicator tool produces.

1. Follow the procedures in this topic using the new `.pivotal` file, starting with [Step 1](#routing).

### <a id='upgrading-replicas'></a> Upgrading Replicated Tiles

For information about upgrading replicated Isolation Segment tiles, see [Upgrading Replicated Tiles](./upgrading-products.html#replica-tiles).
