---
title: Installing PCF Isolation Segment
owner: RelEng
deployment: IST
---

This topic describes how to install the <%= vars.product_name %> Isolation Segment tile, which allows operators to isolate deployment workloads into dedicated resource pools called _isolation segments_.

Installing the tile installs a single isolation segment. However, you can install multiple isolation segments using the Replicator tool documented in [Step 4](#copy).

After installing the tile, you must follow the procedure in the [Create an Isolation Segment](../adminguide/isolation-segments.html#create-an-is) section of the _Managing Isolation Segments_ topic to create the isolation segment in the Cloud Controller database (CCDB). The topic also includes information about managing an isolation segment.

For more information about how isolation segments work, see the [Isolation Segments](../concepts/security.html#isolation-segments) section of the _<%= vars.product_short %> Security_ topic.


## <a id='routing'></a> Step 1: (Optional) Configure Routing

By default, the <%= vars.product_runtime %> (<%= vars.product_short %>) Gorouter handles traffic for your isolation segment. However, you can deploy a dedicated router for your isolation segment instead. For information about configuring and managing routing for isolation segments, see [Routing for Isolation Segments](../adminguide/routing-is.html).

To deploy a dedicated router:

1. Add a load balancer in front of the <%= vars.product_short %> Gorouter. The steps to do this depend on your IaaS, but the setup of the load balancer should mirror the setup of the load balancer for the <%= vars.product_short %> Gorouter that you configured in the <%= vars.product_short %> tile.

1. Create a wildcard DNS entry for traffic routed to any app in the isolation segment. For example, `*.iso.example.com`.

1. Attach the wildcard DNS entry to the load balancer you created.


## <a id='install'></a> Step 2: Install the Tile

To install the <%= vars.product_name %> Isolation Segment tile:

1. Download the product file from the [<%= vars.product_name %> Isolation Segment](https://network.pivotal.io/products/isolation-segment) page of Pivotal Network.

1. Navigate to your Ops Manager URL in a browser to log in to the Ops Manager Installation Dashboard.

1. Click **Import a Product** and select the downloaded product file.

1. Under **<%= vars.product_name %> Isolation Segment** in the left column, click the **+** icon.


## <a id='config'></a> Step 3: Configure the Tile

Click the orange **<%= vars.product_name %> Isolation Segment** tile to start the configuration process.

### <a id='az_networks'></a> Assign AZs and Networks

In the **Assign AZ and Networks** pane, you assign jobs to your Availability Zones (AZs) and networks.

To configure the **Assign AZ and Networks** pane:

1. Select **Assign AZs and Networks**.

1. Select an AZ for your singleton jobs, and one or more AZs to balance other jobs in.

1. Select a network. This network does not need to be the same network where you deployed <%= vars.product_short %>. For most deployments, operators should create unique networks in which to deploy the <%= vars.product_name %> Isolation Segment tile. These networks should maintain network reach-ability with the Diego components so that the Diego Cells can reach the Diego Brain and Diego Database VMs.

1. Click **Save**.

### <a id='networking'></a> Networking

<%= partial 'networking-is' %>

### <a id='application_containers'></a> Application Containers

In the **Application Containers** pane, you enable microservice frameworks, private Docker registries, and other services that support your apps at the container level.

To configure the **Application Containers** pane:

1. Select **App Containers**.

1. (Optional): Under **Private Docker Insecure Registry Whitelist**, enter one or more private Docker image registries that are secured with self-signed certificates. Use a comma-delimited list in the format `IP:Port` or `Hostname:Port`.

1. Under **Segment Name**, enter the name of your isolation segment. This name must be unique across your <%= vars.product_name %> deployment. You use this name when performing the steps in the [Create an Isolation Segment](../adminguide/isolation-segments.html#create-an-is) section of the _Managing Isolation Segments_ topic to create the isolation segment in the Cloud Controller database (CCDB).

1. Select your preference for **Docker Images Disk-Cleanup Scheduling on Cell VMs**. If you choose **Clean up disk-space once usage fills disk**, enter a value in MB for **Reserved disk space for other jobs**. This is the amount of space the garbage collection algorithm should keep free for other jobs. For more information about the configuration options and how to configure a reserved amount, see [Configuring Diego Cell Disk Cleanup Scheduling](../opsguide/config-cell-cleanup.html).

1. The **Enable Containerd Delegation** checkbox governs whether or not Garden delegates container create and destroy operations to the containerd tool. By default, this option is enabled and Garden uses containerd. Disable this option by disabling the checkbox. For more information about the containerd tool, see [containerd](https://containerd.io).

1. Under **Enabling NFSv3 volume services**, select **Enable** or **Disable**. NFS volume services allow app developers to bind existing NFS volumes to their applications for shared file access. For more information, see [Enabling Volume Services](../opsguide/enable-vol-services.html).
  <p class="note"><strong>Note</strong>: In a clean install, NFSv3 volume services are enabled by default. In an upgrade, NFSv3 volume services match the setting of the previous deployment.</p>

1. (Optional) To configure LDAP for NFSv3 volume services:
  * For **LDAP Service Account User**, enter the username of the service account in LDAP that manages volume services.
  * For **LDAP Service Account Password**, enter the password for the service account.
  * For **LDAP Server Host**, enter the hostname or IP address of the LDAP server.
  * For **LDAP Server Port**, enter the LDAP server port number. If you do not specify a port number, Ops Manager uses 389.
  * For **LDAP User Search Base**, enter the location in the LDAP directory tree from which any LDAP User search begins. The typical LDAP Search Base matches your domain name. <br>For example, a domain named `cloud.example.com` typically uses the following LDAP User Search Base: `ou=Users,dc=example,dc=com`.
  * (Optional) For **LDAP Server CA Cert**, you can enter a certificate if your LDAP server supports TLS and you want to enable TLS connections from the NFS driver to your LDAP server. Paste in the root certificate from your CA certificate or your self-signed certificate.

1. To enable Gorouter to verify app identity using TLS, enable the **Router uses TLS to verify application identity** checkbox. Verifying app identity using TLS improves resiliency and consistency for app routes. To enable the Gorouter and your apps to verify each other's identity using TLS, click **Router and applications use mutual TLS to verify each other's identity**.
For more information about Gorouter route consistency modes, see the [Preventing Misrouting](../concepts/http-routing.html#consistency) section of the _HTTP Routing_ topic.
  <p class='note'><strong>Note:</strong> This feature does not work if the <strong>Disable SSL certificate verification for this environment</b> checkbox is selected.</strong>

1. To enable time-to-live (TTL) expiration for routes, enable the **Prune Routes on TTL Expiry for TLS Backends** checkbox. 
You should only enable TTL expiration for TLS back ends if you are experiencing occasional misrouting of apps due to stale routes. 
For more information, see the [Preventing Misrouting](../concepts/http-routing.html#consistency) section of the _HTTP Routing_ topic and the [Intermittent Misrouting of Apps in Large PCF Foundations](https://docs.pivotal.io/pivotalcf/2-6/pcf-release-notes/runtime-rn.html##stale-routes) section of the the _<%= vars.product_runtime %> <%= vars.current_major_version %> Release Notes_ topic.

1. Click **Save**.

### <a id='syslog'></a> System Logging

In the **System Logging** pane, you can configure system logging in <%= vars.product_short %> to forward log messages from <%= vars.product_short %> component VMs to an external service. <%= vars.recommended_by %> recommends forwarding logs to an external service for use in troubleshooting. If you do not fill these fields, platform logs are not forwarded but remain available on the component VMs and for download through Ops Manager.

To configure the **System Logging** pane:

1. Select **System Logging**.

1. Select an option under **Configure syslog for system components?**. **No** is selected by default. This setting only affects Diego Cell, Gorouter, and HAProxy components within the isolation segment. This setting does not affect shared <%= vars.product_short %> system components.

1. If you want to use syslog, select **Yes**.

1. Enter the address of your external syslog aggregation service in the **Address** field. The address can be a hostname or IP address.

1. Enter a port number in the **Port** field.

1. Select a protocol from the **Transport Protocol** menu. This is the protocol the system uses to transmit logs to syslog.

1. (Optional) Select the **Enable TLS** checkbox if you want to transmit logs over TLS.

1. Enter a **Permitted Peer**.

1. Paste the certificate for your TLS certificate authority (CA) in the **TLS CA Certificate** field.

1. (Optional) Enable the **Use TCP for file forwarding local transport** checkbox to transmit logs over TCP instead of UDP. This prevents log truncation, but may cause performance issues.

1. (Optional) The **Don't Forward Debug Logs** checkbox is enabled by default. To forward `DEBUG` syslog messages to an external service, disable the checkbox.
  <p class="note"><strong>Note:</strong> Some <%= vars.product_name %> Isolation Segment components generate a high volume of <code>DEBUG</code> syslog messages. Enabling the <strong>Don't Forward Debug Logs</strong> checkbox prevents <%= vars.product_short %> components from forwarding the <code>DEBUG</code> syslog messages to external services. However, <%= vars.product_name %> Isolation Segment still writes the messages to the local disk.</p>

1. (Optional) To specify a custom syslog rule, enter it in the **Custom rsyslog Configuration** field in RainerScript syntax. For more information about customizing syslog rules, see [Customizing Syslog Rules](./custom-syslog-rules.html). For more information about RainerScript, see the [RainerScript](http://www.rsyslog.com/doc/v8-stable/rainerscript/index.html) documentation.

1. Select the **Enable System Metrics** checkbox to emit system-level metrics about all VMs in the deployment. For a list of the VM metrics that the System Metric Agent emits, see [VM Metrics](https://github.com/cloudfoundry/loggregator-agent-release#vm-metrics) in GitHub. When you enable this checkbox, ensure that you open port `9100` for the isolation segment. For more information, see the [Configure Firewall Rules](../adminguide/routing-is.html#config-firewall) section of the _Routing for Isolation Segments_ topic.

1. Click **Save.**

### <a id='advanced_features'></a> Advanced Features

<%= partial 'advanced-features' %>

### <a id='resources'></a> Configure Router Resources

In the **Resource Config** pane, you must associate load balancers with the VMs in your deployment to enable traffic.

To configure the **Resource Config** pane:

1. Select **Resource Config**.

1. If you are using a dedicated router for your isolation segment, follow the instructions below.
  <p class="note"><strong>Note:</strong> The configuration settings available in <strong>Resource Config</strong> vary depending on your IaaS.</p>
  * **If you have the Load Balancers column in your Resource Config**:
      * Enter the wildcard DNS entry attached to your load balancer into the **Router** row under **Load Balancers**.
  * **If you do not have the Load Balancers column in your Resource Config**:
      * Navigate to the **Networking** section of the **Pivotal Isolation Segment** tile.
      * Specify **Router IPs**.
      * Attach the IP addresses to your load balancer manually.

1. If you are not using HAProxy for this isolation segment, set the number of **Instances** to `0`.

### <a id='after_config'></a> After Tile Configuration

After you configure the <%= vars.product_name %> Isolation Segment tile:

1. Create the isolation segment in the Cloud Controller database (CCDB) by following the procedure in the [Create an Isolation Segment](../adminguide/isolation-segments.html#create-an-is) section of the _Managing Isolation Segments_ topic.

1. Return to the Ops Manager Installation Dashboard.

1. Click **Review Pending Changes**, then **Apply Changes** to deploy the tile.

After the tile finishes deploying, see [Managing Isolation Segments](../adminguide/isolation-segments.html) for more information about managing an isolation segment.


## <a id='copy'></a> Step 4: (Optional) Copy the Tile

If you want to create multiple isolation segments, you can copy the <%= vars.product_name %> Isolation Segment tile with the Replicator tool.

To create multiple isolation segments:

1. Download the Replicator tool from the **<%= vars.product_name %> Isolation Segment** page of [Pivotal Network](https://network.pivotal.io/products/isolation-segment).

1. Navigate to the directory where you downloaded the Replicator tool.

1. Replicate the tile by running:
  
    ```
    ./replicator \
        --name "TILE-NAME" \
        --path /PATH/TO/ORIGINAL.pivotal \
        --output /PATH/TO/COPY.pivotal
    ```
    Where:
    * `TILE-NAME` is a unique name you provide for the new <%= vars.product_name %> Isolation Segment tile. The name must be ten characters or less and only contain alphanumeric characters, dashes, underscores, and spaces.
    * `/PATH/TO/ORIGINAL` is the absolute path to the original <%= vars.product_name %> Isolation Segment tile you downloaded from Pivotal Network.
    * `/PATH/TO/COPY` is the absolute path for the copy that the Replicator tool produces.

1. Follow the procedures in this topic using the new `.pivotal` file, starting with [Step 1](#routing).

### <a id='upgrading-replicas'></a> Upgrading Replicated Tiles

For information about upgrading replicated <%= vars.product_name %> Isolation Segment tiles, see the [Upgrading Replicated Tiles](./upgrading-products.html#replica-tiles) section of the _Upgrading <%= vars.product_short %> and Other <%= vars.product_name %> Products_ topic.
