---
title: Installing PCF Isolation Segment
owner: RelEng
deployment: IST
---



This topic describes how to install the PCF Isolation Segment tile, which allows operators to isolate deployment workloads into dedicated resource pools called _isolation segments_.

Installing the tile installs a single isolation segment. However, you can install multiple isolation segments using the Replicator tool documented in [Step 4](#copy).

After installing the tile, you must perform the steps in the [Create an Isolation Segment](../adminguide/isolation-segments.html#create-an-is) section of the <em>Managing Isolation Segments</em> topic to create the isolation segment in the Cloud Controller Database (CCDB). The topic also includes information about managing an isolation segment.

For more information about how isolation segments work, see [Isolation Segments](../concepts/security.html#isolation-segments).

##<a id='routing'></a> Step 1: (Optional) Configure Routing

By default, the Pivotal Application Service (PAS) Router handles traffic for your isolation segment. However, you can deploy a dedicated router for your isolation segment instead. For information about configuring and managing routing for isolation segments, see the [Routing for Isolation Segments](../adminguide/routing-is.html) topic.

To deploy a dedicated router, perform the following steps:

1. Add a load balancer in front of the PAS Router. The steps to do this depend on your IaaS, but the setup of the load balancer should mirror the setup of the load balancer for the PAS Router that you configured in the PAS tile.
1. Create a wildcard DNS entry for traffic routed to any app in the isolation segment. For example, `*.iso.example.com`.
1. Attach the wildcard DNS entry to the load balancer you created.

##<a id='install'></a> Step 2: Install the Tile

Perform the following steps to install the PCF Isolation Segment tile:

1. Download the product file from [Pivotal Network](https://network.pivotal.io/products/isolation-segment).

1. Navigate to `YOUR-OPSMAN-FQDN` in a browser to log in to the Ops Manager Installation Dashboard.

1. Click **Import a Product** and select the downloaded product file.

1. Under **PCF Isolation Segment** in the left column, click the plus sign.

##<a id='config'></a> Step 3: Configure the Tile

Click the orange **PCF Isolation Segment** tile to start the configuration process.<br>

<%= image_tag('isolation-segment/pcf-isolation-segment.png') %>

### <a id='az_networks'></a> Assign AZs and Networks

Perform the following steps to configure the PCF Isolation Segment tile:

1. Click **Assign AZs and Networks**.

	<%= image_tag('isolation-segment/az-network.png') %>

1. Select an availability zone for your singleton jobs, and one or more availability zones to balance other jobs in.

1. Select a network. This network does not need to be the same network where you deployed PAS. For most deployments, operators should create  unique networks in which to deploy the Isolation Segment tile. These networks should maintain network reach-ability with the Diego components so that the cells can reach the Diego Brain and Diego Database VMs.

1. Click **Save**.

### <a id='networking'></a> Networking

<%= partial 'networking-is' %>

### <a id='application_containers'></a> Application Containers

Perform the following steps to configure the PCF Isolation Segment tile:

1. Click **Application Containers**.

	<%= image_tag('isolation-segment/app-containers.png') %>

1. (Optional): Under **Private Docker Insecure Registry Whitelist**, enter one or more private Docker image registries that are secured with self-signed certificates. Use a comma-delimited list in the format `IP:Port` or `Hostname:Port`.

1. Under **Segment Name**, enter the name of your isolation segment. This name must be unique across your PCF deployment. You use this name when performing the steps in the [Create an Isolation Segment](../adminguide/isolation-segments.html#create-an-is) section of the <em>Managing Isolation Segments</em> topic to create the isolation segment in the Cloud Controller Database (CCDB).

1. Select your preference for **Docker Images Disk-Cleanup Scheduling on Cell VMs**. If you choose **Clean up disk-space once usage fills disk**, enter a **Reserved amount of disk space for other jobs** in megabytes. For more information about the configuration options and how to configure a reserved amount, see [Configuring Docker Images Disk-Cleanup Scheduling](../opsguide/config-cell-cleanup.html).

1. The **Enable Containerd Delegation** checkbox governs whether or not Garden delegates container create and destroy operations to the [containerd](https://containerd.io) tool. By default, this option is enabled and Garden uses containerd. Disable this option by disabling the checkbox.

1. Under **Enabling NFSv3 volume services**, select **Enable** or **Disable**. NFS volume services allow application developers to bind existing NFS volumes to their applications for shared file access. For more information, see the [Enabling NFS Volume Services](../opsguide/enable-vol-services.html) topic.
  <p class="note"><strong>Note</strong>: In a clean install, NFSv3 volume services are enabled by default. In an upgrade, NFSv3 volume services match the setting of the previous deployment.</p>
    <%= image_tag('er-config-app-vol-svc.png') %>
1. (Optional) To configure LDAP for NFSv3 volume services, do the following:
  <%= image_tag("../images/er-config-app-vol-svc.png") %>
  * For **LDAP Service Account User**, enter the username of the service account in LDAP that will manage volume services.
  * For **LDAP Service Account Password**, enter the password for the service account.
  * For **LDAP Server Host**, enter the hostname or IP address of the LDAP server.
  * For **LDAP Server Port**, enter the LDAP server port number. If you do not specify a port number, Ops Manager uses 389.
  * For **LDAP User Search Base**, enter the location in the LDAP directory tree from which any LDAP User search begins. The typical LDAP Search Base matches your domain name. <br>For example, a domain named `cloud.example.com` typically uses the following LDAP User Search Base: `ou=Users,dc=example,dc=com`.
  * For **LDAP Server CA Cert**, you can optionally enter a certificate if your LDAP server supports TLS and you want to enable TLS connections from the NFS driver to your LDAP server. Paste in the root certificate from your CA certificate or your self-signed certificate.

1. To enable Gorouter to verify app identity using TLS, select the **Router uses TLS to verify application identity** checkbox. Verifying app identity using TLS improves resiliency and consistency for app routes. For more information about Gorouter route consistency modes, see [Preventing Misrouting](../concepts/http-routing.html#consistency) in _HTTP Routing_.
  <p class='note'><strong>Note:</strong> This feature does not work if the <b>Disable SSL certificate verification for this environment</b> checkbox is selected.</p>

1. Click **Save**.

### <a id='syslog'></a> System Logging

1. In the **System Logging** menu, select an option underneath **Do you want to configure syslog for system components?**. **No** is selected by default. This setting only affects Diego cell, router, and HAProxy components within the isolation segment, not shared PAS system components.
<%= image_tag('./images/iso-logging-no.png') %>

1. If you want to use syslog, select **Yes.**
<%= image_tag('./images/ist-tcp-log-export.png') %>

1. Enter the address of your external syslog aggregation service in the **Address** field. The address can be a hostname or IP address.

1. Enter a port number in the **Port** field.

1. Select a protocol from the **Transport Protocol** menu. This is the protocol the system uses to transmit logs to syslog.

1. (Optional) Select the **Enable TLS** option if you want to transmit logs over TLS.

1. Enter a **Permitted Peer.**

1. Paste the certificate for your TLS certificate authority (CA) in the **TLS CA Certificate** field.

1. (Optional) Select the **Use TCP for file forwarding local transport** to transmit logs over TCP, rather than UDP. This prevents log truncation, but may cause performance issues.

1. (Optional) To forward DEBUG syslog messages to an external service, disable the **Don't Forward Debug Logs** checkbox.
This checkbox is enabled in PCF Isolation Segment by default.
  <p class="note"><strong>Note</strong>: Some PCF Isolation Segment components generate a high volume of DEBUG syslog messages.
  Using the <strong>Don't Forward Debug Logs</strong> checkbox prevents them from being forwarded to external services. PCF Isolation Segment still writes the messages to the local disk.</p>

1. (Optional) To specify a custom syslog rule, enter it in the **Custom rsyslog Configuration** field in [RainerScript](http://www.rsyslog.com/doc/v8-stable/rainerscript/index.html) syntax. For more information about customizing syslog rules, see [Customizing Syslog Rules](./custom-syslog-rules.html).

1. Select **Enable System Metrics** to emit system-level metrics about all VMs in the deployment. For a list of the VM metrics that the System Metric Agent emits, see [VM
Metrics](https://github.com/cloudfoundry/loggregator-agent-release#vm-metrics) in GitHub. When you enable this, ensure that you open port `9100` for the isolation segment. For more information, see [Configure Firewall Rules](../adminguide/routing-is.html#config-firewall).

1. Click **Save.**

### <a id='advanced_features'></a> Advanced Features

<%= partial 'advanced-features' %>

### <a id='resources'></a> Configure Router Resources

1. Select **Resource Config**.
  <%= image_tag('isolation-segment/resource-config.png') %>
1. If you are using a dedicated router for your isolation segment, follow the instructions below.
  <p class="note"><strong>Note</strong>: The configuration settings available in <strong>Resource Config</strong> vary depending on your IaaS.</p>
  * **If you have the Load Balancers column in your Resource Config**:
      * Enter the wildcard DNS entry attached to your load balancer into the **Router** row under **Load Balancers**.
  * **If you do not have the Load Balancers column in your Resource Config**:
      * Navigate to the **Networking** section of the **PCF Isolation Segment** tile.
      * Specify **Router IPs**.
      * Attach the IP addresses to your load balancer manually.
1. If you are not using HAProxy for this isolation segment, set the number of **Instances** to `0`.

### <a id='after_config'></a> After Tile Configuration

After you configure the PCF Isolation Segment tile, perform the following steps:

1. Create the isolation segment in the Cloud Controller Database (CCDB) by following the procedure in the [Create an Isolation Segment](../adminguide/isolation-segments.html#create-an-is) section of the <em>Managing Isolation Segments</em> topic.

1. Return to the Ops Manager Installation Dashboard.

1. Click **Review Pending Changes**, then **Apply Changes** to deploy the tile.

After the tile finishes deploying, see the [Managing Isolation Segments](../adminguide/isolation-segments.html) topic for more information about managing an isolation segment.

##<a id='copy'></a> Step 4: (Optional) Copy the Tile

If you want to create multiple isolation segments, perform the following steps to copy the PCF Isolation Segment tile with the Replicator tool:

1. Download the Replicator tool from the **Pivotal Cloud Foundry Isolation Segment** section of [Pivotal Network](https://network.pivotal.io/products/isolation-segment).

1. Navigate to the directory where you downloaded the Replicator tool.

1. Replicate the tile:
	<pre class="terminal">
	./replicator \
    	--name "YOUR-NAME" \
    	--path /PATH/TO/ORIGINAL.pivotal \
    	--output /PATH/TO/COPY.pivotal
	</pre>

	Replace the values above with the following:
	* `YOUR-NAME`: Provide a unique name for the new PCF Isolation Segment tile. The name must be ten characters or less and only contain alphanumeric characters, dashes, underscores, and spaces.
	* `/PATH/TO/ORIGINAL`: Provide the absolute path to the original PCF Isolation Segment tile you downloaded from Pivotal Network.
	* `/PATH/TO/COPY`: Provide the absolute path for the copy that the Replicator tool produces.

1. Follow the procedures in this topic using the new `.pivotal` file, starting with [Step 1](#routing).

### <a id='upgrading-replicas'></a> Upgrading Replicated Tiles

For information about upgrading replicated Isolation Segment tiles, see [Upgrading Replicated Tiles](./upgrading-products.html#replica-tiles).
