---
title: Configuring Network Isolation Options in Ops Manager
owner: Ops Manager
---

<strong><%= modified_date %></strong>

This topic describes configuring different network isolation options in [Pivotal Cloud Foundry&reg;](https://network.pivotal.io/products/pivotal-cf) (PCF) Operations Manager.

Once you have deployed Ops Manager Director, configure the following traffic back to the Director for each segmented network:

  * TCP traffic on port 4222
  * TCP traffic on port 25250
  * TCP and UDP traffic on port 53

##<a id='prerequisites'></a>Prerequisites ##

This topic assumes that you have deployed vCenter and created multiple networks.

##<a id='same-network'></a>Option 1: Installing PCF Products to a Common Network ##

Deploy Ops Manager, Ops Manager Director, and all Pivotal Cloud Foundry&reg; products to a common network.
The vCenter IP must be reachable on or from this network.

<p class='note'><strong>Note</strong>: Production environments typically require higher security than this option provides.</p>

The following image shows all PCF products and vCenter deployed to a common network.

<%=image_tag("netseg/single-network.png")%>

To configure your PCF deployment for the common network option:

1. Log into the Ops Manager web interface.
1. On the Installation Dashboard, select **Ops Manager Director**.
1. In the left navigation menu, select **Create Networks**.
1. Click **Add**. Add a network that maps to a vCenter network.

    The image shows an example network named A.
    <%=image_tag("netseg/create-a.png")%>

1. In the left navigation menu, click **Assign Networks**.
1. Click the **Infrastructure Network** drop-down menu and select the network
that you created in step 4.
1. Click the **Deployment Network** drop-down menu and select the network that
you created in step 4.

    <%=image_tag("netseg/a-a.png")%>

1. Return to the Installation Dashboard.
1. Perform the following steps for each PCF product, including Pivotal Cloud Foundry&reg; Elastic Runtime:
    1. On the Installation Dashboard, select the PCF product.
    1. In the left navigation menu, click **Assign Networks**. Assign the
		product to the network that you created in step 4.

        The image shows an example network named A.
        <%=image_tag("netseg/assign-a.png")%>

    1. Return to the Installation Dashboard.

##<a id='two-networks'></a>Option 2: Installing All PCF Products to an Isolated Network ##

Deploy all PCF products to a Deployment Network.
Ensure that you isolate this network from the Infrastructure Network that can
reach your vCenter.
This configuration provides a higher level of security than [Option 1](#same-network) by reducing the risk of a malicious attack at the IaaS level.

You must configure Ops Manager Director to communicate on two networks, either
through routing or by multi-homing.
For example, the following image shows vCenter in Network A, all PCF
products in Network B, and Ops Manager Director multi-homed in both networks.

<%=image_tag("netseg/two-networks.png")%>

To configure your PCF deployment for an isolated network:

1. Log into the Ops Manager web interface.
1. On the Installation Dashboard, select **Ops Manager Director**.
1. In the left navigation menu, select **Create Networks**.
1. Click **Add**. Add a network that maps to a vCenter network.

    The image shows an example network named A.
    <%=image_tag("netseg/create-a.png")%>

1. Add another network that maps to a different vCenter network.

    The image shows an example network named B.
    <%=image_tag("netseg/create-b.png")%>

1. In the Ops Manager Director configuration interface, configure the Director
	to receive an IP address on both networks, as follows:
    * In the left navigation menu, click **Assign Networks**. Click the
		**Infrastructure Network** drop-down menu and select the network that
		you created in step 4.
    * Click the **Deployment Network** drop-down menu and select the network
		that you created in step 5.

    <%=image_tag("netseg/a-b.png")%>

1. Return to the Installation Dashboard.
1. Perform the following steps for each PCF product, including Elastic Runtime:
    1. On the Installation Dashboard, select the PCF product.
    1. In the left navigation menu, click **Assign Networks**.
		Assign the product to the Deployment Network.

        The image shows an example network named B.
        <%=image_tag("netseg/assign-b.png")%>

    1. Return to the Installation Dashboard.

##<a id='multiple'></a>Option 3: Installing PCF Products to Multiple Isolated Networks ##

Deploy PCF products to multiple networks.
Ensure that you isolate these networks from each other and from the
Infrastructure Network that can reach your vCenter.
This configuration provides a higher level of security than [Option 1](#same-network) and [Option 2](#two-networks) by reducing the risk of a
malicious attack at both the IaaS and product levels.

You must configure Ops Manager Director to communicate on two networks, either
through routing or by multi-homing.
All other PCF products receive IP addresses on one or more separate
networks.
For example, the following image shows vCenter in Network A, Ops Manager
Director multi-homed in Network A and Network B, and all other PCF
products in Network C and Network D.

<%=image_tag("netseg/multiple-networks.png")%>

To configure your PCF deployment for multiple isolated networks:

1. Log into the Ops Manager web interface.
1. On the Installation Dashboard, select **Ops Manager Director**.
1. In the left navigation menu, select **Create Networks**.
1. Click **Add**. Add a network that maps to a vCenter network.

    The image shows an example network named A.
    <%=image_tag("netseg/create-a.png")%>

1. Add another network for the Ops Manager Director that maps to a different
	vCenter network.

    The image shows an example network named B.
    <%=image_tag("netseg/create-b.png")%>

1. Add a third network specifically for Elastic Runtime that maps to a different
	vCenter network.
	Ensure that this network can route to the Ops Manager Director IP address
	that you created in step 3.

    The image shows an example network named C.
    <%=image_tag("netseg/create-c.png")%>

1. (**Optional**) Add additional networks for other products if you want to
isolate them from the applications running in Elastic Runtime and from each
other.
Ensure that each network can route to the Ops Manager Director IP address.

1. In the Ops Manager Director configuration interface, configure the Director
to receive an IP address on the Infrastructure and Deployment networks, as
follows:
    * In the left navigation menu, click **Assign Networks**.
		Click the **Infrastructure Network** drop-down menu and select the
		network that you created in step 4.
    * Click the **Deployment Network** drop-down menu and select the network
		that you created in step 5.

    <%=image_tag("netseg/a-b.png")%>

1. Return to the Installation Dashboard.
1. Perform the following steps for each PCF product, including Elastic Runtime:
    1. On the Installation Dashboard, select the PCF product.
    1. In the left navigation menu, click **Assign Networks**.
		Assign the product to a network other than Infrastructure or Deployment.

        The image shows an example network named C.
        <%=image_tag("netseg/assign-c.png")%>

    1. Return to the Installation Dashboard.