---
title: Installing PCF in Airgapped Environments
owner: Ops Manager
---

<strong><%= modified_date %></strong>

This topic describes one solution that has been used in the past to deploy Pivotal Cloud Foundry (PCF) in airgapped or disconnected environments.

##<a id="airgap"></a> Install in Airgapped Environments 

In this example solution, an operator uses [Concourse](https://concourse-ci.org/) as the [control plane architecture](../refarch/control.html) and specialized [PCF Pipelines](https://github.com/pivotal-cf/pcf-pipelines) to deploy PCF to computer networks physically isolated from the Internet. 

<p class="note warning"><strong>Warning: </strong> At time of publication, the PCF Pipelines repository is undergoing planned deprecation. Use this document only as a model and reference when implementing your own solution.</p>

The following diagram presents a high level overview of this solution:

<%= image_tag("offline-env-diagram.png") %>

The current implementation of these pipelines applies to airgapped environments where the internal S3 repository is bootstrapped by moving tar files previously packaged from another Internet-connected environment. Also, it assumes the existence of one Concourse server in each environment to run the corresponding pipeline.

###<a id="implementation"></a> Implementation

This solution requires the following:

* Internet-connected environment with access to DockerHub and PivNet.
* Concourse v3.3.3 or later installed in both the Internet-connected and airgapped environments.
* All artifacts, such as release files, Docker images and scripts, must be provided from within the airgapped environment. Therefore, you must first download and package any artifacts within an Internet-connected network and then bring them into the airgapped environment. 
* The offline pipelines implementation rely on Concourse's [s3-resource](https://github.com/concourse/s3-resource) to retrieve the required artifacts from an S3-compatible blobstore. There are many S3-compatible blobstores that can be used from within airgapped environments such as [Minio](https://minio.io/) and [Dell EMC Elastic Cloud Storage](https://www.dellemc.com/en-us/storage/ecs/index.htm).

###<a id="bootstrap"></a> Bootstrap

As illustrated in the diagram below, two pipelines are provided to help bootstrap the offline environment, `create-offline-pinned-pipelines` and `unpack-pcf-pipelines-combined`. These pipelines are meant to facilitate physical transfer of artifacts to the airgapped environment.

<%= image_tag('offline-full-diagram.png') %>

####<a id="execution"></a> Pipelines Execution Flow

1. Download artifacts from external sources, sign, package and upload them to S3 repository.
2. Move packaged artifacts to disconnected environment's S3 repository (either manual or automated.)
3. Unpack artifacts, check their signature and setup offline `pcf-pipelines` with new artifacts.
4. `pcf-pipelines` are triggered upon existence of new artifacts in S3 repository.
5. PCF is deployed by `pcf-pipelines` in disconnected environment.

####<a id="execution"></a> Create Offline Pinned Pipelines

The `create-offline-pinned-pipelines` does the following:

* Pulls all required resources (images, products and pipelines) from their locations on the Internet and package them.
* Transforms `pcf-pipelines` to consume the resources from S3-compatible blobstore.
* Creates an encrypted tarball with all resources, and a shasum manifest for each resource.
* Puts the tarball to a location within S3 storage for it to be transferred to the airgapped environment.

To download this pipeline, see [create-offline-pinned-pipelines](https://github.com/pivotal-cf/pcf-pipelines/tree/master/create-offline-pinned-pipelines).

The following screenshot shows how this pipeline appears in the Concourse dashboard.

<%= image_tag('create-offline-pinned-pipelines.png') %>
[View a larger version of this diagram](images/create-offline-pinned-pipelines.png).

####<a id="unpack-offline"></a> Unpack PCF Pipelines

The `unpack-pcf-pipelines-combined` does the following:

* Downloads, decrypts, and extracts the GPG-encrypted tarball into its components after it has been transferred to the `pcf-pipelines-combined/` path in the S3-compatible store.
* Verifies the `shasum` manifest of the tarball contents.
* Puts the tarball parts into their appropriate locations within the airgapped S3 storage for use by the pipelines.

To download this pipeline, see [unpack-pcf-pipelines-combined](https://github.com/pivotal-cf/pcf-pipelines/tree/master/unpack-pcf-pipelines-combined).

The following screenshot shows how this pipeline appears in the Concourse dashboard.

<%= image_tag('unpack-pcf-pipelines-combined.png') %>
[View a larger version of this diagram](images/unpack-pcf-pipelines-combined.png).

From this point, the `pcf-pipelines` folder in the configured S3 bucket in the airgapped environment contains the pcf-pipelines tarball that can then be used to set a pipeline on an airgapped Concourse, in the same fashion as a standard `pcf-pipelines` setup.

###<a id="bootstrapping"></a> Bootstrapping Requirements

For the `unpack-pcf-pipelines-combined` to work, there must be a single manual transfer of the `czero-cflinuxfs2` tarball to the `czero-cflinuxfs2` folder within the airgapped environment's S3 storage. Only after that is done can the `unpack-pcf-pipelines-combined` pipeline be set and unpaused.

## <a id="install_china"></a> Install in the China Region

<strong>Question:</strong> I am a customer headquartered in the US with another location in China, but am experiencing problems downloading Pivotal software directly to my China location. What should I do?

<strong>Disclaimer:</strong> This question has legal implications, and Pivotal cannot provide legal advice to anyone about their specific obligations under any applicable laws and regulations in China or elsewhere (including, but not limited to, the laws and regulations on import/export and cyber security.) So you should seek legal guidance regarding your own import/export compliance under all the applicable laws or other obligations regarding this issue. The following information is provided to you for your reference only. Pivotal expressly disclaims all liabilities in respect to actions taken or not taken based on the following information.

Certain customers have used the above solution under the above use case, which may or may not address your issue. A customer headquartered in the United States (U.S.) has another location in China, each with their own environments/systems. Customer downloads our software from Pivotal Network (PivNet) from our PivNet servers in the U.S. Customer employee then copies our software from the customer's environment in the U.S. to customer's environment in China. Customer’s China location then uses that locally available version of our software, instead of downloading it directly from PivNet to customer's China location. 
