---
title: Configuring Ops Manager Director for OpenStack
---

<strong><%= modified_date %></strong>

<% $this_IaaS = 'OpenStack' %>

This topic describes how to configure the Ops Manager Director after deploying
[Pivotal Cloud Foundry&reg;](https://network.pivotal.io/products/pivotal-cf) (PCF) on OpenStack.
Use this topic when [Installing Pivotal Cloud Foundry&reg; on OpenStack](./openstack.html).

Before beginning this procedure, ensure that you have successfully completed all
steps in the [Provisioning the OpenStack Infrastructure](./openstack-setup.html)
topic.
After you complete this procedure, follow the instructions in the [Installing Elastic Runtime after Deploying PCF on OpenStack](./openstack-er-config.html)
topic.

## <a id='log-in'></a>Step 1: Log in to Ops Manager ##

1. In the left navigation of your OpenStack dashboard, click **Project > Compute > Instances** to view the public IP address listed for Ops Manager.

1. Use the public IP address of your Ops Manager instance to launch Ops Manager
in a browser.

    <%= image_tag("om-login.png") %>

1. Enter a **Username** and a **Admin password**.

1. Enter a **Decryption passphrase**. This passphrase encrypts the Ops Manager's datastore. You must create a passphrase upon each reboot of the Ops Manager VM. Be sure to record this passphrase, because it cannot be recovered.

1. Read the **End User License Agreement**, and select the checkbox to accept.

1. Click **Create Admin User** to create an Ops Manager administrator account.

## <a id='openstack-config'></a>Step 2: Complete the OpenStack Config Page ##

1. In the left navigation of your OpenStack dashboard, click **Project > Compute > Access & Security**. Select the **API Access** tab.

1. Record the **Service Endpoint** for the **Identity** service.
You use this Service Endpoint as the Authentication URL for Ops Manager in a
later step.

    <%= image_tag("openstack/record-endpoint.png") %>

1. In the PCF Ops Manager Installation Dashboard, click the **Ops Manager Director** tile.

    <%= image_tag("openstack/om-tile.png") %>

1. Select **OpenStack Config**.

1. Complete the **OpenStack Management Console Config** page with the following
information:

    <%= image_tag("openstack/om-openstack-config.png") %>
    * **Authentication URL**: Enter the Service Endpoint for the Identity
      service that you recorded in a previous step.
    * **Username**: Enter your OpenStack Horizon username.
    * **Password**: Enter your OpenStack Horizon password.
    * **Tenant**: Enter your OpenStack tenant name.
    * **Region**: Enter `RegionOne`, or another region if recommended by your
      OpenStack administrator.
    * **Ignore Server Availability Zone**: Do not select the checkbox.
    * **Security Group Name**: Enter `opsmanager`. You created this Security
      Group when [Provisioning the OpenStack
      Infrastructure](./openstack-setup.html#security).
    * **Key Pair Name**: Enter the name of the key pair that you created in the
      [Configure Security](./openstack-setup.html#security) step of the
      [Provisioning the OpenStack Infrastructure](./openstack-setup.html) topic.
    * **SSH Private Key**: In a text editor, open the key pair file that you
      downloaded in the [Configure Security](./openstack-setup.html#security)
      step of the [Provisioning the OpenStack
      Infrastructure](./openstack-setup.html) topic. Copy and paste the contents
      of the key pair file into the SSH Private Key field.
    * **Disable DHCP**: Do not select the checkbox unless your setup requires it.

1. Click **Save**.

## <a id='advanced-config'></a>Step 3: (Optional) Complete the Advanced Config Page ##

<p class='note'><strong>Note</strong>: This is an advanced option. Most
    users leave this field blank.</p>

1. In Ops Manager, select **Advanced Infrastructure Config**.
<%= image_tag("openstack/om-advanced-infra.png") %>

1. If your OpenStack environment requires specific connection options, enter them in the **Connection Options** field in JSON format. For example:
    `'connection_options' => { 'read_timeout' => 200 }`
    
1.  Click **Save**.

## <a id='director-config'></a>Step 4: Complete the Director Config Page ##

1. In the left navigation of your OpenStack dashboard, click **Project > Compute > Access & Security**. Select the **API Access** tab.

    <%= image_tag("openstack/download-credentials.png") %>

1. Click **Download EC2 Credentials**.

1. Unzip the downloaded credentials. In a text editor, open the `ec2rc.sh` file.
You use the contents of this file to complete the Ops Manager **Director Config** page.

1. In Ops Manager, select **Director Config**.

    <%= image_tag("openstack/om-director-config.png") %>

1. Enter one or more of the following NTP servers in the **NTP Servers (comma
    delimited)** field:
    * 0.amazon.pool.ntp.org
    * 1.amazon.pool.ntp.org
    * 2.amazon.pool.ntp.org
    * 3.amazon.pool.ntp.org

1. (Optional) Enter your **Metrics IP Address** if you are [Using Pivotal Ops Metrics](./../customizing/use-metrics.html).

1. Click **Enable VM Resurrector Plugin** to enable the Ops Manager Resurrector functionality and increase Elastic Runtime availability.

1. Complete the **Director Config** page using information from the `ec2rc.sh`
file:
    * **Blobstore Location**: Select the **S3 Compatible Blobstore** option.
    * **S3 Endpoint**: Use **S3_URL** from the `ec2rc.sh` file.
    * **Bucket Name**: Enter `pcf`.
    * **Access Key**: Use **EC2\_ACCESS\_KEY** from the `ec2rc.sh` file.
    * **Secret Key**: Use **EC2\_SECRET\_KEY** from the `ec2rc.sh` file.
    * **Max Threads**: Enter `1`.

1. Select a **Database Location**. By default, PCF deploys and manages a database for you. If you choose to use an External MySQL Database, complete the associated fields with information obtained from your external MySQL Database provider.

1. Click **Save**.

<p class='note'><strong>Note</strong>: If you select to use an internal database, <a href="./../customizing/backup-restore/backup-pcf.html">back up</a> your data frequently to ensure you have saved the latest copy. </p>


## <a id='az-config'></a>Step 5: Complete the Availability Zones Pages ##

1. In Ops Manager, select **Create Availability Zones**.

    <%= image_tag("openstack/create-az.png") %>

1. Enter the name of the availability zone that you selected when
[Provisioning the OpenStack Infrastructure](./openstack-setup.html#launch-om-vm).

1. Click **Save**.

1. Select **Assign Availability Zones**.

    <%= image_tag("openstack/assign-az.png") %>

1. From the **Singleton Availability Zone** drop-down menu, select the
availability zone that you just created.

1. Click **Save**.

## <a id='networks-config'></a>Step 6: Complete the Networks Pages ##

1. In the left navigation of your OpenStack dashboard, click **Project > Network > Networks**.

    <%= image_tag("openstack/click-network.png") %>

1. Click the name of the network that contains the private subnet where you
deployed the Ops Manager VM. The OpenStack Network Detail page displays your
network settings.

    <%= image_tag("openstack/view-network-info.png") %>

1. Complete the Ops Manager **Create Networks** page using information from your OpenStack network as follows:

    <%= image_tag("openstack/om-create-networks-config.png") %>
    * **Name**: Enter a unique name for this network.
    * **Network ID**: Use the **ID** from the OpenStack page.
    * **Subnet (CIDR Range)**: Use the **Network Address** from the OpenStack
      page.
    * **Excluded IP Ranges**: Use the first 10 IP addresses of the **Network
      Address** Range, and the private IP Address of the Ops Manager instances
      that you recorded in the [Associate a Floating IP
      Address](./openstack-setup.html#floating-ip) step of the [Provisioning
      the OpenStack Infrastructure](./openstack-setup.html) topic.
    * **DNS**: Use `8.8.8.8`.
    * **Gateway**: Use the **Gateway IP** from the OpenStack page.

1. Click **Save**.

1. Select **Assign Networks**.

    <%= image_tag("openstack/om-assign-networks.png") %>
1. Select the network that you created and click **Save**.

## <a id='security'></a>Step 7: Complete the Security Page ##

1. Select **Security**. 

1. Choose **Generate passwords** or **Use default BOSH password**. Pivotal recommends that you use the **Generate passwords** option for greater security. 

1. Click **Save**. To view your saved Director password, click the **Credentials** tab.

<%= image_tag("openstack/om-security-config.png") %>

## <a id='resource-config'></a>Step 8: Complete the Resource Config Page ##

1. Select **Resource Config**.
1. Adjust any values as necessary for your deployment, such as increasing the persistent disk size. Select **Automatic** from the drop-down menu to provision the amount of persistent disk predefined by the job. If the persistent disk field reads **None**, the job does not require persistent disk space.
1. Click **Save**.

<%= image_tag("openstack/om-resource-config.png") %>

## <a id='experimental'></a>Step 9: (Optional) Complete the Experimental Features Page ##

These are features that you should be cautious about enabling if you have other Pivotal Cloud Foundry service tiles installed in your Pivotal Cloud Foundry deployment. Not all of the services are guaranteed to work as expected with these features enabled.

1. Select the **Experimental Features** tab.

1. Enter a trusted certificate and click **Save**.

These certificates enable BOSH-deployed VMs to trust a custom root certificate, but adding certificates in this way does not yet insert them into application containers or into your UAA's JVM store, which would be necessary to enable UAA-to-SASL trust.

<p class='note'><strong>Note:</strong> When the Trusted Certificates functionality is developed to add certificates into containers and the UAA, this feature will be moved out of the Experimental Features section. </p>

<%= image_tag("openstack/om-experimental-features.png") %>

## <a id='complete-ops'></a>Step 10: Complete Ops Manager Director Installation ##

1. Click the **Installation Dashboard** link to return to the Installation Dashboard.

1. Click **Apply Changes**. If the following ICMP error message appears, click
**Ignore errors and start the install**.

    <%= image_tag("openstack/icmp-error.png") %>

1. Ops Manager Director installs. The image shows the **Changes Applied** message that Ops Manager displays when the installation process successfully completes.

    <%= image_tag("openstack/om-installed.png") %>

1. After you complete this procedure, follow the instructions in the [Installing Elastic Runtime after Deploying PCF on OpenStack](./openstack-er-config.html) topic.

---

Return to [Installing Pivotal Cloud Foundry&reg; on OpenStack](./openstack.html).
