---
title: Installing Elastic Runtime after Deploying Pivotal Cloud Foundry&reg; on OpenStack
owner: Ops Manager
---

<strong><%= modified_date %></strong>

<% $this_IaaS = 'OpenStack' %>

This topic describes how to install and configure Elastic Runtime after deploying [Pivotal Cloud Foundry&reg;](https://network.pivotal.io/products/pivotal-cf) (PCF) on OpenStack.

Use this topic when [Installing Pivotal Cloud Foundry&reg; on OpenStack](./openstack.html).

Before beginning this procedure, ensure that you have successfully completed all
steps in the [Provisioning the OpenStack Infrastructure](./openstack-setup.html)
topic and the [Configuring Ops Manager Director after Deploying Pivotal Cloud Foundry&reg; on OpenStack](./openstack-om-config.html) topics.

<p class="note"><b>Note</b>: If you are performing an upgrade from PCF 1.5 to 1.6, please review <a href="upgrading-pcf.html#pcf16upgrade">Upgrading Ops Manager</a> for critical upgrade information.</p>

## <a id='log-in'></a>Step 1: Add Elastic Runtime to Ops Manager ##

1. Navigate to the Pivotal Cloud Foundry&reg; Operations Manager Installation
Dashboard.

1. Click the Pivotal Network link on the left to add Elastic Runtime to Ops
Manager. For more information, refer to the [Adding and Deleting Products](./add-delete.html) topic.

     <%= image_tag("openstack/er-tile.png") %>

## <a id='er-domain-config'></a>Step 2: Configure Domains ##

1. Select **Domains**.

    <%= image_tag("er17-config-domains.png") %>

1. Enter the system and application domains.
    * The **System Domain** defines your target when you push apps to Elastic
      Runtime.
    * The **Apps Domain** defines where Elastic Runtime should serve your apps.

    <p class="note"><b>Note</b>: Pivotal recommends that you use the same domain name but different subdomain names for your system and app domains. Doing so allows you to use a single wildcard certificate for the domain while preventing apps from creating routes that overlap with system routes. For example, name your system domain <code>system.EXAMPLE.com</code> and your apps domain <code>apps.EXAMPLE.com</code>.</p>

    <p class="note"><strong>Note</strong>: You configured wildcard DNS records
    for these domains in an earlier step.</p>

1. Click **Save**.

## <a id='security-config'></a>Step 3: Complete Security Configuration ##

<%= partial 'security_config' %>

## <a id='application-containers-config'></a>Step 4: Configure Application Containers ##

<%= partial 'application_container_config' %>

## <a id='er-domain-config'></a>Step 4: Configure Application Developer Controls ##

1. Select **Application Developer Controls**.

    <%= image_tag("er17-config-appdevctrl.png") %>

1. Enter your intended maximum file upload size.

1. Enter your default RAM memory allocation per app.

1. Enter your default total RAM memory (RAM) quota per Org. You can change this in the CLI.

1. Enter your maximum and default disk quotas per app.

1. Enter your default service instances quota per Org. You can change this in the CLI.

1. Click **Save**.

## <a id='er-domain-config'></a>Step 5: Configure Authentication and Enterprise SSO ##

1. Select **Authentication and Enterprise SSO**.

    <%= image_tag("er17-config-authsso-uaa.png") %>

1. To authenticate user sign-ons, your deployment can use one of three types of user database: the UAA server's internal user store, an external SAML identity provider, and an external LDAP server.

    1. To use the internal UAA, select the **Internal** option and use the fields underneath to configure the password policy.

    1. To connect to an external identity provider via SAML, scroll down to select the **SAML Identity Provider** option and follow the instructions in [Configuring Single Sign-On](opsguide/sso.html).

    1. To connect to an external LDAP server, scroll down to select the **LDAP Server** option and follow the instructions in [Configuring LDAP](../opsguide/sso.html).

1. (Optional) At the bottom of this section, you can change the lifetimes of tokens granted for Apps Manager and cf CLI login access and refresh. Most deployments use the defaults.

    <%= image_tag("er17-config-authsso-timeouts.png") %>

1. Click **Save**.

## <a id='smtp'></a>Step 6: (Optional) Configure SMTP##

Elastic Runtime uses SMTP to send invitations and confirmations to Apps Manager
users.
You must complete the **Configuration for SMTP** page if you want to enable
end-user self-registration.

1. Select **SMTP Config**.

	<%= image_tag("cloudform/smtp.png") %>

1. Enter your reply-to and SMTP email information.

1. For **SMTP Authentication Mechanism**, select `none`.

1. Click **Save**.

<p class='note'><strong>Note</strong>: If you do not configure the SMTP
settings using this form, the administrator must create orgs and users using
the cf CLI tool. See <a href="../adminguide/cli-user-management.html">Creating and Managing Users with the cf CLI</a> for more information.</p>

## <a id='diego'></a>Step 7: Configure Diego

<%= partial 'diego_config' %>

## <a id='experimental'></a>Step 8: (Optional) Enable Experimental Features

<%= partial 'experimental-features' %>

## <a id='floating-ips'></a>Step 9: Enable Traffic to Private Subnet ##

Unless you are using your own load balancer, you must enable traffic flow to the OpenStack private subnet as follows. Give each HAProxy a way of routing traffic into the private subnet by providing public IPs as floating IPs.

1. Click **Resource Config**.

    <%= image_tag("openstack/resource-config.png") %>

1. Enter one or more IP addresses in **Floating IPs** for each HAProxy.

1. Click **Save**.

Refer to the [Configuring Pivotal Cloud Foundry&reg; SSL Termination](../opsguide/ssl-term.html) topic for more information about configuring traffic depending on your load balancer.

## <a id='disable-resources'></a>Step 10: (Optional) Disable Unused Resources ##

<%= partial 'disable_resources' %>

## <a id='complete'></a>Step 11: Complete Elastic Runtime Installation ##

1. Click the **Installation Dashboard** link to return to the Installation Dashboard.

1. Click **Apply Changes**. If the following ICMP error message appears, click
**Ignore errors and start the install**.

    <%= image_tag("openstack/icmp-error.png") %>

1. Elastic Runtime installs. The image shows the **Changes Applied** message that Ops Manager displays when the installation process successfully completes.

    <%= image_tag("openstack/om-installed.png") %>

---

Return to [Installing Pivotal Cloud Foundry&reg; on OpenStack](./openstack.html).
