---
title: Configuring BOSH Director on OpenStack
owner: Ops Manager
iaas: OpenStack
---

This topic describes how to configure BOSH Director after deploying [Pivotal Cloud Foundry](https://network.pivotal.io/products/pivotal-cf) (PCF) on OpenStack. Use this topic when [Installing Pivotal Cloud Foundry on OpenStack](./openstack.html).

* Before beginning this procedure, ensure that you have successfully completed
all steps in [Provisioning the OpenStack Infrastructure](./openstack-setup.html).

* After you complete this procedure, follow the instructions in [Deploying PAS on OpenStack](./openstack-er-config.html).

<p class="note"><strong>Note:</strong> You can also perform the procedures in this topic using the Ops Manager API. For more information, see <a href="./ops-man-api.html">Using the Ops Manager API</a>.</p>


## <a id='log-in'></a> Step 1: Access Ops Manager

1. In a web browser, navigate to the fully qualified domain you created in the [Create a DNS Entry](./openstack-setup.html#dns-entry) step of _Provisioning the OpenStack Infrastructure_.

1. When Ops Manager starts for the first time, you must choose one of the following:
    * [Internal Authentication](#internal): If you use Internal Authentication, PCF maintains your user database.
    * [SAML Identity Provider](#saml): If you use a SAML Identity Provider (IdP), an external identity server maintains your user database.
    * [LDAP Server](#ldap): If you use a LDAP Server, an external identity server maintains your user database.


    <%= image_tag("select-authentication.png") %>

### <a id='internal'></a> Internal Authentication

1.  When redirected to the **Internal Authentication** page, you must complete the following steps:
    * Enter a **Username**, **Password**, and **Password confirmation** to create an Admin user.
    * Enter a **Decryption passphrase** and the **Decryption passphrase confirmation**. This passphrase encrypts the Ops Manager datastore, and is not recoverable.
    * If you are using an **HTTP proxy** or **HTTPS proxy**, follow the instructions in the [Configuring Proxy Settings for the BOSH CPI](./pcf-director-proxy-settings.html) topic.
    * Read the **End User License Agreement**, and select the checkbox to accept the terms.
    * Click **Setup Authentication**.

    <%= image_tag("om-login.png") %>

1. Log in to Ops Manager with the Admin username and password you created in the previous step.

    <%= image_tag("cf-login.png") %>

### <a id='saml'></a> SAML Identity Provider

<%= partial 'using_saml_idp_ops_manager' %>

### <a id='ldap'></a> LDAP Server

<%= partial 'using_ldap_server_ops_manager' %>


## <a id='openstack-config'></a> Step 2: OpenStack Configs Page

1. In the left navigation of your OpenStack dashboard, click **Project > Compute > Access & Security**. Select the **API Access** tab.

1. Record the **Service Endpoint** for the **Identity** service.
You use this Service Endpoint as the Authentication URL for Ops Manager in a
later step.

    <%= image_tag("openstack/record-endpoint.png") %>

1. In the PCF Ops Manager Installation Dashboard, click the **BOSH Director** tile.

    <%= image_tag("openstack/director-tile-openstack.png") %>

1. Select **OpenStack Configs**.

1. Complete the **OpenStack Management Console Config** page with the following information:
    * **Name**: Enter a unique name for the OpenStack config.
    * **Authentication URL**: Enter the Service Endpoint for the Identity
      service that you recorded in a previous step.
    * **Keystone Version**: Choose a Keystone version. If you choose **v3**,
      you must enter a **Domain** to authenticate against.
    * **Username**: Enter your OpenStack Horizon username.
    * **Password**: Enter your OpenStack Horizon password.
    * **Tenant**: Enter your OpenStack tenant name.
    * **Region**: Enter `RegionOne`, or another region if recommended by your
      OpenStack administrator.
    * **Select OpenStack Network Type**: Select either **Nova**, the legacy
      OpenStack networking model, or **Neutron**, the newer networking model.
    * **Ignore Server Availability Zone**: Do not select the checkbox.
    * **Security Group Name**: Enter `opsmanager`. You created this Security
      Group in the [Configure Security](./openstack-setup.html#security) step
      of _Provisioning the OpenStack Infrastructure_.
    * **Key Pair Name**: Enter the name of the key pair that you created in the
      [Configure Security](./openstack-setup.html#security) step of
      _Provisioning the OpenStack Infrastructure_.
    * **SSH Private Key**: In a text editor, open the key pair file that you
      downloaded in the [Configure Security](./openstack-setup.html#security)
      step of _Provisioning the OpenStack
      Infrastructure_. Copy and paste the contents of the key pair file into
      the field.
    * (Optional) **API SSL Certificate**: If you configured API SSL termination
      in your OpenStack Dashboard, enter your **API SSL Certificate**.
    * **Disable DHCP**: Do not select the checkbox unless your configuration
      requires it.
    * **Boot From Volume**: Enable to boot VMs from a Cinder volume.

    <%= image_tag("openstack/om-openstack-config.png") %>

1. Click **Save**.

1. (Optional) Click **Add OpenStack Config** to configure
additional data centers. Click **Save** for each additional OpenStack config to add it successfully.
For more information, see [Managing Multiple Data Centers](multiple-datacenters.html).


## <a id='advanced-config'></a> Step 3: (Optional) Advanced Config Page

<p class='note'><strong>Note:</strong> This is an advanced option. Most users
leave this field blank.</p>

1. In Ops Manager, select **Advanced Infrastructure Config**.
    <%= image_tag("openstack/om-advanced-infra.png") %>

1. If your OpenStack environment requires specific connection options, enter them in the **Connection Options** field in JSON format. For example: `'connection_options' => { 'read_timeout' => 200 }`
    <p class="note"><strong>Note: </strong> Your connection options apply to all of your OpenStack configs.</p>

1.  Click **Save**.


## <a id='director-config'></a> Step 4: Director Config Page

<%= partial "director-config" %>

## <a id='az-config'></a> Step 5: Create Availability Zones Page

1. In Ops Manager, select **Create Availability Zones**.

    <%= image_tag("images/openstack/create-az.png") %>

1. Enter the name of the availability zone that you selected in the [Launch Ops Manager VM](./openstack-setup.html#launch-om-vm) step of _Provisioning the OpenStack Infrastructure_.

1. (Optional) Select an OpenStack config name from the **IaaS Configuration** dropdown.
The default is set to your first OpenStack config.

1. Enter the **Openstack Availability Zone** of your OpenStack environment.
Many OpenStack environments default to `nova`.

1. Click **Add** for each additional OpenStack config you created in
[Step 2: OpenStack Configs Page](#openstack-config). Give each AZ a unique **Name** and an **IaaS Configuration**
with a different OpenStack config.

1. Click **Save**.


## <a id='create-networks'></a> Step 6: Create Networks Page

1. In the left navigation of your OpenStack dashboard, click **Project > Network > Networks**.

1. Click the name of the network that contains the private subnet where you
deployed the Ops Manager VM. The OpenStack Network Detail page displays your
network settings.

    <%= image_tag("openstack/view-network-info.png") %>

1. In Ops Manager, select **Create Networks**.

    <%= image_tag("openstack/om-create-networks-config.png") %>

1. Select **Enable ICMP checks** to enable ICMP on your networks. Ops Manager uses ICMP checks to confirm that components within your network are reachable.
Review the [Configure Security](../customizing/openstack-setup.html#security) step of _Deploying BOSH and Ops Manager to OpenStack_ to ensure you have configured ICMP in your Security Group.

1. Use the following steps to create one or more Ops Manager networks using information from your OpenStack network:
    * Click **Add Network**.
    * Enter a unique **Name** for the network.
    * Click **Add Subnet** to create one or more subnets for the network.
    * For **Network ID**, use the **ID** from the OpenStack page.
    * For **CIDR**, use the **Network Address** from the OpenStack page.
    * For **Reserved IP Ranges**, use the first 10 IP addresses of the **Network Address** range, and the private IP address of the Ops Manager instance that you recorded in the [Associate a Floating IP Address](./openstack-setup.html#floating-ip) step of _Provisioning the OpenStack Infrastructure_.
    * For **DNS**, enter one or more Domain Name Servers.
    * For **Gateway**, use the **Gateway IP** from the OpenStack page.
    * For **Availability Zones**, select which Availability Zones to use with the network.
1. Click **Save**.<%= vars.expand_network_azs  %>


## <a id='assign-az'></a> Step 7: Assign AZs and Networks Page

1. Select **Assign Availability Zones**.

    <%= image_tag("openstack/assign-az.png") %>

1. From the **Singleton Availability Zone** drop-down menu, select the availability zone that you created in a previous step. The BOSH Director installs in this Availability Zone.

1. Use the drop-down menu to select the **Network** that you created in a previous step. BOSH Director installs in this network.

1. Click **Save**.

## <a id='security'></a> Step 8: Security Page

<%= partial "security-pane" %>

## <a id='syslog'></a> Step 9: Syslog Page

<%= partial 'syslog_bosh' %>

## <a id='resource-config'></a> Step 10: Resource Config Page

1. Select **Resource Config**.
    <%= image_tag("openstack/om-resource-config.png") %>

1. Adjust any values as necessary for your deployment, such as increasing the persistent disk size. Select **Automatic** from the drop-down menu to provision the amount of persistent disk predefined by the job. If the persistent disk field reads **None**, the job does not require persistent disk space.
    <p class="note"><strong>Note:</strong> Ops Manager requires a Director VM with at least 8&nbsp;GB memory.</p>
    <p class="note"><strong>Note:</strong> If you set a field to <strong>Automatic</strong> and the recommended resource allocation changes in a future version, Ops Manager automatically uses the updated recommended allocation.</p>

1. Click **Save**.

## <a id="custom-vm-extensions"></a> Step 11: (Optional) Add Custom VM Extensions

<%= partial "vm-extension-config"  %>

## <a id='complete-ops'></a> Step 12: Complete BOSH Director Installation

1. Click the **Installation Dashboard** link to return to the Installation Dashboard.

1. Click **Review Pending Changes**, then **Apply Changes**. If the following ICMP error message appears, click **Ignore errors and start the install**.

    <%= image_tag("openstack/icmp-error.png") %>

1. BOSH Director installs. The image shows the **Changes Applied** message that Ops Manager displays when the installation process successfully completes.

    <%= image_tag("openstack/om-installed.png") %>

1. After you complete this procedure, follow the instructions in [Deploying PAS on OpenStack](./openstack-er-config.html).

---

Return to [Installing Pivotal Cloud Foundry on OpenStack](./openstack.html).
