---
title: Installing Ops Manager on OpenStack
owner: Ops Manager
---

<% current_page.data.title = "Installing " + vars.platform_name + " on OpenStack"  %>

This guide describes how to install <%= vars.platform_name %> on OpenStack with <%= vars.app_runtime_full %> (<%= vars.app_runtime_abbr %>).


## <a id="overview"></a> Overview

OpenStack is a cloud operating system that controls large pools of compute, storage, and networking resources throughout a datacenter. For guidance on OpenStack service credential management, see [Open Stack Security Documents](#security) below.


## <a id="security"></a> OpenStack Security Documents

These documents provide a general reference for OpenStack service credential management.

* [OpenStack credential configuration](https://docs.openstack.org/openstack-ansible/13.3.6/install-guide/configure-creds.html)
* [OpenStack credential creation](http://docs.openstack.org/project-install-guide/ec2-api/draft/credentials-creation.html)
* [OpenStack deployment configuration](http://docs.openstack.org/project-deploy-guide/openstack-ansible/newton/configure.html)


## <a id="requirements"></a> Requirements

This section describes the requirements for installing <%= vars.platform_name %> on OpenStack, including general requirements for installing <%= vars.platform_name %> with <%= vars.ops_manager %> and <%= vars.app_runtime_abbr %> as well as OpenStack requirements.

<p class="note"><strong>Note:</strong> You can install <%= vars.platform_name %> on OpenStack with the <%= vars.app_runtime_abbr %> runtime. The <%= vars.k8s_runtime_full %> (<%= vars.k8s_runtime_abbr %>) runtime is not supported for OpenStack. For more information about <%= vars.app_runtime_abbr %>, see <a href="../concepts/index.html"><%= vars.app_runtime_abbr %> Concepts</a>. For more information about <%= vars.k8s_runtime_abbr %>, see <a href="https://docs.pivotal.io/tkgi/index.html"><%= vars.k8s_runtime_full %> (<%= vars.k8s_runtime_abbr %>)</a>.</p>

### <a id="general"></a> General Resource Requirements

<%# Find this partial in GitHub at `pivotal-cf/docs-partials` %>
<%= partial "/pcf/core/#{vars.current_major_version.sub('.', '-')}/requirements" %>

### <a id="openstack"></a> OpenStack Requirements

The following are OpenStack requirements for deploying <%= vars.platform_name %>:

* <%= vars.platform_name %> is supported on the OpenStack Ocata, Pike, Queens, Rocky, and Stein releases. OpenStack is a collection of inter-operable components and requires general OpenStack expertise to troubleshoot issues that may occur when installing <%= vars.platform_name %> on particular releases and distributions. To verify that your OpenStack platform is compatible with <%= vars.platform_name %>, use the OpenStack Validator tool. To access the OpenStack Validator tool, see [CF OpenStack Validator](https://github.com/cloudfoundry-incubator/cf-openstack-validator) on GitHub.

* <%= vars.company_name %> recommends granting complete access to the OpenStack logs to the operator managing the <%= vars.platform_name %> installation process.

* For OpenStack accounts for <%= vars.platform_name %>, <%= vars.company_name %> recommends following the principle of least privilege by scoping privileges to the most restrictive permissions possible for a given role.

* You must have a dedicated OpenStack project, formerly known as an OpenStack tenant.

* You must have Keystone access to the dedicated OpenStack project, including the following:
  * Auth URL
  * Username and password. The `PrimaryProject` for the user must be the project you want to use to deploy <%= vars.platform_name %>. For more information, see [Manage projects and users](https://docs.openstack.org/horizon/rocky/admin/manage-projects-and-users.html) in the OpenStack documentation.
  * Project name
  * Region (with multiple availability zones if you require high availability)
  * SSL certificate for your wildcard domain (see below)

* You must have the ability to do the following in OpenStack:
  * Create and modify VM flavors
  * Enable DHCP if required
  * Create a network and then connect that network with a router to an external network
  * Create an external network with a pool of floating IP addresses
  * Boot VMs directly from image
  * Create two wildcard domains for separate system and app domains

* The following are resource requirements for the dedicated OpenStack project:
  * 118&nbsp;GB of RAM
  * 22 available instances
  * 14 small VMs (1 vCPU, 1024&nbsp;MB of RAM, 10&nbsp;GB of root disk)
  * 2 high-CPU VMs (2 vCPU, 1024&nbsp;MB of RAM, 10&nbsp;GB of root disk)
  * 3 large VMs (4 vCPU, 16384&nbsp;MB of RAM, 10&nbsp;GB of root disk)
  * 3 extra-large VMs (8 vCPU, 16&nbsp;GB of RAM, 160&nbsp;GB of ephemeral disk)
  * 58 vCPUs
  * 1&nbsp;TB of storage
  * Nova or Neutron networking with floating IP support

      <p class="note"><b>Note:</b> By default, <%= vars.app_runtime_abbr %> deploys the number of VM instances required to run a highly available configuration of <%= vars.platform_name %>. If you are deploying a test or sandbox <%= vars.platform_name %> that does not require HA, then you can scale down the number of instances in your deployment. For information about the number of instances required to run a minimal, non-HA <%= vars.platform_name %> deployment, see [Scaling <%= vars.app_runtime_abbr %>](../opsguide/scaling-ert-components.html).</p>

* The following are requirements for the OpenStack Cinder back end:
  * <%= vars.platform_name %> requires RAW root disk images. The Cinder back end for your OpenStack project must support RAW.
  * <%= vars.company_name %> recommends that you use a Cinder back end that supports snapshots. This is required for some BOSH functionalities.
  * <%= vars.company_name %> recommends enabling your Cinder back end to delete block storage asynchronously. If this is not possible, it must be able to delete multiple 20&nbsp;GB volumes within 300 seconds.

* The following are requirements for using an Overlay Network with VXLAN or GRE Protocols:
  * If an overlay network is being used with VXLAN or GRE protocols, the MTU of the created VMs must be adjusted to the best practices recommended by the plugin vendor (if any).
  * DHCP must be enabled in the internal network for the MTU to be assigned to the VMs automatically.
  * Review the [Configuring <%= vars.app_runtime_abbr %>](../customizing/configure-pas.html#networking) topic to adjust your MTU values.
  * Failure to configure your overlay network correctly could cause Apps Manager to fail since applications will not be able to connect to the UAA.
    <p class='note'><strong>Note:</strong> If you are using IPsec, your resource usage will increase by approximately 36 bytes. View the <a href="https://docs.pivotal.io/addon-ipsec/installing.html"> Installing IPsec topic</a> for information, including setting correct MTU values.</p>


## <a id='outputs'></a> Install <%= vars.platform_name %> on OpenStack with <%= vars.app_runtime_abbr %>

To install <%= vars.platform_name %> on OpenStack with the <%= vars.app_runtime_abbr %> runtime, do the following:

1. Deploy <%= vars.ops_manager %>. See [Deploying <%= vars.ops_manager %> on OpenStack](/platform/ops-manager/<%= vars.current_major_version.sub('.', '-') %>/openstack/setup.html).

1. Configure BOSH Director on OpenStack. See [Configuring BOSH Director on OpenStack](/platform/ops-manager/<%= vars.current_major_version.sub('.', '-') %>/openstack/config.html).

1. Configure <%= vars.app_runtime_abbr %>. See [Configuring <%= vars.app_runtime_abbr %>](./configure-pas.html).
