---
title: Configuring Ops Manager Director after Deploying PCF to OpenStack
---

This topic describes how to configure the Ops Manager Director after deploying
[Pivotal Cloud Foundry](https://network.pivotal.io/products/pivotal-cf) (PCF) to Mirantis Express hosted OpenStack. Use this topic when [Installing Pivotal Cloud Foundry on OpenStack](./openstack.html).

Before beginning this procedure, ensure that you have successfully completed all
steps in the [Provisioning the OpenStack Infrastructure](./openstack-setup.html)
topic.
After you complete this procedure, follow the instructions in the [Installing Elastic Runtime after Deploying PCF to OpenStack](./openstack-er-config.html)
topic.

## <a id='log-in'></a>Step 1: Log in to Ops Manager ##

1. In the left navigation of your OpenStack dashboard, click **Project > Compute > Instances** to view the public IP address listed for Ops Manager.

1. Use the public IP address your Ops Manager instance to launch Ops Manager in
a browser.

1. Enter a username and password and accept the EULA to create an admin user.

    <%= image_tag("openstack/om-log-in.png") %>

## <a id='openstack-config'></a>Step 2: Complete the OpenStack Config Page ##

1. In the left navigation of your OpenStack dashboard, click **Project > Compute > Access & Security**. Select the **API Access** tab.

1. Record the **Service Endpoint** for the **Identity** service.
You use this Service Endpoint as the Authentication URL for Ops Manager in a
later step.

    <%= image_tag("openstack/record-endpoint.png") %>

In your browser, click the **Ops Manager Director** tile.

    <%= image_tag("openstack/om-tile.png") %>

1. Select **OpenStack Config**.

1. Complete the **OpenStack Management Console Config** page with the following
information:
    * **Authentication URL**: Enter the Service Endpoint for the Identity
      service that you recorded in a previous step.
    * **Username**: Enter your OpenStack Horizon username.
    * **Password**: Enter your OpenStack Horizon password.
    * **Tenant**: Enter your OpenStack tenant name
    * **Region**: Leave this field blank.
    * **Key Pair Name**: Enter the name of the key pair that you created in the
      [Configure Security](./openstack-setup.html#security) step of the
      [Provisioning the OpenStack Infrastructure](./openstack-setup.html) topic.
    * **SSH Private Key**: In a text editor, open the key pair file that you
      downloaded in the [Configure Security](./openstack-setup.html#security)
      step of the [Provisioning the OpenStack
      Infrastructure](./openstack-setup.html) topic. Copy and paste the contents
      of the key pair file into the SSH Private Key field.

1. Click **Save**.

    <%= image_tag("openstack/om-openstack-config.png") %>

## <a id='openstack-config'></a>Step 3: Complete the Director Config Page ##

1. In the left navigation of your OpenStack dashboard, click **Project > Compute > Access & Security**. Select the **API Access** tab. 

1. Click **Download EC2 Credentials*.

    <%= image_tag("openstack/download-credentials.png") %>

1. Unzip the downloaded credentials. In a text editor, open the `ec2rc.sh file`. 
You use the contents of this file to complete the Ops Manager **Director Config** page.

1. In Ops Manager, select **Director Config**.

1. For **NTP Servers (comma delimited)**, enter `us.pool.ntp.org`.

1. Complete the **Director Config** page using information from the `ec2rc.sh` 
file:
    * **Blobstore Location**: Select the **S3 Compatible Blobstore** option.
    * **S3 Endpoint**: Use **S3_URL** from the `ec2rc.sh` file.
    * **Bucket Name**: Enter `pcf`.
    * **Access Key**: Use **EC2_ACCESS_KEY** from the `ec2rc.sh` file.
    * **Secret Key**: Use **EC2_SECRET_KEY** from the `ec2rc.sh` file.
    * **Max Threads**: Enter `1`.

1. Click **Save**.






---

Return to [Installing Pivotal Cloud Foundry on OpenStack](./openstack.html).