---
title: Configuring Ops Manager Director after Deploying PCF on OpenStack
---

This topic describes how to configure the Ops Manager Director after deploying
[Pivotal Cloud Foundry](https://network.pivotal.io/products/pivotal-cf) (PCF) on 
OpenStack. 
Use this topic when [Installing Pivotal Cloud Foundry on OpenStack](./openstack.html).

Before beginning this procedure, ensure that you have successfully completed all
steps in the [Provisioning the OpenStack Infrastructure](./openstack-setup.html)
topic.
After you complete this procedure, follow the instructions in the [Installing Elastic Runtime after Deploying PCF on OpenStack](./openstack-er-config.html)
topic.

## <a id='log-in'></a>Step 1: Log in to Ops Manager ##

1. In the left navigation of your OpenStack dashboard, click **Project > Compute > Instances** to view the public IP address listed for Ops Manager.

1. Use the public IP address your Ops Manager instance to launch Ops Manager in
a browser.

1. Enter a username and password and accept the EULA to create an admin user.

    <%= image_tag("openstack/om-log-in.png") %>

## <a id='openstack-config'></a>Step 2: Complete the OpenStack Config Page ##

1. In the left navigation of your OpenStack dashboard, click **Project > Compute > Access & Security**. Select the **API Access** tab.

1. Record the **Service Endpoint** for the **Identity** service.
You use this Service Endpoint as the Authentication URL for Ops Manager in a
later step.

    <%= image_tag("openstack/record-endpoint.png") %>

1. In your browser, click the **Ops Manager Director** tile.

    <%= image_tag("openstack/om-tile.png") %>

1. Select **OpenStack Config**.

1. Complete the **OpenStack Management Console Config** page with the following
information:
    * **Authentication URL**: Enter the Service Endpoint for the Identity
      service that you recorded in a previous step.
    * **Username**: Enter your OpenStack Horizon username.
    * **Password**: Enter your OpenStack Horizon password.
    * **Tenant**: Enter your OpenStack tenant name
    * **Region**: Leave this field blank.
    * **Key Pair Name**: Enter the name of the key pair that you created in the
      [Configure Security](./openstack-setup.html#security) step of the
      [Provisioning the OpenStack Infrastructure](./openstack-setup.html) topic.
    * **SSH Private Key**: In a text editor, open the key pair file that you
      downloaded in the [Configure Security](./openstack-setup.html#security)
      step of the [Provisioning the OpenStack
      Infrastructure](./openstack-setup.html) topic. Copy and paste the contents
      of the key pair file into the SSH Private Key field.

1. Click **Save**.

    <%= image_tag("openstack/om-openstack-config.png") %>

## <a id='director-config'></a>Step 3: Complete the Director Config Page ##

1. In the left navigation of your OpenStack dashboard, click **Project > Compute > Access & Security**. Select the **API Access** tab.

1. Click **Download EC2 Credentials**.

    <%= image_tag("openstack/download-credentials.png") %>

1. Unzip the downloaded credentials. In a text editor, open the `ec2rc.sh file`.
You use the contents of this file to complete the Ops Manager **Director Config** page.

1. In Ops Manager, select **Director Config**.

1. For **NTP Servers (comma delimited)**, enter `us.pool.ntp.org`.

1. Complete the **Director Config** page using information from the `ec2rc.sh`
file:
    * **Blobstore Location**: Select the **S3 Compatible Blobstore** option.
    * **S3 Endpoint**: Use **S3_URL** from the `ec2rc.sh` file.
    * **Bucket Name**: Enter `pcf`.
    * **Access Key**: Use **EC2\_ACCESS\_KEY** from the `ec2rc.sh` file.
    * **Secret Key**: Use **EC2\_SECRET\_KEY** from the `ec2rc.sh` file.
    * **Max Threads**: Enter `1`.

1. Click **Save**.

    <%= image_tag("openstack/om-director-config.png") %>

## <a id='networks-config'></a>Step 4: Complete the Networks Pages ##

1. In the left navigation of your OpenStack dashboard, click **Project > Network > Networks**.

    <%= image_tag("openstack/click-network.png") %>

1. Click the name of the network that contains the private subnet where you
deployed the Ops Manager VM. The OpenStack Network Detail page displays your
network settings.

    <%= image_tag("openstack/view-network-info.png") %>

1. Complete the Ops Manager **Create Networks** page using information from your OpenStack network as follows:
    * **Name**: Enter a unique name for this network.
    * **Network ID**: Use the **IDv from the OpenStack page.
    * **Subnet (CIDR Range)**: Use the **Network Address** from the OpenStack
      page.
    * **Excluded IP Ranges**: Use the first 10 IP addresses of the **Network
      Address** Range, and the private IP Address of the Ops Manager instances
      that you recorded in the [Associated a Floating IP Address] step of the
      [Provisioning the OpenStack
      Infrastructure](./openstack-setup.html#floating-ip) topic.
    * **DNS**: Use `8.8.8.8`.
    * **Gateway**: Use the **Gateway IP** from the OpenStack page.

1. Click **Save**.

    <%= image_tag("openstack/om-create-networks-config.png") %>

1. Select **Assign Networks**.

1. Select the network that you created and click **Save**.

    <%= image_tag("openstack/om-assign-networks.png") %>

## <a id='complete'></a>Step 5: Complete Ops Manager Director Installation ##

1. Click the **Installation Dashboard** link to return to the Installation Dashboard.

1. Click **Apply Changes**. If the following ICMP error message appears, click
**Ignore errors and start the install**.

    <%= image_tag("openstack/icmp-error.png") %>

1. Ops Manager Director installs. The image shows the **Changes Applied** message that Ops Manager displays when the installation process successfully completes.

    <%= image_tag("openstack/om-installed.png") %>

---

Return to [Installing Pivotal Cloud Foundry on OpenStack](./openstack.html).
