---
breadcrumb: <%= vars.platform_name %> Documentation
title: Using Ops Manager
owner: Ops Manager
---

The Ops Manager UI is a web application that you use to deploy and manage an <%= vars.platform_name %> PaaS deployment.
This is a guide to deploying and using Ops Manager.

## <a id='ops-man-ui'></a> Ops Manager UI

Use the Ops Manager UI to install products and configure their settings.

For more information on the Ops Manager UI, see [Using the Ops Manager UI](./ops-man-ui.html).

## <a id='ops-man-api'></a> Using Ops Manager Programmatically and from the Command Line

Use the Ops Manager API, `om` CLI, and Platform Automation Toolkit tasks to manage <%= vars.platform_name %> installations programmatically, from the command line, or from an automation pipeline.

See the [Using Ops Manager Programmatically and from the Command Line](./ops-man-api-cli.html) topic to learn how to get started using these Ops Manager tools.

## <a id='related'></a>Related Links

### <a id="ui"></a> Using the Ops Manager UI and Installed Products

* [Using the Ops Manager Interface](./pcf-interface.html)

* [Adding and Deleting Products](./add-delete.html)

* [Retrieving Credentials from Your Deployment](./credentials.html)

* [Floating Stemcells](./understanding-stemcells.html)

* [Configuring BOSH Director on vSphere](/platform/ops-manager/<%= vars.current_major_version.sub('.', '-') %>/vsphere/config.html)

* [vSphere Service Account Requirements](/platform/ops-manager/<%= vars.current_major_version.sub('.', '-') %>/vsphere/vsphere-service-account.html)

* [Creating UAA Clients for BOSH Director](./opsmanager-create-bosh-client.html)

* [Configuring BOSH Director on OpenStack](/platform/ops-manager/<%= vars.current_major_version.sub('.', '-') %>/openstack/config.html)

* [Using Your Own Load Balancer](./custom-load-balancer.html)

* [Creating and Managing Ops Manager User Accounts](./opsman-users.html)

* [Creating New TAS for VMs User Accounts](https://docs.pivotal.io/platform/application-service/operating/creating-account.html)

* [Logging In to Apps Manager](./console-login.html)

* [Adding Existing SAML or LDAP Users to an <%= vars.platform_name %> Deployment](./external-user-management.html)

* [Deleting an AWS Installation from the Console](./deleting-aws-install.html)

* [Modifying Your Ops Manager Installation and Product Template Files](./modify-ops-man.html)

* [Managing Errands in Ops Manager](./managing_errands.html)

### <a id="api"></a> Using the Ops Manager API, CLI, and Platform Automation Toolkit

* [Using Ops Manager Programmatically and from the Command Line](./ops-man-api-cli.html)

* [Using the Ops Manager API](./ops-man-api.html)

* [Platform Automation Toolkit](https://docs.pivotal.io/platform-automation)

### <a id='backing-up'></a> Backing Up

* [Backing Up and Restoring Deployments](./backup-restore/index.html)

### <a id='monitoring-logging-troubleshooting'></a> Monitoring, Logging, and Troubleshooting

* [Monitoring Virtual Machines in <%= vars.platform_name %>](./monitoring.html)

* [Diagnosing Deployment Problems](./diagnostics.html)

* [Troubleshooting Deployment Problems](./troubleshooting.html)

* [Troubleshooting Ops Manager for VMware vSphere](./troubleshooting-vsphere.html)

* [Recovering MySQL from TAS for VMs Downtime](../mysql/bootstrap-mysql.html)

* [Advanced Troubleshooting with the BOSH CLI](./trouble-advanced.html)
