---
title: Configuring File Storage for PAS
owner: Releng
gcswarning: The Pivotal Application Service for Windows (PASW) tile is incompatible with Google Cloud Platform
 (GCP) configured with a Google Cloud Storage (GCS) filestore. If you are deploying PASW in your GCP
  environment, Pivotal recommends that you select the S3-compatible filestore for your environment.
---

This topic provides instructions for configuring file storage for PAS (Pivotal Application Service) based on your IaaS and installation method. See the section that applies to your use case.

To minimize system downtime, Pivotal recommends using highly resilient and redundant _external_ filestores for your PAS file storage. For more factors to consider when selecting file storage, see [Considerations for Selecting File Storage in <%= vars.product_name %>](../upgrading/configuring.html#file-storage).


## <a id="internal"></a> Internal File Storage

<%= partial "/pcf/core/#{vars.current_major_version.sub('.', '-')}/filestore_internal" %>

## <a id="aws"></a> AWS

This section describes how to configure file storage for AWS.

<p class="note"><strong>Note:</strong> If you followed the instructions in <a href="https://docs.pivotal.io/platform/ops-manager/<%= vars.current_major_version.sub('.', '-') %>/aws/prepare-env-manual.html">Installing <%= vars.product_name %> on AWS Manually</a>, you created the necessary resources for external S3-compatible file storage.</p>

For production-level <%= vars.product_name %> deployments on AWS, Pivotal recommends selecting the **External S3-compatible filestore**. For more information about production-level <%= vars.product_name %> deployments on AWS, see the [Reference Architecture for <%= vars.product_name %> on AWS](../plan/aws/aws_ref_arch.html).

<%= partial "/pcf/core/#{vars.current_major_version.sub('.', '-')}/filestore_s3_config" %>

## <a id="gcp"></a> GCP

This section describes how to configure file storage for GCP. Follow the instructions that correspond to your installation method: [Manual](#gcp-manual) or [Terraform](#gcp-terraform).

For production-level <%= vars.product_name %> deployments on GCP, Pivotal recommends selecting **External Google Cloud Storage**.
For more information about production-level <%= vars.product_name %> deployments on GCP, see the [Reference Architecture for <%= vars.product_name %> on GCP](../plan/gcp/gcp_ref_arch.html).

### <a id="gcp-manual"></a> Manual

This section describes how to configure file storage for GCP if you installed <%= vars.product_name %> manually.

<%= partial "/pcf/core/#{vars.current_major_version.sub('.', '-')}/filestore_gcp_config" %>

### <a id="gcp-terraform"></a> Terraform

This section describes how to configure file storage for GCP if you installed <%= vars.product_name %> with Terraform.

<%= partial "/pcf/core/#{vars.current_major_version.sub('.', '-')}/filestore_gcp_config_terraform" %>

## <a id="azure"></a> Azure

This section describes how to configure file storage for Azure.

For production-level <%= vars.product_name %> deployments on Azure, the recommended selection is Azure Storage. For more information about production-level <%= vars.product_name %> deployments on Azure, see the [Reference Architecture for <%= vars.product_name %> on Azure](../plan/azure/azure_ref_arch.html).

For more factors to consider when selecting file storage, see <a href="../upgrading/configuring.html#file-storage">Considerations for Selecting File Storage in <%= vars.product_name %></a>.

<%= partial "/pcf/core/#{vars.current_major_version.sub('.', '-')}/filestore_azure_config" %>

## <a id="openstack"></a> Openstack

For production-level <%= vars.product_name %> deployments on OpenStack, the recommended selection is **External S3-compatible filestore**.

For more factors to consider when selecting file storage, see <a href="../upgrading/configuring.html#file-storage">Considerations for Selecting File Storage in <%= vars.product_name %></a>.

<%= partial "/pcf/core/#{vars.current_major_version.sub('.', '-')}/filestore_s3_config" %>

## <a id="vsphere"></a> vSphere

For production-level <%= vars.product_name %> deployments on vSphere, the recommended selection is **External S3-compatible filestore** and the use of an external filestore. For more information about production-level <%= vars.product_name %> deployments on vSphere, see the [Reference Architecture for <%= vars.product_name %> on vSphere](../plan/vsphere/vsphere_ref_arch.html).

For more factors to consider when selecting file storage, see [Considerations for Selecting File Storage in <%= vars.product_name %>](../upgrading/configuring.html#file-storage).

<%= partial "/pcf/core/#{vars.current_major_version.sub('.', '-')}/filestore_s3_config" %>
