---
title: PAS on vSphere Requirements
owner:
iaas: vSphere
---

This topic describes requirements for installing Pivotal Application Service (PAS) on vSphere.


## <a id='general'></a> General Requirements

<%= partial "/pcf/core/#{vars.current_major_version.sub('.', '-')}/requirements" %>

## <a id='vsphere-reqs'></a> vSphere Requirements

The following are requirements for installing PAS that are specific to vSphere.

### <a id='pcf-deployment'></a> Minimum Resource Requirements for <%= vars.product_name %> Deployment with Pivotal Application Service

The following are the minimum resource requirements for maintaining a [<%= vars.product_name %>](https://network.pivotal.io/products/pivotal-cf) deployment with Pivotal Operations Manager and Pivotal Application Service (PAS) on vSphere:

* vSphere v6.7, v6.5, v6.0, or v5.5
* Disk space: 2&nbsp;TB recommended
* Memory: 120&nbsp;GB
* Two public IP addresses: One for PAS and one for Ops Manager
* vCPU cores: 82
* Overall CPU: 28&nbsp;GHz
* vSphere editions: standard and above
* Ops Manager must have HTTPS access to vCenter and ESX hosts on TCP port 443.
* A configured vSphere cluster:
  * If you enable vSphere DRS (Distributed Resource Scheduler) for the cluster, you must set the Automation level to **Partially automated** or **Fully automated**. If you set the Automation level to **Manual**, the BOSH automated installation will fail with a `power_on_vm` error when BOSH attempts to create virtual machines (VMs).
  * Disable hardware virtualization if your vSphere hosts do not support VT-X/EPT. If you are unsure whether the VM hosts support VT-x/EPT, you should disable this setting. If you leave this setting enabled and the VM hosts do not support VT-x/EPT, then each VM requires manual intervention in vCenter to continue powering on without the Intel virtualized VT-x/EPT. Refer to the vCenter help topic at [Configuring Virtual Machines > Setting Virtual Processors and Memory > Set Advanced Processor Options](http://pubs.vmware.com/fusion-6/index.jsp?topic=%2Fcom.vmware.fusion.help.doc%2FGUID-38178690-1234-4843-B135-4063F9AA73E4.html) for more information.
* If you configure an external load balancer, an HTTP keep-alive connection timeout greater than five seconds

<p class="note"><strong>Note:</strong> If you are deploying <%= vars.product_name %> behind a firewall, see <a href="config_firewall.html">Preparing Your Firewall for Deploying <%= vars.product_name %></a>.</p>

### <a id='small-footprint-deployment'></a> Minimum Resource Requirements for <%= vars.product_name %> Deployment with Small Footprint PAS

The following are the minimum resource requirements for maintaining a <%= vars.product_name %> deployment with Ops Manager and Small Footprint PAS on vSphere:

* 1 vSphere cluster/1 AZ
* 2 resource pools: 1 for NSX-T components and 1 for PAS or PKS
* 3 hosts minimum for vSphere HA (4 hosts for vSphere VSAN)
* Shared storage/VSAN
* 1 NSX Manager
* 3 NSX controllers
* 4 large edge VMs in a cluster
* <%= vars.product_name %>: Ops Manager, the BOSH Director, and Small Footprint PAS

### <a id='instance-number-scaling-reqs'></a> Instance Number and Scaling Requirements

By default, PAS deploys the number of VM instances required to run a highly available configuration of <%= vars.product_name %>. If you are deploying a test or sandbox <%= vars.product_name %> that does not require HA, then you can scale down the number of instances in your deployment.

For information about the number of instances required to run a minimal, non-HA <%= vars.product_name %> deployment, see [Scaling PAS](../opsguide/scaling-ert-components.html).
