---
title: PAS Configuration Reference
owner: Release Engineering
---

## <a id='assign-az'></a>Assign Availability Zones and Networks

<%= partial 'assign-azs' %>

## <a id='domain-config'></a> Configure Domains

<%= partial 'domains' %>

## <a id="networking"></a> Configure Networking

TODO

## <a id='application-containers-config'></a> Configure Application Containers

<%= partial 'application_container_config' %>

## <a id='appdevctrl-config'></a> Configure Application Developer Controls

<%= partial 'application_developer_controls' %>

## <a id='app-security'></a> Review Application Security Groups

<%= partial 'application_security_group' %>

## <a id='auth-config'></a> Configure Authentication and Enterprise SSO

<%= partial 'authsso_config' %>

## <a id='uaa'></a>  Configure UAA

TODO

## <a id='credhub'></a> Configure CredHub

<%= partial '_credhub' %>

## <a id='sys-db'></a> Configure System Databases

TODO

## <a id='internal-mysql'></a> Configure Internal MySQL

<%= partial 'mysql_proxy_config' %>

## <a id='filestore'></a> Configure File Storage

TODO

<%= partial 'max_droplets_packages_config' %>

### <a id='cc-filesystem'></a> Select File Storage Location

#### <a id='internal_filestore'></a> Internal Filestore

<%= partial 'filestore_internal' %>

#### <a id='external_gcp'></a> External 

## <a id='sys-logging'></a> Configure System Logging

<%= partial '_system_logging' %>

## <a id='customize-apps-man'></a> Customize Apps Manager

<%= partial 'custombranding' %>

## <a id='smtp'></a> Configure Email Notifications

<%= partial 'email-notifs' %>

## <a id='config-autoscaler'></a> Configure App Autoscaler

<%= partial 'app-autoscaler' %>

## <a id='config-cc'></a> Configure Cloud Controller

<%= partial 'cloud-controller' %>

## <a id='config-smoke-test'></a> Configure Smoke Tests

<%= partial 'smoketests' %>

## <a id='advanced'></a> Enable Advanced Features

<%= partial 'advanced-features' %>

## <a id='errands'></a> Configure Errands

<%= partial 'errands' %>

## <a id='resources'></a> Configure Resources


