---
title: Understanding the Ops Manager Interface
owner: Ops Manager
---

<strong><%= modified_date %></strong>

This topic describes key features of the [Pivotal Cloud Foundry](https://network.pivotal.io/products/pivotal-cf) (PCF) Operations Manager interface.

<%= image_tag("interface.png") %>

## <a id='installation-dash'></a>PCF Ops Manager##

- **A**---**Available Products**: Displays a list of products you have imported that are ready for installation. If an upgrade is available, an active **Upgrade** button appears when you hover over the name of the product. Click the **Import a Product** link to add a new product to Ops Manager. Click **Delete unused products** to delete any unused products.

- **B**---**Installation Dashboard**: Displays a product tile for each installed product.

- **C**---**Actions menu**: Includes the following options:

  - **Download activity data**: Downloads a directory containing the config file for the installation, the deployment history, and version information.

	- **View diagnostic report**: Displays various types of information about the configuration of your deployment.

 - **Export settings**: Exports the current installation with all of its assets. When you export an installation, the exported file contains references to the installation IP addresses. It also contains the base VM images and necessary packages. As a result, an export can be very large (as much as 5 GB or more).

 - **Delete this installation**: Deletes the current installation with all of its assets.

- **D**---**User account menu**: Use this menu to change your password or log out.

- **E**---**Pending Changes view**: Displays queued installations and updates that will install during the next deploy. Click **Apply Changes** to apply any pending changes to your deployment.

<p class="note"><strong>Note</strong>: When an update depends on prerequisites, the prerequisites automatically install first.</p>

### <a id='settings'></a>Settings Menu ###

Navigate to the **Settings** menu by clicking on your user name located at the upper right corner of the screen. 

<%= image_tag("settings.png") %>

In the settings menu, you can change the following account information:

<%= image_tag("change_pass.png") %>

* **Update Decryption Passphrase**
* **Switch Identity Providers** by entering your **Decryption passphrase**, **Saml idp metadata**, and optionally, your **Bosh idp metadata**. For more information about setting up your Identity Provider, view the following instructions for your configuration:
	* [Amazon Web Services](../customizing/cloudform-om-config.html#idp)
	* [OpenStack](../customizing/openstack-om-config.html#idp)
	* [vSphere and vCloud](../customizing/vchs-vcloud-config.html)

### <a id='account_settings'></a>Account Settings ###

To change your email and password, navigate to **Actions menu**. 

<%= image_tag("account_settings.png") %>



