---
title: Using the Ops Manager Interface
owner: Ops Manager
---

<strong><%= modified_date %></strong>

This topic describes key features of the [Pivotal Cloud
Foundry](https://network.pivotal.io/products/pivotal-cf) (PCF) Operations Manager
interface.


## <a id="installation-dashboard"></a> Installation Dashboard Page

The Installation Dashboard is the central Ops Manager interface for managing your PCF
deployment. It displays the BOSH Director configuration for your IaaS and product tiles
for your PCF deployment.

The following screenshot shows the Installation Dashboard. Each section is labeled with a
red letter. Click the image to see it at full size.

<%# Screenshot written in Omnigraffle. Edit in ./images/omnigraffle/interface.graffle %>
<a target="_blank" href="images/interface.png"><%= image_tag("interface.png", :alt =>
							     "Screenshot of the Ops
							     Manager Installation
							     Dashboard. For a description
							     of each labeled section, see
							     the list below") %></a>

The following list describes each labeled section of the Installation Dashboard:

- **A**---**Import a Product**: Click this button to add a new product to Ops Manager. You
can download PCF-compatible product files from [Pivotal
Network](https://network.pivotal.io).  * If you have configured a [Pivotal Network
API](../customizing/add-delete.html) token in the **Settings** section of Ops Manager, a
list of the latest versions of already imported products appears automatically.

- **B**---**Delete All Unused Products**: Click this link to delete any unused products.

- **C**---**Installation Dashboard**: Click this link to return to the **Installation
Dashboard** page from other Ops Manager pages.

- **D**---**Stemcell Library**: Click this link to open the **Stemcell Library**. In the
**Stemcell Library** you can import stemcells, stage stemcells, and review your stemcell
version numbers. For more information, see [Importing and Managing
Stemcells](../opsguide/managing-stemcells.html).

- **E**---**Change Log**: Click this link to view and search a log of your previous
installations. See the [Change Log Page](#changelog) section of this topic for details.

- **F**---**User Account Menu**: Click the arrow next to your username to view the menu.
Use this menu to navigate to your **Settings** page, view **My Account** to change your
email and password, or log out of the **Installation Dashboard**. See [My
Account](#account_settings) of this topic for details on account information. See the
[Settings Page](#settings) section of this topic for details on available Ops Manager
settings.

- **G**---**Revert**: Click the revert button to return to the previous successful
installation. Any pending changes you have made to the current installation settings will
be lost.

- **H**---**Review Pending Changes**: Click the button to go to the **Review Pending
Changes** page, which organizes pending changes by tile. You are able to enable or disable
each tile to selectively deploy individual tiles and their dependencies. For more
information, see [Reviewing Pending Product Changes](review-pending-changes.html).

- **I**---**Orange Bar**: Indicates that additional configuration for the product tile is
required before deployment. Click the product tile to complete its configuration.

- **J**---**Missing Stemcell Link**: If an imported product is missing a required
stemcell, a **Missing Stemcell** link appears on the tile. Click this link to open the
Stemcell Library. For more information, see [Importing and Managing
Stemcells](../opsguide/managing-stemcells.html).

- **K**---**API Docs**: Click this link to go to the Ops Manager API documentation, which
details how you can manage Ops Manager through the API rather than with the user
interface. For more information about the Ops Manager API, see [Using the Ops Manager
API](ops-man-api.html).


## <a id="changelog"></a> Change Log Page

Navigate to the **Change Log** page by clicking the corresponding link in the dashboard
header. This page lets you view changes between current and past deployments.

The table columns display attributes associated with each deployment:

- **Started**---The date and time, in UTC format, when the deployment began.

- **Finished**---The date and time, in UTC format, when the deployment ended.

- **User**---The user that initiated the deployment.

- **Status**---The status of this deployment.

- **Added**---The tiles that were newly added to
the build.

- **Updated**---The tiles that were changed from the previous build.

- **Deleted**---The tiles that were removed from the previous build.

- **Unchanged**---The tiles that were not changed between deployments.

- **Logs**---A link to the Installation Log for the respective entry.

### <a id="changelog-using"></a> Using the Change Log Page

Configure the **Change Log** page by modifying the following fields:

- **Installation Dashboard**---Click **Installation Dashboard** to return to Ops Manager's
Installation Dashboard. Alternatively, click the **Back** button in your web browser.

- **Show X entries**---Click the number displayed in the **Show X entries** dropdown to
choose between 10, 25, 50, and 100 entries.

- **Search**---Type in the search box to sort the Change Log page by text or integer matches.
As you type, matching entries appear on the screen.

- **Previous / Next**---Click **Previous**, **Next**, or the number between
them to load older or newer entries.


## <a id='settings'></a> Settings Page

Navigate to the **Settings** page by clicking on your user name located at the upper right
corner of the screen and selecting **Settings**.

<%= image_tag("user_account_menu.png", :width => "500", :alt => "The 'User account menu'
	      page is indicated by a drop down arrow next to the logged in user account.
	      The user account displays at the upper right corner of the Ops Manager
screen. As the first option of this menu, you can select 'Settings' to access the Settings
Page. Below 'Settings' you can access 'My Account' to view account information or 'Log
out' to log out of the existing user account.") %>

The Settings configuration screen displays.

<%= image_tag("settings_menu.png", :width => "500", :alt => "The 'Settings' page is
	      indicated by a header that says 'Settings' in large type at the top of the
page. Below the header, on the left-hand side, there is a tabular layout. From top to
bottom, the tabs are 'Change Decryption Passphrase,' 'SAML Settings', 'LDAP Settings', 'SSL Certificate', 'Pivotal Network Settings,' 'Proxy Settings', 'Custom Banner', 'Export Installation Settings', 'Syslog', and 'Advanced Options'. The top tab, 'Change Decryption Passphrase' is highlighted in gray to indicate that it is selected. To the right, the body shows fields that correspond to 'Change Decryption Passphrase.'") %>

The following section describes each configuration pane:

<p class="note"><strong>Note:</strong> Modifying these settings does not require you to
return to the Installation Dashboard and click <strong>Apply Changes</strong>. These
settings apply to the Ops Manager VM. The BOSH Director does not apply them to your PCF
deployment.</p>

### Change Decryption Passphrase
Use this pane to reset your **decryption passphrase**.

### SAML Settings 
To change your Identity Provider (IdP) to SAML, configure the following fields:
<ul>
  <li><strong>Current Decryption Passphrase</strong>: Enter your decryption passphrase.</li>
  <li><strong>SAML IDP Metadata</strong>: Enter the full URL or XML SAML IdP metadata.</li>
  <li><strong>BOSH IDP Metadata</strong>: (Optional) Enter the full URL or XML BOSH IdP metadata. If left blank, the default is the same metadata as the field above.</li>
  <li><strong>SAML Admin Group</strong>: Enter the name of the SAML group that contains all of the Ops Manager administrators. This field is case-sensitive.</li>
  <li><strong>Groups Attribute</strong>: Enter the groups attribute tag name with which you configured the SAML server. This field is case-sensitive.</li>
  <li><strong>Provision an admin client in the Bosh UAA</strong>: Enable if you want to provision an admin client in the BOSH UAA. For more information, see <a href="./opsmanager-create-bosh-client.html#saml">Provision Admin Client</a> in the <em>Creating UAA Clients for BOSH Director</em> topic.</li>
</ul>

### LDAP Settings
Use this pane to change your IdP to LDAP.

For more information about changing your IdP to SAML or LDAP, view the following instructions for your IaaS configuration:

* Amazon Web Services. See [Configuring BOSH Director on AWS](../om/aws/config-manual.html).
* Google Cloud Platform. See [Configuring BOSH Director on GCP Manually](../om/aws/config-manual.html).
* Microsoft Azure. See [Configuring BOSH Director on Azure Manually](../om/azure/config-manual.html). 
* OpenStack. See [Configuring BOSH Director on OpenStack](../om/openstack/config.html).
* vSphere. See [Configuring BOSH Director on vSphere](../om/vsphere/config.html). 

<%= image_tag("settings-ssl-cert.png", :alt => "The 'Settings' page shows the 'SSL
      Certificate' pane highlighted on the left-hand tabular layout to indicate selection. The body shows a header titled 'SSL Certificate' with an option to 'Revert to self-signed certificate' followed by help text and two required fields: 'Certificate' and 'Private key'. The 'Add Certificate' button is at the bottom of the body.") %>

### SSL Certificate 
Configure Ops Manager to use a custom SSL certificate for all Ops Manager traffic both through the UI and API. 

If you leave the fields blank, Ops Manager uses an auto-generated self-signed certificate rather than your own custom certificate and private key. If you wish to replace a custom certificate with a self-signed certificate, select **Revert to self-signed certificate**.

  <%= image_tag("settings-pivotal-network.png", :alt => "The 'Settings' page shows the
          'Pivotal Network Settings' pane highlighted on the left-hand tabular layout to
indicate selection. The body shows a header titled 'Pivotal Network Settings' with help
text beneath and one field: 'Set API Token'. A button labeled 'Add Token' is at the bottom of the body.") %>

### Pivotal Network Settings
Enter your [Pivotal Network
API](../customizing/add-delete.html#pivnet-api) token and click **Add Token** to connect your **Installation
Dashboard** to Pivotal Network.

### Proxy Settings 
If you are using a proxy to connect to Ops Manager, update your
**Proxy Settings** by providing a **HTTP proxy**, **HTTPS proxy**, or **No proxy**.

  <%= image_tag("banner-ui.png", :alt => "Below, the Settings page
shows the 'Custom Banner' pane highlighted in the tabulated menu to indicate selection. In
the body, from top to bottom, you find the 'Custom Banner' header with optional
text fields 'UI Bannner' and 'SSH Banner' beneath. A 'Save' button is at the bottom of the body.") %>

### Custom Banner 
Create a custom text banner to communicate important messages to
operators. For **UI Banner**, enter the text you want to be shown on each page of the Ops
Manager UI. For **SSH Banner**, enter the text that appears when an operator shells into
Operations Manager.

### Export Installation Settings
Exports the current installation with all of its assets. When you export an installation, the exported file contains references to the base VM images, necessary packages, and configuration settings.

### Syslog
Viewable by administrators only. Configure a custom Syslog server for Ops
Manager. When you select **Yes** and fill the following fields, Ops Manager produces and
sends all Ops Manager logs to the configured syslog endpoint. Ops Manager also sends BOSH Director
access events to the syslog endpoint.<%= partial "../om/common/syslog_bosh" %>

### Advanced Options
<ul>
  <li><strong>Download Activity Data</strong>: Downloads a directory containing the config
    file for the installation, the deployment history, and version information.</li>
  <li><strong>Download Root CA Cert</strong>: Use this to download the root CA certificate of your deployment as an alternative to curling the Ops Manager API.</li>
  <li><strong>View Diagnostic Report</strong>: Displays various types of information about the configuration of your deployment.</li>
  <li><strong>Delete This Installation</strong>: Deletes your Ops Manager installation permanently.</li>
</ul>


## <a id='account_settings'></a> My Account Page

To change your email and password, navigate to the **My Account** page by clicking on your
user name located at the upper right corner of the screen and selecting **My Account**.

<%= image_tag("account_settings.png", :alt=> "This example 'Account Settings' page shows
	      two subheadings titled 'Profile' and 'Third Party Access'. Under 'Profile'
is an email 'admin@test.org' and an obscured password using asterisks. The email and
  password have two corresponding links to the right: 'Change Email' and 'Change
Password'. Under 'Third Party Access' is a paragraph that says 'You have not yet
authorized any third party applications.'" ) %>
