---
title: Using the Ops Manager Interface
owner: Ops Manager
---

<strong><%= modified_date %></strong>

This topic describes key features of the [Pivotal Cloud Foundry](https://network.pivotal.io/products/pivotal-cf) (PCF) Operations Manager interface.

<a aria-hidden="true" target="_blank" href="images/interface.png"><%= image_tag("interface.png") %></a>
<span aria-hidden="true">Click the image to see a full-size screenshot.</span>

- **A**--- Displays a list of products you have imported that are ready for installation.
	* Click the **Import a Product** link to add a new product to Ops Manager.
	* If an upgrade is available, an active **Upgrade** button appears when you hover over the name of the product. If you are using the [Pivotal Network API](../customizing/add-delete.html), the latest version of an existing product appears automatically.
 	* Click **Delete All Unused Products** to delete any unused products.

- **B**---**Installation Dashboard**: Displays a product tile for each installed product.

- **C**---**User account menu**: Use this menu to navigate to your **Settings** page, view **My Account** to change your email and password, or log out of the **Installation Dashboard**.

- **D**---**Settings**: This menu option opens a page with several configuration panes. See the [Settings Page](#settings) section of this topic for details.

- **E**---**Pending Changes view**: Displays queued products and updates that will install during the next deploy. Click on a product to expand its list of errands and change the errand run rules for the next deploy. For more information, see [Managing Errands in Ops Manager](./managing_errands.html).

- **F**---**Apply Changes button**: Click the button to apply pending changes, as listed, to your deployment. Click **Change Log** to view the logs of past installation updates.

- **G**---**Orange bar**: Indicates that additional configuration for the product tile is required before deployment. Click on the product tile to complete its configuration. In addition, the **Apply Changes** button is low lit to indicate that changes cannot be applied without additional product configuration.

- **H**---**Stemcell Library**: Click the link to open the Stemcell Library. In the Stemcell Library you can import stemcells, stage stemcells, and review your stemcell version numbers. For more information, see [Importing and Managing Stemcells](../opsguide/managing-stemcells.html).

<p class="note"><strong>Note</strong>: When an update depends on prerequisites, the prerequisites automatically install first.</p>

## <a id='settings'></a>Settings Page ##

Navigate to the **Settings** page by clicking your user name located at the upper right corner of the screen and selecting **Settings**. 


<%= image_tag("user_account_menu.png", :width => "auto", :alt => "The 'User account menu'
page is indicated by a drop down arrow next to the logged in user account.
The user account displays at the upper right corner of the Ops Manager
screen. As the first option of this menu, you can select 'Settings' to access the Settings
Page. Below 'Settings' you can access 'My Account' to view account information or 'Log
out' to log out of the existing user account.") %>

The Settings configuration screen displays the following:

<%= image_tag("settings_menu.png", :width => "500", :alt => "The 'Settings' page is
indicated by a header that says 'Settings' in large type at the top of the
page. Below the header, on the left-hand side, there is a tabular layout. From top to
bottom, the tabs are 'Decryption Passphrase,' 'Authentication Method', 
'External API Access', 'Proxy Settings', 'Export Installation
Settings,' and 'Advanced'. The top tab, 'Decryption Passphrase' is highlighted in
gray to indicate selection. To the right, the body shows fields that correspond to
'Decryption Passphrase.'") %>

 The following sections describe each configuration pane:

<p class="note"><strong>Note</strong>: Modifying these settings does not require you to return to the Installation Dashboard and click <b>Apply Changes</b>. These settings apply to the Ops Manager VM. The BOSH Director does not apply them to your PCF deployment.</p>


### Decryption Passphrase

Reset your decryption passphrase by entering your current one and a new one.

<%= image_tag("decryption_passphrase.png", :alt => "The 'Decryption Passphrase' is
selected and highlighted in the tabular layout. This pane shows three text fields: Current decryption passphrase, New decryption passphrase, and New decryption passphrase confirmation'.
The fields are followed by an update button.") %>

### Authentication Method

You can switch Identity Providers by entering your **Current Decryption Passphrase**, **SAML IDP Metadata**, **SAML Admin Group**, **Groups Attribute**, and optionally, your **BOSH IDP Metadata**. For more information about setting up your SAML Identity Provider, view the following instructions for your configuration:

* [Amazon Web Services](../om/aws/config-manual.html)

* [Google Cloud Platform](../om/gcp/config-manual.html#idp)

* [Microsoft Azure](../om/azure/config-manual.html#idp)

* [OpenStack](../om/openstack/config.html#idp)

* [vSphere](../om/vsphere/config.html)

<%= image_tag("authentication_method.png", :alt=> "The 'Authentication Settings' is selected and highlighted in the tabular layout.
The pane shows five text fields, a checkbox, and a button that says 'Setup SAML'") %>


### External API Access

Enter your [Pivotal Network API](../customizing/add-delete.html#pivnet-api) token to connect your **Installation Dashboard** to the Pivotal Network.

<%= image_tag("external_api_access.png", :alt=> "'External API Access' is selected and highlighted in the tabular layout. The pane shows a single
text field called 'Set API token' and a 'Save' button.") %>


### Proxy Settings

If you are using a proxy to connect to Ops Manager, update your proxy settings by providing a **Http proxy**, **Https proxy**, or **No proxy**.

<%= image_tag("proxy_settings.png", :alt=>"'Proxy Settings' is selected and highlighed in the tabular layout. The pane shows
three text fields: 'Http proxy,' 'Https proxy', and 'No proxy.' At the bottom of the pane is an 'Update' button.") %>


### Custom Banner

Create a custom text banner to convey your identity or important messages to operators. For **UI Banner**, enter the text you want to be shown on each page of the Ops Manager UI. For **SSH Banner**, enter the text that appears when an operator shells into Ops Manager.

<%= image_tag("banner-ui.png", :alt=>"A teal banner sits at the top of the
'Settings' page that says 'Attention: By entering text into the UI
Banner field, your message appears on every page of Ops Manager.' Below, the Settings page
shows the 'Custom Banner' pane highlighted in the tabulated menu. In
the body, from top to bottom, you find the 'Update Custom Banner' header with optional
text fields 'UI Bannner' and 'SSH Banner' beneath. The UI Banner field shows the exact
text shown in the teal banner. A 'Save' button is at the bottom of the body.") %>



### Export Installation Settings

Exports the current installation with all of its assets. When you export an installation, the exported file contains references to the base VM images, necessary packages, and configuration settings.

<%= image_tag("export_installation_settings.png", :alt=>"'Export Installation Settings' are selected and highlighted in the tabular layout. 
The pane shows a warning icon with description text and an 'Export Instalation Settings' button. The warning says 'Upgrading Ops Manager
may block the upgrade path for certain products.'") %>


### Advanced

The **Advanced** settings pane has the following buttons:

* **Download Activity Data** - Downloads a directory containing the config file for the installation, the deployment history, and version information.

* **Download Root CA Cert** - Downloads the root CA certificate of your deployment as an alternative to curling the Ops Manager API.

* **View diagnostic report** - Displays information about your deployment configuration.

* **Delete this Installation**

<%= image_tag("advanced_om_settings.png",  :alt=> "'Advanced' is selected and highlighted
in the tabular layout. The pane shows four blue buttons and one red button.
The four buttons are 'Download Activity Data', 'Download Root CA Cert', and
'View diagnostic report.' The red button is 'Delete this Installation'.") %>


## <a id='account_settings'></a>My Account (Account Settings) page ##

To change your email and password, navigate to the **My Account** page by clicking your user name located at the upper right corner of the screen and selecting **My Account**. 

<%= image_tag("account_settings.png", :alt=> "This example 'Account Settings' page shows two subheadings titled 'Profile' and 'Third Party Access'. Under 'Profile' is an email 'admin@test.org' and an obscured password using asterisks. The email and password have two corresponding links to the right: 'Change Email' and 'Change Password'. Under 'Third Party Access' is a paragraph that says 'You have not yet authorized any third party applications.'" ) %>
