---
title: Configuring Ops Manager Director for AWS
---

This topic describes how to configure the Pivotal Cloud Foundry Operations Manager components that you need to run <a href="https://network.pivotal.io/products/pivotal-cf">Pivotal Cloud Foundry</a> (PCF) on Amazon Web Services (AWS).

Ensure that you have successfully completed all steps in the [Configuring AWS for PCF](./pcf-aws-component-config.html) topic before beginning this procedure.
After you complete this procedure, follow the instructions in the [Configuring Elastic Runtime for AWS](./pcf-aws-er-config.html) topic.

<p class="note"><strong>Note</strong>: PCF for AWS functionality works only in the us-east-1 region. You cannot deploy PCF to any other region. </p>

## <a id='pcfaws-om-access'></a>Step 1: Access Ops Manager ##

1. Use the public DNS address of your Ops Manager instance to launch Ops Manager in a browser. See [Record the Ops Manager Instance Public DNS Address](./pcf-aws-component-config.html#pcfaws-dns-address).
1. Enter a username and password and accept the EULA to create an admin user.

    <p class="note"><strong>Note</strong>: On your first login attempt, an error message that the connection is untrusted appears because you are attempting to connect securely to a website with a self-signed certificate. Add Ops Manager as an exception to bypass this message on subsequent logins.</p>

    <%= image_tag("pcfaws/pivotal-cf.png") %>

## <a id='pcfaws-om-awsconfig'></a>Step 2: AWS Config Page ##

1. Click the **Ops Manager Director powered by AWS** tile.

    <%= image_tag("pcfaws/om_14_tile.png") %>

1. Select **AWS Config**.
1. Enter your **Access Key ID** and **AWS Secret Key** information. To retrieve your AWS key information, use the IAM credentials that you generated. Refer to the [Obtain AWS Credentials](./pcf-aws-component-config.html#pcfaws-iam-user) section of the _Configuring AWS for PCF_ topic.

1. **VPC ID**: Enter your PCF VPC ID. You can find the VPC ID on the AWS VPC Dashboard page next to the VPC name.
1. **Security Group Name**: Enter `pcfVMs`.

    For more information, refer to the [Configure a Security Group for PCF VMs](./pcf-aws-component-config.html#pcfaws-om-ersecgrp).
1. Choose **pcf** as the key pair name.
1. Paste the contents of the generated key file `pcf.pem` into the **SSH Private Key** field.
1. Click **Save**.

    <%= image_tag("pcfaws/om_aws_config.png") %>

## <a id='pcfaws-om-dirconfig'></a>Step 3: Director Config Page ##

1. Select **Director Config**.
1. Enter at least two of the following NTP servers in the **NTP Servers (comma delimited)** field, separated by a comma:
    * 0.amazon.pool.ntp.org
    * 1.amazon.pool.ntp.org
    * 2.amazon.pool.ntp.org
    * 3.amazon.pool.ntp.org

1. Click **Enable VM Resurrector Plugin** to enable the Ops Manager Resurrector functionality and increase Elastic Runtime availability.

    For more information, see the introduction and Limitation sections of the [Using Ops Manager Resurrector on VMware vSphere](./resurrector.html) topic.

1. Select **Amazon S3** for **Blobstore Location** and complete the associated fields:
    * **Bucket Name**: Enter the Ops Manager bucket name you defined in the [Create a S3 Bucket](./pcf-aws-component-config.html#pcfaws-s3) section of the _Configuring PCF for AWS_ topic.
    * **Access Key** and **Secret Key**: Enter your **Access Key ID** and **AWS Secret Key** information. To retrieve your AWS key information, use the IAM credentials that you generated. Refer to the [Obtain AWS Credentials](./pcf-aws-component-config.html#pcfaws-iam-user) section of the _Configuring AWS for PCF_ topic.

1. Select **External MySQL Database** for **Database Location** and complete the associated fields.

    The details page for your RDS instance contains values required for these fields. On the RDS Dashboard, click **Instances**, then click the arrow to the left of your instance to display this page.

     The table lists the database instance field name with its equivalent field on the Director Config page, and also provides the values for the **Port** and **Database** fields.

    <table border="1" class="nice" >
<tr>
  <th><strong>RDS Instance Field </strong></th>
  <th><strong>Ops Manager Director Field </strong></th>
</tr>
<tr>
  <td>Endpoint</td>
  <td>Host</td>
</tr>
<tr>
  <td>Port</td>
  <td>Port, which is <code>3306</code>.</td>
</tr>
<tr>
  <td>DB Name</td>
  <td>Database, which is <code>bosh</code>.</td>
</tr>
<tr>
  <td>Username</td>
  <td>Username</td>
</tr>
</table>

1. For **Password**, enter the password that you defined for your MySQL database. For more information, refer to the [Create a MySQL Database using AWS RDS](./pcf-aws-component-config.html#pcfaws-mysql-rds) section of the _Configuring PCF for AWS_ topic .
1. Click **Save**.

    <%= image_tag("pcfaws/om_director_config.png") %>


## <a id='pcfaws-om-az'></a>Step 4: Availability Zones Pages ##

1. Click **Create Availability Zones**.
1. **Amazon Availability Zone**: Enter the name of the AWS AZ that contains the private subnet CIDR (10.0.16.0/20) for your VPC, such as us-east-1b.

    The image shows where to find the **Availability Zone** name on the **Summary** tab of the VPC Subnets page. For more information, refer to the [Create a VPC](./pcf-aws-component-config.html#pcfaws-vpc) section of the _Configuring PCF for AWS_ topic.

    <%= image_tag("pcfaws/om_az_step4.png") %>


1. Click **Save**.
1. Click **Assign Availability Zones**.
1. **Singleton Availability Zone**: Select the same AZ value that you specified for **Amazon Availability Zone**.

    <%= image_tag("pcfaws/om_assign_az.png") %>

1. Click **Save**.

## <a id='pcfaws-om-networks'></a>Step 5: Networks Pages ###

1. Click **Create Networks**.
1. Enter a unique name for this network.
1. Enter your private subnet ID in **VPC Subnet ID**. This ID displays on the **Subnets** page of the **VPC Dashboard**.
1. **Subnet (CIDR Range)**: Enter `10.0.16.0/20`.
1. **Excluded IP Ranges**: Exclude Amazon IPs used at the bottom of the private range. Enter `10.0.16.1-10.0.16.9`.
1. **DNS**: Enter `10.0.0.2`.
1. **Gateway**: Enter `10.0.16.1`.

	<%= image_tag("pcfaws/om_create_networks.png") %>

1. Click **Save**.

    <p class="note"><strong>Note</strong>: When you save this form, a verification error displays because the PCF security group blocks ICMP. You can ignore this error.</p>

	<%= image_tag("pcfaws/network-error.png") %>

1. Select **Assign Networks** and assign the Director to the network you created in the previous step.

    <%= image_tag("pcfaws/om_assign_networks.png") %>


## <a id='pcfaws-om-rscestem'></a>Step 6: Resource Config Page ##

1. Click **Resource Config**.
1. Adjust any values as necessary for your deployment, such as increasing the persistent disk size.
1. Click **Save**.

    <%= image_tag("pcfaws/om_resource_config.png") %>

## <a id='pcfaws-om-complete'></a>Step 7: Complete the Ops Manager Director Installation ##

1. Return to the **Installation Dashboard**.
1. Click **Apply Changes**. An ICMP error message appears.

	<%= image_tag("pcfaws/install-error.png") %>

1. Click **Ignore errors and start the install**.

    Ops Manager Director begins to install. The image shows the **Changes Applied** window that displays when the installation process successfully completes.

    <%= image_tag("aws/vpc-step16.png") %>

[Return to the Getting Started Guide](../getstarted/index.html#configure-vmware)

