---
title: Manually Configuring Ops Manager Director for AWS
owner: Ops Manager
---

<strong><%= modified_date %></strong>
<html class="list-style-none"></html>

This topic describes how to configure the Ops Manager Director to deploy Pivotal Cloud Foundry (PCF) on Amazon Web Services (AWS).

Before beginning this procedure, ensure that you have successfully completed all of the steps in the [Manually Configuring AWS for PCF](pcf-aws-manual-config.html) topic. After completing the procedures in this topic, proceed to the [Configuring Elastic Runtime for AWS](pcf-aws-manual-er-config.html) topic to continue deploying PCF.

## <a id='pcfaws-om-access'></a>Step 1: Access Ops Manager ##

<p class="note"><strong>Note</strong>: For security, Ops Manager 1.7 and later require that you log in using a fully qualified domain name to access Ops Manager.</a></p>

1. In a web browser, navigate to the fully qualified domain you created in the <a href="pcf-aws-manual-om-config.html#pcfaws-dns">Step 16: Configure DNS Records</a> section of the <em>Manually Configuring AWS for PCF</em> topic.

1. When Ops Manager starts for the first time, you must choose one of the following:
    * <strong>[Use an Identity Provider](#idp)</strong>: If you use an Identity Provider, an external identity server maintains your user database.
    * <strong>[Internal Authentication](#internal)</strong>: If you use Internal Authentication, PCF maintains your user database.

<%= image_tag("select-authentication.png") %>

### <a id='idp'></a>Use an Identity Provider (IdP) ###

<%= partial 'using_idp_ops_manager' %> 

### <a id='internal'></a>Internal Authentication ###

1.  When redirected to the **Internal Authentication** page, you must complete the following steps:
    * Enter a **Username**, **Password**, and **Password confirmation** to create an Admin user.
    * Enter a **Decryption passphrase** and the **Decryption passphrase confirmation**. This passphrase encrypts the Ops Manager datastore, and is not recoverable.
    * If you are using an **HTTP proxy** or **HTTPS proxy**, follow the instructions in the [Configuring Proxy Settings for the BOSH CPI](./pcf-director-proxy-settings.html) topic.
    * Read the **End User License Agreement**, and select the checkbox to accept the terms.
    * Click **Setup Authentication**.

    <%= image_tag("om-login.png") %>

1. Log in to Ops Manager with the Admin username and password you created in the previous step.

    <%= image_tag("cf-login.png") %>

## <a id='pcfaws-om-awsconfig'></a>Step 2: AWS Config Page ##

1. Click the **Ops Manager Director** tile.

    <%= image_tag("cloudform/om-tile.png") %>

1. Select **AWS Config**.
    <%= image_tag("cloudform/aws-config.png") %>

1. Select **Use AWS Keys** or **Use AWS Instance Profile**.
    * **Access Key ID** and **AWS Secret Key**: To retrieve your AWS key information, use the AWS Identity and Access Management (IAM) credentials that you generated in the [Step 3: Create an IAM User for PCF](pcf-aws-manual-config.html#create-iam) section of the <em>Manually Configuring AWS for PCF</em> topic.
    * **AWS IAM Instance Profile**: Enter the name of the IAM profile you created in the [Step 3: Create an IAM User for PCF](pcf-aws-manual-config.html#create-iam) section of the <em>Manually Configuring AWS for PCF</em> topic. 

1. Complete the rest of the **AWS Management Console Config** page:
    * **VPC ID**: Enter your PCF VPC ID. Locate the VPC ID on the AWS VPC Dashboard page next to the VPC name.
    * **Security Group ID**: Enter the **Group ID** of the `pcf-vms-security-group` you created for your PCF VMs in the [Step 6: Configure a Security Group for PCF VMs](pcf-aws-manual-config.html#pcfaws-om-ersecgrp) section of the <em>Manually Configuring AWS for PCF</em> topic. Locate the Group ID in the **Security Groups** tab of your EC2 Dashboard. 
    * **Key Pair Name**: Enter `pcf-ops-manager-key`.
    * **SSH Private Key**: Open the AWS key pair `pcf-ops-manager-keys.pem` file you generated in the [Step 3: Create an IAM User for PCF](pcf-aws-manual-config.html#create-iam) section of the <em>Manually Configuring AWS for PCF</em> topic. Copy the contents of the `.pem` file and paste it into the **SSH Private Key** field.
    * **Region**: Select the region where you deployed Ops Manager.
    * **Encrypt EBS Volumes**: Select this checkbox to enable full encryption on persistent disks of all BOSH-deployed VMs except the Ops Manager VM and Director VM. See the [Configuring Amazon EBS Encryption for PCF on AWS](cloudform-om-ebs-config.html) topic for details on using EBS encryption.

1. Click **Save**.

## <a id='pcfaws-om-dirconfig'></a>Step 3: Director Config Page ##

1. Select **Director Config**.

    <%= image_tag("images/cloudform/director_aws.png") %>

1. Enter at least two of the following NTP servers in the **NTP Servers (comma
delimited)** field, separated by a comma:
    * `0.amazon.pool.ntp.org`
    * `1.amazon.pool.ntp.org`
    * `2.amazon.pool.ntp.org`
    * `3.amazon.pool.ntp.org`

1. (Optional) Enter your **JMX Provider IP Address** if you are [Using JMX Bridge](./../customizing/use-metrics.html).

1. (Optional) Enter your **Bosh HM Forwarder IP Address** if you are using the BOSH HM Forwarder.

1. Select the **Enable VM Resurrector Plugin** checkbox to enable the Ops Manager Resurrector functionality and increase Elastic Runtime availability. For more information, see the [Using Ops Manager Resurrector on VMware vSphere](./resurrector.html) topic.

1. Select **Enable Post Deploy Scripts** to run a post-deploy script after deployment. This script allows the job to execute additional commands against a deployment.

1. Select **Recreate all VMs** to force BOSH to recreate all VMs on the next deploy. This process does not destroy any persistent disk data.

1. Select **Enable bosh deploy retries** if you want Ops Manager to retry failed BOSH operations up to five times.

1. Select **Keep Unreachable Director VMs** if you want to preserve Ops Manager Director VMs after a failed deployment for troubleshooting purposes. 

1. Select **HM Pager Duty Plugin** to enable Health Monitor integration with PagerDuty.
    <%= image_tag("images/director_hm_pager.png") %>
    * **Service Key**: Enter your API service key from PagerDuty.
    * **HTTP Proxy**: Enter an HTTP proxy for use with PagerDuty.

1. Select **HM Email Plugin** to enable Health Monitor integration with email.
    <%= image_tag("images/director_hm_email.png") %>
    * **Host**: Enter your email hostname.
    * **Port**: Enter your email port number.
    * **Domain**: Enter your domain.
    * **From**: Enter the address for the sender.
    * **Recipients**: Enter comma separated addresses of intended recipients.
    * **Username**: Enter the username for your email server.
    * **Password**: Enter your username's password.
    * **Enable TLS**: Select this checkbox to enable Transport Layer Security.

1. For **Blobstore Location**, select **S3 Compatible Blobstore** and complete the following steps:
    <%= image_tag("images/director_blobstore.png") %>
    * **S3 Endpoint**: Navigate to the [Regions and Endpoints](http://docs.aws.amazon.com/general/latest/gr/rande.html#s3_region) topic in the AWS documentation. Locate the endpoint for your region in the **Amazon Simple Storage Service (S3)** table and construct a URL using your region's endpoint. For example, if you are using the us-west-2 region the URL you create would be `https://s3-us-west-2.amazonaws.com`. Enter this URL into the **S3 Endpoint** field in Ops Manager.
    * **Bucket Name**: Enter the Ops Manager bucket name that you defined in
    the [Manually Configuring PCF for AWS](./pcf-aws-manual-config.html#pcfaws-s3) topic.
    * **Access Key** and **Secret Key**: To retrieve your AWS key information, use the IAM credentials that you generated in the [Manually Configuring AWS for PCF](./pcf-aws-manual-config.html#pcfaws-iam-user) topic.
    * Select **V2 Signature** or **V4 Signature**. If you select **V4 Signature**, enter your **Region**.
      <p class="note"><strong>Note</strong>: AWS recommends using Signature Version 4. For more information about AWS S3 Signatures, see the <a href="http://docs.aws.amazon.com/AmazonS3/latest/API/sig-v4-authenticating-requests.html">Authenticating Requests</a> documentation.</p>

1. For **Database Location**, select **External MySQL Database** and complete the following steps:
    <%= image_tag("images/director_database.png") %>
    * From the AWS Console, navigate to the RDS Dashboard.
    * Select **Instances**, then click the arrow to the left of your instance and select the second icon to display the **Details** information.
    * Refer to the following table to retrieve the values for the **Director Config** page:
    <table border="1" class="nice" >
      <tr>
        <th><strong>RDS Instance Field </strong></th>
        <th><strong>Ops Manager Director Field </strong></th>
      </tr>
      <tr>
        <td>Endpoint</td>
        <td><strong>Host</strong></td>
      </tr>
      <tr>
        <td>Port</td>
        <td><strong>Port</strong>, which is <code>3306</code>.</td>
      </tr>
      <tr>
        <td>DB Name</td>
        <td><strong>Database</strong>, which is <code>bosh</code>.</td>
      </tr>
      <tr>
        <td>Username</td>
        <td><strong>Username</strong></td>
      </tr>
    </table><br />
    * For **Password**, enter the password that you defined for your MySQL database when you created in the [Step 19: Create a MySQL Database using AWS RDS](pcf-aws-manual-config.html#pcfaws-mysql-rds) section of the <em>Manually Configuring AWS for PCF</em> topic.

1. (Optional) **Director Workers** sets the number of workers available to execute Director tasks. This field defaults to 5.
1. (Optional) **Max Threads** sets the maximum number of threads that the Ops Manager Director can run simultaneously. For AWS, the default value is 6. Leave this field blank to use this default value. Pivotal recommends that you use the default value unless doing so results in rate limiting or errors on your IaaS.
1. (Optional) To add a custom URL for your Ops Manager Director, enter a valid hostname in **Director Hostname**. You can also use this field to configure [a load balancer in front of your Ops Manager Director](https://discuss.pivotal.io/hc/en-us/articles/225420588). 

1. Click **Save**.

## <a id='az'></a>Step 4: Create Availability Zones Page ##

<p class="note"><b>Note</b>: Pivotal recommends at least three availability zones (AZs) for a highly available installation of Elastic Runtime. The procedures in <a href="pcf-aws-manual-config.html">Manually Configuring AWS for PCF</a> use 3 AZs.</p>

1. Select **Create Availability Zones**.
<%= image_tag("cloudform/create-az.png") %>
1. Perform the following steps to add the three AZs you specified in the [Step 4: Create a VPC](pcf-aws-manual-config.html#pcfaws-vpc) section of the <em>Manually Configuring AWS for PCF</em> topic: 
    1. Click **Add**.
    1. For **Amazon Availability Zone**, enter the name of the AZ.
    1. Repeat until you have entered all three AZs, in the format `REGION-#a`, `REGION-#b`, and `REGION-#c`. For example, `us-west-2a`, `us-west-2b`, and `us-west-2c`. 

1. Click **Save**.

## <a id='pcfaws-om-networks'></a>Step 5: Create Networks Page ##
1. Select **Create Networks**.
<%= image_tag("cloudform/create-networks.png") %>
1. (Optional) Select **Enable ICMP checks** to enable ICMP on your networks. Ops Manager uses ICMP checks to confirm that components within your network are reachable.
1. Perform the following steps to add the network configuration you created for your VPC in the [Step 4: Create a VPC](pcf-aws-manual-config.html#pcfaws-vpc) section of the <em>Manually Configuring PCF for AWS</em> topic:
    1. Click **Add Network**.
    1. For **Name**, enter `pcf-management-network`.
    1. Create a subnet for each availability zone by clicking **Add Subnet**. Refer to the table below for the information required to create all three subnets:
         <table>
         <tr>
           <th>VPC Subnet ID</th>
           <th>CIDR</th>
           <th>Reserved IP Ranges</th>
           <th>DNS</th>
           <th>Gateway</th>
           <th>Availability Zones</th>
         </tr>
         <tr>
           <td>`pcf-management-subnet-az0`</td>
           <td>`10.0.16.0/28`</td>
           <td>`10.0.16.0-10.0.16.4`</td>
           <td>`169.254.169.253`</td>
           <td>`10.0.16.1`</td>
           <td>`REGION-#a` (for example, `us-west-2a`)</td>
         </tr>
         <tr>
           <td>`pcf-management-subnet-az1`</td>
           <td>`10.0.16.16/28`</td>
           <td>`10.0.16.16-10.0.16.20`</td>
           <td>`169.254.169.253`</td>
           <td>`10.0.16.17`</td>
           <td>`REGION-#b` (for example, `us-west-2b`)</td>
         </tr>
         <tr>
           <td>`pcf-management-subnet-az2`</td>
           <td>`10.0.16.32/28`</td>
           <td>`10.0.16.32-10.0.16.36`</td>
           <td>`169.254.169.253`</td>
           <td>`10.0.16.33`</td>
           <td>`REGION-#c` (for example, `us-west-2c`)</td>
         </tr>
         </table>
    <br><br>
    1. Click **Add Network**.
    1. For **Name**, enter `pcf-ert-network`.
    1. Create a subnet for each availability zone by clicking **Add Subnet**. Refer to the table below for the information required to create all three subnets:
         <table>
          <tr>
          <th>VPC Subnet ID</th>
           <th>CIDR</th>
           <th>Reserved IP Ranges</th>
           <th>DNS</th>
           <th>Gateway</th>
           <th>Availability Zones</th>
         </tr>
         <tr>
           <td>`pcf-ert-subnet-az0`</td>
           <td>`10.0.4.0/24`</td>
           <td>`10.0.4.0-10.0.4.4`</td>
           <td>`169.254.169.253`</td>
           <td>`10.0.4.1`</td>
           <td>`REGION-#a` (for example, `us-west-2a`)</td>
         </tr>
         <tr>
           <td>`pcf-ert-subnet-az1`</td>
           <td>`10.0.5.0/24`</td>
           <td>`10.0.5.0-10.0.5.4`</td>
           <td>`169.254.169.253`</td>
           <td>`10.0.5.1`</td>
           <td>`REGION-#b` (for example, `us-west-2b`)</td>
         </tr>
         <tr>
           <td>`pcf-ert-subnet-az2`</td>
           <td>`10.0.6.0/24`</td>
           <td>`10.0.6.0-10.0.6.4`</td>
           <td>`169.254.169.253`</td>
           <td>`10.0.6.1`</td>
           <td>`REGION-#c` (for example, `us-west-2c`)</td>
         </tr>
         </table>
    <br><br>
    1. Click **Add Network**.
    1. Check the **Service Network** box. This allows you to dynamically provision VMs in this network for use with on-demand services. Ops Manager does not provision VMs within the specified CIDR range.
    1. Enter `pcf-services-network` in **Name** field.
    1. Create a subnet for each availability zone by clicking **Add Subnet**. Refer to the table below for the information required to create all three subnets:
          <table>
           <tr>
             <th>VPC Subnet ID</th>
             <th>CIDR</th>
             <th>Reserved IP Ranges</th>
             <th>DNS</th>
             <th>Gateway</th>
             <th>Availability Zones</th>
           </tr>
           <tr>
             <td>`pcf-services-subnet-az0`</td>
             <td>`10.0.8.0/24`</td>
             <td>`10.0.8.0-10.0.8.3`</td>
             <td>`169.254.169.253`</td>
             <td>`10.0.8.1`</td>
             <td>`REGION-#a` (for example, `us-west-2a`)</td>
           </tr>
           <tr>
             <td>`pcf-services-subnet-az1`</td>
             <td>`10.0.9.0/24`</td>
             <td>`10.0.9.0-10.0.9.3`</td>
             <td>`169.254.169.253`</td>
             <td>`10.0.9.1`</td>
             <td>`REGION-#b` (for example, `us-west-2b`)</td>
           </tr>
           <tr>
             <td>`pcf-services-subnet-az2`</td>
             <td>`10.0.10.0/24`</td>
             <td>`10.0.10.0-10.0.10.3`</td>
             <td>`169.254.169.253`</td>
             <td>`10.0.10.1`</td>
             <td>`REGION-#c` (for example, `us-west-2c`)</td>
           </tr>
           </table>

1. Click **Save**.

## <a id="assign-azs"></a>Step 6: Assign AZs and Networks ##

1. Select **Assign AZs and Networks**.
<%= image_tag("images/assign-az.png") %>
1. Use the drop-down menu to select a **Singleton Availability Zone**. The Ops Manager Director is deployed into this AZ.
1. Use the drop-down menu to select `pcf-management-network` under **Network**. The Ops Manager Director is deployed into this network.
1. Click **Save**.

## <a id='security'></a>Step 7: Security Page ##

1. Select **Security**.

    <%= image_tag("../images/om-security.png") %>

1. In **Trusted Certificates**, enter a custom certificate authority (CA) certificate to insert into your organization's certificate trust chain. This feature enables all BOSH-deployed components in your deployment to trust a custom root certificate. If you want to use Docker Registries for running app instances in Docker containers, use this field to enter your certificate for your private Docker Registry. See the [Using Docker Registries](../opsguide/docker-registry.html) topic for more information.
1. Choose **Generate passwords** or **Use default BOSH password**. Pivotal recommends that you use the **Generate passwords** option for greater security.
1. Click **Save**. To view your saved Director password, click the **Credentials** tab.

## <a id='syslog'></a>Step 8: Syslog Page

<%= partial 'syslog_bosh' %>

## <a id='pcfaws-om-rscestem'></a>Step 9: Resource Config Page ##

1. Select **Resource Config**.
    <%= image_tag("cloudform/resource-config-new.png") %>

1. Adjust any values as necessary for your deployment. Under the **Instances**, **Persistent Disk Type**, and **VM Type** fields,
choose **Automatic** from the drop-down menu to allocate the recommended resources for the job. If the **Persistent Disk Type** field reads **None**, the job does not require persistent disk space.

    <p class="note"><strong>Note</strong>: Pivotal recommends provisioning an Ops Manager Director VM with at least 8 GB memory.</p>

    <p class="note"><strong>Note</strong>: If you set a field to <strong>Automatic</strong> and the recommended resource allocation changes in a future version, Ops Manager automatically uses the new recommended allocation.</p>

1. Click **Save**.

## <a id='pcfaws-om-complete'></a>Step 10: Complete the Ops Manager Director Installation ##

1. Return to the **Installation Dashboard**.
1. Click **Apply Changes**. 
1. Ops Manager Director begins to install. The **Changes Applied** window displays when the installation process successfully completes.

    <%= image_tag("aws/vpc-step16.png") %>

1. Proceed to the [Configuring Elastic Runtime for AWS](pcf-aws-manual-er-config.html) topic to continue deploying PCF.
