---
breadcrumb: <%= vars.platform_name %> Documentation
<<<<<<< HEAD
title: Planning Your Ops Manager Deployment
owner: <%= vars.platform_name %> Documentation
=======
title: Planning Your Pivotal Platform Deployment
owner: PCF Documentation
>>>>>>> c50b6edc... [#172547036] Removes variable from Owner field.
---

<% current_page.data.title = "Planning Your " + vars.platform_name + " Deployment" %>

This documentation provides an overview of how to plan an <%= vars.platform_name  %> installation.


## <a id='overview'></a> Overview

In planning an <%= vars.platform_name %> installation, you should:

- Review the Requirements for your IaaS.

- Refer to the Reference Architecture for your IaaS.

- Assess your platform needs, including capacity, availability, container support, host OS, resource isolation, and geographical distribution. Discuss with your <%= vars.company_name %> contact.

For all of the above, the specifics depend on the IaaS that you are deploying <%= vars.platform_name %> to. The contents of this documentation are organized by IaaS.


## <a id='contents'></a> Contents

### <a id='requirements'></a> General Requirements

<%# Find this partial in GitHub at `pivotal-cf/docs-partials` %>
<%= partial "/pcf/core/#{vars.current_major_version.sub('.', '-')}/requirements" %>

### <a id='front-end'></a> Front End Planning for All IaaSes

 - [Providing a Certificate for your SSL Termination Point](../opsguide/security_config.html)
 - [Using Your Own Load Balancer](./custom-load-balancer.html)
 - [Preparing Your Firewall](./config_firewall.html)
 - [(Optional) Installing <%= vars.platform_name %> in Air-Gapped Environments](./offline_installation.html)

### <a id='specific'></a> IaaS-Specific Planning

* Amazon Web Services (AWS)

  - [<%= vars.platform_name %> on AWS Requirements](./aws.html)
  - [AWS Reference Architecture](../plan/aws/aws_ref_arch.html)
  - [<%= vars.platform_name %> on AWS Permissions Guidelines](./aws-iaas-user-roles.html)

* Microsoft Azure

  - [<%= vars.platform_name %> on Azure Requirements](./azure.html)
  - [Azure Reference Architecture](../plan/azure/azure_ref_arch.html)

* Google Cloud Platform (GCP)

  - [<%= vars.platform_name %> on GCP Requirements](./gcp.html)
  - [GCP Reference Architecture](../plan/gcp/gcp_ref_arch.html)
  - [GCP Resource Quota Guidelines](./gcp-quotas.html)

* OpenStack

  - [<%= vars.platform_name %> on OpenStack Requirements](./openstack.html)
  - [OpenStack Reference Architecture](../plan/openstack/openstack_ref_arch.html)

* vSphere

  - [<%= vars.platform_name %> on vSphere Requirements](./vsphere.html)
  - [vSphere Reference Architecture](../plan/vsphere/vsphere_ref_arch.html)
  - [Configuring SSL Termination for vSphere Deployments](../opsguide/ssl-term.html)
  - [vSphere Virtual Disk Types](./disk-format.html)
  - [vSphere Permissions Guidelines](/platform/ops-manager/<%= vars.current_major_version.sub('.', '-') %>/vsphere/vsphere-service-account.html)
  - [Availability Zones in vSphere](./understand-az.html)
