---
title: Using the BOSH Resurrector
owner: Ops Manager
---



This topic describes the BOSH Resurrector, which monitors VMs and re-creates VMs that become unavailable.
It also describes how to enable the BOSH Resurrector, to ensure high availability (HA) for your <%= vars.platform_name %> deployment.

For vSphere users, this topic explains how to enable vSphere HA to work along with the BOSH Resurrector.

  * vSphere HA restarts unreachable VMs at the IaaS level, below the BOSH layer where the BOSH Resurrector operates.
  * <%= vars.company_name %> recommends enabling the vSphere HA, the BOSH Resurrector, and a highly-available storage solution to protect the VMs in your deployment.

For more information about the BOSH Resurrector, see the [Auto-healing Capabilities](https://bosh.io/docs/resurrector/) section of the BOSH documentation.

## <a id="bosh-resurrector"></a> BOSH Resurrector

The following sections describe the BOSH Resurrector and how to enable it.


### <a id="about-resurrector"></a>About BOSH Resurrector ##

The BOSH Resurrector increases <%= vars.platform_name %> availability in the following ways:

- Reacts to hardware failure and network disruptions by recreating virtual
machines on active, stable hosts
- Detects operating system failures by continuously monitoring virtual
machines and recreating them as required
- Continuously monitors the BOSH Agent running on each virtual machine and
recreates the VMs as required

The BOSH Resurrector continuously monitors the status of all virtual
machines in an <%= vars.platform_name %> deployment.
The Resurrector also monitors the BOSH Agent on each VM.
If either the VM or the BOSH Agent fail, the Resurrector recreates the virtual
machine on another active host.

### <a id="limitations"></a> BOSH Resurrector Limitations ###

The following limitations apply to using the BOSH Resurrector:

* The Resurrector does not monitor or protect the <%= vars.ops_manager %> VM or the BOSH
Director VM.
* The Resurrector might not be able to resolve issues caused by the loss of an
entire host.
* The Resurrector does not monitor or protect data storage.

To mitigate these limitations, <%= vars.company_name %> recommends vSphere HA. For more information, see [vSphere HA](#vsphere-ha) below.

### <a id="enabling"></a>Enable BOSH Resurrector ##

To enable the BOSH Resurrector:

1. Log into the <%= vars.ops_manager %> web interface.

1. On the Product Dashboard, select **BOSH Director**.

    <%= image_tag("images/director-tile-vmware.png") %>

1. In the left navigation menu, select **Director Config**.

    <%= image_tag("images/resurrector/resurrector.png") %>

1. Select **Enable VM Resurrector Plugin** and click **Save**.



## <a id="vsphere-ha"></a> vSphere HA

The following sections describe vSphere HA, and how to enable it to work along with the BOSH Resurrector.



### <a id="about-vsphere-ha"></a>About vSphere HA  ##

In the event of a host failure, vSphere HA restarts but does not recreate VMs on alternate ESXi hosts in the same cluster. A host failure could result from a sudden power off, crash due to hardware fault, or the vSphere host becoming disconnected from the network. BOSH Resurrector cannot recover from a host failure.

For more information, see [vSphere High Availability](https://bosh.io/docs/vsphere-ha/) in the BOSH documentation.


### <a id="enable-vsphere-ha"></a>Enable vSphere HA ##

Follow the steps below to enable vSphere High Availability:

1. Launch the vSphere Management Console.

1. Right-click the cluster that contains the [<%= vars.platform_name %>](https://network.pivotal.io/products/pivotal-cf) deployment and select **Edit Settings**.

1. Select the **Turn on vSphere High Availability** checkbox.

    <%= image_tag("images/resurrector/enable-ha.jpg") %>

1. Click **OK** to enable vSphere High Availability on the cluster.
