---
title: Ops Manager Runtimes
owner: <%= vars.platform_name %> Documentation
---

<% current_page.data.title = vars.platform_name + " Runtimes"  %>

This topic describes the runtime environments you can install on <%= vars.platform_name %>.


## <a id='overview'></a> Overview

<%= vars.platform_name %> includes runtime environment options that support apps and containers running on Linux and Windows VMs at different levels of resource usage and isolation. You install your chosen runtime or runtimes using the Ops Manager Installation Dashboard.

<%= vars.platform_name %> includes support for the following primary runtime environments:

- [<%= vars.app_runtime_full %> (<%= vars.app_runtime_abbr %>)](#pas)

- [Enterprise <%= vars.k8s_runtime_full %> (<%= vars.k8s_runtime_abbr %>)](#pks)


## <a id='tas'></a> <%= vars.app_runtime_full %> (<%= vars.app_runtime_abbr %>)

<%= vars.app_runtime_abbr %> lets developers develop and manage cloud-native apps and software services running on Linux. <%= vars.app_runtime_abbr %> is based on the open-source Cloud Foundry Application Runtime project. To install and configure <%= vars.app_runtime_abbr %>, see [Configuring <%= vars.app_runtime_abbr %>](configure-pas.html).

As an alternative to <%= vars.app_runtime_abbr %>, you can install  [<%= vars.app_runtime_full %> &#91;Small Footprint&#93; (<%= vars.app_runtime_abbr %> &#91;Small Footprint&#93;)](#small-footprint) to deploy your app using fewer resources.

After you install the <%= vars.app_runtime_abbr %> runtime tile, you can also install the following runtime tiles that extend the functionality of <%= vars.app_runtime_abbr %>:

- [<%= vars.windows_runtime_full %> (<%= vars.windows_runtime_abbr %>)](#pasw)
- [<%= vars.segment_runtime_full %>](#ist)

### <a id='small-footprint'></a> <%= vars.app_runtime_abbr %> &#91;Small Footprint&#93;

<%= vars.app_runtime_abbr %> &#91;Small Footprint&#93; is an alternative to <%= vars.app_runtime_abbr %> that uses significantly fewer VMs than <%= vars.app_runtime_abbr %>, but limits system capacity and availability.

For more information about <%= vars.app_runtime_full %> &#91;Small Footprint&#93;, see [Getting Started with <%= vars.app_runtime_full %> &#91;Small Footprint&#93;](small-footprint.html).

### <a id='pasw'></a> <%= vars.windows_runtime_abbr %>

<%= vars.windows_runtime_abbr %> lets <%= vars.platform_name %> host apps on Windows VMs and enables <%= vars.platform_name %> developers to push .NET apps to these Windows Diego Cells. You must install <%= vars.app_runtime_abbr %> before you can install <%= vars.windows_runtime_abbr %>.

For more information about <%= vars.windows_runtime_abbr %>, see [<%= vars.windows_runtime_full %>](https://docs.pivotal.io/application-service-windows/<%= vars.current_major_version.sub('.', '-') %>/index.html).

### <a id='ist'></a> <%= vars.segment_runtime_full %>

<%= vars.segment_runtime_full %> extends <%= vars.app_runtime_abbr %> to run apps in separate segments with their own isolated computing, routing, and logging resource pools. Operators replicate and configure an <%= vars.segment_runtime_full %> tile for each new resource pool they want to create. You must install <%= vars.app_runtime_abbr %> before you can install <%= vars.segment_runtime_full %>.

To install <%= vars.segment_runtime_full %>, see [Installing <%= vars.segment_runtime_full %>](installing-pcf-is.html).


## <a id='pks'></a> <%= vars.k8s_runtime_full %> (<%= vars.k8s_runtime_abbr %>)

<%= vars.k8s_runtime_abbr %> lets operators provision, operate, and manage enterprise-grade Kubernetes clusters on <%= vars.platform_name %>. <%= vars.k8s_runtime_abbr %> is based on the open-source Cloud Foundry Container Runtime project.

To install and configure <%= vars.k8s_runtime_abbr %>, see [Installing Enterprise <%= vars.k8s_runtime_abbr %>](https://docs.pivotal.io/tkgi/installing.html).
