---
title: Upgrading PAS and Other Pivotal Platform Products
owner: RelEng
---

<% current_page.data.title = "Upgrading PAS and Other " + vars.product_name + " Products"  %>

This topic describes how to upgrade to a point release of Pivotal Application Service (PAS) and other product tiles without upgrading Pivotal Operations Manager. For example, use this topic to upgrade from PAS v2.5.0 to v2.5.1. You might need to perform this upgrade if a security update for PAS is released, or if new features are introduced in a point release of a product tile.

For PAS component and version information, see the [PAS release notes](http://docs.pivotal.io/platform/pcf-release-notes/runtime-rn.html).

<p class="note"><strong>Note:</strong> If you cannot download products from Pivotal Network due to restricted network connectivity, see <a href="offline_installation.html">Installing <%= vars.product_name %> in Air-Gapped Environments</a>.</p>


## <a id="before-upgrade"></a> Prerequisites

Before you upgrade to point releases:

* You must have completed the [Upgrading <%= vars.product_name %>](../customizing/upgrading-pcf.html) procedure.

* See the [Product Compatibility Matrix](http://docs.pivotal.io/compatibility-matrix.pdf) before upgrading PAS.

* **Important**: Read the Known Issues sections of the products you plan on installing before starting. See [<%= vars.product_name %> Release Notes](http://docs.pivotal.io/platform/pcf-release-notes/index.html) for all available product release notes.


## <a id="upgrade-er"></a> Upgrading PAS

<p class="note"><strong>Note:</strong> If you are using the Pivotal Network API, the latest product versions will automatically appear in your Installation Dashboard. For more information, see the <a href="../customizing/add-delete.html#pivnet-api">Using Pivotal Network API to Upgrade Products</a> section of the <em>Adding and Deleting Products</em> topic.</p>

To upgrade PAS without upgrading Ops Manager:

1. Download the product file from [Pivotal Network](https://network.pivotal.io/). 

1. Import the product file to your Ops Manager **Installation Dashboard**.

1. Click the **+** icon next to the uploaded product description to add this product to your staging area.

1. Click the newly added tile to review any configurable options.

1. Click **Review Pending Changes**, then **Apply Changes** to install the service.


## <a id="other-products"></a> Upgrading <%= vars.product_name %> Products

<p class="note"><strong>Note:</strong> If you are using the Pivotal Network API, the latest product versions will automatically appear in your Installation Dashboard. For more information, see the <a href="../customizing/add-delete.html#pivnet-api">Using Pivotal Network API to Upgrade Products</a> section of the <em>Adding and Deleting Products</em> topic.</p>

This section describes how to upgrade individual products like [Single Sign-On for <%= vars.product_name %>](http://docs.pivotal.io/p-identity/index.html), [MySQL for <%= vars.product_name %>](http://docs.pivotal.io/p-mysql/index.html), [RabbitMQ&reg; for <%= vars.product_name %>](http://docs.pivotal.io/rabbitmq-cf/index.html), and [Metrics for <%= vars.product_name %>](http://docs.pivotal.io/app-metrics/index.html) in your <%= vars.product_name  %> deployment. Ensure you review the individual product upgrade procedure for each tile.

To upgrade your products:

1. Browse to [Pivotal Network](https://network.pivotal.io/) and sign in.

1. Download the latest <%= vars.product_name %> release for the product or products you want to upgrade. Every product is tied to exactly one stemcell. Download the stemcell that matches your product and version.

<%# Find this partial in GitHub at `pivotal-cf/docs-partials` %>
1. <%= partial "/pcf/core/#{vars.current_major_version.sub('.', '-')}/check_disk_before_upgrade" %>

1. Browse to the Ops Manager web interface and click **Import a Product**.

    <%= image_tag("import.png") %>

1. Select the `.pivotal` file that you downloaded from Pivotal Network or received from your software distributor, then click **Open**. If the product is successfully added, it appears in your product list. If the product that you selected is not the latest version, the most up-to-date version will appear on your product list.

1. Click the **+** icon next to the product description to add the product tile to the **Installation Dashboard**.

1. Repeat the import, upload, and upgrade steps for each product you downloaded.

1. If you are upgrading a product that uses a self-signed certificate from v1.1 to v1.2, you must configure the product to trust the self-signed certificate. To configure a product to trust the self-signed certificate:
    1. Click the product tile.
    1. In the left-hand column, select the setting page containing the SSL certificate configuration. For example, for PAS, select the **HAProxy** pane.
    1. Check the **Trust Self-Signed Certificates** box.
    1. Click **Save**.

1. Click **Review Pending Changes**, then **Apply Changes**.


## <a id="replica-tiles"></a> Upgrading Replicated Tiles

To upgrade a replicated tile, you must:

* Generate a replica of the newer version of the tile using the replicator 
* Give the new replica the same name as the existing replica. 

See the following example workflow. 

### <a id="replica-example"></a> Example Workflow

This example assumes the following:

* You used the replicator to generate a replica of v1 of the Isolation Segment tile. 
* You used the `name` **seg-one**. 
* You installed the tile in Ops Manager.

Here is the sample replicator command you used for the initial installation:

```mac
./replicator-darwin\
--name seg-one\
--path /download/p-isolation-segment-v1.pivotal\
--output /output/p-isolation-segment-v1-seg-one.pivotal
```

To upgrade to v2:

1. Download and unzip the new Isolation Segment Tile Replicator from [Pivotal Network](https://network.pivotal.io/products/p-isolation-segment/). You must download the version of Tile Replicator that corresponds with the version of the Isolation Segment Tile you want to replicate.

1. Run the replicator command below to create the replica: 

    ```mac
      ./replicator-darwin\
      --name NAME-OF-EXISTING-REPLICA \
      --path PATH-TO-NEW-TILE \
      --output /output/p-isolation-segment-v2-seg-one.pivotal
    ```
    Where:<br>
      - `NAME-OF-EXISTING-REPLICA` must be the same as the name used for the existing replica. 
      This is **seg-one** in this example.
      - `PATH-TO-NEW-TILE` is the path to the new Isolation Segment Tile. 

1. After you have the replica tile **p-isolation-segment-v2-seg-one.pivotal**, upload it to Ops Manager. This upgrades the v1 replica tile in place.
