---
title: Upgrading Ops Manager
owner: Ops Manager
---

<% current_page.data.title = "Upgrading " + vars.platform_name %>

This topic describes upgrading <%= vars.ops_manager %> and <%= vars.app_runtime_full %> (<%= vars.app_runtime_abbr %>) to <%= vars.v_major_version %>.

<p class="note breaking"><strong>Breaking Changes:</strong> Read the <a href="https://docs.pivotal.io/ops-manager/2-10/release-notes.html"><%= vars.ops_manager %> v2.10 Release Notes</a>, <a href="https://docs.pivotal.io/application-service/<%= vars.current_major_version.sub('.', '-') %>/overview/release-notes/runtime-rn.html"><%= vars.app_runtime_full %> <%= vars.v_major_version %> Release Notes</a>, <a href="https://docs.pivotal.io/application-service/<%= vars.current_major_version.sub('.', '-') %>/overview/release-notes/segment-rn.html"><%= vars.segment_runtime_full %> <%= vars.v_major_version %> Release Notes</a>, <a href="https://docs.pivotal.io/application-service-windows/<%= vars.current_major_version.sub('.', '-') %>/release-notes.html"><%= vars.windows_runtime_full %> <%= vars.v_major_version %> Release Notes</a>, and <a href="https://docs.pivotal.io/platform/<%= vars.current_major_version.sub('.', '-') %>/release-notes/breaking-changes.html"><%= vars.ops_manager %> <%= vars.v_major_version %> and Runtime Breaking Changes</a> for this release, including the <em>Known Issues</em> sections, before starting the upgrade process.</p>

<p class="note warning"><strong>Warning:</strong> VMware does not recommend that you skip minor versions when upgrading.
   Skipping minor versions when upgrading might result in breaking changes.
   To avoid additional breaking changes, upgrade to the minor version that directly follows your current version.</p>


## <a id='overview'></a> Overview

The procedure below describes upgrading <%= vars.ops_manager %>, <%= vars.app_runtime_abbr %>, and product tiles.

The apps in your deployment continue to run during the upgrade. However, you cannot write to your deployment or make changes to apps during the upgrade.

For details about how upgrading impacts individual <%= vars.app_runtime_abbr %> components, see [What Happens During <%= vars.app_runtime_abbr %> Upgrades](../upgrading/understanding-pas.html).


## <a id="prepare"></a> Task 1: Prepare to Upgrade

If you have not already, complete the steps in [Upgrade Preparation Checklist for <%= vars.platform_name %> v2.10](https://docs.pivotal.io/ops-manager/2-10/upgrade/checklist.html).


## <a id="upgrade_ops"></a> Task 2: Upgrade Ops Manager and Installed Products to <%= vars.v_major_version %>

The following sections describe how to upgrade Ops Manager and installed products to <%= vars.platform_name %> <%= vars.v_major_version %>:

* [Import Installation to Ops Manager <%= vars.v_major_version %> VM](#upgrade)
* [Import New <%= vars.app_runtime_abbr %> and Product Tiles](#upgrade-products)
* [Perform Your Upgrade](#perform-upgrade)
* [Restage Apps](#restage-apps)

### <a id="upgrade"></a> Import Installation to Ops Manager <%= vars.v_major_version %> VM

To import your Ops Manager installation to the Ops Manager <%= vars.v_major_version %> VM:

1. Download the Ops Manager VM Template <%= vars.v_major_version %> from the
[<%= vars.product_network %>](https://network.pivotal.io/products/ops-manager) site.

1. Record the fully qualified domain name (FQDN) address of the existing Ops Manager VM.

1. To avoid conflicts, power off the existing Ops Manager VM.

1. Deploy the new Ops Manager VM by following the steps in one of these topics:
    * **AWS:** [Upgrading BOSH Director on AWS](./aws-om-upgrade.html)
    * **Azure:** [Upgrading BOSH Director on Azure](./azure-om-upgrade.html)
    * **GCP:** [Upgrading BOSH Director on GCP](./gcp-om-upgrade.html)
    * **OpenStack:** [Deploying Ops Manager on OpenStack](/platform/ops-manager/<%= vars.current_major_version.sub('.', '-') %>/openstack/setup.html)
    * **vSphere:** [Deploying Ops Manager on vSphere](/platform/ops-manager/<%= vars.current_major_version.sub('.', '-') %>/vsphere/deploy.html)

1. When redirected to the **Welcome to Ops Manager** page,
select **Import Existing Installation**.

    <%= image_tag("./images/upgrading/welcome.png", alt: "Below the VMware logo is the text 'Welcome to Ops Manager'. Next is the text 'Select an Authentication System', below which are two rectangular blue buttons. The top button is labeled 'Use an Identity Provider' in white text; the bottom button is labeled 'Internal Authentication' in white text. Below these buttons is a horizontal line break. Below the line break is the text 'Upgrading Ops Manager?', below which is a rectangular blue button labeled 'Import Existing Installation' in white text.", :width => "400") %>

1. When prompted, enter the **Decryption Passphrase** for this Ops Manager installation.
You set this passphrase during your initial installation of Ops Manager.
    <p class="note"><strong>Note:</strong> If lost, the <strong>Decryption Passphrase</strong> cannot be recovered.</p>

1. Click **Choose File** and browse to the installation ZIP file exported in the installation export step of your upgrade preparation.
For more information,
see [Export Your Installation](https://docs.pivotal.io/ops-manager/2-10/upgrade/checklist.html#export) in _Upgrade Preparation Checklist for <%= vars.platform_name %> v2.10_.

    <%= image_tag("./images/upgrading/decryption_passphrase.png", alt: "Below the VMware logo is a field labeled 'Decryption Passphrase' containing five hidden characters. Below this field is the text 'Enter file', below which is a small, rectangular gray button labeled 'Choose File'. To the right of the 'Choose File' button is the filename 'installation (4).zip'. Below this button and filename is a rectangular blue button labeled 'Import' in white text.", :width => "400") %>

1. Click **Import**.
    <p class="note"><strong>Note:</strong> Some browsers do not provide feedback on the status of the import process,
      and might appear to hang.</p>

1. A **Successfully imported installation** message appears upon completion.

    <%= image_tag("./images/upgrading/success.png", alt: "The top half of the pop-up message contains a dark green background, a rectangular green logo with a capital P in white, and the text 'Ops Manager' in white. The bottom half of the pop-up message contains a lighter green background, a round, dark green icon containing a light green check, and the text 'Successfully imported installation.' in dark green text.") %>

    <p class="note"><strong>Note:</strong> Ops Manager automatically imports the
      Telemetry for Ops Manager tile.
      This tile collects product usage data, which helps improve VMware products and services. <br><br>
      Using Telemetry for Ops Manager is optional
      and the tile does not share product usage data until you add and configure it.
      For more information, see the documentation for the
      <a href="https://docs.pivotal.io/pivotal-telemetry/index.html">Telemetry for Ops Manager</a> tile.
    </p>

### <a id="upgrade-products"></a> Import New <%= vars.app_runtime_abbr %> and Product Tiles

<a name="success"></a> After upgrading to Ops Manager <%= vars.v_major_version %>, you must upgrade your product versions.

To upgrade your product versions:

1. Click **IMPORT A PRODUCT** to upload the product file.

1. Under **IMPORT A BUTTON**, click **+** next to tile. This adds the tile to your staging area.

1. Click the newly-added tile to review and save any configurable options.

1. (Optional) If you use other service tiles,
you can upgrade them following the same procedure.
For more information, see [Upgrading <%= vars.app_runtime_abbr %> and Other <%= vars.platform_name %> Products](./upgrading-products.html).

### <a id="perform-upgrade"></a> Perform Your Upgrade

<p class="note warning"><strong>Warning:</strong> If the installation fails or returns errors, contact <%= vars.support_link %>. Do not attempt to roll back the upgrade by restarting the previous version's Ops Manager VM.</p>

To perform your upgrade to Ops Manager <%= vars.v_major_version %>:

1. Navigate to the **Installation Dashboard**.

1. Click **Review Pending Changes**, then **Apply Changes**. This immediately imports and applies upgrades to all tiles in a single transaction.

1. Click each service tile, select the **Status** tab, and confirm that all VMs appear and are in good health.

1. After confirming that the new installation functions correctly, remove the previous version's Ops Manager VM.


## <a id="monitor"></a> (Optional) Task 3: Monitor Upgrade

The following sections describe how to monitor your <%= vars.platform_name %> foundation during the upgrade and troubleshoot issues:

* [Check Status and Performance](#status)
* [Check Diego State](#diego)
* [Take Snapshots of Storage Metrics](#storage)
* [Collect Logs](#collect-logs)

###  <a id="status"></a> Check Status and Performance

You can monitor the progress of the upgrade by checking the status of the foundation at various locations.

VMware recommends live-monitoring your upgrade with Healthwatch, which captures, calculates, stores, visualizes, and alerts on platform metrics, including:

* BOSH-reported VM metrics
* Runtime component metrics
* [Key Performance Indicators](../monitoring/kpi.html) and [Key Scaling Indicators](../monitoring/key-cap-scaling.html)
* Healthwatch-generated [super metrics](https://docs.pivotal.io/pcf-healthwatch/metrics.html)

For more information, see the [Healthwatch](https://docs.pivotal.io/pcf-healthwatch/index.html) documentation.

If you are not using Healthwatch, you can do some or all of the following to monitor upgrade progress:

* Use the BOSH CLI to check the status of a task, VM, or instance. For more information, see [Check Status Using BOSH CLI](#bosh-cli-status).

* Check app availability.

* Run cf CLI commands.

* Check the availability of the Ops Manager UI.

* If using a network-attached storage (NAS) server, check the server's performance.

* If on vSphere, check vSphere performance.

#### <a id='bosh-cli-status'></a> Check Status Using BOSH CLI

To check the status of a task:

1. Run:

    ```
    bosh -e ALIAS task TASK-NUMBER
    ```
    Where:
    * `ALIAS` is your BOSH alias.
    * `TASK-NUMBER` is the number of the upgrade task you want to check.

To check the status of a VM:

1. Run:

    ```
    bosh -e ALIAS vms --vitals
    ```
    Where `ALIAS` is your BOSH alias.

To check the status of an instance:

1. Run:

    ```
    bosh -e ALIAS instances --ps
    ```
    Where `ALIAS` is your BOSH alias.

### <a id="diego"></a> Check Diego State

You can use the CF Diego Operator Toolkit (cfdot) to check Diego component instance count by current state. For more information, see the [cfdot](https://github.com/cloudfoundry/cfdot) repository on GitHub.

### <a id="storage"></a> Take Snapshots of Storage Metrics

You can periodically take snapshots of storage metrics. VMware recommends this if you have a large foundation and have experienced storage issues in the past.

###  <a id="collect-logs"></a> Collect Logs

If you encounter problems during upgrade:

1. Collect the following information:
    * All job logs
    * Task debug logs for VM upgrade tasks
    * The installation log from Ops Manager

This information helps determine the cause of upgrade issues.


## <a id="after"></a> Task 4: After Upgrade

The following sections describe how to prepare for use of your new environment, check its health status,
and clean up after upgrading:

* [Re-Create BOSH Alias](#bosh-alias)
* [Install New cf CLI](#cf-cli)
* [Check the Health of Your Deployment](#health)
* [Check Resource Settings](#resource-settings)
* [Run BOSH Clean-Up](#bosh-cleanup)

### <a id="bosh-alias"></a> Re-Create BOSH Alias

To log in to BOSH after upgrading <%= vars.platform_name %>, you must re-create your alias.

To re-create your alias using BOSH:

1. Run:

    ```
    bosh alias-env ALIAS -e DIRECTOR-IP
    ```
    Where:
    * `ALIAS` is the BOSH alias you are re-creating.
    * `DIRECTOR-IP` is the IP address of your BOSH Director VM.

### <a id="cf-cli"></a> Install New cf CLI

To install the version of the Cloud Foundry Command Line Interface (cf CLI) packaged with the <%= vars.app_runtime_abbr %> tile on <%= vars.product_network %>:

1. Go to the [<%= vars.app_runtime_full %>](https://network.pivotal.io/products/elastic-runtime/) download page on <%= vars.product_network %>.

1. Click the **CF CLI** download button.

1. Unzip the cf CLI ZIP file containing compressed binaries for the cf CLI.

1. Follow the procedure in the [Install the cf CLI Using a Compressed Binary](../../cf-cli/install-go-cli.html#bin) section of the _Installing the cf CLI_ topic.

### <a id="health"></a> Check the Health of Your Deployment

Check the health of your deployment to ensure that all jobs and processes are running as expected.

To check the health of your deployment:

1. Check the health of each BOSH deployment in your installation by running:

    ```
    bosh -e ALIAS -d DEPLOYMENT-NAME instances --ps
    bosh -e ALIAS vms --vitals
    bosh -e ALIAS -d DEPLOYMENT-NAME cck --report
    ```
    Where:
    * `ALIAS` is your BOSH alias.
    * `DEPLOYMENT-NAME` is the name of your BOSH deployment.

1. Push and horizontally scale a test app to test <%= vars.app_runtime_abbr %> performance.

1. If you are running <%= vars.app_runtime_abbr %> MySQL as a cluster, run the `mysql-diag` tool to validate health of the cluster. For more information, see the BOSH CLI v2 instructions in [Running mysql-diag](../mysql/mysql-diag.html).

### <a id="resource-settings"></a> Check Resource Settings

If you added custom **VM Type** or **Persistent Disk Type** options, you must ensure that these values are correctly set and were not overwritten.

To check your custom resource settings:

1. Go to the Installation Dashboard and click the **BOSH Director** tile.

1. Select **Resource Config**.

1. Ensure that the values for **VM Type** and **Persistent Disk Type** are correct.

### <a id="bosh-cleanup"></a> Run BOSH Clean-Up

To clean up old stemcells, releases, orphaned disks, and other unused resources:

1. Run:

    ```
    bosh -e ALIAS clean-up --all
    ```
    Where `ALIAS` is the BOSH alias you are re-creating.


### <a id="restage-apps"></a> Restage Apps

VMware recommends telling developers to restage any apps that use buildpacks that were updated as a part of this upgrade.

For more information about how developers can restage apps, see [Restage Your App](https://docs.pivotal.io/application-service/devguide/deploy-apps/start-restart-restage.html#restage).
