---
title: Upgrading Pivotal Cloud Foundry
owner: Ops Manager
---

<style>
    .note.warning {
        background-color: #fdd;
        border-color: #fbb
    }

    .note.warning:before {
        color: #f99;
     }
</style>

<strong><%= modified_date %></strong>

This topic describes upgrading Pivotal Cloud Foundry (PCF) to v1.8. The upgrade procedure below describes upgrading Pivotal Cloud Foundry Operations Manager (Ops Manager), Pivotal Elastic Runtime, and product tiles.

The apps in your deployment continue to run during the upgrade. However, you cannot write to your deployment or make changes to apps during the upgrade.

**Important**: Read the Known Issues sections of the [Release Notes](../pcf-release-notes/index.html) before getting started.

<p class="note warning">
<strong>WARNING: </strong> Ops Manager v1.8 operates in lockstep with Elastic Runtime v1.8, as well as with other service products. 
You must upgrade Ops Manager, Elastic Runtime, and the other dependent products to v1.8 at the <em>same time</em>. 
Review the compatibility of your products as described below before proceeding with this upgrade procedure. 
Your upgrade will fail if you do not have compatible product versions associated with your Ops Manager installation.
</p>

## <a id="beforeupgrade"></a>Before You Upgrade

<p class="note warning">
<strong>WARNING: </strong> This section contains important guidelines that you must follow before beginning an upgrade to Ops Manager v1.8. Failure to follow these instructions may jeopardize your existing deployment data and cause your upgrade to fail.</p>

### <a id="review-lockstep"></a>Review Product Compatibility Prerequisites

Before upgrading to Ops Manager v1.8, you must be on the following product versions:

  * Elastic Runtime v1.7.20
  * RabbitMQ&reg; for PCF v1.6.5 or v1.6.6, if you are using this product. To update RabbitMQ for PCF, see [Updating RabbitMQ for PCF](http://docs.pivotal.io/rabbitmq-cf/1-6-6/updating.html).
  * Redis v1.5.17 or later, if you are using this product
  * Service Broker for AWS v0.13, if you are using this product
  * Riak CS v1.5.15 or later, if you are using this product
  * Push Notification v1.6.2, if you are using this product
    
  If you are not currently on the correct version of any of the above products, download the correct version file from [Pivotal Network](https://network.pivotal.io/) and perform the update.
For information about how to upgrade product tiles in PCF v1.7, see the <a href="http://docs.pivotal.io/pivotalcf/1-7/customizing/upgrading-products.html">Upgrading Elastic Runtime and Other Pivotal Cloud Foundry Products</a> topic.

### <a id="remove-products"></a> Review and Remove Unsupported Products

If your deployment contains any of the following unsupported products, you must remove the associated product tile before upgrading. The following products are no longer maintained and are not currently compatible with PCF v1.8:

  * App Distribution for PCF
  * Data Sync for PCF
  * Datastax Enterprise for PCF
  * MongoDB for PCF
  * Neo4J for PCF
  * Pivotal HD
  * Session State Caching Powered by GemFire for PCF 

### <a id="review-partners"></a> Review Partner Service Tiles

Some partner service tiles may currently be incompatible with PCF v1.8. Pivotal is working with partners to ensure their tiles are being updated to work with the latest versions of PCF. For information about which partner service releases are currently compatible with PCF v1.8, review the appropriate partners services release documentation at [http://docs.pivotal.io](http://docs.pivotal.io), or contact the partner organization that produces the service tile.

### <a id="download-targets"></a> Download Upgrade Versions

To minimize disruptions to your deployment during the upgrade and satisfy simultaneous upgrade requirements, download the correct version of the product files you wish to upgrade from [Pivotal Network](https://network.pivotal.io/). If you are using any of the following products, download the following versions:

* Elastic Runtime v1.8.x
* RabbitMQ for PCF v1.7.x
* Single Sign-On Service v1.2.x
* PCF Metrics v1.1.x

### <a id="prepare-env"></a>Prepare Your Environment

1. Install the releases from your currently deployed 
version to the target version in sequential order. For example, if your deployment uses Ops Manager v1.6 and you are upgrading to v1.8, 
you must sequentially install v1.7 and v1.8.

1. Back up all critical data prior to upgrading to Ops Manager v1.8. For example, to backup a v1.7 environment, follow the instructions in the v1.7 <a href="http://docs.pivotal.io/pivotalcf/1-7/customizing/backup-restore/backup-pcf.html">Backing Up Pivotal Cloud Foundry</a> topic. 

    <p class="note"><strong>Note</strong>: You do not need to backup the Apps Manager <code>console</code> database because it is deprecated in v1.8. </p>

1. If you have disabled lifecycle errands for any installed product to reduce deployment time, Pivotal recommends that you re-enable these errands before upgrading. For more information, see the <a href="./add-delete.html#add-import">Adding and Deleting Products</a> topic.

1. <%= partial 'check_disk_before_upgrade' %>

1. Ensure that the VM Resurrector is disabled:
   1. From your **Installation Dashboard**, select the **Ops Manager Director** tile. 
   2. Click **Director Config**.
   3. Clear the **Enable VM resurrector plugin** checkbox.
   4. Click **Save**.
   5. Return to the **Installation Dashboard** and click **Apply Changes**.

1. If you are upgrading a vSphere environment, ensure that you have the following information about your existing environment before starting the upgrade:
  * Record the following IP addresses, which can be found in the vSphere web client, **Manage** > **Settings** > **vApp Options**. 
This is the same information you entered at the end of deploying [Ops Manager on vSphere](http://docs.pivotal.io/1.7/pivotalcf/customizing/deploying-vm.html). 
     * IP Address of the Ops Manager
     * Netmask
     * Default Gateway
     * DNS Servers
     * NTP Servers
  * Record the following VM hardware information so you can set up the new VM with similar settings. 
You can find this information in the vSphere web client under **Manage** > **Settings** > **VM Hardware**.
       * CPU
       * Memory
       * Hard Disk 1
       * Network Adapter 1 — When you set up the new VM, ensure your network adapters are configured properly and are on the same network.


### <a id="check-health"></a>Check System Health Before Upgrade

1. Run `bosh cloudcheck` to confirm that the VMs are healthy. For more information, see the [BOSH Cloudcheck](./trouble-advanced.html#cck) topic.

1. Check the system health of installed products. In the **Installation Dashboard**, select the **Status** tab for each service tile. 
Confirm that all jobs are healthy.

1. (Optional) Check the logs for errors before proceeding with the upgrade.
For more information, see the [Viewing Logs in the Command Line Interface](../devguide/deploy-apps/streaming-logs.html#view) topic.  

1. There should be no outstanding changes in Ops Manager or any other tile. All tiles should be green.
Click **Apply Changes** if necessary. After applying changes, click **Recent Install Logs** to confirm that the changes completed cleanly:
    <pre>
    Cleanup complete
    {"type": "step\_finished", "id": "clean\_up\_bosh.cleaning\_up"}
    Exited with 0.
    </pre>

## <a id="upgrade_ops"></a>Upgrade Ops Manager and Installed Products to v1.8 ##

### <a id="export"></a>Step 1: Export Your Installation ###

1. Before you export your installation settings, you must be using the following product versions:
    * Elastic Runtime v1.7.20
    * RabbitMQ for PCF v1.6.5 or v1.6.6, if you are using this product. To update RabbitMQ for PCF, see [Updating RabbitMQ for PCF](http://docs.pivotal.io/rabbitmq-cf/updating.html).
    * Redis v1.5.17, if you are using this product
    * Service Broker for AWS v0.13, if you are using this product
    * Riak CS v1.5.15 or later, if you are using this product
    * Push Notification v1.6.2, if you are using this product

    You can download the correct product versions from [Pivotal Network](https://network.pivotal.io/). 

    <p class="note warning">
    <strong>WARNING</strong>: You must complete this step before proceeding with the upgrade. Failing to complete this step can compromise your upgrade.</p>

1. Make sure you have removed any tiles that are no longer supported. For the list of tiles, see [Review and Remove Unsupported Products](#remove-products).

1. In your Ops Manager v1.7.x **Installation Dashboard**, click the gear icon and select **Export settings**.

    <%= image_tag("./images/upgrading/upgrade_to_1.8.png") %>

    This exports the current PCF installation with all of its assets.
    When you export an installation, the export contains the base VM images and
    necessary packages and references to the installation IP addresses.
    As a result, an exported file can be very large, 5 GB or more.
    * The export time depends on the size of the exported file.
    * Some browsers do not provide feedback on the status of the export
      process and might appear to hang.

      <p class="note"><strong>Note</strong>: Some operating systems automatically unzip the exported installation. If this occurs, create a ZIP file of the unzipped export. Do not start compressing at the "installation" folder level. Instead, start compressing at the level containing the <code>config.yml</code> file:</p>

    <%= image_tag("./images/upgrading/compress.png") %>

### <a id="upgrade"></a>Step 2: Upgrade to Ops Manager v1.8 ###

1. Download the Ops Manager VM Template v1.8.x from the [Pivotal
Network](https://network.pivotal.io/products/ops-manager) site.

1. Record the FQDN address of the existing Ops Manager VM.

1. To avoid conflicts, power off the existing Ops Manager VM.

1. Deploy the new Ops Manager VM by following the steps in one of these topics:
    * [Launching an Ops Manager Director Instance on AWS](./cloudform-om-deploy.html)
    * [Provisioning the OpenStack Infrastructure](./openstack-setup.html)
    * [Deploying Operations Manager to vSphere](./deploying-vm.html)

1. When redirected to the **Welcome to Ops Manager** page, select **Import Existing Installation**.

    <%= image_tag("./images/upgrading/welcome.png") %>

1. When prompted, enter a Decryption Passphrase. Click **Choose File** and browse to the installation ZIP file exported in [Step 1](#export) above.

    <%= image_tag("./images/upgrading/decryption_passphrase.png") %>

1. Click **Import**.

    <p class="note"><strong>Note</strong>:
      Some browsers do not provide feedback on the status of the import process,
      and might appear to hang.</p>

1. A "Successfully imported installation" message appears upon completion.

    <%= image_tag("./images/upgrading/success.png") %>


### <a id="upgrade_products"></a>Step 3: Upgrade Elastic Runtime and Product Tiles


  <p class="note warning">
  <strong>WARNING: </strong> A known issue exists with the Diego BBS that can cause application downtime after upgrading from Elastic Runtime 1.7 to 1.8. Follow the instructions in the [Resolve Diego BBS Issue when Upgrading from 1.7 to 1.8](../pcf-release-notes/runtime-rn.html#upgrade-issue) section of the release notes before you upgrade Elastic Runtime.
  </p>

1. <a name="success"></a>After upgrading to Ops Manager v1.8, you must upgrade your product versions. 
If you use any of the following products, you must upgrade them to the versions specified below:
    * Elastic Runtime v1.8.x
    * RabbitMQ v1.7.x
    * Single Sign-On Service v1.2.x
    * PCF Metrics v1.1.x

    <p class="note warning">
    <strong>WARNING: </strong> You must upgrade the products listed in the steps above before you click <strong>Apply Changes</strong>. You cannot complete your installation until you perform these upgrades. 
    </p>

1. Import the product file to your Ops Manager **Installation Dashboard**.

1. Hover over the product name in **Available Products** and click **Add**.

1. Click the newly added tile to review any configurable options.

1. (Optional) If you are using other service tiles, you can upgrade them following the same procedure. See the <a href="./upgrading-products.html" class="subnav">Upgrading Elastic Runtime and Other Pivotal Cloud Foundry Products</a> topic for more information.

### <a id="complete"></a>Step 4: Complete Your Installation ###

1. Navigate to the Ops Manager **Installation Dashboard**.

1. Click **Apply Changes**. This immediately imports and applies upgrades to all tiles in a single transaction.

    <p class="note warning"><strong>WARNING: </strong> If the installation fails or returns errors, please contact <%= vars.support_link %>. 
    Do not attempt to restart the previous (v1.7.x) Ops Manager VM.</p>

1. Click each service tile, select the **Status** tab, and confirm that all VMs appear and are in good health.

1. After confirming that the new installation functions correctly, remove the previous (v1.7.x) Ops Manager VM. 

This completes the upgrade to Ops Manager v1.8.

## <a id="after"></a>After the Upgrade ##

After you upgrade, perform the following tasks to remove a collector job and a database that are not used in PCF v1.8.

### <a id="deprecate-collector-job"></a> Deprecate Collector Job

The `collector` job used to retrieve logs from Elastic Runtime components is not used in v1.8. 
Metrics are now emitted using Metron/Firehose rather than variables. 
After you complete the upgrade to Ops Manager v1.8, scale this job to `0`.

1. Navigate to **Pivotal Elastic Runtime** > **Resource Config**. 

2. Change the number of instances for **Collector** to `0`. 

### <a id="deprecate-apps-man-db"></a> Deprecate Apps Manager Database

After the upgrade to PCF v1.8, the `console` database is no longer used by Apps Manager and can be removed:
 
* If you are using PostgreSQL as your internal database:
    1. Navigate to **Pivotal Elastic Runtime** > **Resource Config**.
    2. Scale **Apps Manager Database (postgres)** to `0`.
* If you are using MySQL as your internal database, drop the `console` database using the MySQL command interface.

