---
title: Upgrading Pivotal Cloud Foundry
owner: Ops Manager
---
 
<style>
    .note.warning {
        background-color: #fdd;
        border-color: #fbb
    }

    .note.warning:before {
        color: #f99;
     }
</style>
 
<strong><%= modified_date %></strong>

**Important**: Read the Known Issues section of the [Pivotal Cloud Foundry&reg;](https://network.pivotal.io/products/pivotal-cf) (PCF)
[Release Notes](../pcf-release-notes/index.html) before getting started.

To upgrade your Pivotal Cloud Foundry&reg;</a> (PCF) installation to a target release, you must install all releases from your currently deployed version to the target version in sequential order. For example, if your deployment uses Ops Manager release 1.5 and you are upgrading to 1.7, you must sequentially install 1.6 and 1.7.

Complete the following steps to upgrade PCF Operations
Manager (Ops Manager). 

<p class="note warning">
<strong>WARNING: </strong> Before you upgrade to Pivotal Cloud Foundry 1.7, you must migrate all apps that are currently running on DEA architecture to run on Diego architecture. All apps that do not already run on Diego will terminate during an updgrade from 1.6 to 1.7.
</p>

<p class="note warning">
<strong>WARNING: </strong> PostgreSQL databases are no longer supported in Pivotal Cloud Foundry 1.7. Data from Postgres databases will transfer automatically to a MySQL database during the upgrade. However, if you are using Postgres databases, review this page for important steps to prevent data loss.
</p>


## <a id="pcf16upgrade"></a>Upgrading to PCF 1.7

This section contains important guidelines that you must follow if you are upgrading an existing PCF 1.6 deployment to PCF 1.7. Failure to follow these instructions may jeopardize your existing deployment data or cause your upgrade to fail.

### Before You Upgrade ###

* Ops Manager 1.7 uses the User Account and Authentication (UAA), instead of only local user account authentication. When you import your pre-1.7 file to Ops Manager, your user name changes to `admin` and your `password` remains the same. It also prompts you to create a shared passphrase, which is distinct from your password. Your passphrase on a new import will be the same as your password. However, you must change the passphrase for security purposes.

* Before you upgrade to Pivotal Cloud Foundry 1.7, you must migrate all apps that are currently running on DEA architecture to run on Diego architecture. Pivotal does not support DEA architecture in Pivotal Cloud Foundry 1.7. See the [Migrating Apps to Diego](./apps-enable-diego.html) topic for information.

* [Back up all critical data](./backup-restore/backup-pcf.html) prior to upgrading to PCF 1.7. You do not need to backup the Apps Manager database since it will be deprecated in 1.7. When the database is dropped during the upgrade, there will be data loss in the form of sent emails for users who are invited to join or create accounts on PCF. For example, this affects users who have an existing invitation to join PCF in their email inbox. The link to the invitation will no longer work. 

* If you have Postgres databases, you must complete the following to prevent data loss:
      * Ensure you have enough disk space in by navigating to the **Resource Config** tab in **Elastic Runtime**. The MySQL Server must have at least as much persistent and ephemeral disk available to accommodate the data you are transferring from the Cloud Controller Database (Postgres) and UAA Database (Postgres) combined. 
      * Do not scale down Postgres databases to `0` before you upgrade to 1.7. 

### During the Elastic Runtime Upgrade ###

* If you are using Postgres databases, in PCF 1.7, these will be migrated to MySQL. During the upgrade, both the Cloud Controller Database (Postgres) and UAA Database (Postgres) will be inaccessible. For example, you will not be able to use the UAA. When the system starts the update process, your Postgres jobs runs on Elastic Runtime, and the port number for the Postgres databases change to prevent the Cloud Controller Database (Postgres) and UAA Database (Postgres) from writing to the Postgres databases during the upgrade. A PHP app, colocated on the Postgres database running on the same virtual machines (VMs), starts the data transfer process to the MySQL cluster. The MySQL cluster updates and installs a new version of MariaDB. Finally, the Cloud Controller Database (Postgres)and UAA Database (Postgres) update and are configured to point to the MySQL cluster instead of the Postgres databases. At this point, both databases will be back online, and they can read and write. 

### After the Upgrade ###

* Verify that the MySQL cluster is hosting a Cloud Controller Database (Postgres) and UAA Database (Postgres). Retrieve the Postgres Postart logs from `/var/vcap/sys/log/postgres/poststart.std<err/out>.log`. You should see a confirmation message, "Finished migration from Postgres to MySQL" at the end of the stdout log.

* When the upgrade is successful, and you have verified that the Postgres databases transferred to MySQL, you can scale down the Postgres databases to `0` in the Resource Config tab in Elastic Runtime. 

* Advise your application developers on targeting Diego when pushing their applications. See [Diego Migration](./apps-enable-diego.html).

## <a id="keep"></a>Upgrading with Installed Products ##

Follow the steps below to upgrade Ops Manager and keep all installed products.

<p class="note"><strong>Note</strong>: If you have disabled lifecycle errands
	for any installed product in order to reduce deployment time, Pivotal
	recommends that you re-enable these errands before upgrading. See <a
	href="./add-delete.html#add-import">Adding and Deleting Products</a> for more
	information. </p>
1. <%= partial 'check_disk_before_upgrade' %>
1. Ensure that every product tile on the Installation Dashboard is compatible
with the new version of Ops Manager.
To be compatible, a product must meet the minimum version requirement for that
product.
If a product does not meet this requirement, you must upgrade the product or
remove the tile before upgrading Ops Manager.
    <br /><br />
    For specific compatibility information, refer to the full [Product Version  Matrix](../../compatibility-matrix.pdf).

1. From the Product Dashboard, select **Actions > Export installation
settings**.

    <%= image_tag("./images/upgrading/upgrade_to_1.7.png") %>

    This exports the current PCF installation with all of its assets.
    When you export an installation, the export contains the base VM images and
    necessary packages, and references to the installation IP addresses.
    As a result, an exported file can be very large, as much as 5 GB or more.
    * Because of the size of the exported file, exporting can take tens of
      minutes.
    * Some browsers do not provide feedback on the status of the export
      process, and may appear to hang.
    * Some operating systems may automatically unzip the exported installation.
      If this occurs, create a zip file of the unzipped export.

    <p class="note"><strong>Note</strong>: When creating a zip file of an
      unzipped export, do not start compressing at the “installation” folder
      level.
      Instead, start compressing at the level containing the <code>config.yml</code> file:</p>

    <%= image_tag("./images/upgrading/compress.png") %>

1. Download the latest Ops Manager VM Template from the [Pivotal
Network](https://network.pivotal.io/products/pivotal-cf) site.

1. Record the IP address of the existing Ops Manager VM.

1. To avoid IP conflicts, power off the existing Ops Manager VM.

1. Deploy the new Ops Manager VM.
See [Deploying Operations Manager to vSphere](./deploying-vm.html) or [Deploying
Operations Manager to vCloud Air and vCloud](./pcf-vchs-vcloud.html).

1. When redirected to the **Welcome to Ops Manager** page, select **Import Existing Installation**. 

<%= image_tag("./images/upgrading/welcome.png") %>

1. When prompted, enter the following:
  * **Decryption Passphrase**, which is the same as your password. 
  * Click **Choose File** and browse to the installation zip file exported in Step 3 above.

<%= image_tag("./images/upgrading/decryption_passphrase.png") %>

1. Click **Import**.

    <p class="note"><strong>Note</strong>: Importing can take tens of minutes.
      Some browsers do not provide feedback on the status of the import process,
      and may appear to hang.</p>

1. Before you see the new PCF 1.7 **Installation Dashboard**, a Security Features alert appears. Take note of your new **username**. Click **Continue**.

    <%= image_tag("./images/upgrading/security_features.png") %>

1. A "Successfully imported installation" message appears upon completion.

    <%= image_tag("./images/upgrading/success.png") %>


1. Click **Apply Changes**. This immediately imports and applies upgrades to all tiles in a single transaction.

1. Click each service tile, select the **Status** tab, and confirm that all VMs appear and are in good health.

1. Remove the original Ops Manager VM from your IaaS if the new installation functions correctly.

<p class="note"><strong>Note</strong>: Independently from upgrading Ops Manager,
  you can upgrade individual products such as Pivotal Cloud Foundry&reg; Elastic
  Runtime, <a href="https://network.pivotal.io/products/p-mysql">Pivotal
  MySQL</a>, or <a
href="https://network.pivotal.io/products/pivotal-rabbitmq-service">RabbitMQ</a>
  in your PCF deployment. See <a href="./upgrading-products.html">Upgrading
  Products in a PCF Deployment</a>.</p>

## <a id="lose"></a>Uninstalling and Reinstalling Ops Manager ##

Follow these steps to upgrade Ops Manager if you have no installed products, or
you have no installed products that you want to keep.

<p class="note"><strong>Note</strong>: If you want to reinstall Ops Manager, and
  would like to import your information to the new installation, you will need
  the exported Cloud Controller database and the configuration from the previous
  installation.</p>

1. Browse to the Ops Manager web interface and select **Delete this
installation**.

1. In vSphere, vCloud Air, or vCloud, power off and delete your existing Ops
Manager VM.

1. Download the latest Ops Manager VM Template from the [Pivotal
Network](https://network.pivotal.io/products/pivotal-cf) site.

1. Deploy the new Ops Manager VM.
See one of the following topics:
    * [Launching an Ops Manager Director Instance on AWS](./cloudform-om-deploy.html)
    * [Provisioning the OpenStack Infrastructure](./openstack-setup.html)
    * [Deploying Operations Manager to vSphere](./deploying-vm.html)
    * [Deploying Operations Manager to vCloud Air and
      vCloud](./pcf-vchs-vcloud.html)

## <a id="rollback"></a>Rolling Back an Upgraded Installation ##

<p class="note"><strong>Note</strong>: To roll back an installation, or if
  upgrading fails, Pivotal recommends that you contact Pivotal Support.</p>

If you want to roll back or troubleshoot a failed installation on your own,
consult the table below.
The table shows guidelines for compatibility between your exported configuration
and available Ops Manager versions.

<table border="1" class="nice" >
<tr>
  <th><strong>Current Version</strong></th>
  <th><strong>Can import into 1.2</strong></th>
  <th><strong>Can import into 1.3</strong></th>
  <th><strong>Notes</strong></th>
</tr>
<tr>
  <td>1.2</td>
  <td>&#10003;</td>
  <td>&#10003;</td>
  <td>After successful import to 1.3, 1.2 export configuration is no longer
	  valid.
	</td>
</tr>
<tr>
  <td>1.3</td>
  <td></td>
  <td>&#10003;</td>
  <td></td>
</tr>
</table>
