---
title: Upgrading Operations Manager
---

*Important:* Read the [Known Issues](http://docs.gopivotal.com/pivotalcf/pcf-release-notes/) section of the Release Notes before getting started.

Complete the following steps to upgrade Pivotal CF Operations Manager.
Select the procedure that corresponds to your upgrading scenario.

## <a id="lose"></a>Upgrading an Ops Manager with No Installed Products ##

Follow these steps to upgrade Ops Manager if you have no installed products, or
if you do not want to keep any products that you have installed.

1. Browse to the Ops Manager web interface and select **Delete Installation**.

1. In vSphere, vCHS, or vCloud, power off and delete your existing Ops Manager VM.

1. Download the latest Ops Manager VM Template from the [Pivotal Network](https://network.gopivotal.com) site.

1. Deploy the new Ops Manager VM.
See one of the following topics:

* [Deploying Operations Manager to vSphere](./deploying-vm.html)
* [Deploying Operations Manager to vCHS and vCloud](./pcf-vchs-vcloud.html)

## <a id="keep"></a>Upgrading an Ops Manager with Installed Products ##

Follow these steps to keep all installed products when you upgrade Ops Manager.

1. From the Product Dashboard, select **Actions > Export installation settings**.

    <%= image_tag("./images/upgrading/export_settings.png") %>

    This exports the current Pivotal CF installation with all of its assets.
    When you export an installation, the export contains the base VM images and
    necessary packages, and references to the installation IP addresses.
    As a result, an exported file can be very large, as much as 5 GB or more.
    * Because of the size of the exported file, exporting can take tens of
      minutes.
    * Some browsers do not provide feedback on the status of the export
      process, and may appear to hang.
    * Some operating systems may automatically unzip the exported installation.
      If this occurs, create a zip file of the unzipped export.

        **Note**: When creating a zip file of an unzipped export, do not start
        compressing at the “installation” folder level.
        Instead, start compressing at the level containing the `config.yml`:

        <%= image_tag("./images/upgrading/compress.png") %>

1. Download the latest Ops Manager VM Template from the [Pivotal Network](https://network.gopivotal.com) site.

1. Deploy the new Ops Manager VM.
See [Deploying Operations Manager to vSphere](./deploying-vm.html) or
[Deploying Operations Manager to vCHS and vCloud](./pcf-vchs-vcloud.html).

    To avoid conflicts, be sure to use a different interface IP than the IP of the existing interface.

1. From the Product Dashboard, select **Actions > Import installation settings**.

    <%= image_tag("./images/upgrading/import_settings.png") %>

1. Click **Choose File**, browse to the installation zip file exported in Step
1, and click **Choose**.

1. Click **Import**.

    <%= image_tag("./images/upgrading/import.png") %>

    **Note**:
    * Importing can take tens of minutes.
    * Some browsers do not provide feedback on the status of the import process,
      and may appear to hang.

1. When complete, a "Successfully imported installation" message should appear.

    <%= image_tag("./images/upgrading/success.png") %>

1. Verify that the new installation functions correctly.

1. In vSphere, vCHS, or vCloud:
    * Record the IP address of the original Ops Manager VM.
    * Power off and delete the original Ops Manager VM.
    * Change the IP address of the newly installed Ops Manager
      VM to that of the original.

## <a id="products"></a>Upgrading Products in a Pivotal CF Deployment  ##

Independently from upgrading Ops Manager, you can upgrade individual products
(for example, Elastic Runtime, MySQL, or RabbitMQ) in your Pivotal CF deployment.

1. Download the latest Pivotal CF releases for the products you want to upgrade
from the [Pivotal Network](https://network.gopivotal.com) site.

1. In the **Available Products** section:
    - Select one product and click **Import**
    - When importing is complete, click **Upgrade for Ops Manager Director for vSphere**
    - Click **Apply changes**

1. Repeat Step 2 for each additional product you want to upgrade.
