---
title: Upgrading Operations Manager
---

**Important**: Read the Known Issues section of the [Pivotal CF Release Notes](../pcf-release-notes/index.html) before getting started.

Complete the following steps to upgrade Pivotal CF Operations Manager.
Select the procedure that corresponds to your upgrading scenario.

<p class="note"><strong>Note</strong>: To upgrade your Pivotal CF installation to a target release, you must install all releases from your currently deployed version to the target version in sequential order. For example, if your deployment uses Ops Manager release 1.1 and you are upgrading to 1.3, you must sequentially install 1.2 and 1.3.</p>

## <a id="keep"></a>Upgrading with Installed Products ##

Follow these steps to keep all installed products when you upgrade Ops Manager.

<p class="note"><strong>Note</strong>: By default, Ops Manager reruns lifecycle errands, such as “Push Console," even if they are not necessary due to settings left from a previous install. While Pivotal recommends that you leave these checked for upgrades, leaving them checked at all times can cause updates and other processes to take longer. You must manually uncheck the lifecycle errands listed under each tile to prevent these tasks from recurring. </p>

1. From the Product Dashboard, select **Actions > Export installation settings**.

    <%= image_tag("./images/upgrading/export_settings.png") %>

    This exports the current Pivotal CF installation with all of its assets.
    When you export an installation, the export contains the base VM images and
    necessary packages, and references to the installation IP addresses.
    As a result, an exported file can be very large, as much as 5 GB or more.
    * Because of the size of the exported file, exporting can take tens of
      minutes.
    * Some browsers do not provide feedback on the status of the export
      process, and may appear to hang.
    * Some operating systems may automatically unzip the exported installation.
      If this occurs, create a zip file of the unzipped export.

        <p class="note"><strong>Note</strong>: When creating a zip file of an unzipped export, do not start
        compressing at the “installation” folder level.
        Instead, start compressing at the level containing the config.yml:</p>

        <%= image_tag("./images/upgrading/compress.png") %>

1. Download the latest Ops Manager VM Template from the [Pivotal Network](https://network.pivotal.io/products/pivotal-cf) site.

1. Record the IP address of the existing Ops Manager VM.

1. To avoid IP conflicts, power off the existing Ops Manager VM.

1. Deploy the new Ops Manager VM.
See [Deploying Operations Manager to vSphere](./deploying-vm.html) or
[Deploying Operations Manager to vCloud Air and vCloud](./pcf-vchs-vcloud.html).

1. From the Product Dashboard, select **Actions > Import installation settings**.

    <%= image_tag("./images/upgrading/import_settings.png") %>

1. Click **Choose File**, browse to the installation zip file exported in Step
1, and click **Choose**.

1. Click **Import**.

    <%= image_tag("./images/upgrading/import.png") %>

    <p class="note"><strong>Note</strong>: Importing can take tens of minutes.
	Some browsers do not provide feedback on the status of the import process,
      and may appear to hang.</p>

1. When complete, a "Successfully imported installation" message should appear.

    <%= image_tag("./images/upgrading/success.png") %>

1. Verify the new installation functions correctly.

1. Remove the original Ops Manager VM if the new installation functions correctly.

<p class="note"><strong>Note</strong>: Independently from upgrading Ops Manager, you can upgrade individual
products such as Elastic Runtime, Pivotal MySQL, or RabbitMQ in your Pivotal CF
deployment.
See <a href="./upgrading-products.html">Upgrading Products in a Pivotal CF Deployment</a>.</p>

## <a id="lose"></a>Uninstalling and Reinstalling Ops Manager ##

Follow these steps to upgrade Pivotal CF Operations Manager if you have no
installed products, or you have no installed products you want to keep.

1. Browse to the Pivotal CF Ops Manager web interface and select **Delete Installation**.

1. In vSphere, vCloud Air, or vCloud, power off and delete your existing Ops Manager VM.

1. Download the latest Ops Manager VM Template from the [Pivotal Network](https://network.pivotal.io/products/pivotal-cf) site.

1. Deploy the new Ops Manager VM.
See one of the following topics:

* [Deploying Operations Manager to vSphere](./deploying-vm.html)
* [Deploying Operations Manager to vCloud Air and vCloud](./pcf-vchs-vcloud.html)

## <a id="rollback"></a>Rolling Back an Upgraded Installation ##

If you wish to roll back an installation, or upgrading fails, Pivotal recommends that you contact Pivotal Support to establish the most effective course of action. If you wish to roll back or troubleshoot a failed installation on your own, use the following guidelines to determine your best option.

* If you want to do a clean install of a previously installed version, and wish to import your information to that installation, you will need the exported configuration and Cloud Controller database from that version.
* If you have an exported configuration from 1.2, you can re-import it to 1.2.
* If you exported a configuration from 1.2 into 1.3 and successfully install, the 1.2 export is no longer current.
* If you have an exported configuration from 1.3, it is not backwards compatible.



