---
title: Upgrading Operations Manager
---

Complete the following steps to upgrade Pivotal CF Operations Manager.
Select the procedure that corresponds to your upgrading scenario.

## <a id="lose_all"></a>Upgrading with No Products ##

Follow these steps to upgrade Pivotal CF Operations Manager if you have no
installed products you want to keep.

1. In vSphere, power off and delete your existing Pivotal CF Operations Manager
VM.

1. Download the latest Operations Manager VM Template from the [Pivotal Network](https://network.gopivotal.com) site.

1. Deploy the new Operations Manager VM.
See [Deploying a Pivotal CF Operations Manager VM](./deploying-vm.html).

## <a id="lose_all"></a>Upgrade with Products ##

Follow these steps to keep all installed products when you upgrade Pivotal CF Operations Manager.

1. From the Product Dashboard, select **Actions > Export installation settings**.

    <%= image_tag("./images/upgrading/export_settings.png") %>

    This exports the current Pivotal CF installation with all of its assets.
    When you export an installation, the export contains the base VM images and
    necessary packages, and references to the installation IP addresses.
    As a result, an exported file can be very large, as much as 5 GB or more.
    * Because of the size of the exported file, exporting can take tens of
      minutes.
    * Some browsers do not provide feedback on the status of the export
      process, and may appear to hang.
    * Some operating systems may automatically unzip the exported installation.
      If this occurs, create a zip file of the unzipped export.

        Note: When creating a zip file of an unzipped export, do not start
        compressing at the “installation” folder level.
        Instead, start compressing at the level containing the config.yml:

        <%= image_tag("./images/upgrading/compress.png") %>

1. Download the latest Operations Manager VM Template from the [Pivotal Network](https://network.gopivotal.com) site.

1. Deploy the new Operations Manager VM.
See [Deploying a Pivotal CF Operations Manager VM](./deploying-vm.html).
To avoid conflicts, be sure to use a different interface IP than the IP of the
existing interface.

1. From the Product Dashboard, select **Actions > Import installation settings**.

    <%= image_tag("./images/upgrading/import_settings.png") %>

1. Click **Choose File**, browse to the installation zip file exported in Step
1, and click **Choose**.

1. Click **Import**.

    <%= image_tag("./images/upgrading/import.png") %>

    Note:
    * Importing can take tens of minutes.
    * Some browsers do not provide feedback on the status of the import process,
      and may appear to hang.

1. When complete, a "Successfully imported installation" message should appear.

    <%= image_tag("./images/upgrading/success.png") %>

1. Confirm the new installation functions correctly.

1. In vSphere:
    * Record the IP address of the original Pivotal CF Operations Manager VM.
    * Power off and delete the original Pivotal CF Operations Manager VM.
    * Change the IP address of the newly installed Pivotal CF Operations Manager
      VM to that of the original.