---
title: Upgrading Operations Manager
---

**Important**: Read the Known Issues section of the [Pivotal CF Release Notes](../pcf-release-notes/index.html) before getting started.

Complete the following steps to upgrade Pivotal CF Operations Manager.
Select the procedure that corresponds to your upgrading scenario.

## <a id="lose"></a>Starting with a Clean Slate ##

Follow these steps to upgrade Pivotal CF Operations Manager if you have no
installed products, or you have no installed products you want to keep.

1. Browse to the Pivotal CF Ops Manager web interface and select **Delete Installation**.

1. In vSphere, vCloud Air, or vCloud, power off and delete your existing Ops Manager VM.

1. Download the latest Ops Manager VM Template from the [Pivotal Network](https://network.pivotal.io/products/pivotal-cf) site.

1. Deploy the new Ops Manager VM.
See one of the following topics:

* [Deploying Operations Manager to vSphere](./deploying-vm.html)
* [Deploying Operations Manager to vCloud Air and vCloud](./pcf-vchs-vcloud.html)

## <a id="keep"></a>Upgrading with Installed Products ##

Follow these steps to keep all installed products when you upgrade Ops Manager.

1. From the Product Dashboard, select **Actions > Export installation settings**.

    <%= image_tag("./images/upgrading/export_settings.png") %>

    This exports the current Pivotal CF installation with all of its assets.
    When you export an installation, the export contains the base VM images and
    necessary packages, and references to the installation IP addresses.
    As a result, an exported file can be very large, as much as 5 GB or more.
    * Because of the size of the exported file, exporting can take tens of
      minutes.
    * Some browsers do not provide feedback on the status of the export
      process, and may appear to hang.
    * Some operating systems may automatically unzip the exported installation.
      If this occurs, create a zip file of the unzipped export.

        <p class="note"><strong>Note</strong>: When creating a zip file of an unzipped export, do not start
        compressing at the “installation” folder level.
        Instead, start compressing at the level containing the config.yml:</p>

        <%= image_tag("./images/upgrading/compress.png") %>

1. Download the latest Ops Manager VM Template from the [Pivotal Network](https://network.pivotal.io/products/pivotal-cf) site.

1. Record the IP address of the existing Ops Manager VM.

1. To avoid IP conflicts, power off the existing Ops Manager VM.

1. Deploy the new Ops Manager VM.
See [Deploying Operations Manager to vSphere](./deploying-vm.html) or
[Deploying Operations Manager to vCloud Air and vCloud](./pcf-vchs-vcloud.html).

1. From the Product Dashboard, select **Actions > Import installation settings**.

    <%= image_tag("./images/upgrading/import_settings.png") %>

1. Click **Choose File**, browse to the installation zip file exported in Step
1, and click **Choose**.

1. Click **Import**.

    <%= image_tag("./images/upgrading/import.png") %>

    <p class="note"><strong>Note</strong>: Importing can take tens of minutes.
	Some browsers do not provide feedback on the status of the import process,
      and may appear to hang.</p>

1. When complete, a "Successfully imported installation" message should appear.

    <%= image_tag("./images/upgrading/success.png") %>

1. Verify the new installation functions correctly.

1. Remove the original Ops Manager VM if the new installation functions correctly.

<p class="note"><strong>Note</strong>: Independently from upgrading Ops Manager, you can upgrade individual
products such as Elastic Runtime, Pivotal MySQL, or RabbitMQ in your Pivotal CF
deployment.
See <a href="./upgrading-products.html">Upgrading Products in a Pivotal CF Deployment</a>.</p>