---
title: Upgrading TAS for VMs and Other Ops Manager Products
owner: RelEng
---

<% current_page.data.title = "Upgrading TAS for VMs and Other " + vars.platform_name + " Products"  %>

This topic describes how to upgrade to a point release of <%= vars.app_runtime_full %> (<%= vars.app_runtime_abbr %>) and other product tiles without upgrading <%= vars.ops_manager %>. For example, use this topic to upgrade from <%= vars.app_runtime_abbr %> v2.9.0 to v2.9.1. You might need to perform this upgrade if a security update for <%= vars.app_runtime_abbr %> is released, or if new features are introduced in a point release of a product tile.

For <%= vars.app_runtime_abbr %> component and version information, see [<%= vars.app_runtime_full %> <%= vars.v_major_version %> Release Notes](http://docs.pivotal.io/application-service/<%= vars.current_major_version.sub('.', '-') %>/overview/release-notes/runtime-rn.html).

<p class="note"><strong>Note:</strong> If you cannot download products from <%= vars.product_network %> due to restricted network connectivity, see <a href="offline_installation.html">Installing <%= vars.platform_name %> in Air-Gapped Environments</a>.</p>


## <a id="before-upgrade"></a> Prerequisites

Before you upgrade to point releases:

* You must have completed the [Upgrading <%= vars.platform_name %>](../customizing/upgrading-pcf.html) procedure.

* For the latest compatibility information, see [Upgrade Planner](https://upgrade-planner.pivotal.io/) before upgrading <%= vars.app_runtime_abbr %>.

* **Important:** Read the _Known Issues_ sections of the products you plan to install before starting. For all available product release notes, see:
  * [<%= vars.ops_manager %> v2.10 Release Notes](https://docs.pivotal.io/ops-manager/2-10/release-notes.html) in the <%= vars.ops_manager %> documentation
  * [<%= vars.app_runtime_full %> <%= vars.v_major_version %> Release Notes](https://docs.pivotal.io/application-service/<%= vars.current_major_version.sub('.', '-') %>/overview/release-notes/runtime-rn.html) in the <%= vars.app_runtime_abbr %> documentation
  * [<%= vars.segment_runtime_full %> <%= vars.v_major_version %> Release Notes](https://docs.pivotal.io/application-service/<%= vars.current_major_version.sub('.', '-') %>/overview/release-notes/segment-rn.html) in the <%= vars.app_runtime_abbr %> documentation
  * [<%= vars.windows_runtime_full %> <%= vars.v_major_version %> Release Notes](https://docs.pivotal.io/application-service-windows/<%= vars.current_major_version.sub('.', '-') %>/release-notes.html) in the <%= vars.windows_runtime_abbr %> documentation
  * [Release Notes](https://docs.pivotal.io/tkgi/release-notes.html) in the <%= vars.k8s_runtime_abbr %> documentation


## <a id="check-disk-space"></a> Check BOSH Director Disk Space

<%# Find this partial in GitHub at `pivotal-cf/docs-partials` %>

<%= partial "/pcf/core/#{vars.current_major_version.sub('.', '-')}/check_disk_before_upgrade" %>

## <a id="upgrade-er"></a> Upgrading <%= vars.app_runtime_abbr %>

<p class="note"><strong>Note:</strong> If you are using the <%= vars.product_network %> API, the latest product versions will automatically appear in your Installation Dashboard. For more information, see the <a href="../customizing/add-delete.html#pivnet-api">Using <%= vars.product_network %> API to Upgrade Products</a> section of the <em>Adding and Deleting Products</em> topic.</p>

To upgrade <%= vars.app_runtime_abbr %> without upgrading <%= vars.ops_manager %>:

1. Download the product file from [<%= vars.product_network %>](https://network.pivotal.io/).

1. Import the product file to your Installation Dashboard.

1. Click the **+** icon next to the uploaded product description to add this product to your staging area.

1. Click the newly added tile to review any configurable options.

1. Click **Review Pending Changes**, then **Apply Changes** to install the service.


## <a id="other-products"></a> Upgrading <%= vars.platform_name %> Products

<p class="note"><strong>Note:</strong> If you are using the <%= vars.product_network %> API, the latest product versions will automatically appear in your Installation Dashboard. For more information, see the <a href="../customizing/add-delete.html#pivnet-api">Using <%= vars.product_network %> API to Upgrade Products</a> section of the <em>Adding and Deleting Products</em> topic.</p>

This section describes how to upgrade individual tiles like [Single Sign-On for VMware
Tanzu](http://docs.pivotal.io/p-identity/index.html), [VMware Tanzu SQL [MySQL]](http://docs.pivotal.io/p-mysql/index.html),
[VMware RabbitMQ](http://docs.pivotal.io/rabbitmq-cf/index.html), and
[App Metrics](http://docs.pivotal.io/app-metrics/index.html).
Ensure that you review the individual product upgrade procedure for each tile.

To upgrade your products:

1. Browse to [<%= vars.product_network %>](https://network.pivotal.io/) and sign in.

1. Download the latest release for the product or products you want to upgrade. Every product is tied to exactly one stemcell. Download the stemcell that matches your product and version.

1. Browse to the <%= vars.ops_manager %> web interface and click **Import a Product**.

    <%= image_tag("import.png") %>

1. Select the `.pivotal` file that you downloaded from <%= vars.product_network %> or received from your software distributor, then click **Open**. If the product is successfully added, it appears in your product list. If the product that you selected is not the latest version, the most up-to-date version will appear on your product list.

1. Click the **+** icon next to the product description to add the product tile to the **Installation Dashboard**.

1. Repeat the import, upload, and upgrade steps for each product you downloaded.

1. If you are upgrading a product that uses a self-signed certificate from v1.1 to v1.2, you must configure the product to trust the self-signed certificate. To configure a product to trust the self-signed certificate:
    1. Click the product tile.
    1. In the left-hand column, select the setting page containing the SSL certificate configuration. For example, for <%= vars.app_runtime_abbr %>, select the **HAProxy** pane.
    1. Check the **Trust Self-Signed Certificates** box.
    1. Click **Save**.

1. Click **Review Pending Changes**, then **Apply Changes**.


## <a id="replica-tiles"></a> Upgrading Replicated Tiles

To upgrade a replicated tile, you must:

* Generate a replica of the newer version of the tile using the replicator
* Give the new replica the same name as the existing replica.

See the following example workflow.

### <a id="replica-example"></a> Example Workflow

This example assumes the following:

* You used the replicator to generate a replica of v1 of the <%= vars.segment_runtime_full %> tile.
* You used the `name` **seg-one**.
* You installed the tile in the <%= vars.ops_manager %> Installation Dashboard.

Here is the sample replicator command you used for the initial installation:

```mac
./replicator-darwin\
--name seg-one\
--path /download/p-isolation-segment-v1.pivotal\
--output /output/p-isolation-segment-v1-seg-one.pivotal
```

To upgrade to v2:

1. Download and unzip the new <%= vars.segment_runtime_full %> Tile Replicator from [<%= vars.product_network %>](https://network.pivotal.io/products/p-isolation-segment/). You must download the version of Tile Replicator that corresponds with the version of the <%= vars.segment_runtime_full %> tile you want to replicate.

1. Run the replicator command below to create the replica:

    ```mac
      ./replicator-darwin\
      --name NAME-OF-EXISTING-REPLICA \
      --path PATH-TO-NEW-TILE \
      --output /output/p-isolation-segment-v2-seg-one.pivotal
    ```
    Where:<br>
      - `NAME-OF-EXISTING-REPLICA` must be the same as the name used for the existing replica.
      This is **seg-one** in this example.
      - `PATH-TO-NEW-TILE` is the path to the new <%= vars.segment_runtime_full %> tile.

1. After you have the replica tile **p-isolation-segment-v2-seg-one.pivotal**, upload it to <%= vars.ops_manager %>. This upgrades the v1 replica tile in place.
