---
title: Upgrading Pivotal Cloud Foundry
owner: Ops Manager
---

<strong><%= modified_date %></strong>

This topic describes upgrading Pivotal Cloud Foundry (PCF) to v2.1. The upgrade procedure below describes upgrading Pivotal Cloud Foundry Operations Manager (Ops Manager), Pivotal Application Service (PAS), and product tiles.

For an up-to-date checklist that incorporates much of the information below, see [Upgrade Checklist for PCF v2.1](../upgrading/checklist.html).

The apps in your deployment continue to run during the upgrade. However, you cannot write to your deployment or make changes to apps during the upgrade.

**Important**: Read the [Release Notes](http://docs.pivotal.io/pivotalcf/2-1/pcf-release-notes/index.html) and [Breaking Changes](http://docs.pivotal.io/pivotalcf/2-1/pcf-release-notes/breaking-changes.html) for this release, including the Known Issues sections, before starting the upgrade process.

For more details about the impact of upgrading on individual PCF components, see the [PAS Component Behavior During Upgrade](https://docs.pivotal.io/pivotalcf/2-1/opsguide/single-component.html) topic.

## <a id="beforeupgrade"></a> Before You Upgrade

This section contains important preparation steps, **Preps**, that you must follow before beginning an upgrade to Ops Manager v2.1. Failure to follow these instructions may jeopardize your existing deployment data and cause your upgrade to fail.

Pivotal recommends backing up your PCF deployment before upgrading, to restore in the case of failure. To do this, follow the instructions in the [Backing Up Pivotal Cloud Foundry with BBR](https://docs.pivotal.io/pivotalcf/2-1/customizing/backup-restore/backup-pcf-bbr.html) topic. 

### <a id="storage"></a> Prep 1: Review File Storage IOPS and Other Upgrade Limiting Factors

During the PCF upgrade process, a large quantity of data is moved around on disk. 

To ensure a successful upgrade of PCF, verify that your underlying PAS file storage is performant enough to handle the upgrade. For more information about the configurations to evaluate, see [Upgrade Considerations for Selecting Pivotal Cloud Foundry Storage](https://docs.pivotal.io/pivotalcf/2-1/opsguide/storage_considerations.html).

In addition to file storage IOPS, consider additional existing deployment factors that can impact overall upgrade duration and performance:

|**Factor**|**Impact**|
|----------|----------|
|**Network latency** | Network latency can contribute to how long it takes to move app instance data to new containers. |
|**Number of ASGs**| A large number of [Application Security Groups](https://docs.pivotal.io/pivotalcf/2-1/concepts/asg.html) in your deployment can contribute to an increase in app instance container startup time.|
|**Number of app instances and application growth**| A large increase in the number of app instances and average droplet size since the initial deployment can increase the upgrade impact on your system. |

To review example upgrade-related performance measurements of an existing production Cloud Foundry deployment, see the [Pivotal Web Services Performance During Upgrade](https://docs.pivotal.io/pivotalcf/2-1/opsguide/pws_upgrade_load.html) topic. 

### <a id="app_usage"></a> Prep 2: Verify App Usage Service Remedial Steps

If you are upgrading from a PCF deployment that at one point included Elastic Runtime v1.7.16 or earlier, you must perform the remedial steps outlined in [App Usage Data and Events Data Become Corrupted After Upgrade or Install](https://discuss.pivotal.io/hc/en-us/articles/228639827-App-Usage-Data-and-Events-Data-Becomes-Corrupted-After-Upgrade-or-Install) before proceeding with this upgrade.

<p class="note warning"><strong>Warning:</strong> If you fail to perform the remedial steps for this issue, this upgrade process may corrupt your existing usage data.</p>

### <a id="cert-expiry"></a> Prep 3: Check Certificate Authority Expiration Dates

Depending on the requirements of your deployment, you may need to rotate your Certificate Authority (CA) certificates. The non-configurable certificates in your deployment expire every two years. You must regenerate and rotate them so that critical components do not face a complete outage.

<p class="note"><strong>Note:</strong> PCF uses SHA-2 certificates and hashes by default. You can convert existing SHA-1 hashes into SHA-2 hashes by rotating your Ops Manager certificates using the procedure described in the <a href="https://docs.pivotal.io/pivotalcf/2-1/security/pcf-infrastructure/api-cert-rotation.html#rotate-ca">Rotate Root and Leaf Certificates</a> section of <em>Managing Certificates</em>.</p>

To retrieve information about all the RSA and CA certificates for the BOSH Director and other products in your deployment, you can use the `GET /api/v0/deployed/certificates?expires_within=TIME` request of the Ops Manager API.

In this request, the `expires_within` parameter is optional. Valid values for the parameter are `d` for days, `w` for weeks, `m` for months, and `y` for years. For example, to search for certificates expiring within one month, replace `TIME` with `1m`:

<pre class="terminal">$ curl "https://OPS-MAN-FQDN/api/v0/deployed/certificates?expires_within=1m" \
 -X GET \
 -H "Authorization: Bearer UAA_ACCESS_TOKEN"
</pre>

<<<<<<< HEAD
For information about how to regenerate and rotate CA certificates, see [Managing TLS Certificates](https://docs.pivotal.io/pivotalcf/2-1/security/pcf-infrastructure/api-cert-rotation.html).
=======
For information about regenerating and rotating CA certificates, see [Managing Certificates](../security/pcf-infrastructure/api-cert-rotation.html).
>>>>>>> 1da4251f... rm 'TLS' from title [#160991076]

### <a id="review-partners"></a> Prep 4: Review Partner Service Tiles

Some partner service tiles may be incompatible with PCF v2.1. Pivotal is working with partners to ensure their tiles are updated to work with the latest versions of PCF. For information about which partner service releases are currently compatible with PCF v2.1, review the appropriate partners services release documentation at [http://docs.pivotal.io](http://docs.pivotal.io), or contact the partner organization that produces the service tile.

### <a id="download-targets"></a> Prep 5: Download Upgrade Versions

To minimize disruptions to your deployment during the upgrade, and to satisfy any simultaneous upgrade requirements, download the version of the product files you wish to upgrade from [Pivotal Network](https://network.pivotal.io/). 

At the minimum, you must download PAS v2.1.

### <a id="prepare-env"></a> Prep 6: Prepare Your Environment

1. Install the releases from your currently deployed version to the target version in sequential order. For example, if your deployment uses Ops Manager v1.9 and you are upgrading to v2.1, you must sequentially install v1.10, v1.11, v1.12, and v2.0 before proceeding with the upgrade to v2.1.

1. If you have disabled lifecycle errands for any installed product to reduce deployment time, Pivotal recommends that you re-enable these errands before upgrading. For more information, see the [Adding and Deleting Products](https://docs.pivotal.io/pivotalcf/2-1/customizing/add-delete.html#add-import) topic.

1. <%= partial 'check_disk_before_upgrade' %>

1. In PCF 2.1, the Gorouter can communicate with app instances via TLS, which improves security but also increases resource usage. Prior versions of PCF did not support this feature. See [HTTP Routing](https://docs.pivotal.io/pivotalcf/2-1/concepts/http-routing.html#tls-to-back-end) for more information.
    * **To support TLS routing** you should ensure that you have enough available memory capacity for app instances, and enable the **Router uses TLS to verify application identity** checkbox in the PAS and Isolation Segment tile **Application Containers** pane.

1. If not already disabled, disable the VM Resurrector:
   1. From your **Installation Dashboard**, select the **BOSH Director** tile. 
   2. Click **Director Config**.
   3. Clear the **Enable VM resurrector plugin** checkbox.
   4. Click **Save**.
   5. Return to the **Installation Dashboard** and click **Apply Changes**.

1. Check the required machine specifications for Ops Manager v2.1. These specifications are specific [to your IaaS](gcp-om-deploy.html#start-vm). If these specifications do not match your existing Ops Manager, modify the values of your Ops Manager VM instance. For example, if the boot disk of your existing Ops Manager is 50 GB and the new Ops Manager requires 100 GB, then increase the size of your Ops Manager boot disk to 100 GB. 

1. If you are upgrading a vSphere environment, ensure that you have the following information about your existing environment before starting the upgrade:
  * Record the following IP addresses, which you can find in the vSphere web client under **Manage** > **Settings** > **vApp Options**. 
This is the same information you entered at the end of deploying [Ops Manager on vSphere](https://docs.pivotal.io/pivotalcf/2-1/customizing/deploying-vm.html). 
     * IP Address of the Ops Manager
     * Netmask
     * Default Gateway
     * DNS Servers
     * NTP Servers
  * Record the following VM hardware information so you can configure the new VM with similar settings. You can find this information in the vSphere web client under **Manage** > **Settings** > **VM Hardware**.
      * CPU
      * Memory
      * Hard Disk 1
      * Network Adapter 1. When you configure the new VM, ensure your network adapters are configured properly and are on the same network.

### <a id="upgrade-mysql"></a> Prep 7: Upgrade MySQL for PCF

Make sure you have the latest version of MySQL installed. For instructions on how to upgrade MySQL for PCF, see the [MySQL for PCF](http://docs.pivotal.io/p-mysql/1-10/index.html) documentation.

### <a id="upgrade-rmq"></a> Prep 8: Upgrade and Configure RabbitMQ for PCF

If your PCF deployment contains **RabbitMQ for PCF**, download and upgrade RabbitMQ for PCF to v1.12. For upgrade instructions, see the [RabbitMQ for PCF documentation](https://docs.pivotal.io/rabbitmq-cf/1-12/index.html).

### <a id="upgrade-redis"></a> Prep 9: Upgrade and Configure Redis for PCF

If your PCF deployment contains Redis for PCF, download and upgrade to Redis for PCF v1.12. If you use only the on-demand service offering, consider [disabling Shared-VM and Dedicated-VM plans](http://docs.pivotal.io/redis/1-12/installing.html#disable-shared-dedicated) before upgrading.

See the [Redis for PCF documentation](https://docs.pivotal.io/redis/1-12/index.html) for more information.

### <a id="upgrade-add-ons"></a> Prep 10: Check OS Compatibility of PCF and BOSH-Managed Add-Ons

 Before upgrading to PCF v2.1, operators who have deployed any PCF add-ons (such as **IPsec for PCF**, **ClamAV for PCF**, or **File Integrity Monitoring for PCF**) and who have deployed or are planning to deploy [PAS for Windows 2012R2](https://docs.pivotal.io/pivotalcf/2-1/windows2012r2/index.html) must modify the add-on manifest to specify a compatible OS stemcell. 

 For example, **File Integrity Monitor for PCF** (FIM) is not supported on Windows. Therefore, the manifest must use an `include` directive to specify the target OS stemcell of `ubuntu-trusty`. 

 To update an add-on manifest, perform the following steps:

 1. Locate your existing add-on manifest file. For example, for FIM, locate the `fim.yml` you uploaded to the Ops Manager VM.

 1. Modify the manifest to include following `include` directive to your manifest:

    ```yml
      include:
        stemcell:
          - os: ubuntu-trusty
    ```
 1. Re-upload the manifest file to your PCF deployment. For example instructions, see [Create the FIM Manifest](https://docs.pivotal.io/addon-fim/index.html#create-mfest). 

 If you are using any other BOSH-managed add-ons in your deployment, you should verify OS compatibility for those component as well. For more information about configuring BOSH add-on manifests, see the [BOSH documentation](https://bosh.io/docs/runtime-config.html#addons). 

### <a id="check-health"></a> Prep 11: Check System Health Before Upgrade

1. Run `bosh <%= vars.bosh_cloud_check %>` to confirm that the VMs are healthy. For more information, see the [BOSH Cloudcheck](https://docs.pivotal.io/pivotalcf/2-1/customizing/trouble-advanced.html#cck) topic.

1. Check the system health of installed products. In the **Installation Dashboard**, select the **Status** tab for each service tile. Confirm that all jobs are healthy.

1. (Optional) Check the logs for errors before proceeding with the upgrade.
For more information, see the [Viewing Logs in the Command Line Interface](https://docs.pivotal.io/pivotalcf/2-1/devguide/deploy-apps/streaming-logs.html#view) topic.  

1. Confirm there are no outstanding changes in Ops Manager or any other tile. All tiles should be **green**. Click **Apply Changes** if necessary. 

1. After applying changes, click **Recent Install Logs** to confirm that the changes completed cleanly:
    <pre>
    Cleanup complete
    {"type": "step\_finished", "id": "clean\_up\_bosh.cleaning\_up"}
    Exited with 0.
    </pre>

### <a id="check-external-blobstore-backup-restore-addon"></a> Prep 12: Check External Blobstore Backup and Restore Add-On

If you have enabled external blobstore backups for <strong>versioned S3-compatible</strong> blostore using the Blobstore Addon, you need to update your runtime configuration when upgrading to PCF v2.1. Remove `s3-versioned-blobstore-backup-restorer` from your runtime configuration before upgrading.
If you don't remove this job, upgrading PAS will fail with error:
<pre>
Preparing deployment: Preparing deployment (00:00:01)
  L Error: Colocated job 's3-versioned-blobstore-backup-restorer' is already added to the instance group 'backup-prepare'.
</pre>
After removing this job from your runtime configuration, you will need to configure the `Versioning is enabled for all buckets listed below` checkbox in the PAS tile. Please see [External S3 or Ceph Filestore](https://docs.pivotal.io/pivotalcf/2-1/customizing/pcf-aws-manual-er-config.html#external_s3) topic for instructions.

## <a id="upgrade_ops"></a> Upgrade Ops Manager and Installed Products to v2.1

### <a id="export"></a> Step 1: Export Your Installation

1. In your Ops Manager v2.0 **Installation Dashboard**, click the account dropdown and select **Settings**.

    <%= image_tag("./images/upgrading/upgrade_to_1.9.png") %>

1. On the **Settings** screen, select **Export Installation Settings** from the left menu, then click **Export Installation Settings**.

    <%= image_tag("./images/upgrading/export_install_settings.png") %>

This exports the current PCF installation with all of its assets.<br/><br/>

When you export an installation, the export contains the base VM images, necessary packages, and configuration settings, but does not include releases between upgrades if Ops Manager has already uploaded them to BOSH. When backing up PCF, you must take this into account by backing up the BOSH blobstore that contains the uploaded releases. BOSH Backup and Restore (BBR) backs up the BOSH blobstore. For more information, see [Backing Up Pivotal Cloud Foundry with BBR](./backup-restore/backup-pcf-bbr.html).

* The export time depends on the size of the exported file.
* Some browsers do not provide feedback on the status of the export process and might appear to hang.<br/><br/>
    
<p class="note"><strong>Note:</strong> Some operating systems automatically unzip the exported installation. If this occurs, create a ZIP file of the unzipped export. Do not start compressing at the "installation" folder level. Instead, start compressing at the level containing the <code>config.yml</code> file:</p>

<%= image_tag("./images/upgrading/compress.png") %>

### <a id="upgrade"></a> Step 2: Upgrade to Ops Manager v2.1

1. Download the Ops Manager VM Template v2.1 from the [Pivotal Network](https://network.pivotal.io/products/ops-manager) site.

1. Record the FQDN address of the existing Ops Manager VM.

1. To avoid conflicts, power off the existing Ops Manager VM.

1. Deploy the new Ops Manager VM by following the steps in one of these topics:
    * **AWS**: [Upgrading BOSH Director on AWS](./aws-om-upgrade.html)
    * **Azure**: [Upgrading BOSH Director on Azure](https://docs.pivotal.io/pivotalcf/2-1/customizing/azure-om-upgrade.html)
    * **GCP**: [Upgrading BOSH Director on GCP](https://docs.pivotal.io/pivotalcf/2-1/customizing/gcp-om-upgrade.html)
    * **OpenStack**: [Provisioning the OpenStack Infrastructure](https://docs.pivotal.io/pivotalcf/2-1/customizing/openstack-setup.html)
    * **vSphere**: [Deploying Operations Manager to vSphere](https://docs.pivotal.io/pivotalcf/2-1/customizing/deploying-vm.html)

1. When redirected to the **Welcome to Ops Manager** page, select **Import Existing Installation**.

    <%= image_tag("./images/upgrading/welcome.png") %>

1. When prompted, enter the **Decryption Passphrase** for this Ops Manager installation. You set this passphrase during your initial installation of Ops Manager. 

    <p class="note"><strong>Note:</strong> If lost, the <strong>Decryption Passphrase</strong> cannot be recovered.</p>

1. Click **Choose File** and browse to the installation ZIP file exported in [Step 1](#export) above.

    <%= image_tag("./images/upgrading/decryption_passphrase.png") %>

1. Click **Import**.

    <p class="note"><strong>Note:</strong> Some browsers do not provide feedback on the status of the import process, and might appear to hang.</p>

1. A "Successfully imported installation" message appears upon completion.

    <%= image_tag("./images/upgrading/success.png") %>


### <a id="upgrade_products"></a> Step 3: Upgrade PAS and Product Tiles

1. <a name="success"></a>After upgrading to Ops Manager v2.1, upgrade your product versions. 

1. Import the product file to your Ops Manager **Installation Dashboard**.

1. Hover over the product name in **Available Products** and click **Add**.

1. Click the newly added tile to review any configurable options.

1. (Optional) If you are using other service tiles, you can upgrade them following the same procedure. See the [Upgrading PAS and Other Pivotal Cloud Foundry Products](https://docs.pivotal.io/pivotalcf/2-1/customizing/upgrading-products.html) topic for more information.

### <a id="perform-upgrade"></a> Step 4: Perform Your Upgrade

1. Navigate to the Ops Manager **Installation Dashboard**.

1. Click **Apply Changes**. This immediately imports and applies upgrades to all tiles in a single transaction.

    <p class="note warning"><strong>WARNING:</strong> If the installation fails or returns errors, contact <%= vars.support_link %>. Do not attempt to roll back the upgrade by restarting the previous (v2.0) Ops Manager VM.</p>

1. Click each service tile, select the **Status** tab, and confirm that all VMs appear and are in good health.

1. After confirming that the new installation functions correctly, remove the previous (v2.0) Ops Manager VM.


## <a id="after-upgrade"></a> After You Upgrade

### <a id="cli-upgrade"></a> Upgrade cf CLI

Download [the latest version of the Cloud Foundry Command Line Interface (cf CLI)](https://github.com/cloudfoundry/cli#downloads) to share service instances across orgs and spaces, use the refactored push command, and use push with support for symlinks in app files. For more information, see [Using the Cloud Foundry Command Line Interface (cf CLI)](https://docs.cloudfoundry.org/cf-cli/).
