---
title: Upgrading Operations Manager
---

**Important**: Read the Known Issues section of the [Pivotal Cloud Foundry
Release Notes](../pcf-release-notes/index.html) before getting started.

Complete the following steps to upgrade Pivotal Cloud Foundry Operations
Manager.
Select the procedure that corresponds to your upgrading scenario.

Pivotal strongly recommends that you [back up all critical data](./backup-settings.html#databases) prior to upgrading.

<p class="note"><strong>Note</strong>: To upgrade your <a
  href="https://network.pivotal.io/products/pivotal-cf">Pivotal Cloud
  Foundry</a> (PCF) installation to a target release, you must install all
  releases from your currently deployed version to the target version in
  sequential order. For example, if your deployment uses Ops Manager release 1.1
  and you are upgrading to 1.3, you must sequentially install 1.2 and 1.3.</p>

## <a id="keep"></a>Upgrading with Installed Products ##

Follow these steps to keep all installed products when you upgrade Ops Manager.

<p class="note"><strong>Note</strong>: If you have disabled lifecycle errands
	for any installed product in order to reduce deployment time, Pivotal
	recommends that you re-enable these errands before upgrading. See <a
	href="./add-delete.html#add-import">Adding and Deleting Products</a> for more
	information. </p>
1. <%= partial 'check_disk_before_upgrade' %>
1. Ensure that every product tile on the Installation Dashboard is compatible
with the new version of Ops Manager.
If the installed version of a product does not meet its minimum version
requirement, you must upgrade the product or remove the tile before upgrading
Ops Manager.
<br /><br />

    The following table shows the minimum version number of each product that is
    compatible with Ops Manager 1.4.

    <table border="1" class="nice" >
      <tr>
        <th><strong>Product</strong></th>
        <th><strong>Minimum Version Compatible with Ops Manager
	        1.4</strong>
	      </th>
      </tr>
      <tr>
        <td>API Gateway for Pivotal Cloud Foundry</td>
        <td>1.0.0.29</td>
      </tr>
      <tr>
        <td>App Distribution for Pivotal Cloud Foundry</td>
        <td>1.0</td>
      </tr>
      <tr>
        <td>Data Sync for Pivotal Cloud Foundry</td>
        <td>1.1.0.16</td>
      </tr>
      <tr>
        <td>DataStax Enterprise Service for Pivotal Cloud Foundry</td>
        <td>1.3.2</td>
      </tr>
      <tr>
        <td>Elastic Runtime for Pivotal Cloud Foundry</td>
        <td>1.3.3</td>
      </tr>
      <tr>
        <td>Mongo DB</td>
        <td>1.3.2</td>
      </tr>
      <tr>
        <td>MySQL for Pivotal Cloud Foundry</td>
        <td>1.3.2</td>
      </tr>
      <tr>
        <td>Neo4j</td>
        <td>1.3.2</td>
      </tr>
      <tr>
        <td>Ops Metrics</td>
        <td>1.3.2</td>
      </tr>
      <tr>
        <td>Push Notification Service for Pivotal Cloud Foundry</td>
        <td>1.2.0</td>
      </tr>
      <tr>
        <td>RabbitMQ for Pivotal Cloud Foundry</td>
        <td>1.3.4</td>
      </tr>
      <tr>
        <td>Redis for Pivotal Cloud Foundry</td>
        <td>1.4.0</td>
      </tr>
      <tr>
        <td>Riak CS for Pivotal Cloud Foundry</td>
        <td>1.3.2</td>
      </tr>
    </table>

1. From the Product Dashboard, select **Actions > Export installation
settings**.

    <%= image_tag("./images/upgrading/export_settings.png") %>

    This exports the current PCF installation with all of its assets.
    When you export an installation, the export contains the base VM images and
    necessary packages, and references to the installation IP addresses.
    As a result, an exported file can be very large, as much as 5 GB or more.
    * Because of the size of the exported file, exporting can take tens of
      minutes.
    * Some browsers do not provide feedback on the status of the export
      process, and may appear to hang.
    * Some operating systems may automatically unzip the exported installation.
      If this occurs, create a zip file of the unzipped export.

    <p class="note"><strong>Note</strong>: When creating a zip file of an
      unzipped export, do not start compressing at the “installation” folder
      level.
      Instead, start compressing at the level containing the config.yml:</p>

    <%= image_tag("./images/upgrading/compress.png") %>

1. Download the latest Ops Manager VM Template from the [Pivotal
Network](https://network.pivotal.io/products/pivotal-cf) site.

1. Record the IP address of the existing Ops Manager VM.

1. To avoid IP conflicts, power off the existing Ops Manager VM.

1. Deploy the new Ops Manager VM.
See [Deploying Operations Manager to vSphere](./deploying-vm.html) or [Deploying
Operations Manager to vCloud Air and vCloud](./pcf-vchs-vcloud.html).

1. From the Product Dashboard, select **Actions > Import installation
settings**.

    <%= image_tag("./images/upgrading/import_settings.png") %>

1. Click **Choose File**, browse to the installation zip file exported in Step
1, and click **Choose**.
1. If the admin password has changed since the file was exported, you must
select **Need to enter a decryption password?** before you click **Import** to
prevent an error.
Enter the original password that was used when the installation was exported.
If the admin password has not changed, you may skip this step.

    <%= image_tag("./images/upgrading/import.png") %>

1. Click **Import**.

    <p class="note"><strong>Note</strong>: Importing can take tens of minutes.
      Some browsers do not provide feedback on the status of the import process,
      and may appear to hang.</p>

1. When complete, you will see a "Successfully imported installation" message. 

    <%= image_tag("./images/upgrading/success.png") %>

1. (optional) The 'Apply Changes' button will also appear. Now that your installation is imported, Ops Manager will have a pending task to update its MicroBosh. All of the tiles/services have been running without interruption. Hitting 'Apply Changes' will import and apply upgrades to all tiles in a single transaction, which can save significant time compared to upgrading the tiles individually.

1. Select **Resource Config**.

1. Change the value of the **Ephemeral Disk (MB)** for the Ops Manager Director
to `32768`.
Ops Manager Director 1.4 requires at least 32 GB of ephemeral disk space to
install successfully.

1. Click **Save**.

    <%= image_tag("./images/upgrading/opsmgr-resources.png") %>

1. To verify that each service is running and being monitored by Ops Manager, click on its tile, navigate to the Status tab, and make sure that all of the VMs appear and are in good health.

1. Remove the original Ops Manager VM from AWS if the new installation functions
correctly.

<p class="note"><strong>Note</strong>: Independently from upgrading Ops Manager,
  you can upgrade individual products such as Pivotal Cloud Foundry Elastic
  Runtime, <a href="https://network.pivotal.io/products/p-mysql">Pivotal
  MySQL</a>, or <a
href="https://network.pivotal.io/products/pivotal-rabbitmq-service">RabbitMQ</a>
  in your PCF deployment. See <a href="./upgrading-products.html">Upgrading
  Products in a PCF Deployment</a>.</p>

## <a id="lose"></a>Uninstalling and Reinstalling Ops Manager ##

Follow these steps to upgrade Ops Manager if you have no installed products, or
you have no installed products that you want to keep.

<p class="note"><strong>Note</strong>: If you want to reinstall Ops Manager, and
  would like to import your information to the new installation, you will need
  the exported Cloud Controller database and the configuration from the previous
  installation.</p>

1. Browse to the Ops Manager web interface and select **Delete this
installation**.

1. In vSphere, vCloud Air, or vCloud, power off and delete your existing Ops
Manager VM.

1. Download the latest Ops Manager VM Template from the [Pivotal
Network](https://network.pivotal.io/products/pivotal-cf) site.

1. Deploy the new Ops Manager VM.
See one of the following topics:
    * [Deploying Operations Manager to vSphere](./deploying-vm.html)
    * [Deploying Operations Manager to vCloud Air and
      vCloud](./pcf-vchs-vcloud.html)

## <a id="rollback"></a>Rolling Back an Upgraded Installation ##

<p class="note"><strong>Note</strong>: To roll back an installation, or if
  upgrading fails, Pivotal recommends that you contact Pivotal Support.</p>

If you want to roll back or troubleshoot a failed installation on your own,
consult the table below.
The table shows guidelines for compatibility between your exported configuration
and available Ops Manager versions.

<table border="1" class="nice" >
<tr>
  <th><strong>Current Version</strong></th>
  <th><strong>Can import into 1.2</strong></th>
  <th><strong>Can import into 1.3</strong></th>
  <th><strong>Notes</strong></th>
</tr>
<tr>
  <td>1.2</td>
  <td>&#10003;</td>
  <td>&#10003;</td>
  <td>After successful import to 1.3, 1.2 export configuration is no longer
	  valid.
	</td>
</tr>
<tr>
  <td>1.3</td>
  <td></td>
  <td>&#10003;</td>
  <td></td>
</tr>
</table>
