---
title: Configuring Ops Manager Director for vCloud Air and vCloud
---

Before following these instructions you must [deploy Ops Manager and configure NAT and Firewall rules](./pcf-vchs-vcloud.html).

Refer to the following procedure for help configuring the Ops Manager Director for VMware vCloud Air and vCloud product tile.

1. Log in to Pivotal CF Operations Manager.

1. Click the **VMware vCloud** tile.

    <%= image_tag("vcair-tile.png") %>

1. Select **vCloud Config** and enter the following information: 
    1. The URL of the vCloud Director.
    1. The **Organization name**.
    <p class="note"><strong>Note</strong>: vCloud Air and vCloud Director use case-sensitive organization names. The name you supply in the Ops Manager <strong>Organization name</strong> field must match the vCD organization name exactly.</p>
    1. Your credentials.
    <p class="note"><strong>Note</strong>: This user must have create and delete privileges for VMs and folders.</p>
    1. The **Datacenter name** and **Storage Profile name**.
    1. Click **Save**.
	
    <%= image_tag("vcloud-configuration.png") %>

1. Select **Director Config**. 
    1. Enter a comma-delimited list of time server addresses. 
    1. If you have installed and configured the Ops Metrics product, enter the **Metrics IP Address**.
    1. Check or uncheck **Enable VM resurrector plugin**.
    1. Click **Save**.
	
    <%= image_tag("vcloud-director-config.png") %>
	
1. Select **Create Networks**.
    Use the following steps to create one or more Ops Manager networks:
	
    1. Define a unique name for the network.
    1. Enter the **vCloud Network Name** as it appears in vCloud Director.
    1. Enter a valid CIDR block in **Subnet**.
    1. Enter any IP addresses from the **Subnet** that you want to blacklist from the installation in **Excluded IP Ranges**.
    1. Enter the **DNS** and **Gateway** IP addresses.
    1. Click **Save**.

    <%= image_tag("vcloud-create-networks.png") %>

1. Select **Assign Networks**.
    You can configure the Ops Manager Director to have an IP address on one network. Use the drop-down menu to select the network that acts as the infrastructure and deployment network for Ops Manager.

    <%= image_tag("vcloud-assign-networks.png") %>

1. Select **Resource Config**, accept the defaults or make necessary changes, and
click **Save**.

    <%= image_tag("vcloud-resources.png") %>

1. Click the **Installation Dashboard** link to return to the Installation
Dashboard.

[Return to the Getting Started Guide](../getstarted/index.html)