---
title: Accessing Logs and Metrics on Pivotal Platform
owner: Oratos, Log Egress, Loggregator
---

This topic describes how to access logs and metrics for VMs and app containers on your <%= vars.platform_name %> deployment. It includes information about the available logs and metrics for the <%= vars.app_runtime_full %> (<%= vars.app_runtime_abbr %>) and <%= vars.k8s_runtime_full %> (<%= vars.k8s_runtime_abbr %>) runtimes.


## <a id="overview"></a> Overview

There are different methods for accessing logs and metrics for VMs and app containers depending on if you use the <%= vars.app_runtime_abbr %> or <%= vars.k8s_runtime_abbr %> app runtime for your deployment.

There are also different permissions required to access logs and metrics on <%= vars.app_runtime_abbr %> and <%= vars.k8s_runtime_abbr %>. The sections in this topic explain how to access logs and metrics on your <%= vars.app_runtime_abbr %> or <%= vars.k8s_runtime_abbr %> deployment based on your user role permissions.


## <a id="director-vm-logs"></a> Access Platform Director VM Logs

Platform Director logs include logs from the Ops Manager and BOSH Director VMs.

For both <%= vars.app_runtime_abbr %> and <%= vars.k8s_runtime_abbr %>, operators can access platform director VM logs by configuring a syslog drain in the Ops Manager tile. For more information, see the [Settings Page](https://docs.pivotal.io/platform/ops-manager/pcf-interface.html#settings) section of the _Using the Ops Manager Interface_ topic.

The format for the BOSH Director VM logs is Syslog RFC 5424. For more information, see [RFC 5424 - The Syslog Protocol](https://tools.ietf.org/html/rfc5424) in the Internet Engineering Task Force (IETF) documentation.

The format for the Ops Manager VM logs is Syslog RFC 3164. For more information, see [The BSD Syslog Protocol](https://tools.ietf.org/html/rfc3164) in the IETF documentation.


## <a id="vm-logs"></a> Access VM Logs

This section describes how to access logs for <%= vars.app_runtime_abbr %> and <%= vars.k8s_runtime_abbr %> VMs. 

The format for VM logs is Syslog RFC 5424. For more information, see [RFC 5424 - The Syslog Protocol](https://tools.ietf.org/html/rfc5424) in the IETF documentation.

See one of the following sections below:

* [Access VM Logs on <%= vars.app_runtime_abbr %>](#vm-logs-<%= vars.app_runtime_abbr %>)
* [Access VM Logs on <%= vars.k8s_runtime_abbr %>](#vm-logs-<%= vars.k8s_runtime_abbr %>)

### <a id="vm-logs-pas"></a> Access VM Logs on <%= vars.app_runtime_abbr %>

<%= vars.app_runtime_abbr %> VM logs include logs for runtime component VMs and service tile VMs.

The following table describes how to access VM logs on foundations with <%= vars.app_runtime_abbr %> based on user role and permissions. 

<table class="nice">
	<tr>
		<th width="15%">Title</th>
		<th width="25%"><%= vars.app_runtime_abbr %> Role</th>
		<th width="30%">Procedure</th>
		<th width="25%">Notes</th>
	</tr>
	<tr>
		<td>Operator</td>
		<td><code>Admin</code></td>
		<td>Configure system logging in <%= vars.app_runtime_abbr %>. For more information, see the <a href="./configure-pas.html#sys-logging">Configure System Logging</a> section of the <em>Configuring <%= vars.app_runtime_abbr %></em> topic.</td>
		<td>To access logs for service instances, you must also configure syslog in each service tile for which you want logs. For more information, see the documentation for the service tile.</td>
	</tr>
	<tr>
		<td>Developer</td>
		<td><code>Space Developer</code></td>
		<td>Not applicable.</td>
		<td></td>
	</tr>
</table>

### <a id="vm-logs-pks"></a> Access VM Logs on <%= vars.k8s_runtime_abbr %>

The following table describes how to access VM logs on foundations with <%= vars.k8s_runtime_abbr %> based on user role and permissions. 

<table class="nice">
	<tr>
		<th width="15%">Title</th>
		<th width="20%">Role</th>
		<th width="30%">Procedure</th>
		<th width="30%">Notes</th>
	</tr>
	<tr>
		<td>Operator</td>
		<td><code>Admin</code></td>
		<td>Enable system logging in <%= vars.k8s_runtime_abbr %>. For more information, see the <em>Host Monitoring</em> section in the <%= vars.k8s_runtime_abbr %> installation topic for your IaaS:
			<ul>
				<li><a href="https://docs.pivotal.io/pks/installing-pks-aws.html#syslog">Installing Enterprise PKS on AWS</a></li>
				<li><a href="https://docs.pivotal.io/pks/installing-pks-azure.html#syslog">Installing Enterprise PKS on Azure</a></li>
				<li><a href="https://docs.pivotal.io/pks/installing-pks-gcp.html#syslog">Installing Enterprise PKS on GCP</a></li>
				<li><a href="https://docs.pivotal.io/pks/installing-pks-vsphere.html#syslog">Installing Enterprise PKS on vSphere</a></li>
				<li><a href="https://docs.pivotal.io/pks/installing-nsx-t.html#syslog">Installing Enterprise PKS on vSphere with NSX-T</a></li>				
			</ul>
		</td>
		<td></td>
	</tr>
	<tr>
		<td>Cluster Admin/Developer</td>
		<td>Not applicable.</td>
		<td>Not applicable.</td>
		<td></td>
	</tr>
</table>


## <a id="vm-metrics"></a> Access VM Metrics

This section describes how to access metrics for <%= vars.app_runtime_abbr %> VMs and <%= vars.k8s_runtime_abbr %> VMs. 

See one of the following sections below:

* [Access VM Metrics on <%= vars.app_runtime_abbr %>](#vm-metrics-<%= vars.app_runtime_abbr %>)
* [Access VM Metrics on <%= vars.k8s_runtime_abbr %>](#vm-metrics-<%= vars.k8s_runtime_abbr %>)

### <a id="vm-metrics-pas"></a> Access VM Metrics on <%= vars.app_runtime_abbr %>

For <%= vars.app_runtime_abbr %> deployments, VM metrics include <%= vars.app_runtime_abbr %> component and service tile VM metrics.

The following table describes how to access VM metrics on foundations with <%= vars.app_runtime_abbr %> based on user role and permissions.

<table class="nice">
	<tr>
		<th width="15%">Title</th>
		<th width="25%"><%= vars.app_runtime_abbr %> Role</th>
		<th width="35%">Procedure</th>
		<th width="25%">Notes</th>
	</tr>
	<tr>
		<td>Operator</td>
		<td><code>Admin</code></td>
		<td>No additional configuration is required. <%= vars.app_runtime_abbr %> emits VM metrics through the Loggregator Firehose. For more information, see <a href="https://docs.pivotal.io/platform/application-service/loggregator/architecture.html">Loggregator Architecture</a>.</td>
		<td>The Firehose emits metrics as a gauge or counter Loggregator envelope type. For more information, see the <a href="https://github.com/cloudfoundry/loggregator-api/blob/master/README.md">loggregator-api</a> repository on GitHub.</td>
	</tr>
	<tr>
		<td>Developer</td>
		<td><code>Space Developer</code></td>
		<td>Not allowed.</td>
		<td></td>
	</tr>
</table>

### <a id="vm-metrics-pks"></a> Access VM Metrics on <%= vars.k8s_runtime_abbr %> 

For <%= vars.k8s_runtime_abbr %> deployments, VM metrics include metrics for the master and worker nodes.

<p class="note"><strong>Note:</strong> VM metrics are available on <%= vars.k8s_runtime_abbr %> v1.5 and later.</p> 

The following table describes how to access VM metrics on foundations with <%= vars.k8s_runtime_abbr %> based on user role and permissions.

<table class="nice">
	<tr>
		<th width="15%">Title</th>
		<th width="20%">Role</th>
		<th width="30%">Procedure</th>
		<th width="30%">Notes</th>
	</tr>
	<tr>
		<td>Operator</td>
		<td><code>Admin</code></td>
		<td>Configure an output plugin in the <%= vars.k8s_runtime_abbr %> tile. For more information, see <a href="https://docs.pivotal.io/pks/create-sinks.html">Creating Sink Resources</a> in the <%= vars.k8s_runtime_abbr %> documentation.</td>
		<td>Component VM Metrics include the master node only.</td>
	</tr>
	<tr>
		<td>Cluster Admin</td>
		<td>The operator defines the role-based access policy for accessing VM metrics.</td>
		<td>Configure a <code>ClusterMetricSink</code> in the cluster. For more information, see <a href="https://docs.pivotal.io/pks/create-sinks.html">Creating Sink Resources</a> in the <%= vars.k8s_runtime_abbr %> documentation.</td>
		<td>
			<ul>
				<li>You must configure a <code>ClusterMetricSink</code> for each new cluster.</li>
				<li>Component VM Metrics include the worker nodes only.</li>
			</ul>
		</td>
	</tr>
	<tr>
		<td>Developer</td>
		<td>The operator defines the role-based access policy for accessing VM metrics.</td>
		<td></td>
		<td></td>
	</tr>
</table>	


## <a id="app-logs"></a> Access App Container Logs 

This section describes how to access app logs on <%= vars.platform_name %>. 

See one of the following sections below:

* [Access App Container Logs on <%= vars.app_runtime_abbr %>](#app-logs-<%= vars.app_runtime_abbr %>)
* [Access App Container Logs on <%= vars.k8s_runtime_abbr %>](#app-logs-<%= vars.k8s_runtime_abbr %>)

### <a id="app-logs-pas"></a> Access App Container Logs on <%= vars.app_runtime_abbr %>

App container logs for <%= vars.app_runtime_abbr %> deployments include logs for apps and service instances.

The following table describes how to access app logs on foundations with <%= vars.app_runtime_abbr %> based on user role and permissions.

<table class="nice">
	<tr>
		<th width="15%">Title</th>
		<th width="25%"><%= vars.app_runtime_abbr %> Role</th>
		<th width="30%">Procedure</th>
		<th width="25%">Notes</th>
	</tr>
	<tr>
		<td>Operator</td>
		<td><code>Admin</code></td>
		<td>Access logs with one of the following methods:
			<ul>
				<li><strong>Loggregator Firehose:</strong> No configuration required. The Firehose emits logs as text payload. The developer defines the log format. For more information, see the <a href="https://github.com/cloudfoundry/loggregator-api/blob/master/README.md">loggregator-api</a> repository on GitHub.</li>
				<li><strong>Syslog Drain:</strong> Requires configuration of Syslog Adapter Drain. For more information, see the <a href="https://docs.pivotal.io/platform/application-service/devguide/services/log-management.html#step2">Step 2: Create and Bind a User-Provided Service Instance</a> section of the <em>Streaming App Logs to Log Management Services</em> topic.</li>
				<li><strong>Aggregate Syslog Drain:</strong> A syslog drain that sends all app logs to a single destination. Configure the aggregate syslog drain in the <%= vars.app_runtime_abbr %> tile. For more information, see the <a href="https://docs.pivotal.io/platform/application-service/2-8/operating/configure-pas.html#sys-db">Configure System Logging</a> section of the <em>Configuring PAS</em> topic.</li>
			</ul>
		</td>
		<td><ul><li>The Firehose does not emit logs for service instances. To access service instance logs, use the syslog drain or aggregate syslog drain method.</li><li>
		Syslog drains emit logs as Syslog RFC 5424.</li></ul></td>
	</tr>
	<tr>
		<td>Developer</td>
		<td><code>Space Developer</code></td>
		<td>Access logs with one of the following methods:
			<ul>
				<li><strong>Loggregator Firehose</strong>: The Firehose emits logs as text payload. The developer defines the log format. For more information, see the <a href="https://github.com/cloudfoundry/loggregator-api/blob/master/README.md">loggregator-api</a> repository on GitHub.</li>
				<li><strong>Syslog Drain</strong>: Requires configuration of Syslog Adapter Drain. For more information, see the <a href="https://docs.pivotal.io/platform/application-service/devguide/services/log-management.html#step2">Step 2: Create and Bind a User-Provided Service Instance</a> section of the <em>Streaming App Logs to Log Management Services</em> topic.</li>
			</ul>
		</td>
		<td>
			<ul>
				<li>The Firehose does not emit logs for service instances. To access service instance logs, use the syslog drain method.</li>
				<li>Syslog drains emit logs as Syslog RFC 5424.</li>
			</ul>
		</td>
	</tr>
</table>

### <a id="app-logs-pks"></a> Access App Container Logs on <%= vars.k8s_runtime_abbr %>

The following table describes how to access app container logs on foundations with <%= vars.k8s_runtime_abbr %> based on user role and permissions.

<table class="nice">
	<tr>
		<th width="15%">Title</th>
		<th width="20%">Role</th>
		<th width="30%">Procedure</th>
		<th width="30%">Notes</th>
	</tr>
	<tr>
		<td>Operator</td>
		<td><code>Admin</code></td>
		<td>Configure a <code>ClusterSink</code> in the cluster. For more information, see <a href="https://docs.pivotal.io/pks/create-sinks.html">Creating Sink Resources</a> in the <%= vars.k8s_runtime_abbr %> documentation.</td>
		<td>
			<ul>
				<li>You can send logs from a namespace within a cluster to a log destination by configuring a namespace log <code>Sink</code>. For more information, see <a href="https://docs.pivotal.io/pks/create-sinks.html">Creating Sink Resources</a> in the <%= vars.k8s_runtime_abbr %> documentation.</li>
				<li>You must configure a <code>ClusterSink</code> for each new cluster.</li>
			</ul>	
		</td>
	</tr>
	<tr>
		<td>Cluster Admin</td>
		<td>The operator defines the role-based access policy for accessing app logs.</td>
		<td>Configure a <code>ClusterSink</code> in the cluster. For more information, see <a href="https://docs.pivotal.io/pks/create-sinks.html">Creating Sink Resources</a> in the <%= vars.k8s_runtime_abbr %> documentation.</td>
		<td>
			<ul>
				<li>You can send logs from a namespace within a cluster to a log destination by configuring a namespace log <code>Sink</code>. For more information, see <a href="https://docs.pivotal.io/pks/create-sinks.html">Creating Sink Resources</a> in the <%= vars.k8s_runtime_abbr %> documentation.</li>
				<li>You must configure a <code>ClusterSink</code> for each new cluster.</li>
			</ul>
		</td>
	</tr>
	<tr>
		<td>Developer</td>
		<td>The operator defines the role-based access policy for accessing app logs.</td>
		<td>Configure a <code>Sink</code> in the <%= vars.k8s_runtime_abbr %> tile for a cluster namespace. For more information, see <a href="https://docs.pivotal.io/pks/create-sinks.html">Creating Sink Resources</a> in the <%= vars.k8s_runtime_abbr %> documentation.</td>
		<td>
			<ul>
				<li>You can send logs from a namespace within a cluster to a log destination by configuring a namespace log <code>Sink</code>. For more information, see <a href="https://docs.pivotal.io/pks/create-sinks.html">Creating Sink Resources</a> in the <%= vars.k8s_runtime_abbr %> documentation.</li>
				<li>You must configure a <code>ClusterSink</code> for each new cluster.</li>
				<li>You must provide your own access policy.</li>
				<li>Developers may not have permissions to configure a <code>ClusterSink</code>. Operators must define an access policy that allows developers to create a <code>ClusterSink</code>.</li>
			</ul>
		</td>
	</tr>
</table>


## <a id="app-metrics"></a> Access App Container Metrics 

This section describes how to access app container metrics on <%= vars.platform_name %>. 

See one of the following sections below:

* [Access App Container Metrics on <%= vars.app_runtime_abbr %>](#app-metrics-pas)
* [Access App Container Metrics on <%= vars.k8s_runtime_abbr %>](#app-metrics-pks)

### <a id="app-metrics-pas"></a> Access App Container Metrics on <%= vars.app_runtime_abbr %>

App container metrics on <%= vars.app_runtime_abbr %> include app metrics and service instance metrics. App container metrics on <%= vars.app_runtime_abbr %> do not include task metrics. This is because Diego does not emit task metrics.

The following table describes how to access app container metrics on foundations with <%= vars.app_runtime_abbr %> based on user role and permissions.

<table class="nice">
	<tr>
		<th width="15%">Title</th>
		<th width="20%"><%= vars.app_runtime_abbr %> Role</th>
		<th width="30%">Procedure</th>
		<th width="30%">Notes</th>
	</tr>
	<tr>
		<td>Operator</td>
		<td><code>Admin</code></td>
		<td>Access metrics with one of the following methods:
			<ul>
				<li><strong>Loggregator Firehose</strong>: No configuration required.</li>
				<li><strong>Syslog Drain</strong>: Requires configuration of Syslog Adapter Drain. For more information, see the <a href="https://docs.pivotal.io/platform/application-service/devguide/services/log-management.html#step2">Step 2: Create and Bind a User-Provided Service Instance</a> section of the <em>Streaming App Logs to Log Management Services</em> topic.</li>
			</ul>
		</td>
		<td>
			<ul>
				<li>The Firehose emits metrics as a gauge or counter Loggregator envelope type. For more information, see the <a href="https://github.com/cloudfoundry/loggregator-api/blob/master/README.md">loggregator-api</a> repository on GitHub.</li>
				<li>Syslog drains emit logs as Syslog RFC 5424.</li>
			</ul>	
		</td>
	</tr>
	<tr>
		<td>Developer</td>
		<td><code>Space Developer</code></td>
		<td>Access metrics with one of the following methods:
			<ul>
				<li><strong>Loggregator Firehose</strong>: No configuration required.</li>
				<li><strong>Syslog Drain</strong>: Requires configuration of Syslog Adapter Drain. For more information, see the <a href="https://docs.pivotal.io/platform/application-service/devguide/services/log-management.html#step2">Step 2: Create and Bind a User-Provided Service Instance</a> section of the <em>Streaming App Logs to Log Management Services</em> topic.</li>
			</ul>
		</td>
		<td>
		</td>
	</tr>
</table>

### <a id="app-metrics-pks"></a> Access App Container Metrics on <%= vars.k8s_runtime_abbr %>

The following table describes how to access app container metrics on foundations with <%= vars.k8s_runtime_abbr %> based on user role and permissions.

<table class="nice">
	<tr>
		<th width="15%">Title</th>
		<th width="20%">Role</th>
		<th width="30%">Procedure</th>
		<th width="30%">Notes</th>
	</tr>
	<tr>
		<td>Operator</td>
		<td><code>Admin</code></td>
		<td>Configure a <code>ClusterMetricSink</code> in the cluster. For more information, see <a href="https://docs.pivotal.io/pks/create-sinks.html">Creating Sink Resources</a> in the <%= vars.k8s_runtime_abbr %> documentation.</td>
		<td>
			<ul>
				<li>You must configure a <code>ClusterMetricSink</code> for each new cluster.</li>
				<li>You must provide your own access policy.</li>
			</ul>
		</td>
	</tr>
	<tr>
		<td>Cluster Admin</td>
		<td>The operator defines the role-based access policy for accessing app metrics.</td>
		<td>Configure a <code>ClusterMetricSink</code> in the cluster. For more information, see <a href="https://docs.pivotal.io/pks/create-sinks.html">Creating Sink Resources</a> in the <%= vars.k8s_runtime_abbr %> documentation.</td>
		<td>
			<ul>
				<li>You must configure a <code>ClusterMetricSink</code> for each new cluster.</li>
				<li><code>ClusterMetricSink</code> automatically scrapes an annotated <code>/metrics</code> Prometheus endpoint.</li>
			</ul>
		</td>
	</tr>
	<tr>
		<td>Developer</td>
		<td>The operator defines the role-based access policy for accessing app metrics.</td>
		<td>Configure a <code>MetricSink</code> in the <%= vars.k8s_runtime_abbr %> tile for a cluster namespace. For more information, see <a href="https://docs.pivotal.io/pks/create-sinks.html">Creating Sink Resources</a> in the <%= vars.k8s_runtime_abbr %> documentation.
		</td>
		<td>
			<ul>
				<li>You must configure a <code>ClusterMetricSink</code> for each new cluster.</li>
				<li><code>ClusterMetricSink</code> automatically scrapes an annotated <code>/metrics</code> Prometheus endpoint.</li>
				<li>Developers may not have permissions to configure a <code>ClusterMetricSink</code>. Operators must define an access policy that allows developers to create a <code>ClusterMetricSink</code>.</li>
			</ul>
		</td>
	</tr>
</table>
