---
title: Configuring Ops Manager Director for VMware vSphere
---

Refer to the following procedure for help configuring the Ops Manager Director for VMware vSphere product tile.

1. Log in to Pivotal CF Operations Manager.

1. Click the **Ops Manager Director for VMware vSphere** tile.

    <%= image_tag("vsphere-tile.png") %>

1. Select **vCenter Config** and enter the following information:
    * vCenter IP address
    * vCenter credentials
    * Datacenter name
    * A comma-delimited list of datastore names

    Click **Save**.

    <%= image_tag("vcenter-credentials.png") %>

    <p class="note"><strong>Note</strong>: The vCenter credentials must grant
	create and delete privileges for VMs and folders.</p>

1. Select **Director Config**.
    * Enter a comma-delimited list of time server addresses.
    * If you have installed and configured the Ops Metrics product, enter the
	Metrics IP address.
    * Check or uncheck **Enable VM resurrector plugin**.
    * Click **Save**.

    <%= image_tag("director-config.png") %>

1. <a id='create-az'></a>Select **Create Availability Zones**. Ops Manager
Availability Zones correspond to your vCenter clusters and resource pools.
<br /><br />
	Having multiple Availability Zones allows you to provide high-availability
	and load balancing to your applications.
	When an application runs more than one instance of a job, Ops Manager
	deterministically balances the instances across all of the Availability
	Zones you assign to the application.
<br /><br />
	Use the following steps to create one or more Availability Zones for your
	products to use:
    1. Click **Add**.
    1. Enter a unique name for the Availability Zone.
    1. Enter the name of an existing vCenter cluster to use as an Availability
	Zone.
    1. **(Optional)** Enter the name of a resource pool in the vCenter cluster
	you specify. The jobs running in this Availability Zone share the CPU and
	memory resources defined by the pool.
	1. Click **Save**.

    <%= image_tag("create-az.png") %>

1. Select **Assign Availability Zones**. Use the drop-down menu to select an
Availability Zone. The Ops Manager Director installs in this Availability Zone.

    <%= image_tag("assign-az.png") %>

1. Select **Create Networks**. Ops Manager networks correspond to vSphere
networks. Use the following steps to create one or more Ops Manager network:
	1. Click **Add**.
    1. Enter a unique name for the network.
    1. Enter the vSphere network name as it displays in vCenter.
    1. For **Subnet**, enter a valid CIDR block.
    1. For **Excluded IP Ranges**, enter any IP addresses from the **Subnet**
	that you want to blacklisted from the installation.
	1. Enter DNS and Gateway IP addresses.
	1. Click **Save**.

    <%= image_tag("create-network.png") %>

1. Select **Assign Networks**. Use the drop-down menus to select an
**infrastructure** network and a **deployment** network for Ops Manager. This
provides an IP address for the Ops Manager Director on the selected networks.

    <%= image_tag("assign-network.png") %>

1. Select **Resource Sizes**, accept the defaults or make necessary changes, and
click **Save**.

    <%= image_tag("vsphere-resources.png") %>

1. Click the **Installation Dashboard** link to return to the Installation
Dashboard.

[Return to the Getting Started Guide](../getstarted/index.html)