---
breadcrumb: Pivotal Cloud Foundry&reg; Documentation
title: Installing Pivotal Cloud Foundry&reg; on vSphere and vCloud Air
owner: Ops Manager
---

<strong><%= modified_date %></strong>

This guide describes how to install [Pivotal Cloud Foundry&reg;](https://network.pivotal.io/products/pivotal-cf) (PCF) on vSphere and vCloud Air.
It walks you through deploying the installation virtual machine known as Ops Manager, configuring your vSphere settings, and installing PCF Elastic Runtime.

If you experience a problem while following the steps below, refer to the [Known Issues](../pcf-release-notes/index.html) topics or to the [Pivotal Cloud Foundry&reg; Troubleshooting Guide](./troubleshooting.html).
Once you have completed the steps in this guide, explore the documentation on
[docs.pivotal.io](http://docs.pivotal.io) to learn more about [Pivotal Cloud Foundry&reg;](https://network.pivotal.io/products/pivotal-cf) (PCF)
and the Pivotal product suite.

<p class="note"><b>Note</b>: If you are performing an upgrade from PCF 1.6 to 1.7, see <a href="upgrading-pcf.html">Upgrading Ops Manager</a> for critical upgrade information.</p>

## <a id='system'></a>Step 1: Confirm System Requirements ##

Before you begin your PCF deployment, ensure that your system meets the
minimum requirements.
The requirements include capacity for the virtual machines necessary for the
deployment, a supported version of the cf Command Line Interface (cf CLI) tool, 
and certain user privileges.
Refer to the [Prerequisites to Deploying Operations Manager and Elastic Runtime](./requirements.html) topic for the complete list.

## <a id='deploy'></a>Step 2: Deploy PCF Ops Manager ##

1. Log in to [Pivotal Network](https://network.pivotal.io) and download the Ops
Manager virtual appliance file that matches your infrastructure.

1. Deploy Ops Manager using the procedure that corresponds to the VMware environment that you use:
   * <a href="./deploying-vm.html" class="subnav">Deploying Operations Manager to vSphere</a>
   * <a href="./pcf-vchs-vcloud.html" class="subnav">Deploying Operations Manager to vCloud Air and vCloud</a>

If you deploy Ops Manager to vSphere, review the topic about <a href="./disk-format.html" class="subnav">Provisioning a Virtual Disk in vSphere</a>. 

## <a id='paas'></a>Step 3: Configure and Install PCF ##

**Goal**: Configure and install Ops Manager Director (included), Elastic
Runtime, and MySQL for PCF.
Skip the import steps for Elastic Runtime or MySQL for PCF if you do not
want to import these products.

1. Navigate to the IP address of your Ops Manager in a web browser.

1. The first time you start Ops Manager, you must choose one of the following:
    * <strong>[Use an Identity Provider](#idp)</strong>: If you use an Identity Provider, an external identity server maintains your user database.
    * <strong>[Internal Authentication](#internal)</strong>: If you use Internal Authentication, PCF maintains your user database.


    <%= image_tag("select-authentication.png") %>

### <a id='idp'></a>Use an Identity Provider ###

1. If you choose to proceed to the **Use an Identity Provider** page, you must complete the following steps:
    * Retrieve the metadata URL from your Identity Provider, and copy and paste it into the **Use an Identity Provider** area.
    * Create a passphrase. Ops Manager encrypts data using the passphrase that you provide.
    * Read the **End User License Agreement**, and select the checkbox to accept the terms.
    * Click **Setup Authentication**.

    <%= image_tag("meta-url.png") %>

1.  Enter your username and password when your Identity Provider login page appears. Click **Login**.

### <a id='internal'></a>Internal Authentication ###

1.  When redirected to the **Internal Authentication** page, you must complete the following steps:
    * Enter a **Username**, **Password**, and **Password confirmation** to create an Admin user.
    * Enter a **Decryption passphrase** and the **Decryption passphrase confirmation**. This passphrase encrypts the Ops Manager datastore, and is not recoverable.
    * Read the **End User License Agreement**, and select the checkbox to accept the terms.

    <%= image_tag("om-login.png") %>

## <a id='vcenter-config'></a>Step 4: vCenter Config Page

1. Log in to Ops Manager with the Admin username and password you created in the previous step.

    <%= image_tag("cf-login.png") %>

    <p class="note"><strong>Note</strong>: On your first login attempt, an error
	message that the connection is untrusted appears because you are attempting
	to connect securely to a website with a self-signed certificate. Add Ops
	Manager as an exception to bypass this message on subsequent logins. </p>

### <a id='import-tiles'></a>Import Products ###

1. Download Elastic Runtime and MySQL for PCF at [Pivotal Network](https://network.pivotal.io).
    * Elastic Runtime: Click the **Pivotal Cloud Foundry&reg;** banner to access the PCF product page. Use the drop-down menu to select an Elastic Runtime release.
    * MySQL for PCF: Select the **All Products** tab to view available products. Search for "MySQL for PCF" and select a release.

1. From the Available Products view, click **Import a Product**.

    <%= image_tag("guide/import-prod.png") %>

1. Select the Elastic Runtime .pivotal file that you downloaded from Pivotal
Network and click **Open**.
After the import completes, Elastic Runtime appears in the Available Products
view.

1. Repeat the previous step for MySQL for PCF.

1. In the Available Products view, hover over Elastic Runtime and click **Add**.
Repeat this step for MySQL for PCF.

<%= image_tag("guide/add-products.png") %>

### <a id='configure-vmware'></a>Configure Ops Manager Director ###

Your Ops Manager download includes a tile for the version of Ops Manager
Director that corresponds to your IaaS.
Refer to one of the following topics for help configuring your Ops Manager
Director product tile:

* <a href="./vsphere-config.html" class="subnav">Configuring Ops Manager Director for VMware vSphere</a>
* <a href="./vchs-vcloud-config.html" class="subnav">Configuring Ops Manager Director for vCloud Air and vCloud</a>

If you plan to configure the Ops Manager Resurrector for increased availability of Elastic Runtime on vSphere or vCloud, 
review the topic <a href="./resurrector.html" class="subnav">Using Ops Manager Resurrector on VMware vSphere</a>.  

### <a id='configure-er'></a>Configure Elastic Runtime ###

See <a href="./config-er-vmware.html" class="subnav">Configuring Elastic Runtime for vSphere and vCloud Air</a>.

When configuring Elastic Runtime, you can refer to the <a href="../opguide/ssl-term.html" class="subnav">Configuring SSL Termination for vSphere Deployments</a> 
topic for details about specifying your the IP address for your load balancer.

### <a id='configure-mysql'></a>Configure MySQL ###

1. Click the **MySQL Dev** tile.

1. Configure the MySQL Service Plan, Lifecycle Errands, and resource sizes.
Assign Availability Zones and an Ops Manager network, then click **Save**.

1. Click the **Installation Dashboard** link to return to the Installation
Dashboard.

### <a id='install'></a>Install Products ###

1. Click **Install**.

     <%= image_tag("guide/install.png") %>

1. Your updated PCF installation begins deploying.

     <%= image_tag("guide/deploy-progress.png") %>

1. When the deployment is finished, a success message appears.

     <p class="note"><strong>Note</strong>: On the recommended hardware
	infrastructure, deployment should take less than one hour and require no
	user intervention.</p>

You now have a fully functional installation of PCF and Pivotal MySQL
Service.

## <a id='new-users'></a>Step 5: Create New User Accounts ##

Once you have successfully deployed PCF, add users to your account.
Refer to the [Creating New Elastic Runtime User Accounts](./creating-account.html) topic for more information.

## <a id='target'></a>Step 6: Target Elastic Runtime ##

The next step is to use the cf CLI tool to target your Elastic Runtime
installation.
Make sure that you have [installed the cf CLI tool](../cf-cli/install-go-cli.html).
Refer to the PCF documentation for more information about [using the cf
command line tool](../cf-cli/getting-started.html).

<p class="note"><strong>Note</strong>: In Pivotal Ops Manager, refer to
	<strong>Elastic Runtime > Credentials</strong> for the UAA admin name and
	password. You can also use the user that you created in Apps Manager, or
	create another user with the <code>create-user</code> command.</p>
