---
title: Deploying PAS with NSX-T Networking
owner: Ops Manager
---

This topic describes how to install Pivotal Application Service (PAS) on vSphere with NSX-T internal networking, using the VMware NSX-T Container Plug-in for <%= vars.product_name %>.


## <a id='introduction'></a> Overview

PAS uses a Container Network Interface (CNI) plugin to support secure and direct internal communication between containers. This plugin can be:

* The internal Silk plugin that comes packaged with PAS, or
* On vSphere, NSX-T Container Plug-in (NCP), which installs as the [VMware NSX-T Container Plug-in for <%= vars.product_name %>](https://network.pivotal.io/products/vmware-nsx-t) tile in Pivotal Operations Manager.


## <a id='requirements'></a> Prerequisites

Before deploying PAS with NSX-T networking, you must have the following:

* An NSX-T environment with NSX-T components installed and configured. The NSX-T version must support the versions of NCP and PAS you intend to use. Verify the compatibility between NSX-T, NCP and PAS with the following documentation:
   * [Support Matrix: Pivotal PAS, VMware NSX-T, and VMware NSX-T Container Plug-in for <%= vars.product_name %>](https://pas-nsx-t.cfapps.io/) for supported version combinations.
   * [VMware NSX-T Data Center Documentation](https://docs.vmware.com/en/VMware-NSX-T-Data-Center/). In particular, review the _NSX Container Plug-in (NCP) Release Notes_ and _NSX-T Data Center Installation Guide_ for the versions of NCP and NSX-T that you want to install.

* BOSH and Ops Manager installed and configured on vSphere. For more information, see [Deploying Ops Manager on vSphere](/platform/<%= vars.current_major_version.sub('.', '-') %>/om/vsphere/deploy.html) and [Configuring BOSH Director on vSphere](/platform/<%= vars.current_major_version.sub('.', '-') %>/om/vsphere/config.html).

* The [VMware NSX-T Container Plug-in for <%= vars.product_name %> tile](https://network.pivotal.io/products/vmware-nsx-t) downloaded from Pivotal Network and imported to the Ops Manager **Installation Dashboard**. For information about downloading and importing Pivotal products to the Installation Dashboard, see [Adding and Importing Products](./add-delete.html#add-import).

* The [PAS tile](https://network.pivotal.io/products/elastic-runtime) downloaded from Pivotal Network and imported to the Ops Manager Installation Dashboard. The PAS tile must be in one of the following two states:
  * Not deployed yet; you have not yet clicked **Review Pending Changes**, then **Apply Changes** on this version of PAS.
  * Deployed previously, with the **Networking** pane > **Container network interface plugin** field set to **External**.
  <p class="note"><strong>Note:</strong> Deploying PAS with its container network interface (CNI) set to **Silk** configures Diego Cells to use an internally-managed container network. Subsequently switching the CNI interface to **External** NSX-T leads to errors.</p>


## <a id='architecture'></a> Architecture

The following diagram shows how to deploy an NSX-T machine to run PAS across multiple vSphere hardware clusters. NSX-T runs a Tier-0 (T0) router and multiple Tier-1 (T1) routers, each connecting to a network within <%= vars.product_name %>. Each vSphere hardware column cluster corresponds to an Availability Zone in <%= vars.product_name %>:

![NSX-T &amp; PAS Overview](nsx-t/nsx-t-refarch.png)

When a developer pushes an app to a new org for the first time, the NSX-T plugin triggers NSX-T to create a new T1 router and allocate an address range for the org, on demand.


## <a id='install'></a> Install and Configure PAS and NSX-T

Installing NSX-T to run with PAS requires the following actions:

1. [Configure NSX-T to Integrate with PAS](#nsx-t-setup)

1. [Enable NSX-T Mode in the BOSH Director](#nsx-t-mode)

1. [Configure PAS for External Container Networking](#external-net)

1. [Install and Configure the NSX-T Tile](#nsx-t-tile)

### <a id='nsx-t-setup'></a> Set Up NSX-T to Integrate with PAS

To set up NSX-T to integrate with PAS, complete the procedures in the following sections:

- [Configure Logical Switches](#nsx-t-logical-switches)

- [Configure Routers](#nsx-t-routers)

- [Configure Load Balancer](#nsx-t-load-balancer)

#### <a id='nsx-t-logical-switches'></a> Configure Logical Switches

To configure logical switches:

1.  In vSphere, create logical network switches to correspond to the networks that <%= vars.product_name %> uses.
  1. Log in to the **NSX-T Manager Dashboard**.
  1. Go to **Advanced Networking & Security**.
  1. Go to the **Switching** pane.
  1. For each of these networks...
      - **Infrastructure** (BOSH and Ops Manager, defined in the **Assign AZs and Networks** pane of the BOSH Director tile)
      - **Deployment** (PAS, defined in the **Assign AZs and Networks** pane of the PAS tile)
      - **Services** and **Dynamic Services** (marketplace services and on-demand services, also defined in the PAS tile)
      - **Isolation Segment** (optional, defined in the **Assign AZs and Networks** pane of the Isolation Segment tile)
    ...do the following:
          1. Click **+ADD**.
          1. Enter a name for the logical switch (such as `PAS-Infrastructure`, `PAS-Deployment`).
          1. Click **ADD**.
![NSX-T ](nsx-t/nsx-t-logical-switch.png)

#### <a id='nsx-t-routers'></a> Configure Routers

To configure routers:

1. Create T0 network address translation (NAT) rules to communicate with Ops Manager:
  1. Go to **Advanced Networking & Security**.
  1. Go to the **Routers** pane.
  1. Select your T0 router.
  1. From the **Services** dropdown, choose **NAT**.
  1. Add a rule for destination NAT (DNAT) with:
      - The externally-specified destination IP address of incoming requests. If your Ops Manager has a DNS entry (for example, `opsmgr.example.com`), this is its IP address.
      - The Ops Manager internal network address.
![NSX-T ](nsx-t/nsx-t-dnat-rule.png)
  1. Add the corresponding source NAT (SNAT) rule with:
      - The externally-specified destination IP address.
      - The Ops Manager internal network address.
![NSX-T ](nsx-t/nsx-t-snat-rule.png)
  1. Add a rule for source NAT (SNAT) for the infrastructure and deployment networks:
      - The externally-specified destination IP address.
      - The internal network address in CIDR notation.
![NSX-T ](nsx-t/nsx-t-snat-net-rule.png)

1. Create T1 routers for PAS, to connect from the T0 router. For each <%= vars.product_name %> network, Infrastructure, Deployment, and so on, create a T1 router as follows:
1. In the NSX-T Manager UI, navigate to **Advanced Networking & Security** > **Routing** > **Routers**.
  1. Click **+ADD** > **Tier-1 Router**.
  1. Configure the router. Include the Edge Cluster and Edge Cluster Members; they are required to enable the Load Balancer. The Infrastructure network router configuration might look like the following diagram:
![NSX-T ](nsx-t/nsx-t-t1-router.png)

1. Create T1 router downlink ports for PAS. For each T1 router you created, add a **New Router Port** as follows, to allow traffic in and out:
  1. In the NSX-T Manager UI, select the T1 router.
  1. In **Configuration** > **Router Ports**, click **+ADD** to add a new router port.
  1. For **Logical Switch**, enter the name of the logical switch you defined for the network in **Add New Logical Switch**, above.
  1. For **IP Address**, use the first IP of the appropriate subnet. In this example, 192.168.1.0/24 is set aside for Infrastructure (Ops Manager and BOSH Director), and 192.168.2.0/24 for the Deployment, so 192.168.1.1 and 192.168.2.1 are used respectively.
![NSX-T ](nsx-t/nsx-t-router-port.png)

1. Advertise the routes of the T1 routers to the T0 router, so the T0 router can correctly route incoming requests based on their destination IP address:
  1. Select your T1 Router and navigate to **Routing** > **Route Advertisement**.
  1. Under **Edit Route Advertisement Configuration**, enable route advertisement by setting **Status** to **Enabled**.
  1. Set **Advertise All Connected Routes** to **Yes**.
  1. Set **Advertise All LB VIP Routes** to **Yes** (necessary if Load Balancing service is configured).
![NSX-T ](nsx-t/nsx-t-route-advertise.png)

1. Allocate an IP block for PAS orgs.
  1. From the NSX-T Manager, navigate to **Advanced Networking & Security** > **Networking** > **IPAM** and click **+ADD**.
  1. Enter a name (for example, `PAS-container-ip-block`). This IP block name is also used in the **VMware NSX-T** tile in the **NCP** section under **IP Blocks of Container Networks**.
  1. Enter a description, such as `Subnets are allocated from this pool to each newly-created org`.
  1. Enter a CIDR to allocate an address block large enough to accommodate all PAS apps. A `/14` CIDR is large enough for ~1,000 Orgs with ~250 apps each. If you are planning such a large foundation, see [VMware NSX-T PAS limits](https://configmax.vmware.com/guest?vmwareproduct=VMware%20NSX-T&release=NSX-T%20Data%20Center%202.4.0&categories=31-0) in the VMware documentation.
![NSX-T ](nsx-t/nsx-t-ip-block.png)

1. Create an external SNAT IP pool.
  1. Navigate to **Advanced Networking & Security** > **Inventory** > **Groups** > **IP Pools** and click **+ADD**.
  1. Enter a name (such as `external-ip-pool`) and a description (such as `IP pool that provides 1 public IP for each Cloud Foundry Org`). Later, you will enter this pool name on the **VMware NSX-T** tile in the **NCP** section under **IP Pools used to provide External (NAT) IP Addresses to Org Networks**.
![NSX-T ](nsx-t/nsx-t-external-ip-pool.png)

#### <a id='nsx-t-load-balancer'></a> Configure Load Balancer

To configure a load balancer:

1. Create Active Health Monitors (health checks) for use by the virtual server later on:
  1. In the NSX-T Manager UI, navigate to **Advanced Networking & Security** > **Networking** > **Load Balancing** > **Monitors** > **Active Health Monitors**.
  1. Create the health monitor for web load balancing:
    1. Click **+ADD**.
    1. Enter **Monitor Properties**:
        - **Name**: `pas-web-monitor`
        - **Health Check Protocol**: `LbHttpMonitor`
        - **Monitoring Port**: 8080
    1. Click **Next**.
    1. Enter **Health Check Parameters**:
        - **HTTP Method**: `GET`
        - **HTTP Request URL**: `/health`
        - **HTTP Response Code**: 200
    1. Click **Finish**.
  1. Create the health monitor for TCP load balancing:
    1. Click **+ADD**.
    1. Enter **Monitor Properties**:
        - **Name**: `pas-tcp-monitor`
        - **Health Check Protocol**: `LbHttpMonitor`
        - **Monitoring Port**: 80
    1. Click **Next**.
    1. Enter **Health Check Parameters**:
        - **HTTP Method**: `GET`
        - **HTTP Request URL**: `/health`
        - **HTTP Response Code**: 200
  1. Create the health monitor for SSH load balancing:
    1. Click **+ADD**.
    1. Enter **Monitor Properties**:
        - **Name**: `pas-ssh-monitor`
        - **Health Check Protocol**: `LbTcpMonitor`
        - **Monitoring Port**: 2222
    1. Click **Next**, then click **Finish**.

1. Create server pools (collections of VMs which handle traffic) for use by the virtual server:
  1. In the NSX-T Manager UI, navigate to **Advanced Networking & Security** > **Networking** > **Load Balancing** > **Server Pools**.
  1. Create the server pool for web load balancing:
    1. Click **+ADD** to add a new pool.
    1. Enter **General Properties**:
        - **Name**: `pas-web-pool`
    1. Click **Next**.
    1. Enter **SNAT Translation**:
        - **Translation Mode**: `Auto Map`
    1. Click **Next**.
    1. Enter **Pool Members**:
        - **Membership Type**: `Static`
    1. Click **Next**.
    1. Enter **Health Monitors**:
        - **Active Health Monitor**: `pas-web-monitor`
    1. Click **Finish**.
  1. Create the server pool for TCP load balancing:
    1. Click **+ADD** to add new pool.
    1. Enter **General Properties**:
        - **Name**: `pas-tcp-pool`
    1. Click **Next**.
    1. Enter **SNAT Translation**:
        - **Translation Mode**: `Transparent`
    1. Click **Next**.
    1. Enter **Pool Members**:
        - **Membership Type**: `Static`
    1. Click **Next**.
    1. Enter **Health Monitors**:
        - **Active Health Monitor**: `pas-tcp-monitor`
    1. Click **Finish**.
  1. Create the server pool for SSH load balancing:
    1. Click **+ADD** to add new pool.
    1. Enter **General Properties**:
        - **Name**: `pas-ssh-pool`
    1. Click **Next**.
    1. Enter **SNAT Translation**:
        - **Translation Mode**: `Transparent`
    1. Click **Next**.
    1. Enter **Pool Members**:
        - **Membership Type**: `Static`
    1. Click **Next**.
    1. Enter **Health Monitors**:
        - **Active Health Monitor**: `pas-ssh-monitor`
    1. Click **Finish**.

1. Create virtual servers:
  1. In the NSX-T Manager UI, navigate to **Advanced Networking & Security** > **Networking** > **Load Balancing** > **Virtual Servers**.
  1. Create the virtual server which forwards unencrypted web (HTTP) traffic to the foundation:
<p class="note"><strong>Note:</strong> Foundations requiring end-to-end encryption should not enable the virtual server on port 80, or, if enabled, should configure it to redirect traffic to the encrypted port (443).</p>
    1. Click **+ADD**.
    1. Enter **General Properties**:
        - **Name**: `pas-web-vs`
        - **Application Type**: `Layer 4 (TCP)`
        - **Application Profile**: `nsx-default-lb-fast-tcp-profile`
    1. Click **Next**.
    1. Enter **Virtual Server Identifiers**:
        - **IP Address**: use the address of the DNS record of `*.system.YOUR-SYSTEM-DOMAIN.com`
        - **Port**: `80,443`
    1. Enter **Server Pool and Rules**:
        - **Default Server Pool**: `pas-web-pool`
    1. Click **Next** several times, then click **Finish**.
  1. Create the virtual server which forwards traffic to apps with custom ports to the foundation:
    1. Click **+ADD** to add a new virtual server.
    1. Enter **General Properties**:
        - **Name**: `pas-tcp-vs`
        - **Application Type**: `Layer 4 (TCP)`
        - **Application Profile**: `nsx-default-lb-fast-tcp-profile`
    1. Click **Next**.
    1. Enter **Virtual Server Identifiers**:
        - **IP Address**: use the address of the DNS record of `tcp.apps.YOUR-SYSTEM-DOMAIN.com`
        - **Port**: use the same ports as configured in the **PAS Tile** > **Networking** > **TCP Routing Ports**,
          e.g. `1024-1123,5900`
    1. Click **Next**.
    1. Enter **Server Pool and Rules**:
        - **Default Server Pool**: `pas-tcp-pool`
    1. Click **Next**, then click **Finish**.
  1. Create the virtual server which forwards SSH traffic to the foundation:
    1. Click **+ADD** to add a new virtual server.
    1. Enter **General Properties**:
        - **Name**: `pas-ssh-vs`
        - **Application Type**: `Layer 4 (TCP)`
        - **Application Profile**: `nsx-default-lb-fast-tcp-profile`
    1. Click **Next**.
    1. Enter **Virtual Server Identifiers**:
        - **IP Address**: use the address of the DNS record of `ssh.system.YOUR-SYSTEM-DOMAIN.com`
        - **Port**: `2222`
    1. Click **Next**.
    1. Enter **Server Pool and Rules**:
        - **Default Server Pool**: `pas-ssh-pool`
    1. Click **Next**, then click **Finish**.

1. Create the load balancer:
  1. In the NSX-T Manager UI, navigate to **Advanced Networking & Security** > **Networking** > **Load Balancing** > **Load Balancers**.
    1. Click **+ADD**.
    1. Enter the fields:
        - **Name**: `pas-lb`
        - **Load Balancer Size**: Choose `Small` unless you have a larger Foundation
    1. Click **OK**.
  1. Select `pas-lb`.
  1. Click **Actions** > **Attach to a Virtual Server**, and then select `pas-web-vs`. Repeat this procedure for the Virtual Servers `pas-tcp-vs` and `pas-ssh-vs`.
  1. Click **Action** > **Attach to a Logical Router**, and then select `T1-Router-PAS-Deployment`.

### <a id='nsx-t-mode'></a> Enable NSX-T Mode in the BOSH Director

To enable NSX-T mode in the BOSH Director:

1. From the Ops Manager **Installation Dashboard**, open the **BOSH Director** tile.

1. In the **vCenter Configs** pane, click the pencil icon for the vCenter Config you want to edit. Then select **NSX Networking**.
![Configure NSX-T mode in BOSH tile](NSXdirectorconfig.png)

1. Configure NSX networking by entering the following:
    * **NSX Mode**: Select **NSX-T**.
    * **NSX Address**: Enter the address of the NSX-T Manager.
    * **NSX Username**: Enter the username to connect to the NSX-T Manager.
    * **NSX Password**: The password for the username specified above.
    * **NSX CA Cert**: A CA certificate in PEM format that authenticates to the NSX-T server.
    If the NSX-T Manager generated a self-signed certificate, you can retrieve the CA certificate using OpenSSL with the command `openssl s_client -host NSX-ADDRESS -port 443 -prexit -showcerts`.

### <a id='external-net'></a> Configure PAS for External Container Networking

To configure PAS for external container networking:

1. If you have not already done so, download the PAS tile from [Pivotal Network](https://network.pivotal.io/products/elastic-runtime) and import it to the **Installation Dashboard**. For instructions, see [Adding and Importing Products](./add-delete.html#add-import).
![Ops Manager Installation Dashboard with NSX-T tile](nsx-t/nsx-t-install-dash.png)

1. Configure PAS, following the directions in [Configuring PAS](./configure-pas.html). When you configure **Networking**, select **External** under **Container networking interface plugin**.<br>
![NSX-T ](nsx-t/nsx-t-pas-cni.png)

1. Update the server pool membership for the NSX-T load balancers:

    1. Open the **BOSH Director for vSphere** tile > **Resource Config** pane.
    1. Click the arrow next to each job to reveal the **NSX-T CONFIGURATION** column. See [Step 10: Resource Config Pane](/platform/<%= vars.current_major_version.sub('.', '-') %>/om/vsphere/config.html#resource-config) in _Configuring BOSH Director on vSphere_.
    1. Under **Logical Load Balancer**, enter a JSON-formatted structure to defining a list of `server_pools`  a VM extension for each of the three server pools: `pas-web-pool`, `pas-tcp-pool`, and `pas-ssh-pool`.

### <a id='nsx-t-tile'></a> Install and Configure the NSX-T Container Plug-In

To install and configure the tile:

1. If you have not already done so, download the VMware NSX-T Container Plug-in for <%= vars.product_name %> tile from [Pivotal Network](https://network.pivotal.io/products/vmware-nsx-t) and import it to the **Installation Dashboard**. For instructions, see [Adding and Importing Products](./add-delete.html#add-import).
![Ops Manager Installation Dashboard with NSX-T tile](nsx-t/nsx-t-install-dash.png)

1. Click the **VMware NSX-T** tile to open its **Settings** tab, and configure the **NSX Manager** pane as follows:
  - **NSX Manager Address**: The NSX-T Manager host address or IP address.
  - **Use Client Certificates or Username/Password**: Select **Basic Authentication with Username and Password** and enter **NSX Manager Admin Username** and **Admin Password** credentials in the fields underneath.
  - **NSX Manager CA Cert**: Obtain this certificate from NSX-T Manager as follows:
      1. `ssh` into NSX-T Manager using the admin account that you created when you deployed NSX-T Manager.
      1. From the NSX-T Manager command line, run `get certificate api` to retrieve the certificate.
![NSX-T tile config: NSX-T Manager](nsx-t/nsx-t-tile-config-mgr.png)

1. Open and configure the **NCP** (NSX-T Container Plugin) pane as follows:
  - **PAS Foundation Name**: If unsure, use `PAS`. If multiple foundations co-exist on the same NSX-T Manager, choose a unique string, such as `PAS-beta`. NCP creates artifacts, such as T1 routers and prefixes their names with this string for easy identification.
  - **Overlay Transport Zone**: A uniquely identifying string for the **Transport Zone** that you chose when you [created logical switches](#nsx-t-setup) for each network. This can be the name of the transport zone if no other zones in NSX-T share the same name, or else the UUID for the transport zone.
  - **Tier-0 Router**: A uniquely identifying string for the T0 router. This can be the tag string that you gave the router in NSX-T Manager if no other T0 routers in NSX-T share the same name, or else the UUID for the router.
  - **Subnet Prefix of Container Networks**: Subnet mask to set the address range size for apps in a single org. Defaults to `24`. This number must be higher than the mask for all PAS orgs in the NSX-T Manager **New IP Block** pane, to define each org's fraction of the total PAS address space.
  - **Enable SNAT for Container Network**: Enable this checkbox.
![NSX-T tile config: NCP](nsx-t/nsx-t-tile-config-ncp.png)

1. In the **NSX Node Agent** pane, enable the **Enable Debug Level of Logging for NSX Node Agent** checkbox.
![NSX-T tile config: NSX-T Node Agent](nsx-t/nsx-t-tile-config-agent.png)

1. Click **Save** and return to the **Installation Dashboard**.

1. After you have configured both the **PAS** tile and the **VMware NSX-T** tile, click **Review Pending Changes**, then **Apply Changes** to deploy PAS with NSX-T networking.


## <a id='upgrade'></a> Upgrade PAS with NSX-T Networking

After you have deployed PAS with NSX-T, you may need to upgrade either Ops Manager, PAS, the NSX-T Container Plug-in or NSX-T Data Center. If you upgrade one of these components, you may need to upgrade the other components as well.

For example, if you want to upgrade NSX-T Data Center, you may need to upgrade the NSX-T Container Plug-in first.

To upgrade PAS with NSX-T Networking:

1. Plan the upgrade by determining the compatibility of NCP, NSX-T and PAS by checking the following documentation:
   * See [Support Matrix: Pivotal PAS, VMware NSX-T, and VMware NSX-T Container Plug-in for <%= vars.product_name %>](https://pas-nsx-t.cfapps.io/) for supported version combinations.
   * See [VMware NSX-T Data Center Documentation](https://docs.vmware.com/en/VMware-NSX-T-Data-Center/). In particular, review the _NSX Container Plug-in (NCP) Release Notes_ and _NSX-T Data Center Installation Guide_ for the versions of NCP and NSX-T that you want to install.

1. Download the desired version of VMware NSX-T Container Plug-in for <%= vars.product_name %> tile from [Pivotal Network](https://network.pivotal.io/products/vmware-nsx-t).

1. In Ops Manager, import the new version of the tile to the **Installation Dashboard**. For instructions, see [Adding and Importing Products](./add-delete.html#add-import).

1. Click **Review Pending Changes** and review your changes.

1. Click **Apply Changes**.

1. Continue with the upgrade of Ops Manager, PAS, or NSX-T Data Center. For more information, see [Upgrade NCP in a <%= vars.product_name %> Environment](https://docs.vmware.com/en/VMware-NSX-T-Data-Center/2.4/com.vmware.nsxt.ncp_kubernetes.doc/GUID-4E269C79-1EF7-48E7-AFA4-D79B9F9C9202.html?hWord=N4IghgNiBcIK4AcDmAnMATApgAgHYGMEQBfIA) in the VMware NSX-T Data Center documentation.


## <a id='automation'></a> Automation

For more information about automation, see the following resources:

* [Concourse Pipelines: Configure NSX-T for PAS](https://github.com/pivotalservices/concourse-pipeline-samples/tree/master/pipelines/pcf/vsphere/nsxt): This sample Concourse pipeline provides jobs setup switches, routers, an IP block, and an IP pool to be used by PAS.

* [PyNSXT](https://github.com/pivotalservices/pynsxt): This is a Python library that can be used as a CLI to run commands against a VMware NSX-T installation. It exposes operations for working with logical switches, logical routers, and pools. It uses NSX-T v2.1 for the swagger client.
