---
title: Configuring Ops Manager Director for VMware vSphere
---

<strong><%= modified_date %></strong>

This topic describes how to configure the Ops Manager Director for VMware vSphere. Before beginning this procedure, ensure that you have successfully completed all steps in the [Installing Pivotal Cloud Foundry on vSphere and vCloud Air] (http://docs.pivotal.io/pivotalcf/customizing/vsphere.html) and [Deploying Operations Manager to vSphere] (http://docs.pivotal.io/pivotalcf/customizing/deploying-vm.html) topics. After you complete this procedure, follow the instructions in the [Configuring Elastic Runtime for vSphere and vCloud](http://docs.pivotal.io/pivotalcf/customizing/config-er-vmware.html) topic.

## <a id='access-ops-man'></a>Step 1: Access Ops Manager

1. Log in to [Pivotal Cloud Foundry](https://network.pivotal.io/products/pivotal-cf) Operations Manager.

    <%= image_tag("om-login.png") %>

1. Enter a **Username** and **Admin password**.

1. Enter a **Decryption passphrase**. This passphrase encrypts the Ops Manager's datastore. You must create a passphrase upon each reboot of the Ops Manager VM. Be sure to record this passphrase, because it cannot be recovered.

1. Read the **End User License Agreement**, and select the checkbox to accept.

1. Click **Create Admin User** to create an Ops Manager administrator account.

1. Click the **Ops Manager Director for VMware vSphere** tile.

    <%= image_tag("vsphere-tile.png") %>

## <a id='vcenter-config'></a>Step 2: vCenter Config Page

Select **vCenter Config** and enter the following information:

- **vCenter IP address**
- **vCenter Username**
- **vCenter Password**
- **Datacenter Name**
- **Datastore Names (comma delimited)**
- Click **Save**.

<p class="note"><strong>Note</strong>: The vCenter credentials must grant
    create and delete privileges for VMs and folders.</p>

<p class="note"><strong>Note</strong>: After your initial deployment, you will not be able to edit the VM Folder, Template Folder, and Disk path Folder names.</p>

<%= image_tag("vcenter-credentials.png") %>

## <a id='dir-config'></a>Step 3: Director Config Page

1. Select **Director Config**.
    1. Enter a comma-delimited list of NTP server addresses.
    1. If you have installed and configured the Ops Metrics product, enter the
    Metrics IP address.
    1. Click **Enable VM Resurrector Plugin** to enable the Ops Manager
    Resurrector functionality and increase Elastic Runtime availability.
    For more information, see the introduction and Limitation sections of the
    [Using Ops Manager Resurrector on VMware vSphere](./resurrector.html) topic.
    1. Pivotal recommends that you select **Internal** for your **Blobstore
    Location**.
    However, if you choose **S3 Compatible Blobstore** for your blobstore
    location, complete the **S3 Endpoint**, **Bucket Name**, **Access Key**, and
    **Secret Key** with information from your blobstore provider.
    1. Select a **Database Location**.
    By default, Pivotal Cloud Foundry&reg; deploys and manages a database for
    you.
    If you choose to use an **External MySQL Database**, complete the associated
    fields with information obtained from your external MySQL Database provider.
    1. **Max Threads** sets the maximum number of threads that the Ops Manager
    Director can run simultaneously.
    For vSphere, the default value is 32.
    Leave the Max Threads field blank to use this default value.
    Pivotal recommends that you use the default value unless doing so results in
    rate limiting or errors on your IaaS.
    1. Click **Save**.

<p class="note"><strong>Note</strong>: After your initial deployment, you will not be able to edit the Blobstore and Database locations.</p>
<%= image_tag("director-config.png") %>

## <a id='az'></a>Step 4: Availability Zone Pages

1. <a id='create-az'></a>Select **Create Availability Zones**.
    Ops Manager Availability Zones correspond to your vCenter clusters and
    resource pools.
    <br /><br />
    Having multiple Availability Zones allows you to provide high-availability
    and load balancing to your applications.
    When an application runs more than one instance of a job, Ops Manager
    deterministically balances the instances across all of the Availability
    Zones that you assign to the application.
    <br /><br />
    Use the following steps to create one or more Availability Zones for your
    products to use:
    1. Click **Add**.
    1. Enter a unique name for the Availability Zone.
    1. Enter the name of an existing vCenter cluster to use as an Availability
    Zone.
    1. **(Optional)** Enter the name of a resource pool in the vCenter cluster
    that you specify.
    The jobs running in this Availability Zone share the CPU and memory
    resources defined by the pool.
    1. Click **Save**.

    <%= image_tag("create-az.png") %>

1. Select **Assign Availability Zones**.
    Use the drop-down menu to select an Availability Zone.
    The Ops Manager Director installs in this Availability Zone.

    <%= image_tag("assign-az.png") %>

## <a id='networks'></a>Step 5: Network Pages

1. <a id='create-networks'></a>Select **Create Networks**.
    Having multiple networks allows you to place vCenter on a private network
    and the rest of your deployment on a public network.
    Isolating vCenter in this manner denies access to it from outside sources
    and reduces possible security vulnerabilities.
    <br /><br />
    Use the following steps to create one or more Ops Manager networks:
    1. Click **Add**.
    1. Enter a unique name for the network.
    1. Enter the full path and **vSphere Network Name** as it displays in vCenter. For example, enter `<DIRECTORY-NAME>/<NETWORK-NAME>`.
    1. For **Subnet**, enter a valid CIDR block.
    1. For **Excluded IP Ranges**, enter any IP addresses from the **Subnet**
    that you want to blacklist from the installation.
    1. Enter **DNS** and **Gateway** IP addresses.
    1. Click **Save**.

    <p class='note'><strong>Note</strong>: If you are using the Cisco Nexus
      1000v Switch, refer to the <a href="nexus-switch.html">Using the Cisco
      Nexus 1000v Switch with Ops Manager</a> topic for more information.
    </p>

    <%= image_tag("create-network.png") %>

1. Select **Assign Networks**.
    You can configure the Ops Manager Director to have an IP address on two
    networks to give the Director access to both networks.
    Use the drop-down menu to select an **Infrastructure** network and a
    **Deployment** network for Ops Manager.
    <br /><br />
    When using multiple networks to isolate vCenter, install vCenter on the
    **Infrastructure** network and the rest of your deployment on the
    **Deployment** network.
    This gives the Director access to both vCenter and the rest of your
    deployment.

    <%= image_tag("assign-network.png") %>

## <a id='security-config'></a>Step 6: Security Page

1. Select **Security**.

1. Choose **Generate passwords** or **Use default BOSH password**. Pivotal recommends that you use the **Generate passwords** option for greater security.

1. Click **Save**. To view your saved Director password, click the Credentials tab.

<%= image_tag("security-config.png") %>

## <a id='resource-config'></a>Step 7: Resource Config Page

1. Select **Resource Config**.
1. Adjust any values as necessary for your deployment, such as increasing the persistent disk size. Select **Automatic** from the drop-down menu to provision the amount of persistent disk predefined by the job. If the persistent disk field reads **None**, the job does not require persistent disk space.
1. Click **Save**.

<%= image_tag("resource-config.png") %>

## <a id='exper-features'></a>Step 8: (Optional) Experimental Features Page

These are features that you should be cautious about enabling if you have other Pivotal Cloud Foundry service tiles installed in your Pivotal Cloud Foundry deployment. Not all of the services are guaranteed to work as expected with these features enabled.

1. Select the **Experimental Features** tab.

1. Enter a trusted certificate and click **Save**.

These certificates enable BOSH-deployed VMs to trust a custom root certificate, but adding certificates in this way does not yet insert them into application containers or into your UAA's JVM store, which would be necessary to enable UAA-to-SASL trust. 

<p class='note'><strong>Note:</strong> When the Trusted Certificates functionality is developed to add certificates into containers and the UAA, this feature will be moved out of the Experimental Features section. </p>

<%= image_tag("exper-features.png") %>

## <a id='complete-installation'></a>Step 9: Complete the Ops Manager Director Installation

Click the **Installation Dashboard** link to return to the Installation Dashboard. Select Apply Changes. Follow the next steps in [Configuring Elastic Runtime for vSphere and vCloud] (http://docs.pivotal.io/pivotalcf/customizing/config-er-vmware.html).

[Return to the Getting Started Guide](../getstarted/index.html)