---
title: Configuring Ops Manager Director for VMware vSphere
owner: Ops Manager
---

<strong><%= modified_date %></strong>

This topic describes how to configure the Ops Manager Director for VMware vSphere. 

Before you begin this procedure, ensure that you have successfully completed all steps in the [Installing Pivotal Cloud Foundry&reg; on vSphere and vCloud Air] (http://docs.pivotal.io/pivotalcf/customizing/vsphere.html) and [Deploying Operations Manager to vSphere] (http://docs.pivotal.io/pivotalcf/customizing/deploying-vm.html) topics. After you complete this procedure, follow the instructions in the [Configuring Elastic Runtime for vSphere and vCloud](http://docs.pivotal.io/pivotalcf/customizing/config-er-vmware.html) topic.

## <a id='vcenter-config'></a>Step 1: vCenter Config Page

1. Log in to Ops Manager and click the **Ops Manager Director** tile.

    <%= image_tag("vsphere-tile.png") %>

1. Select **vCenter Config**.

    <%= image_tag("vcenter-credentials.png") %>

1. Enter the following information and click **Save**:
    * **vCenter Host**: The hostname of the vCenter that manages ESXi/vSphere.
    * **vCenter Username**: A vCenter username with create and delete privileges for VMs and folders.
    * **vCenter Password**: The password for the vCenter used specified above.
    * **Datacenter Name**: The name of the datacenter as it appears in vCenter.
    * **Virtual Disk Type**: The Virtual Disk Type to provision for all VMs.
    * **Ephemeral Datastore Names (comma delimited)**: The names of the datastores that will store ephemeral VM disks deployed by Ops Manager.
    * **Persistent Datastore Names (comma delimited)**: The names of the datastores that will store persistent VM disks deployed by Ops Manager.
    * **VM Folder**: The vSphere datacenter folder (default: `pcf_vms`) where VMs will be placed.
    * **Template Folder**: The vSphere datacenter folder (default: `pcf_templates`) where templates will be placed.
    * **Disk path Folder**: The vSphere datastore folder (default: `pcf_disk`) where attached disk images will be created. This folder must not be nested.

<p class="note"><strong>Note</strong>: After your initial deployment, you will not be able to edit the VM Folder, Template Folder, and Disk path Folder names.</p>

## <a id='dir-config'></a>Step 2: Director Config Page

1. Select **Director Config**.

<%= image_tag("director-config.png") %>

1. Enter the following information and click **Save**:
    * **NTP Servers (comma delimited)**: Enter a comma-delimited list of NTP server addresses.
    * **Metrics IP Address**: If you have installed and configured the Ops Metrics product, enter the Metrics IP address.
    * **Enable VM Resurrector Plugin**: Select this checkbox to enable Resurrector functionality and increase Elastic Runtime availability. For more information, see the introduction and Limitation sections of the [Using Ops Manager Resurrector on VMware vSphere](./resurrector.html) topic.
    * **Recreate all VMs**: Select this checkbox to force BOSH to recreate all VMs on the next deploy. Any persistent disk data will be preserved.
    * **HM Pager Duty Plugin**: Select this checkbox to enable Health Monitor integration with PagerDuty.
        * **Service Key**: Enter your API service key from PagerDuty.
        * **HTTP Proxy**: Enter an HTTP proxy for use with PagerDuty.
    * **HM Email Plugin**: Select this checkbox to enable Health Monitor integration with email.
        * **Host**: Enter your email hostname.
        * **Port**: Enter your email port number.
        * **Domain**: Enter your domain.
        * **From**: Enter the address that will appear as the sender.
        * **Recipients**: Enter comma separated addresses of intended recipients.
        * **Username**: Provide your username for your email server.
        * **Password**: Provide your password for the username above.
        * **Enable TLS**: Select this checkbox to enable Transport Layer Security.
    * **Blobstore Location**: Pivotal recommends that you select **Internal** for your **Blobstore Location**. However, if you choose **S3 Compatible Blobstore** for your blobstore location, complete the **S3 Endpoint**, **Bucket Name**, **Access Key**, **Secret Key**, **V2 Signature/V4 Signature**, and **Region** with information from your blobstore provider.
    1. **Database Location**: By default, Pivotal Cloud Foundry&reg; deploys and manages a database for you. If you choose to use an **External MySQL Database**, complete the associated fields with information obtained from your external MySQL Database provider: **Host**, **Port**, **Username**, **Password**, and **Database**.
    1. **Max Threads**: This sets the maximum number of threads that the Ops Manager Director can run simultaneously. For vSphere, the default value is <code>32</code>. Leave the field blank to use this default value. Pivotal recommends that you use the default value unless it results in rate limiting or errors on your IaaS.

<p class="note"><strong>Note</strong>: After your initial deployment, you will not be able to edit the Blobstore and Database locations.</p>

## <a id='create-az'></a>Step 3: Create Availability Zone Page
Ops Manager Availability Zones correspond to your vCenter clusters and resource pools. Multiple Availability Zones allow you to provide high-availability and load balancing to your applications. When you run more than one instance of an application, Ops Manager balances those instances across all of the Availability Zones assigned to the application.

1. Select **Create Availability Zones**.
<%= image_tag("create-az.png") %>
1. Use the following steps to create one or more Availability Zones for your applications to use:
    * Click **Add**.
    * Enter a unique **Name** for the Availability Zone.
    * Enter the name of an existing vCenter **Cluster** to use as an Availability Zone.
    * **(Optional)** Enter the name of a **Resource Pool** in the vCenter cluster that you specified above. The jobs running in this Availability Zone share the CPU and memory resources defined by the pool.
    1. Click **Save**.

## <a id='create-networks'></a>Step 4: Create Networks Page

1. Select **Create Networks**.
<%= image_tag("create-network.png") %>
1. Select **Enable ICMP checks** to enable ICMP on your networks.
1. Use the following steps to create one or more Ops Manager networks:
    * Click **Add**.
    * Enter a unique **Name** for the network.
    * Enter the full path and **vSphere Network Name** as it displays in vCenter. For example, enter `<DIRECTORY-NAME>/<NETWORK-NAME>`.
    * For **CIDR**, enter a valid CIDR block in which to deploy VMs. For example, enter `10.9.9.0/24`.
    * For **Reserved IP Ranges**, enter any IP addresses from the **CIDR**
    that you want to blacklist from the installation. Ops Manager will not deploy VMs to any IP in this range.
    * Enter **DNS** and **Gateway** IP addresses.
    * Select which **Availability Zones** to use with the network.
    * Click **Save**.

    <p class="note"><strong>Note</strong>: Multiple networks allow you to place vCenter on a private network and the rest of your deployment on a public network. Isolating vCenter in this manner denies access to it from outside sources and reduces possible security vulnerabilities.
    </p>
    <p class='note'><strong>Note</strong>: If you are using the Cisco Nexus
      1000v Switch, refer to the <a href="nexus-switch.html">Using the Cisco
      Nexus 1000v Switch with Ops Manager</a> topic for more information.
    </p>

## <a id='create-networks'></a>Step 5: Assign AZs and Networks Page

1. Select **Assign AZs and Networks**.
<%= image_tag("assign-az.png") %>
1. Use the drop-down menu to select a **Singleton Availability Zone**. The Ops Manager Director installs in this Availability Zone.
1. Use the drop-down menu to select a **Network** for your Ops Manager Director.

## <a id='security-config'></a>Step 6: Security Page

1. Select **Security**.

<%= image_tag("security-config.png") %>

1. Choose **Generate passwords** or **Use default BOSH password**. Pivotal recommends that you use the **Generate passwords** option for greater security.

1. Click **Save**. To view your saved Director password, click the **Credentials** tab.


## <a id='resource-config'></a>Step 7: Resource Config Page

1. Select **Resource Config**.

<%= image_tag("vsphere-om-resources.png") %>

1. Adjust any values as necessary for your deployment. Under the **Instances**, **Persistent Disk Type**, and **VM Type** fields,
choose **Automatic** from the drop-down menu to allocate the recommended resources for the job. If the **Persistent Disk Type** field reads **None**, the job does not require persistent disk space.

    <p class="note"><strong>Note</strong>: If you set a field to <strong>Automatic</strong> and the recommended resource allocation changes in a future version, Ops Manager automatically uses the new recommended allocation.</p> 

1. Click **Save**.

## <a id='exper-features'></a>Step 8: (Optional) Experimental Features Page

Pivotal recommends caution with these features if you have other Pivotal Cloud Foundry service tiles installed in your PCF deployment. Not all of the services are guaranteed to work as expected with these features enabled.

1. Select the **Experimental Features** tab.
<%= image_tag("exper-features.png") %>
1. Enter a trusted certificate and click **Save**.

These certificates enable BOSH-deployed VMs to trust a custom root certificate. However, adding a custom root certificate does not insert it into application containers or into your UAA truststore.

## <a id='complete-installation'></a>Step 9: Complete the Ops Manager Director Installation

1. Click the **Installation Dashboard** link to return to the Installation Dashboard. 
1. Click **Apply Changes** on the right navigation. 
1. Follow the next steps in [Configuring Elastic Runtime for vSphere and vCloud] (config-er-vmware.html).