---
title: Installing Ops Manager on vSphere
owner: Ops Manager
iaas: vSphere
---

<% current_page.data.title = "Installing " + vars.platform_name + " on vSphere"  %>

This guide describes how to install [<%= vars.platform_name %>](https://network.pivotal.io/products/pivotal-cf) on vSphere.

If you experience a problem while following the steps below, refer to the [Known Issues](https://docs.pivotal.io/platform/release-notes/index.html) topics or to [Diagnosing Deployment Problems](./diagnostics.html).

## <a id='prerequisites'></a> Requirements

This section describes the resource requirements for installing <%= vars.platform_name %>.

<p class='note'><strong>Note:</strong> If you are using the Cisco Nexus 1000v Switch, refer to the <a href="nexus-switch.html">Using the Cisco Nexus 1000v Switch with <%= vars.ops_manager %></a> topic for more information.</p>

<p class='note'><strong>Note:</strong> When installing <%= vars.ops_manager %> on a vSphere environment with multiple ESXi hosts, you must use network-attached or shared storage devices. Local storage devices do not support sharing across multiple ESXi hosts.</p>

### <a id='runtimes'></a> Resource Requirements

You can install <%= vars.platform_name %> with one of two runtimes. For more information about the requirements for each runtime, see the following:

* **<%= vars.app_runtime_full %> (<%= vars.app_runtime_abbr %>):** [<%= vars.app_runtime_abbr %> on vSphere Requirements](./pas-vsphere-requirements.html). For information requirements when deploying with NSX-T, see the _Requirements_ section of [Deploying <%= vars.app_runtime_abbr %> with NSX-T Networking](./vsphere-nsx-t.html).
* **<%= vars.k8s_runtime_full %> (<%= vars.k8s_runtime_abbr %>):**
    * **Without NSX-T:** [vSphere Prerequisites and Resource Requirements](https://docs.pivotal.io/tkgi/vsphere-requirements.html)
    * **With NSX-T:** See the _Preparing to Install <%= vars.k8s_runtime_abbr %> on vSphere with NSX-T_ section of [Installing <%= vars.k8s_runtime_abbr %> on vSphere with NSX-T Data Center](https://docs.pivotal.io/tkgi/vsphere-nsxt-index.html).

### <a id='permissions'></a> vSphere Service Account Requirements

<%= vars.ops_manager %> requires read/write permissions to the data center level of the [vSphere Inventory Hierarchy](https://docs.vmware.com/en/VMware-vSphere/6.5/com.vmware.vsphere.security.doc/GUID-03B36057-B38C-479C-BD78-341CD83A0584.html) to successfully install. <%= vars.company_name %> recommends defining a custom role for the service account that has all privileges for all objects in the data center, including propagating privileges to children.

Since <%= vars.ops_manager %> passes all required credentials through to BOSH, you only need one service account with the required vSphere privileges to complete the installation. Setting up separate service accounts for <%= vars.ops_manager %> and BOSH is not necessary or recommended.

For more information about service account requirements, see the following topics:

* **<%= vars.app_runtime_abbr %>:** [vSphere Service Account Requirements](/ops-manager/<%= vars.current_major_version.sub('.', '-') %>/vsphere/vsphere-service-account.html)
* **<%= vars.k8s_runtime_abbr %>:** _Create the BOSH/<%= vars.ops_manager %> Service Account_ section of [Preparing vSphere Before Deploying <%= vars.k8s_runtime_abbr %>](https://docs.pivotal.io/tkgi/vsphere-prepare-env.html#create-bosh-ops-man)

<p class="note"><strong>Note:</strong> You can also apply the default <a href="http://pubs.vmware.com/vsphere-51/topic/com.vmware.wssdk.pg.doc/PG_Appx_Privileges_Reference.22.4.html">VMware Administrator System Role</a> to the service account to achieve the appropriate permission level.</p>

### <a id="security"></a> vSphere Security Documents

* [vSphere Security guide (PDF)](http://pubs.vmware.com/vsphere-65/topic/com.vmware.ICbase/PDF/vsphere-esxi-vcenter-server-65-security-guide.pdf)<br />
This guide contains best practices for securing and managing a vSphere installation.

## <a id='procedure'></a> Procedure

This section describes the steps for installing <%= vars.platform_name %>.

### <a id='install-om'></a> Step 1: Install <%= vars.ops_manager %>

Complete the following procedures to install <%= vars.ops_manager %> on vSphere:

1. [Deploying <%= vars.ops_manager %> to vSphere](/ops-manager/<%= vars.current_major_version.sub('.', '-') %>/vsphere/deploy.html)

1. [Configuring BOSH Director on vSphere](/ops-manager/<%= vars.current_major_version.sub('.', '-') %>/vsphere/config.html)

### <a id='install-er'></a> Step 2: Install a Runtime

Follow the procedure that corresponds to your desired runtime and networking configuration:

* **<%= vars.app_runtime_abbr %>:**
    * **Without NSX-T:** [Configuring <%= vars.app_runtime_abbr %>](./configure-pas.html)
    * **With NSX-T:** [Deploying <%= vars.app_runtime_abbr %> with NSX-T Networking](./vsphere-nsx-t.html)
        <p class="note"><strong>Note</strong>: You must install the NSX-T tile before you install or Upgrade the <%= vars.app_runtime_abbr %> tile.</p>
* **<%= vars.k8s_runtime_abbr %>:**
    * **Without NSX-T:** [Installing <%= vars.k8s_runtime_abbr %>](https://docs.pivotal.io/tkgi/vsphere-index.html)
    * **With NSX-T:** [Deploying NSX-T for <%= vars.k8s_runtime_abbr %>](https://docs.pivotal.io/tkgi/nsxt-deploy.html)

## <a id='additional'></a> Additional Configuration

See the following topics for additional configuration options:

* [Provisioning a Virtual Disk in vSphere](./disk-format.html)
* [Using the BOSH Resurrector](./resurrector.html)
* [Availability Zones in vSphere](./understand-az.html)
