<!doctype html>
<html>
  <head>
    <meta charset="utf-8">

    <!-- Always force latest IE rendering engine or request Chrome Frame -->
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">

    <!-- Use title if it's in the page YAML frontmatter -->
    <title><%= data.page.title%> | Pivotal CF Docs</title>

    <%= stylesheet_link_tag "master" %>
    <%= stylesheet_link_tag "styles" %>
    <%= stylesheet_link_tag "documentation" %>

    <%= javascript_include_tag  "all" %>
    <link href='/images/favicon.ico' rel='shortcut icon'>

  </head>

  <body class="<%= page_classes %>">
    <div class='header-wrap'>
      <div class='container por'>
        <div class='logo-wrap'>
          <a href="/" class="pngfix logo"></a>
        </div>
        <div class='logo-pivotal'>
          Pivotal CF
        </div>
      </div>
      <div class="header-shadow">
      </div>
    </div>
    <div class="main-wrap">
      <div class="container">
        <div id="sub-nav" class="nav-container">
          <ul class="menu">
            <li class="first expanded js-maintopic"><a href="/index.html">Home</a></li>
			<li class="first expanded js-topic"><a href="/getting_started.html">Operator's Guide</a> <ul>
			<li class="first leaf js-topic"><a href="/index.html">Networking</a></li>
			<ul class="leaf"><li class="first leaf js-subtopic"><a href="/index.html">SSL Termination</a></li>
				<li class="first leaf js-subtopic"><a href="/index.html">Load Balancing</a></li>
				<li class="first leaf js-subtopic"><a href="/private_networks.html">Private Networks</a></li>
				</ul>
				<li class="first leaf js-topic"><a href="/index.html">Troubleshooting</a></li>
          </ul>
</li>
</ul>
        </div>
        <div class="body-container content">

          <h3 class="title-container"><%= current_page.data.title %></h3>

          <%= yield %>

        </div>
      </div>
    </div>

    <div class='footer-wrap'>
      <div class="container">
        <div class='span-2'>
          <p class='fss link-list'>
            <a href="http://www.gopivotal.com/about-pivotal/contact-us">Contact Us</a>
            |
            <a href="http://www.gopivotal.com/privacy-policy">Privacy Policy</a>
            |
            <a href="http://www.gopivotal.com/terms-of-use">Terms of Use</a>
          </p>
        </div>
        <div class="span-4 last">
          <p class='fss fclightgray right'>
            &copy;
            <script>
              //<![CDATA[
                var d = new Date();
                document.write(d.getFullYear());
              //]]>
            </script>
            GoPivotal, Inc. All rights reserved.
          </p>
        </div>
      </div>
    </div>

    <script type="text/javascript">
      (function() {
        var didInit = false;
        function initMunchkin() {
          if(didInit === false) {
            didInit = true;
            Munchkin.init('625-IUJ-009');
          }
        }
        var s = document.createElement('script');
        s.type = 'text/javascript';
        s.async = true;
        s.src = document.location.protocol + '//munchkin.marketo.net/munchkin.js';
        s.onreadystatechange = function() {
          if (this.readyState == 'complete' || this.readyState == 'loaded') {
            initMunchkin();
          }
        };
        s.onload = initMunchkin;
        document.getElementsByTagName('head')[0].appendChild(s);
      })();
    </script>
  </body>
</html>
