---
title: Enabling External Blobstore Backups
owner: BBR
---

This topic describes enabling external blobstore backups in your <%= vars.app_runtime_full %> (<%= vars.app_runtime_abbr %>) tile.

BOSH Backup and Restore (BBR) supports:

* Versioned S3 or S3-compatible blobstores
* Unversioned S3 or S3-compatible blobstores
* Azure blobstores

For more information, see [Backup and Restore for External Blobstores](https://docs.cloudfoundry.org/bbr/external-blobstores.html) in the Cloud Foundry documentation.

<p class="note"><strong>Note:</strong> To enable external blobstore backups for <%= vars.app_runtime_abbr %>, you must enable <strong>Backup Restore Node</strong>. For more information, see <a href=backup-pcf-bbr.html#backup-restore-node>Enable Backup Restore Node</a> in <em>Backing Up <%= vars.platform_name %> with BBR</em>.</p>


## <a id="blobstore-support"></a> External Blobstore Support

External blobstore backup support varies based on which version of <%= vars.ops_manager %> you are running and what type of blobstore you are backing up.

In some cases, external blobstore support is included in the version of <%= vars.ops_manager %> you are using. In other cases, installing Blobstore Add-On is required.

To determine if external blobstore support is included in the version of <%= vars.ops_manager %> you are using, see the table below:

<table>
  <tr>
    <th style="border-top-style: hidden; border-right-style: hidden; border-left-style: hidden; border-bottom-style: hidden; background-color: white;"></th>
    <th colspan="7" style="border-top-style: hidden; text-align: center; background-color: white; color: black; padding: 10px;">Ops Manager Version</th>
    <th style="border-top-style: hidden; border-right-style: hidden; border-left-style: hidden; border-bottom-style: hidden; background-color: white; "></th>
  <tr>
    <th class="rotate" rowspan="5" style="width: 5%; border-left-style: hidden; background-color: white; color: black;"><div>Blobstore Type</div></th>
    <th style="background-color: #1b786e; color: white;"</th>
    <th class="cell header" style="width: 14%; text-align: center;">2.2</th>
    <th class="cell header" style="width: 14%; text-align: center;">2.3</th>
    <th class="cell header" style="width: 14%; text-align: center;">2.4</th>
    <th class="cell header" style="width: 14%; text-align: center;">2.5</th>
    <th class="cell header" style="width: 14%; text-align: center;">2.6</th>
  </tr>
  <tr>
    <td style="color: black;">Versioned</td>
    <td class="cell green">Included</td>
    <td class="cell green">Included</td>
    <td class="cell green">Included</td>
    <td class="cell green">Included</td>
    <td class="cell green">Included</td>
  </tr>
  <tr>
    <td style="color: black;">Unversioned</td>
    <td class="cell green">Included</td>
    <td class="cell green">Included</td>
    <td class="cell green">Included</td>
    <td class="cell green">Included</td>
    <td class="cell green">Included</td>
  </tr>
  <tr>
    <td style="color: black;">Azure</td>
    <td class="cell pale-green">Add-On</td>
    <td class="cell green">Included</td>
    <td class="cell green">Included</td>
    <td class="cell green">Included</td>
    <td class="cell green">Included</td>
  </tr>
  <tr>
    <td style="color: black;">GCS</sup></td>
    <td class="cell peach">Not supported</td>
    <td class="cell peach">Not supported</td>
    <td class="cell peach">Not supported</td>
    <td class="cell peach">Not supported</td>
    <td class="cell green">Included</td>
  </tr>
  <tr>
    <td style="border-top-style: hidden; border-right-style: hidden; border-left-style: hidden; border-bottom-style: hidden; background-color: white;"></td>
    <td colspan="7" style="border-right-style: hidden; border-bottom-style: hidden; background-color: white; color: black;"></td>
  </tr>
</table>


## <a id="s3"></a> S3 or S3-Compatible Blobstores

In <%= vars.app_runtime_abbr_pivotal %> v2.2 and later, BBR supports backing up and restoring versioned and unversioned S3 or S3-compatible blobstores by default. For more information about configuring an S3 or S3-compatible blobstore, see [AWS](../pas-file-storage.html#aws) in _Configuring File Storage for <%= vars.app_runtime_abbr %>_.

<div class="note">
  <strong>Note:</strong>
    <ul>
      <li>Backup artifacts of external, S3-compatible, versioned blobstores do not contain the physical blobs. BBR requires that the original buckets still exist to be restored.</li>
      <li>To protect yourself from losing a bucket, see <a href="https://docs.cloudfoundry.org/bbr/external-blobstores.html#enable-s3-versioned-replication">Enable Replication on Your Versioned S3-Compatible Blobstore</a> in <em>Backup and Restore for External Blobstores</em>.</li>
    </ul>
</div>


## <a id="azure"></a> Azure Blobstores

To configure your Azure blobstore for backups, you must enable soft delete in your Azure Storage account. You can also enable soft delete for existing Azure storage accounts that were not initially created with soft delete enabled. For more information, see [Soft delete for Azure Storage blobs](https://docs.microsoft.com/en-us/azure/storage/blobs/storage-blob-soft-delete#quickstart) in the Microsoft documentation.

After enabling soft delete, you can enable Azure blobstore backups in <%= vars.ops_manager %> for new or existing blobstores. For more information, see [Azure](../pas-file-storage.html#azure) in _Configuring File Storage for <%= vars.app_runtime_abbr %>_.

To save storage space and cost, <%= vars.recommended_by %> recommends that you configure a retention.


## <a id="gcs"></a> GCS Blobstores

For more information about configuring a GCS blobstore, see [GCP](../pas-file-storage.html#gcp) in _Configuring File Storage for <%= vars.app_runtime_abbr %>_.
