---
title: Backing Up and Restoring Pivotal Platform
owner: RelEng
---

<% current_page.data.title = "Backing Up and Restoring " + vars.platform_name %>

<% $this_topic="index" %>

This topic provides an overview of backup up and restoring your <%= vars.platform_name %> deployment.


## <a id='before'></a> Before You Back Up

When backing up data in your <%= vars.platform_name %> deployment, consider:

* If your deployment uses external databases, check that it is a supported database configuration. For more information, see [External Storage Support Across <%= vars.platform_name %> Versions](backup-pcf-bbr.html#version-compatibility) in _Backing Up <%= vars.platform_name %> with BBR_.

* If your <%= vars.app_runtime_abbr %> deployment uses internal databases, follow the backup and restore instructions for the MySQL server in the BBR documentation. For more information, see [Backup and Restore with BBR](#bbr).

<strong><a id='gdpr'></a>General Data Protection Regulation</strong>

The General Data Protection Regulation (GDPR) came into effect on May 25, 2018 and impacts any company processing the data of EU citizens or residents, even if the company is not EU-based. The GDPR sets forth how companies should handle privacy issues, securely store data, and respond to security breaches.

Backup artifacts might contain personal data covered by GDPR. For example, a backup of a <%= vars.app_runtime_abbr %> could contain a user email. For more information about personal data that can be stored in <%= vars.app_runtime_abbr %>,
see [General Data Protection Regulation](../../opsguide/gdpr.html).


## <a id='bbr'></a> Backup and Restore with BBR

BOSH Backup and Restore (BBR) is a command-line tool for backing up and restoring BOSH deployments.

To perform a backup of your <%= vars.app_runtime_abbr %> deployment with BBR, see [Backing Up <%= vars.platform_name %> with BBR](backup-pcf-bbr.html).

To restore your <%= vars.app_runtime_abbr %> deployment with BBR, see [Restoring <%= vars.platform_name %> from Backup with BBR](restore-pcf-bbr.html).

To troubleshoot problems with BBR, see [Troubleshooting BBR](troubleshooting-bbr.html).


## <a id="restore-scenarios"></a> BBR Restore Scenarios

There are many different restore cases that can arise with BOSH Directors and <%= vars.app_runtime_abbr %> deployments. The following links provide some guidance on how to use BBR in common restore scenarios:

* [Restoring Lost BOSH Director Persistent Disk](incident-response-guides/lost-director-disk.html)

* [Restoring Lost <%= vars.app_runtime_abbr %> Data](incident-response-guides/lost-cf-data.html)

* [Recovering from an <%= vars.ops_manager %> and <%= vars.app_runtime_abbr %> Upgrade Failure](incident-response-guides/failed-pas-upgrade.html)

These guides do not cover all possible restore scenarios. If you encounter another restore case, then some information in these guides might be applicable. For guidance, contact [Pivotal Support](https://support.pivotal.io/).
