---
title: Restoring Pivotal Cloud Foundry&reg; from Backup
owner: RelEng
---

<strong><%= modified_date %></strong>

<% $this_topic = 'restore-pcf' %>

This topic describes the procedure for restoring <%= vars.product_full %> from a backup. To create a backup, see the [Backing Up Pivotal Cloud Foundry&reg;](./backup-pcf.html) topic.

To restore a deployment, you must import installation settings, temporarily stop the Cloud Controller, restore the state of each critical backend component from its backup file, and restart the Cloud Controller. Using the BOSH manifest to locate your critical backend components is necessary to perform these steps. Manifests are automatically downloaded to the Ops Manager virtual machine. However, if you are using a separate jumpbox, you must manually download the BOSH deployment manifest.

<p class='note'><strong>Note</strong>:
The procedure described in this topic restores a running <%= vars.product_full %> deployment to the state captured by backup files. This procedure does not deploy <%= vars.product_full %>. See the
<a href='../../installing/index.html'>Installing PCF Guide</a> for information about deploying <%= vars.product_full %>.
</p>

## <a id='import'></a>Import Installation Settings ##

<p class='note'><strong>Note</strong>: Pivotal recommends that you export your installation settings before importing from a backup. See the <a href='./backup-pcf.html#export'>Export Installation Settings</a> section of the <i>Backing Up Pivotal Cloud Foundry&reg;</i> topic for more information.</p>

**Import installation settings** imports the settings and assets of an existing
PCF installation.
Importing an installation overwrites any existing installation.

1. From the Product Installation Dashboard, click the gear icon and select **Import installation settings**.

<%= image_tag("action-import.png") %>

1. Browse to and select a PCF installation file.

1. If the admin password has changed since the file was exported, enter your previous Ops Manager password before you click **Import**.
Enter the original password that was used when the installation was exported.
If the admin password has not changed, skip this step.

1. Click **Import**.

    <%= image_tag("import-installation-file.png") %>

1. Return to the Product Installation Dashboard and click Apply Changes to install the imported installation settings.

## <a id='restore_bosh'></a>Restoring BOSH Using Ops Manager ##

1. From the **Product Installation Dashboard**, click the **Ops Manager Director** tile. 

1. Make a change to your configuration in order to trigger a new deployment. For example, you can adjust the number of NTP servers in your deployment. Choose a change in configuration which suits your specific deployment. 

1. Follow the instructions in [SSH into Ops Manager](../../customizing/trouble-advanced.html#ssh). This example assumes an Amazon Web Services deployment:

	<pre class='terminal'>
	ssh -i ops_mgr.pem ubuntu@OPS-MGR-IP
	</pre>

1. Delete the `bosh-deployments.yml` file. Deleting `bosh-deployments.yml` causes Ops Manager to treat the deploy as a new deployment, recreating missing Virtual Machines(VMs) including BOSH. The new deployment ignores existing VMs such as your Pivotal Cloud Foundry deployment.

	<pre class='terminal'>
	 rm /var/tempest/workspaces/default/deployments/bosh-deployments.yml file
	 </pre>

1. Return to the **Product Installation Dashboard**, and click **Apply Changes**. 


## <a id='manifest'></a>Download the BOSH Deployment Manifest ##
<%= partial 'download_bosh_manifest' %>

## <a id='restore-databases'></a>Restoring Critical Backend Components##

Your Elastic Runtime deployment contains several critical data stores that must be present for a complete restore. This section describes the procedure for restoring the databases and the servers associated with your PCF installation..

You must restore each of the following:

* Cloud Controller Database
* Apps Manager Database
* UAA Database
* NFS Server
* Pivotal MySQL Server

<p class="note"><strong>Note</strong>: If you are running PostgreSQL and are on the default internal databases, follow the instructions below. If you are running your databases or filestores externally, disregard instructions for restoring the Cloud Controller, Apps Manager, and UAA Databases. </p>

### <a id='stop-cc'></a>Stop Cloud Controller###

<%= partial 'stopping_cc' %>

### <a id='restore-ccdb'></a>Restore the Cloud Controller Database

<p class="note"><strong>Note</strong>: Follow these instructions only if you are using a PostgreSQL database.</p>

Use the Cloud Controller Database (CCDB) password and IP address to restore the Cloud Controller Database by following the steps detailed below. Find the IP address in your BOSH deployment manifest. To find your password in the Ops Manager Installation Dashboard, select **Elastic Runtime** and click **Credentials**.

1. Use `scp` to send the Cloud Controller Database backup file to the Cloud Controller Database VM.
<pre class='terminal'>
    $ scp ccdb.sql vcap@YOUR-CCDB-VM-IP-ADDRESS:~/.
</pre>

1. SSH into the Cloud Controller Database VM.
<pre class='terminal'>
$ ssh vcap@YOUR-CCDB-VM-IP
</pre>

1. Log in to the psql client
<pre class='terminal'>
$ /var/vcap/data/packages/postgres/5.1/bin/psql -U vcap -p 2544 ccdb
</pre>

1. Drop the database schema and create a new one to replace it.
<pre class='terminal'>
ccdb=# drop schema public cascade;
ccdb=# create schema public;
</pre>

1. Restore the database from the backup file.
<pre class='terminal'>
$ /var/vcap/data/packages/postgres/5.1/bin/psql -U vcap -p 2544 ccdb < ~/ccdb.sql
</pre>


### <a id='restore-console'></a>Restore the Apps Manager Database from its backup state

<p class="note"><strong>Note</strong>: Follow these instructions only if you are using a PostgreSQL database.</p>

1. Use the Apps Manager Database password and IP address to restore the Cloud Controller Database by running the following command. Find the IP address in your BOSH deployment manifest. To find your password in the Ops Manager Installation Dashboard, select **Elastic Runtime** and click **Credentials**.

1. Use `scp` to copy the database backup file to the UAA Database VM.
<pre class='terminal'>
$ scp console.sql vcap@YOUR-CONSOLE-DB-VM-IP-ADDRESS:~/.
</pre>

1. SSH into the UAA Database VM.
<pre class='terminal'>
$ ssh vcap@YOUR-CONSOLE-DB-VM-IP-ADDRESS
</pre>

1. Log into the psql client.
<pre class='terminal'>
$ /var/vcap/data/packages/postgres/5.1/bin/psql -U vcap -p 2544 console
</pre>

1. Drop the existing database schema and create a new one to replace it.
<pre class='terminal'>
console=# drop schema public cascade;
console=# create schema public;
</pre>

1. Restore the database from the backup file.
<pre class='terminal'>
$ /var/vcap/data/packages/postgres/5.1/bin/psql -U vcap -p 2544 console < ~/console.sql
</pre>

### <a id='restore-uaa'></a>Restore UAA Database

<p class="note"><strong>Note</strong>: Follow these instructions only if you are using a PostgreSQL database.</p>

#### Drop the UAA Database tables

1. Find your UAA Database VM ID. To view all VM IDs, run `bosh vms` from a command line:
<pre class='terminal'>$ bosh vms</pre>

1. SSH into the UAA Database VM using the vcap user and password. If you do not have this information recorded, find it in the Ops Manager Installation Dashboard. Click the **Elastic Runtime** tile and select **Credentials**.
<pre class='terminal'>$ ssh vcap@YOUR-UAADB-VM-IP-ADDRESS</pre>

1. Run `find /var/vcap | grep 'bin/psql'` to find the locally installed psql client on the UAA Database VM.
<pre class='terminal'>
$ vcap@10.85.52.101:~# find /var/vcap | grep 'bin/psql'
/var/vcap/data/packages/postgres/5.1/bin/psql
</pre>

1. Log in to the psql client:
<pre class='terminal'>
$ vcap@10.85.52.101:~# /var/vcap/data/packages/postgres/5.1/bin/psql -U vcap -p 2544 uaa
</pre>

1. Run the following commands to drop the tables:
<pre class='terminal'>
drop schema public cascade;
create schema public;
\q
</pre>

1. Exit the UAA Database VM.
<pre class='terminal'>$ exit</pre>

#### Restore the UAA Database from its backup state

<p class="note"><strong>Note</strong>: Follow these instructions only if you are using a PostgreSQL database.</p>

1. Use the UAA Database password and IP address to restore the UAA Database by running the following commands. You can find the IP address in your BOSH deployment manifest. To find your password in the Ops Manager Installation Dashboard, select **Elastic Runtime** and click **Credentials**.

1. Use `scp` to copy the database backup file to the UAA Database VM.
<pre class='terminal'>
$ scp uaa.sql vcap@YOUR-UAADB-VM-IP-ADDRESS:~/.
</pre>

1. SSH into the UAA Database VM.
<pre class='terminal'>
$ ssh vcap@YOUR-UAADB-VM-IP-ADDRESS
</pre>

1. Restore the database from the backup file.
<pre class='terminal'>
$ /var/vcap/data/packages/postgres/5.1/bin/psql -U vcap -p 2544 uaa < ~/uaa.sql
</pre>

### <a id='restore-nfs'></a>Restore NFS
Use the NFS password and IP address to restore the NFS by following the steps detailed below. Find the IP address in your BOSH deployment manifest. To find your password in the Ops Manager Installation Dashboard, select **Elastic Runtime** and click **Credentials**.

1. Use `scp` to send the NFS backup tarball to the NFS VM.
<pre class='terminal'>
    $ scp nfs.tar.gz vcap@YOUR-NFS-VM-IP-ADDRESS:~/.
</pre>

1. Run `ssh YOUR-NFS-VM-IP-ADDRESS` to enter the NFS VM.
<pre class='terminal'>
	$ ssh vcap@10.0.0.10
</pre>

1. Log in as root user. When prompted for a password, enter the vcap password you used to `ssh` into the VM:
<pre class='terminal'>$ sudo su</pre>

1. Run the following command to create a store folder if one does not exist:
<pre class='terminal'>
    $ mkdir -p /var/vcap/store
</pre>

1. Record the permissions on `var/vcap/store` so that you can restore them after running the commands below. To view the permissions, run the following command:
<pre class='terminal'>
	$ ls -ld /var/vcap/store
</pre>

1. Temporarily change the permissions on `var/vcap/store` to `777`.
<pre class='terminal'>
	$ chmod 777 /var/vcap/store
</pre>

1. Move the backup archive to the `store` folder.
<pre class='terminal'>
	$ mv nfs.tar.gz /var/vcap/store
</pre>

1. `cd` into the `store` folder.
<pre class='terminal'>
	$ cd /var/vcap/store
</pre>

1. Decompress and extract the contents of the backup archive.
<pre class='terminal'>
	$ tar zxf nfs.tar.gz</pre>
</pre>

1. Change the permissions on `var/vcap/store` to their prior setting.
<pre class='terminal'>
    $ chmod YOUR-PRIOR-PERMISSION /var/vcap/store
</pre>

1. Exit the NFS VM.
<pre class='terminal'>
    $ exit
</pre>

### <a id='restore-mysql-dev'></a>Restore MySQL Database

The MySQL server in Elastic Runtime can automatically back up its data to an
external blobstore on a regular basis.
Refer to the [Back Up Pivotal MySQL Server]((./backup-pcf.html#backup-mysql) section of the _Backing Up Pivotal Cloud Foundry&reg;_ topic for details on configuring this.
You can find the encryption / decryption key for the database backup under `ERT > Credentials > Backup Prepare Node > Backup Encryption Key`. You need this key to decrypt the data once it has been restored.
Follow the instructions in the [P-MySQL backups](/p-mysql/backup.html#restoring) topic to restore from the backup.

### <a id='cc-start-2'></a>Start Cloud Controller ###
<%= partial 'starting_cc' %>
