---
title: Restoring Pivotal Cloud Foundry from Backup with BBR
owner: RelEng
---

<strong><%= modified_date %></strong>

<style>
    .note.warning {
       background-color: #fdd;
       border-color: #fbb
  	          }
    .note.warning:before {
       color: #f99;
		         }
</style>

<p class="note"><strong>Note</strong>: BBR is a beta feature in PCF v1.11.</p>

This topic describes the procedure for restoring your critical backend PCF components with BOSH Backup and Restore (BBR), a command-line tool for backing up and restoring BOSH deployments. To perform the procedures in this topic, you must have backed up Pivotal Cloud Foundry (PCF) by following the steps in the [Backing Up Pivotal Cloud Foundry](backup-pcf.html) topic.

To restore PCF manually, see the <a href="restore-pcf.html">Restoring Pivotal Cloud Foundry Manually from Backup</a> topic.

<p class="note"><strong>Note</strong>: You can only use BBR to back up PCF v1.11 and later. To restore earlier versions of PCF, perform the <a href="restore-pcf.html">manual procedures</a>.</p>

The procedures described in this topic prepare your environment for PCF, deploy Ops Manager, import your installation settings, and use BBR to restore your PCF components.

## <a id='prepare-env'></a>Step 1: Prepare Your Environment

Prepare your environment for PCF by following the instructions specific to your IaaS in <a href='../../installing/index.html'>Installing Pivotal Cloud Foundry</a>.

## <a id='deploy-import'></a>Step 2: Deploy Ops Manager and Import Installation Settings ##

1. Perform the procedures for your IaaS to deploy Ops Manager:
  * [Launching an Ops Manager Director Instance on AWS](../cloudform-om-deploy.html)
  * [Launching an Ops Manager Director Instance on Azure](../azure-arm-template.html)
  *  [Launching an Ops Manager Director Instance on GCP](../gcp-om-deploy.html)
  * [Provisioning the OpenStack Infrastructure](../openstack-setup.html)
  * [Deploying Operations Manager to vSphere](../deploying-vm.html)

1. Access your new Ops Manager by navigating to `YOUR-OPS-MAN-FQDN` in a browser.

1. On the **Welcome to Ops Manager** page, click **Import Existing Installation**.

    <%= image_tag("../images/upgrading/welcome.png") %>

1. In the import panel, perform the following tasks:
  * Enter your **Decryption Passphrase**.
  * Click **Choose File** and browse to the installation zip file that you exported in the <a href='./backup-pcf.html#export'>Step 3: Export Installation Settings</a> section of the <i>Backing Up Pivotal Cloud Foundry</i> topic.

    <%= image_tag("../images/upgrading/decryption_passphrase.png") %>

1. Click **Import**.

    <p class="note"><strong>Note</strong>:
      Some browsers do not provide feedback on the status of the import process,
      and may appear to hang.</p>

1. A **Successfully imported installation** message appears upon completion.

    <%= image_tag("../images/upgrading/success.png") %>

**Question: How do we import "releases"? Or does the Import Installation Settings procedure take care of that?**  **YES**

## <a id="bosh-state"></a> Step 3: Remove bosh-state.json

**Question: How do we remove bosh-state.json?**

1. Navigate to Ops Manager Installation Dashboard and click **Apply Changes** to redeploy.  ***TBD Director only Apply changes***

## <a id="artifacts-jumpbox"></a> Step 4: Transfer Artifacts to Jumpbox

In the [Step 9: Back Up Your Deployment](./backup-pcf.html#bbr-backup) section of the <em>Backing Up Pivotal Cloud Foundry</em> topic, you moved the TAR and metadata files of the backup artifact off your jumpbox to your preferred storage space. Now you must transfer those files back to your jumpbox.

For instance, you could SCP the backup artifact to your jumpbox:
  <pre class="terminal">$ scp LOCAL\_PATH\_TO\_BACKUP\_ARTIFACT JUMPBOX\_USER/JUMPBOX\_ADDRESS</pre>

## <a id="retrieve"></a> Step 5: Retrieve BOSH Director Address and Credentials

Perform the following steps to retrieve the IP address of your BOSH Director and the credentials for logging in:

<%= partial 'bosh_target_director' %>

## <a id='identify-deployment'></a> Step 6: Identify Your Deployment

After logging in to your BOSH Director, run `bosh deployments` to identify the name of the BOSH deployment that contains PCF. 

The following example displays information for a BOSH deployment named `cf-example`:

<pre class='terminal'>
$ bosh deployments
+-------------+--------------+-------------------------------------------------+
| Name        | Release(s)   | Stemcell(s)                                     |
+-------------+--------------+-------------------------------------------------+
| cf-example  | cf-mysql/10  | bosh-vsphere-esxi-ubuntu-trusty-go_agent/2690.3 |
|             | cf/183.2     |                                                 |
+-------------+--------------+-------------------------------------------------+
</pre>

## <a id='restore-bosh'></a> Step 7: Restore the BOSH Director

1. SSH into your jumpbox:
  <pre class="terminal">
  $ ssh JUMPBOX\_USER/JUMPBOX\_ADDRESS -i YOUR\_CERTIFICATE.pem
  </pre>

1. Ensure the BOSH director backup artifact is in the folder you will run BBR from. 

1. Run the BBR restore command from your jumpbox to restore the BOSH Director:
<pre class="terminal">
$ bbr director \
  --debug (OPTIONAL)
  --name NAME\_FOR\_BACKUP> \
  --private-key-path PATH\_TO\_PRIVATE\_KEY \
  --username USER\_NAME
  --host HOST \
  restore
</pre>
  
 Replace the placeholder values as follows:
   
 * `--name`: the name to be used for your backup artifact
 * `--username`: SSH username of the Director, which is `bbr`
 * `--private-key-path`: path to the SSH private key used to connect to the Director. To create a private key file, navigate to the Credentials tab in Ops Manager and click on the `Link to credential` for the `Bbr credential`. Save the private_key_pem to a file on your jumpbox. 
 * `--host`: address of the Director to back up, including port

Use the optional `--debug` flag to enable debug logs. See the [Logging](./backup-pcf.html#logging) section of the <em>Backing Up Pivotal Cloud Foundry</em> topic for more information. 
<p class="note"><strong>Note</strong>: The BBR restore command can take a long time to complete. Pivotal recommends you run it independently of the SSH session, so that the process can continue running even if your connection to the jumpbox fails. The command above uses `nohup` but you could also run the command in a `screen` or `tmux` session.</p>

If the commands completes successfully, continue to [Step 8: Restore Elastic Runtime](#restore-ert).

If the command fails, do the following:

1. Ensure all the parameters in the command are set.
1. Ensure the BOSH Director credentials are valid.
1. Ensure the specified deployment exists.
1. Ensure the source deployment is incompatible with the target deployment.
1. Ensure that the jumpbox can reach the BOSH Director.

## <a id='restore-ert'></a> Step 8: Apply Changes
1. Navigate to Ops Manager Installation Dashboard and click **Apply Changes** to redeploy.  ***TBD Director only Apply changes***

## <a id='restore-ert'></a> Step 9: Restore Elastic Runtime

1. Navigate to the Ops Manager Installation Dashboard and click **Apply Changes**. This deploys Elastic Runtime.

1. Run the BBR restore command from your jumpbox to restore Elastic Runtime:
<pre class="terminal">
$  BOSH\_CLIENT\_SECRET=BOSH_PASSWORD \
  bbr deployment
  --target BOSH\_DIRECTOR\_IP \
  --username BOSH\_CLIENT \
  --deployment DEPLOYMENT\_NAME \	
  --ca-cert PATH\_TO\_BOSH\_SERVER\_CERT \
  restore </pre>

