---
title: Rolling Back PAS Deployment to an Earlier Backup with BBR
owner: RelEng
---

<strong><%= modified_date %></strong>

This topic describes the procedure for restoring an Pivotal Application Service (PAS) deployment to a backup from a previous version with BOSH Backup and Restore (BBR), a command-line tool for backing up and restoring BOSH deployments. To perform the procedures in this topic, you must have backed up Pivotal Cloud Foundry (PCF) by following the steps in the [Backing Up Pivotal Cloud Foundry with BBR](backup-pcf-bbr.html) topic.

To view the BBR release notes, see the <a href="https://docs.pivotal.io/bbr/bbr-rn.html">BOSH Backup and Restore Release Notes</a>. 

The procedures described in this topic prepare your environment for PCF, deploy Ops Manager, import your installation settings, and use BBR to restore your PCF components.

<p class="note warning"><strong>Warning</strong>: Only follow the procedure on this page if you are recovering from a catastrophically failed PAS upgrade. These procedures will incur downtime and are destructive.</p>

<p class="note"><strong>Note</strong>: BBR is a feature in PCF v1.11. You can only use BBR to back up PCF v1.11 and later. To restore earlier versions of PCF, perform the manual procedure documented for your specific PCF version.</p>

## <a id='delete-ert'></a>Step 1: Delete Existing PAS Deployment ##

1. Navigate to the Ops Manager Installation Dashboard.

1. Delete the PAS tile by clicking the trash icon on the tile.

1. Click **Apply Changes**.

## <a id='deploy-import'></a>Step 2: Redeploy Ops Manager and Import Installation Settings ##

1. Log in to your IaaS console and destroy your Ops Manager VM.

1. Perform the procedures for your IaaS to re-deploy Ops Manager:
  * If you configured AWS manually: [Step 12](../pcf-aws-manual-config.html#pcfaws-om-ami) through [Step 19](../pcf-aws-manual-config.html#pcfaws-mysql-rds) of the <em>Manually Configuring AWS for PCF</em> topic.
  * If you used the CloudFormation template to install PCF on AWS: [Deploying BOSH and Ops Manager to AWS](../cloudform-template.html)
  * [Launching an Ops Manager Director Instance on Azure](../azure-arm-template.html)
  * [Launching an Ops Manager Director Instance on GCP](../gcp-om-deploy.html)
  * [Step 3](../openstack-setup.html#create-om-image) through [Step 7](../openstack-setup.html#dns-entry) of the <em>Provisioning the OpenStack Infrastructure</em> topic.
  * [Deploying Operations Manager to vSphere](../deploying-vm.html)

1. Access your new Ops Manager by navigating to `YOUR-OPS-MAN-FQDN` in a browser.

1. On the **Welcome to Ops Manager** page, click **Import Existing Installation**.

    <%= image_tag("../images/upgrading/welcome.png") %>

1. In the import panel, perform the following steps:
  * Enter your **Decryption Passphrase**.
  * Click **Choose File** and browse to the installation zip file that you exported in the <a href='./backup-pcf-bbr.html#export'>Step 7: Export Installation Settings</a> section of the <i>Backing Up Pivotal Cloud Foundry with BBR</i> topic.

    <%= image_tag("../images/upgrading/decryption_passphrase.png") %>

1. Click **Import**.

    <p class="note"><strong>Note</strong>:
      Some browsers do not provide feedback on the status of the import process,
      and may appear to hang.</p>

1. A **Successfully imported installation** message appears upon completion.

    <%= image_tag("../images/upgrading/success.png") %>

## <a id="bosh-state"></a> Step 3: Redeploy BOSH Director

Perform the steps in the [Applying Changes to Ops Manager Director](../deploy-ops-man-director.html) topic to use the Ops Manager API to only deploy the BOSH Director.

<p class="note"><strong>Note</strong>: This procedure will not perform a redeploy because the BOSH Director still exists. It is only required to recreate the <code>root_ca_certificate</code> file on the Ops Manager VM after it is restored.</p>

## <a id="artifacts-jumpbox"></a> Step 4: Transfer Artifacts to Jumpbox

In the [Step 9: Back Up Your PAS Deployment](./backup-pcf-bbr.html#bbr-backup) section of the <em>Backing Up Pivotal Cloud Foundry with BBR</em> topic, you moved the TAR and metadata files of the backup artifact off your jumpbox to your preferred storage space. Now you must transfer those files back to your jumpbox.

For instance, you could SCP the backup artifact to your jumpbox:
  <pre class="terminal">$ scp LOCAL-PATH-TO-BACKUP-ARTIFACT JUMPBOX-USER/JUMPBOX-ADDRESS</pre>

## <a id="retrieve"></a> Step 5: Retrieve BOSH Director Address and Credentials

1. From the Installation Dashboard in Ops Manager, select **Ops Manager Director > Status** and record the IP address listed for the Director.
You access the BOSH Director using this IP address.
  <img src="../images/director-ip.png"><br><br>
1. Click **Credentials**, and record the **Director Credentials** and the **Bbr Ssh Credentials**, including the private key.
  <img src="../images/director-creds.png">

## <a id='restore-bosh'></a> Step 6: Restore the BOSH Director

1. SSH into your jumpbox.
1. Run the following command to reformat the private key you retrieved in [Step 5: Retrieve BOSH Director](#retrieve) and save it to a file called `PRIVATE-KEY` in the current directory, pasting in the contents of your private key for `YOUR-PRIVATE-KEY`:
  <pre class="terminal">
  $ printf -- "YOUR-PRIVATE-KEY" > PRIVATE-KEY
  </pre>
1. Ensure the BOSH Director backup artifact is in the folder you will run BBR from.
1. Run the BBR restore command from your jumpbox to restore the BOSH Director:
  <pre class="terminal">
  $ nohup bbr director \
      --private-key-path PRIVATE-KEY \
      --username bbr \
      --host HOST \
      restore \
        --artifact-path PATH-TO-DIRECTOR-BACKUP
  </pre>
  Use the optional `--debug` flag to enable debug logs. See [Logging](backup-pcf-bbr.html#logging) for more information.
  <br><br>
  Replace the placeholder values as follows:
  * `PATH-TO-DIRECTOR-BACKUP`: This is the path to the Director backup you want to restore.
  * `PRIVATE-KEY`: This is the path to the private key file you created above.
  * `HOST`: This is the address of the BOSH Director. If the BOSH Director is public, this will be a URL, such as `https://my-bosh.xxx.cf-app.com`. Otherwise, it will be the `BOSH-DIRECTOR-IP`, which you retrieved in [Step 5: Retrieve BOSH Director Address and Credentials](#retrieve).

<p class="note"><strong>Note</strong>: The BBR <code>restore</code> command can take a long time to complete. Pivotal recommends you run it independently of the SSH session, so that the process can continue running even if your connection to the jumpbox fails. The command above uses <code>nohup</code> but you could also run the command in a <code>screen</code> or <code>tmux</code> session.</p>

If the command fails, do the following:

1. Ensure all the parameters in the command are set.
1. Ensure the BOSH Director credentials are valid.
1. Ensure the specified deployment exists.
1. Ensure the source deployment is compatible with the target deployment.
1. Ensure that the jumpbox can reach the BOSH Director.

## <a id='identify-deployment'></a> Step 7: Identify Your Deployment

After logging in to your BOSH Director with the credentials retrieved in <a href="#retrieve">Step 5: Retrieve BOSH Director Address and Credentials</a>, run `bosh deployments` to identify the name of the BOSH deployment that contains PCF:

<pre class='terminal'>
$ bosh -e DIRECTOR-IP --ca-cert /var/tempest/workspaces/default/root_ca_certificate deployments

Name                     Release(s)
cf-example               push-apps-manager-release/661.1.24
                         cf-backup-and-restore/0.0.1
                         binary-buildpack/1.0.11
                         capi/1.28.0
                         cf-autoscaling/91
                         cf-mysql/35
                         ...
</pre>

In the above example, the name of the BOSH deployment that contains PCF is `cf-example`.

## <a id="bosh-cck"></a> Step 8: Remove Stale Cloud IDs for All Deployments

For every deployment in the BOSH Director, run the following command:

<pre class="terminal">
$ bosh -e DIRECTOR-IP -d DEPLOYMENT-NAME -n cloud-check \
  --resolution delete_disk_reference \
  --resolution delete_vm_reference
</pre>

This reconciles the BOSH Director's internal state with the state in the IaaS. You can use the list of deployments returned in [Step 7: Identify Your Deployment](#identify-deployment).

If the <code>bosh cloud-check</code> command does not successfully delete disk references and you see a message similar to the following, perform the additional procedures in <a href="#removing-disks">Remove Unused Disks</a> below.
<pre class="terminal">
Scanning 19 persistent disks: 19 OK, 0 missing ...
</pre>

## <a id='redeploy-ert'></a> Step 9: Redeploy PAS

1. Perform the following steps to determine which stemcell is used by PAS:
  1. Navigate to the Ops Manager Installation Dashboard.
  1. Click the PAS tile.
  1. Click **Stemcell** and record the release number included in the displayed filename:
      <%= image_tag('images/stemcell.png') %>
    In the screenshot above, the stemcell release number is **3421.9**.
    <br><br>
    You can also retrieve the stemcell release using the BOSH CLI:
      <pre class="terminal">
        $ bosh -e DIRECTOR-IP deployments
        Using environment '10.0.0.5' as user 'director' (bosh.\*.read, openid, bosh.\*.admin, bosh.read, bosh.admin)

        Name                     Release(s)                            Stemcell(s)                                    Team(s)  Cloud Config
        cf-9cb6995b7d746cd77438  push-apps-manager-release/661.1.24    bosh-google-kvm-ubuntu-trusty-go_agent/3421.9  -        latest
        ...
      </pre>

1. Download the stemcell from [Pivotal Network](https://network.pivotal.io/products/stemcells).

1. Run the following command to upload the stemcell used by PAS:
  <pre class="terminal">
  $ bosh -e BOSH-DIRECTOR-IP \
      -d DEPLOYMENT-NAME \
      --ca-cert PATH-TO-BOSH-SERVER-CERTIFICATE \
      <%= vars.bosh_upload_stemcell %> \
      --fix PATH-TO-STEMCELL
  </pre>
1. From the Ops Manager Installation Dashboard, navigate to PAS **Resource Config**.
1. Ensure the number of instances for MySQL Server is set to `1`.
  <p class="note warning"><strong>Warning</strong>: Restore will fail if there is not exactly one MySQL Server instance deployed.</p>
1. If you are using PCF v1.12.0, ensure that the CredHub process successfully restarts by following the steps in [this PCF Knowledge Base article](https://discuss.pivotal.io/hc/en-us/articles/115012475527).
  <p class="note warning"><strong>Warning</strong>: Restoring a PCF 1.12.0 deployment will fail if the CredHub process has not been manually restarted.</p>
1. Return to the Ops Manager Installation Dashboard and click **Apply Changes** to redeploy.

## <a id='restore-ert'></a> Step 10: Restore PAS

1. Run the BBR restore command from your jumpbox to restore PAS:
<pre class="terminal">
$ BOSH-CLIENT-SECRET=BOSH-PASSWORD \
      bbr deployment \
        --target BOSH-DIRECTOR-IP \
        --username BOSH-CLIENT \
        --deployment DEPLOYMENT-NAME \
        --ca-cert PATH-TO-BOSH-SERVER-CERTIFICATE \
        restore \
          --artifact-path PATH-TO-PAS-BACKUP
</pre>

    Replace the placeholder values as follows:
    <br><br>
    * `BOSH-CLIENT`, `BOSH-PASSWORD`: Use the BOSH UAA user provided in  **Pivotal Ops Manager > Credentials > Uaa Bbr Client Credentials**.
    <br><br>
       You can also retrieve the credentials using the Ops Manager API with a GET request to the following endpoint: `/api/v0/deployed/director/credentials/uaa_bbr_client_credentials`. For more information, see the [Using the Ops Manager API](../ops-man-api.html) topic.<br><br>
    * `BOSH-DIRECTOR-IP`: You retrieved this value in [Step 5: Retrieve BOSH Director Address and Credentials](#retrieve).
    * `DEPLOYMENT-NAME`: You retrieved this value in [Step 7: Identify Your Deployment](#identify-deployment).
    * `PATH-TO-BOSH-SERVER-CERTIFICATE`: This is the path to the BOSH Director's Certificate Authority (CA) certificate, if the certificate is not verifiable by the local machine’s certificate chain.
    * `PATH-TO-PAS-BACKUP`: This is the path to the PAS backup you want to restore.

1. Perform the following steps after restoring PAS:
  1. Retrieve the MySQL VM credentials by navigating to the PAS tile and clicking the **Credentials** tab.
  1. Retrieve the MySQL admin credentials from CredHub using the Ops Manager API:
          1. Perform the procedures in the [Using the Ops Manager API](../ops-man-api.html) topic to authenticate and access the Ops Manager API.
          1. Use the `GET /api/v0/deployed/products` endpoint to retrieve a list of deployed products, replacing `UAA-ACCESS-TOKEN` with the access token recorded in the previous step:
              <pre class="terminal">$ curl "http<span>s:</span>//OPS-MAN-FQDN/api/v0/deployed/products" \
                -X GET \
                -H "Authorization: Bearer UAA-ACCESS-TOKEN"</pre>
          1. In the response to the above request, locate the product with an `installation_name` starting with `cf-` and copy its `guid`.
          1. Run the following `curl` command, replacing `PRODUCT-GUID` with the value of `guid` from the previous step:
              <pre class="terminal">$ curl "http<span>s:</span>//OPS-MAN-FQDN/api/v0/deployed/products/PRODUCT-GUID/variables?name=mysql-admin-credentials" \
                -X GET \
                -H "Authorization: Bearer UAA-ACCESS-TOKEN"</pre>
          1. Record the MySQL admin credentials from the response to the above request.
  1. List the VMs in your deployment:
    <pre class="terminal">$ bosh -e DIRECTOR-IP --ca-cert /var/tempest/workspaces/default/root_ca_certificate \
    -d DEPLOYMENT-NAME \
    ssh</pre>
  1. Select the `mysql` VM to SSH into.
  1. From the `mysql` VM, run the following command:
    <pre class="terminal">$ sudo /var/vcap/packages/mariadb/bin/mysql -u root -p</pre> When prompted, enter the MySQL admin password.<br><br>
  1. At the MySQL prompt, run the following command:
    <pre class="terminal">mysql> use silk; drop table subnets; drop table gorp_migrations;</pre>
  1. Exit MySQL:
    <pre class="terminal">mysql> exit</pre>
  1. Exit the `mysql` VM:
    <pre class="terminal">$ exit</pre>
  1. List the VMs in your deployment:
    <pre class="terminal">$ bosh -e DIRECTOR-IP --ca-cert /var/tempest/workspaces/default/root_ca_certificate \
    -d DEPLOYMENT-NAME \
    ssh</pre>
  1. SSH onto each `diego_database` VM and run the following command:
    <pre class="terminal">$ sudo monit restart silk-controller</pre>

      Restored apps will begin to start. The amount of time it takes for all apps to start depends on the number of app instances, the resources available to the underlying infrastructure, and the value of the **Max Inflight Container Starts** field in the PAS tile.

1. (Optional) Scale the MySQL Server job back up to its previous number of instances by navigating to the **Resource Config** section of the PAS tile. After scaling the job, return to the Ops Manager Installation Dashboard and click **Apply Changes** to deploy.

1. Validate your restored PCF by performing the steps in the [Step 10: (Optional) Validate Your Backup](backup-pcf-bbr.html#validate-backup) section of the <em>Backing Up Pivotal Cloud Foundry with BBR</em>.

## <a id='removing-disks'></a> Remove Unused Disks

If `bosh cloud-check` does not clean up all disk references, you must manually delete the disks from a previous deployment that will prevent recreated deployments from working.

<p class="note warning"><strong>Warning</strong>: This is a very destructive operation.</p>
<br><br>
To delete the disks, perform one of the following procedures:

* Use the BOSH CLI to delete the disks by performing the following steps:
  1. Target the redeployed BOSH Director using the BOSH CLI by performing the procedures in [Step 5: Retrieve BOSH Director Address and Credentials](#retrieve).
  1. List the deployments by running the following command:
    <pre class="terminal">
    $ bosh -e DIRECTOR-IP --ca-cert /var/tempest/workspaces/default/root_ca_certificate deployments
    </pre>
  1. Delete each deployment with the following command:
    <pre class="terminal">
    $ bosh -d DEPLOYMENT-NAME <%= vars.bosh_delete_deployment %>
    </pre>
* Log in to your IaaS account and delete the disks manually. Run the following command to retrieve a list of disk IDs:
  <pre class="terminal">
  $ bosh -e DIRECTOR-IP --ca-cert /var/tempest/workspaces/default/root_ca_certificate instances
  </pre>

Once the disks are deleted, continue with [Step 8: Remove Stale Cloud IDs for All Deployments](#bosh-cck).
